<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>JPCoinLight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{458,848}</string>
                <key>spriteSourceSize</key>
                <string>{458,848}</string>
                <key>textureRect</key>
                <string>{{1,127},{458,848}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JPWin1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{81,97}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{96,977},{81,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JPWin2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{93,97}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{1,977},{93,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JPWin3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{93,97}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{1,1076},{93,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JPWin4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{93,97}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{1,1175},{93,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannon light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{365,338}</string>
                <key>spriteSourceSize</key>
                <string>{365,344}</string>
                <key>textureRect</key>
                <string>{{461,127},{365,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>notification background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1291,124}</string>
                <key>spriteSourceSize</key>
                <string>{1291,124}</string>
                <key>textureRect</key>
                <string>{{1,1},{1291,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>JPminigame2.png</string>
            <key>size</key>
            <string>{1293,1293}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e080fd45686386592bfee5a1d2281492:2bf545d63ad0c839af23b0dfa6b161db:4d6da119fe3dd58a2c6aa206dee01ed5$</string>
            <key>textureFileName</key>
            <string>JPminigame2.png</string>
        </dict>
    </dict>
</plist>
