<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CannonLight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{365,338}</string>
                <key>spriteSourceSize</key>
                <string>{365,344}</string>
                <key>textureRect</key>
                <string>{{461,127},{365,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JPCoinLight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{458,848}</string>
                <key>spriteSourceSize</key>
                <string>{458,848}</string>
                <key>textureRect</key>
                <string>{{1,127},{458,848}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NotificationBackground2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1291,124}</string>
                <key>spriteSourceSize</key>
                <string>{1291,124}</string>
                <key>textureRect</key>
                <string>{{1,1},{1291,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>JPminigame2.png</string>
            <key>size</key>
            <string>{1293,1293}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c71f13270f93ce31d158d2c67379f0df:f805402d15cd4eb726ee0dfa3ebe865c:4d6da119fe3dd58a2c6aa206dee01ed5$</string>
            <key>textureFileName</key>
            <string>JPminigame2.png</string>
        </dict>
    </dict>
</plist>
