<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ButterflyfishIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{69,67}</string>
                <key>spriteSourceSize</key>
                <string>{99,75}</string>
                <key>textureRect</key>
                <string>{{467,1970},{69,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ButterflyfishIconGray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-10}</string>
                <key>spriteSize</key>
                <string>{90,87}</string>
                <key>spriteSourceSize</key>
                <string>{138,113}</string>
                <key>textureRect</key>
                <string>{{1954,980},{90,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ChestGlow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,108}</string>
                <key>spriteSourceSize</key>
                <string>{120,110}</string>
                <key>textureRect</key>
                <string>{{245,1886},{118,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>JPBase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1215,658}</string>
                <key>spriteSourceSize</key>
                <string>{1215,658}</string>
                <key>textureRect</key>
                <string>{{1,1},{1215,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JPButterflyFishMedalGlow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-2}</string>
                <key>spriteSize</key>
                <string>{112,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,150}</string>
                <key>textureRect</key>
                <string>{{355,1886},{112,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>JPButterflyFishMedal_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-10}</string>
                <key>spriteSize</key>
                <string>{90,87}</string>
                <key>spriteSourceSize</key>
                <string>{138,113}</string>
                <key>textureRect</key>
                <string>{{1954,1069},{90,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JPCoinLight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{458,848}</string>
                <key>spriteSourceSize</key>
                <string>{458,848}</string>
                <key>textureRect</key>
                <string>{{1218,420},{458,848}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JPMermaidMedalGlow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,2}</string>
                <key>spriteSize</key>
                <string>{132,126}</string>
                <key>spriteSourceSize</key>
                <string>{200,150}</string>
                <key>textureRect</key>
                <string>{{123,1630},{132,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>JPMermaidMedal_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-2}</string>
                <key>spriteSize</key>
                <string>{112,105}</string>
                <key>spriteSourceSize</key>
                <string>{138,113}</string>
                <key>textureRect</key>
                <string>{{367,1748},{112,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>JPSharkMedalGlow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-6}</string>
                <key>spriteSize</key>
                <string>{150,112}</string>
                <key>spriteSourceSize</key>
                <string>{200,150}</string>
                <key>textureRect</key>
                <string>{{1760,109},{150,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JPSharkMedal_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-10}</string>
                <key>spriteSize</key>
                <string>{126,87}</string>
                <key>spriteSourceSize</key>
                <string>{138,113}</string>
                <key>textureRect</key>
                <string>{{1954,1158},{126,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>JPTitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,1}</string>
                <key>spriteSize</key>
                <string>{488,123}</string>
                <key>spriteSourceSize</key>
                <string>{510,125}</string>
                <key>textureRect</key>
                <string>{{1218,295},{488,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JPTurtleMedalGlow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,3}</string>
                <key>spriteSize</key>
                <string>{144,130}</string>
                <key>spriteSourceSize</key>
                <string>{200,150}</string>
                <key>textureRect</key>
                <string>{{1760,223},{144,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JPTurtleMedal_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{120,107}</string>
                <key>spriteSourceSize</key>
                <string>{138,113}</string>
                <key>textureRect</key>
                <string>{{251,1626},{120,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>JPWin1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{81,97}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{563,1936},{81,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JPWin2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{93,97}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{1954,597},{93,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JPWin3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{93,97}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{1954,696},{93,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JPWin4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{93,97}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{1954,795},{93,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JPWinBase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,292}</string>
                <key>spriteSourceSize</key>
                <string>{540,292}</string>
                <key>textureRect</key>
                <string>{{1218,1},{540,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MermaidIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{91,84}</string>
                <key>spriteSourceSize</key>
                <string>{99,88}</string>
                <key>textureRect</key>
                <string>{{1954,894},{91,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MermaidIconGray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-2}</string>
                <key>spriteSize</key>
                <string>{112,105}</string>
                <key>spriteSourceSize</key>
                <string>{138,113}</string>
                <key>textureRect</key>
                <string>{{469,1614},{112,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PL1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,15}</string>
                <key>spriteSourceSize</key>
                <string>{6,19}</string>
                <key>textureRect</key>
                <string>{{2039,1},{6,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PL2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,16}</string>
                <key>spriteSourceSize</key>
                <string>{9,18}</string>
                <key>textureRect</key>
                <string>{{1744,314},{9,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PL3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,16}</string>
                <key>spriteSourceSize</key>
                <string>{9,18}</string>
                <key>textureRect</key>
                <string>{{1708,327},{9,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PL4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,17}</string>
                <key>spriteSourceSize</key>
                <string>{11,19}</string>
                <key>textureRect</key>
                <string>{{1744,295},{11,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PrizeListFrame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,106}</string>
                <key>spriteSourceSize</key>
                <string>{277,106}</string>
                <key>textureRect</key>
                <string>{{1760,1},{277,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SharkIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-2}</string>
                <key>spriteSize</key>
                <string>{87,59}</string>
                <key>spriteSourceSize</key>
                <string>{99,77}</string>
                <key>textureRect</key>
                <string>{{1984,475},{87,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SharkIconGray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-10}</string>
                <key>spriteSize</key>
                <string>{126,87}</string>
                <key>spriteSourceSize</key>
                <string>{138,113}</string>
                <key>textureRect</key>
                <string>{{1954,1286},{126,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TimerIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,34}</string>
                <key>spriteSourceSize</key>
                <string>{30,34}</string>
                <key>textureRect</key>
                <string>{{1708,295},{30,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TreasureBoxOpen_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-13}</string>
                <key>spriteSize</key>
                <string>{106,94}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{467,1862},{106,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TreasureBoxOpen_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-9}</string>
                <key>spriteSize</key>
                <string>{108,102}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{567,1331},{108,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TreasureBoxOpen_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-9}</string>
                <key>spriteSize</key>
                <string>{100,102}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{474,1728},{100,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureBoxOpen_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-9}</string>
                <key>spriteSize</key>
                <string>{100,102}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{563,1832},{100,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureBoxOpen_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-4}</string>
                <key>spriteSize</key>
                <string>{104,112}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{563,1492},{104,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureBoxOpen_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{123,1888},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureBoxOpen_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{122,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{123,1764},{122,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TreasureBoxOpen_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{130,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{245,1331},{130,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TreasureBoxOpen_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{134,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{1912,109},{134,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureBoxOpen_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{136,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{1906,231},{136,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureBoxOpen_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{136,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{1906,353},{136,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureBoxOpen_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{136,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{1708,355},{136,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureBoxOpen_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{245,1764},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureBoxOpen_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{136,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{1846,475},{136,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureBoxOpen_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{136,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{1678,477},{136,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureBoxOpen_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{136,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{1816,597},{136,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureBoxOpen_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{136,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{1678,599},{136,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureBoxOpen_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{136,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{1816,719},{136,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureBoxOpen_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{136,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{1678,721},{136,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureBoxOpen_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{136,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{1816,841},{136,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureBoxOpen_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{136,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{1678,843},{136,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureBoxOpen_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{136,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{1816,963},{136,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureBoxOpen_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{136,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{1678,965},{136,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureBoxOpen_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{136,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{1816,1085},{136,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureBoxOpen_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{136,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{1678,1087},{136,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureBoxOpen_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{136,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{1816,1207},{136,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureBoxOpen_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{136,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{1678,1209},{136,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureBoxOpen_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{136,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{1816,1329},{136,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureBoxOpen_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{136,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{1,1492},{136,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TreasureBoxOpen_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{136,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{1,1331},{136,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TreasureBoxOpen_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{136,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{1,1630},{136,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TreasureBoxOpen_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{136,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{1,1768},{136,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TreasureBoxOpen_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{136,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{1,1906},{136,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TreasureBoxOpen_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{136,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{123,1492},{136,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TreasureBoxOpen_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{134,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{123,1331},{134,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TreasureBoxOpen_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{132,116}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{245,1492},{132,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TreasureBoxOpen_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-11}</string>
                <key>spriteSize</key>
                <string>{120,98}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{363,1492},{120,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TreasureBoxOpen_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-11}</string>
                <key>spriteSize</key>
                <string>{120,98}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{463,1492},{120,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TreasureBoxOpen_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-11}</string>
                <key>spriteSize</key>
                <string>{120,98}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{367,1331},{120,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TreasureBoxOpen_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-11}</string>
                <key>spriteSize</key>
                <string>{120,98}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{467,1331},{120,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TurtleIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{85,76}</string>
                <key>spriteSourceSize</key>
                <string>{99,84}</string>
                <key>textureRect</key>
                <string>{{1954,1414},{85,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TurtleIconGray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{120,107}</string>
                <key>spriteSourceSize</key>
                <string>{138,113}</string>
                <key>textureRect</key>
                <string>{{360,1626},{120,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>JPminigame.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68bf6ed3da5290e3654abed7708cd4cc:31eb1399d5c2a0372cdb2df938e48d82:0a85bd5f4af13766f78642409eed76d8$</string>
            <key>textureFileName</key>
            <string>JPminigame.png</string>
        </dict>
    </dict>
</plist>
