<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>FishName</key>
		<string>SharkActor</string>
		<key>isColor</key>
		<true/>
		<key>ColorRandom</key>
		<integer>50</integer>
		<key>CaptureRandom</key>
		<real>1.1</real>
		<key>Maximum</key>
		<integer>120</integer>
		<key>Reward</key>
		<array>
			<dict>
				<key>Type</key>
				<string>Gold</string>
				<key>Num</key>
				<integer>10</integer>
				<key>Random</key>
				<integer>10</integer>
				<key>GetRandom</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>Type</key>
				<string>Gold</string>
				<key>Num</key>
				<integer>50</integer>
				<key>Random</key>
				<integer>10</integer>
				<key>GetRandom</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>Type</key>
				<string>Gold</string>
				<key>Num</key>
				<integer>100</integer>
				<key>Random</key>
				<integer>8</integer>
				<key>GetRandom</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>Type</key>
				<string>Gold</string>
				<key>Num</key>
				<integer>150</integer>
				<key>Random</key>
				<integer>5</integer>
				<key>GetRandom</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>Type</key>
				<string>Gold</string>
				<key>Num</key>
				<integer>200</integer>
				<key>Random</key>
				<integer>3</integer>
				<key>GetRandom</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Type</key>
				<string>Gold</string>
				<key>Num</key>
				<integer>300</integer>
				<key>Random</key>
				<integer>2</integer>
				<key>GetRandom</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Type</key>
				<string>Gold</string>
				<key>Num</key>
				<integer>500</integer>
				<key>Random</key>
				<integer>20</integer>
				<key>GetRandom</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Type</key>
				<string>Gold</string>
				<key>Num</key>
				<integer>1000</integer>
				<key>Random</key>
				<integer>0</integer>
				<key>GetRandom</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Type</key>
				<string>Exp</string>
				<key>Num</key>
				<integer>100</integer>
				<key>Random</key>
				<integer>10</integer>
				<key>GetRandom</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>Type</key>
				<string>Exp</string>
				<key>Num</key>
				<integer>500</integer>
				<key>Random</key>
				<integer>5</integer>
				<key>GetRandom</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>Type</key>
				<string>Laser</string>
				<key>Num</key>
				<integer>1</integer>
				<key>Random</key>
				<integer>20</integer>
				<key>GetRandom</key>
				<integer>2</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>FishName</key>
		<string>MarlinsFishActor</string>
		<key>isColor</key>
		<true/>
		<key>ColorRandom</key>
		<integer>50</integer>
		<key>CaptureRandom</key>
		<real>1.1</real>
		<key>Maximum</key>
		<integer>150</integer>
		<key>Reward</key>
		<array>
			<dict>
				<key>Type</key>
				<string>Gold</string>
				<key>Num</key>
				<integer>10</integer>
				<key>Random</key>
				<integer>10</integer>
				<key>GetRandom</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>Type</key>
				<string>Gold</string>
				<key>Num</key>
				<integer>50</integer>
				<key>Random</key>
				<integer>10</integer>
				<key>GetRandom</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>Type</key>
				<string>Gold</string>
				<key>Num</key>
				<integer>100</integer>
				<key>Random</key>
				<integer>8</integer>
				<key>GetRandom</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>Type</key>
				<string>Gold</string>
				<key>Num</key>
				<integer>150</integer>
				<key>Random</key>
				<integer>5</integer>
				<key>GetRandom</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>Type</key>
				<string>Gold</string>
				<key>Num</key>
				<integer>200</integer>
				<key>Random</key>
				<integer>3</integer>
				<key>GetRandom</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Type</key>
				<string>Gold</string>
				<key>Num</key>
				<integer>300</integer>
				<key>Random</key>
				<integer>2</integer>
				<key>GetRandom</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Type</key>
				<string>Gold</string>
				<key>Num</key>
				<integer>500</integer>
				<key>Random</key>
				<integer>15</integer>
				<key>GetRandom</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>Type</key>
				<string>Gold</string>
				<key>Num</key>
				<integer>1000</integer>
				<key>Random</key>
				<integer>20</integer>
				<key>GetRandom</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Type</key>
				<string>Exp</string>
				<key>Num</key>
				<integer>100</integer>
				<key>Random</key>
				<integer>10</integer>
				<key>GetRandom</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>Type</key>
				<string>Exp</string>
				<key>Num</key>
				<integer>500</integer>
				<key>Random</key>
				<integer>5</integer>
				<key>GetRandom</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>Type</key>
				<string>Laser</string>
				<key>Num</key>
				<integer>1</integer>
				<key>Random</key>
				<integer>20</integer>
				<key>GetRandom</key>
				<integer>2</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
