<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>shop_awarding_notice_en.png</key>
		<dict>
			<key>frame</key>
			<string>{{36,2},{485,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{485,35}}</string>
			<key>sourceSize</key>
			<string>{485,35}</string>
		</dict>
		<key>shop_awarding_notice_cn.png</key>
		<dict>
			<key>frame</key>
			<string>{{73,2},{420,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{420,28}}</string>
			<key>sourceSize</key>
			<string>{420,28}</string>
		</dict>
		<key>shop_awarding_notice_jp.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{530,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{530,32}}</string>
			<key>sourceSize</key>
			<string>{530,32}</string>
		</dict>
		<key>shop_awarding_notice_tr.png</key>
		<dict>
			<key>frame</key>
			<string>{{176,2},{511,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{511,33}}</string>
			<key>sourceSize</key>
			<string>{511,33}</string>
		</dict>
		<key>shop_exchange_en.png</key>
		<dict>
			<key>frame</key>
			<string>{{209,515},{27,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,96}}</string>
			<key>sourceSize</key>
			<string>{27,96}</string>
		</dict>
		<key>shop_exchange_button_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,908},{46,245}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,245}}</string>
			<key>sourceSize</key>
			<string>{46,245}</string>
		</dict>
		<key>shop_exchange_button_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,860},{46,245}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,245}}</string>
			<key>sourceSize</key>
			<string>{46,245}</string>
		</dict>
		<key>shop_exchange_cn.png</key>
		<dict>
			<key>frame</key>
			<string>{{103,340},{28,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,72}}</string>
			<key>sourceSize</key>
			<string>{28,72}</string>
		</dict>
		<key>shop_exchange_jp.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,992},{27,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,160}}</string>
			<key>sourceSize</key>
			<string>{27,160}</string>
		</dict>
		<key>shop_exchange_tr.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,992},{28,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,77}}</string>
			<key>sourceSize</key>
			<string>{28,77}</string>
		</dict>
		<key>shop_title_en.png</key>
		<dict>
			<key>frame</key>
			<string>{{103,2},{336,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{336,49}}</string>
			<key>sourceSize</key>
			<string>{336,49}</string>
		</dict>
		<key>shop_title_cn.png</key>
		<dict>
			<key>frame</key>
			<string>{{58,534},{283,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{283,74}}</string>
			<key>sourceSize</key>
			<string>{283,74}</string>
		</dict>
		<key>shop_title_jp.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,534},{324,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{324,54}}</string>
			<key>sourceSize</key>
			<string>{324,54}</string>
		</dict>
		<key>shop_title_tr.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,534},{283,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{283,73}}</string>
			<key>sourceSize</key>
			<string>{283,73}</string>
		</dict>
		<key>total_awarding_en.png</key>
		<dict>
			<key>frame</key>
			<string>{{73,424},{99,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,39}}</string>
			<key>sourceSize</key>
			<string>{99,39}</string>
		</dict>
		<key>total_awarding_cn.png</key>
		<dict>
			<key>frame</key>
			<string>{{58,819},{130,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,38}}</string>
			<key>sourceSize</key>
			<string>{130,38}</string>
		</dict>
		<key>total_awarding_jp.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,956},{249,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{249,34}}</string>
			<key>sourceSize</key>
			<string>{249,34}</string>
		</dict>
		<key>total_awarding_tr.png</key>
		<dict>
			<key>frame</key>
			<string>{{36,489},{138,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,43}}</string>
			<key>sourceSize</key>
			<string>{138,43}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ui_shop.png</string>
		<key>size</key>
		<string>{256,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:b663862df19565995fd8a926bcc18101$</string>
		<key>textureFileName</key>
		<string>ui_shop.png</string>
	</dict>
</dict>
</plist>
