<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_other_020_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{163,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,138}}</string>
                <key>sourceSize</key>
                <string>{163,138}</string>
            </dict>
            <key>button_other_021_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,2},{163,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,138}}</string>
                <key>sourceSize</key>
                <string>{163,138}</string>
            </dict>
            <key>button_other_022_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,349},{146,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,147}}</string>
                <key>sourceSize</key>
                <string>{146,147}</string>
            </dict>
            <key>button_other_023_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{146,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,147}}</string>
                <key>sourceSize</key>
                <string>{146,147}</string>
            </dict>
            <key>fonts_other_010_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{279,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,56}}</string>
                <key>sourceSize</key>
                <string>{279,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UnlockStageLayer_cn.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52b82969d7ce66abfbd4849cff517a7f$</string>
            <key>textureFileName</key>
            <string>UnlockStageLayer_cn.png</string>
        </dict>
    </dict>
</plist>
