<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AnemoneFish_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{154,47}</string>
                <key>spriteSourceSize</key>
                <string>{170,121}</string>
                <key>textureRect</key>
                <string>{{313,580},{154,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AnemoneFish_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{154,51}</string>
                <key>spriteSourceSize</key>
                <string>{170,121}</string>
                <key>textureRect</key>
                <string>{{157,579},{154,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AnemoneFish_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{156,55}</string>
                <key>spriteSourceSize</key>
                <string>{170,121}</string>
                <key>textureRect</key>
                <string>{{319,523},{156,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AnemoneFish_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{156,57}</string>
                <key>spriteSourceSize</key>
                <string>{170,121}</string>
                <key>textureRect</key>
                <string>{{161,467},{156,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AnemoneFish_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{164,57}</string>
                <key>spriteSourceSize</key>
                <string>{170,121}</string>
                <key>textureRect</key>
                <string>{{430,171},{164,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>AnemoneFish_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{154,55}</string>
                <key>spriteSourceSize</key>
                <string>{170,121}</string>
                <key>textureRect</key>
                <string>{{1,568},{154,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AnemoneFish_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{164,51}</string>
                <key>spriteSourceSize</key>
                <string>{170,121}</string>
                <key>textureRect</key>
                <string>{{1,242},{164,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AnemoneFish_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{164,49}</string>
                <key>spriteSourceSize</key>
                <string>{170,121}</string>
                <key>textureRect</key>
                <string>{{1,295},{164,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AnemoneFish_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{166,49}</string>
                <key>spriteSourceSize</key>
                <string>{170,121}</string>
                <key>textureRect</key>
                <string>{{169,204},{166,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AnemoneFish_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{166,51}</string>
                <key>spriteSourceSize</key>
                <string>{170,121}</string>
                <key>textureRect</key>
                <string>{{169,151},{166,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AnemoneFish_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{168,55}</string>
                <key>spriteSourceSize</key>
                <string>{170,121}</string>
                <key>textureRect</key>
                <string>{{434,1},{168,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>AnemoneFish_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{168,57}</string>
                <key>spriteSourceSize</key>
                <string>{170,121}</string>
                <key>textureRect</key>
                <string>{{1,1},{168,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AnemoneFish_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{168,57}</string>
                <key>spriteSourceSize</key>
                <string>{170,121}</string>
                <key>textureRect</key>
                <string>{{171,1},{168,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AnemoneFish_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{164,51}</string>
                <key>spriteSourceSize</key>
                <string>{170,121}</string>
                <key>textureRect</key>
                <string>{{167,255},{164,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AnemoneFish_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{162,49}</string>
                <key>spriteSourceSize</key>
                <string>{170,121}</string>
                <key>textureRect</key>
                <string>{{165,357},{162,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AnemoneFish_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{164,47}</string>
                <key>spriteSourceSize</key>
                <string>{170,121}</string>
                <key>textureRect</key>
                <string>{{167,308},{164,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AnemoneFish_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{162,49}</string>
                <key>spriteSourceSize</key>
                <string>{170,121}</string>
                <key>textureRect</key>
                <string>{{1,405},{162,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AnemoneFish_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{156,51}</string>
                <key>spriteSourceSize</key>
                <string>{170,121}</string>
                <key>textureRect</key>
                <string>{{159,526},{156,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AnemoneFish_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{156,57}</string>
                <key>spriteSourceSize</key>
                <string>{170,121}</string>
                <key>textureRect</key>
                <string>{{1,509},{156,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AnemoneFish_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{162,57}</string>
                <key>spriteSourceSize</key>
                <string>{170,121}</string>
                <key>textureRect</key>
                <string>{{1,346},{162,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AnemoneFish_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{158,57}</string>
                <key>spriteSourceSize</key>
                <string>{170,121}</string>
                <key>textureRect</key>
                <string>{{165,408},{158,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AnemoneFish_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{158,51}</string>
                <key>spriteSourceSize</key>
                <string>{170,121}</string>
                <key>textureRect</key>
                <string>{{1,456},{158,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AnemoneFish_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,11}</string>
                <key>spriteSize</key>
                <string>{156,91}</string>
                <key>spriteSourceSize</key>
                <string>{170,121}</string>
                <key>textureRect</key>
                <string>{{333,337},{156,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AnemoneFish_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,11}</string>
                <key>spriteSize</key>
                <string>{164,91}</string>
                <key>spriteSourceSize</key>
                <string>{170,121}</string>
                <key>textureRect</key>
                <string>{{341,1},{164,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>AnemoneFish_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,11}</string>
                <key>spriteSize</key>
                <string>{166,89}</string>
                <key>spriteSourceSize</key>
                <string>{170,121}</string>
                <key>textureRect</key>
                <string>{{1,60},{166,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AnemoneFish_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,10}</string>
                <key>spriteSize</key>
                <string>{166,89}</string>
                <key>spriteSourceSize</key>
                <string>{170,121}</string>
                <key>textureRect</key>
                <string>{{169,60},{166,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AnemoneFish_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,11}</string>
                <key>spriteSize</key>
                <string>{166,89}</string>
                <key>spriteSourceSize</key>
                <string>{170,121}</string>
                <key>textureRect</key>
                <string>{{1,151},{166,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AnemoneFish_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,11}</string>
                <key>spriteSize</key>
                <string>{164,91}</string>
                <key>spriteSourceSize</key>
                <string>{170,121}</string>
                <key>textureRect</key>
                <string>{{337,167},{164,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>AnemoneFish_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,11}</string>
                <key>spriteSize</key>
                <string>{156,91}</string>
                <key>spriteSourceSize</key>
                <string>{170,121}</string>
                <key>textureRect</key>
                <string>{{325,430},{156,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>AnemoneFish.png</string>
            <key>size</key>
            <string>{490,631}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2dcb52999f9a93e32b02ba2745c1b3d:7b6a15127d23ac306d604f06031bd101:e4202ad0d6fb29e6b1bc9c0c5b3c541c$</string>
            <key>textureFileName</key>
            <string>AnemoneFish.png</string>
        </dict>
    </dict>
</plist>
