<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BlackWhiteYellowFish_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{79,28}</string>
                <key>spriteSourceSize</key>
                <string>{79,32}</string>
                <key>textureRect</key>
                <string>{{1,1},{79,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BlackWhiteYellowFish_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,26}</string>
                <key>spriteSourceSize</key>
                <string>{79,32}</string>
                <key>textureRect</key>
                <string>{{1,82},{79,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BlackWhiteYellowFish_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,22}</string>
                <key>spriteSourceSize</key>
                <string>{79,32}</string>
                <key>textureRect</key>
                <string>{{87,1},{79,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BlackWhiteYellowFish_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{79,20}</string>
                <key>spriteSourceSize</key>
                <string>{79,32}</string>
                <key>textureRect</key>
                <string>{{135,1},{79,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BlackWhiteYellowFish_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{79,20}</string>
                <key>spriteSourceSize</key>
                <string>{79,32}</string>
                <key>textureRect</key>
                <string>{{137,82},{79,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BlackWhiteYellowFish_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{79,22}</string>
                <key>spriteSourceSize</key>
                <string>{79,32}</string>
                <key>textureRect</key>
                <string>{{111,1},{79,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BlackWhiteYellowFish_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{79,26}</string>
                <key>spriteSourceSize</key>
                <string>{79,32}</string>
                <key>textureRect</key>
                <string>{{29,82},{79,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BlackWhiteYellowFish_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,26}</string>
                <key>spriteSourceSize</key>
                <string>{79,32}</string>
                <key>textureRect</key>
                <string>{{31,1},{79,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BlackWhiteYellowFish_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,26}</string>
                <key>spriteSourceSize</key>
                <string>{79,32}</string>
                <key>textureRect</key>
                <string>{{57,82},{79,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BlackWhiteYellowFish_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{79,26}</string>
                <key>spriteSourceSize</key>
                <string>{79,32}</string>
                <key>textureRect</key>
                <string>{{59,1},{79,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BlackWhiteYellowFish_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{79,22}</string>
                <key>spriteSourceSize</key>
                <string>{79,32}</string>
                <key>textureRect</key>
                <string>{{113,82},{79,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BlackWhiteYellowFish_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{79,18}</string>
                <key>spriteSourceSize</key>
                <string>{79,32}</string>
                <key>textureRect</key>
                <string>{{157,1},{79,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackWhiteYellowFish_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{77,18}</string>
                <key>spriteSourceSize</key>
                <string>{79,32}</string>
                <key>textureRect</key>
                <string>{{159,165},{77,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackWhiteYellowFish_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{77,24}</string>
                <key>spriteSourceSize</key>
                <string>{79,32}</string>
                <key>textureRect</key>
                <string>{{159,139},{77,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackWhiteYellowFish_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{77,28}</string>
                <key>spriteSourceSize</key>
                <string>{79,32}</string>
                <key>textureRect</key>
                <string>{{1,163},{77,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackWhiteYellowFish_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{77,28}</string>
                <key>spriteSourceSize</key>
                <string>{79,32}</string>
                <key>textureRect</key>
                <string>{{80,163},{77,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackWhiteYellowFish_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{77,28}</string>
                <key>spriteSourceSize</key>
                <string>{79,32}</string>
                <key>textureRect</key>
                <string>{{159,81},{77,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackWhiteYellowFish_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{77,26}</string>
                <key>spriteSourceSize</key>
                <string>{79,32}</string>
                <key>textureRect</key>
                <string>{{159,111},{77,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackWhiteYellowFish_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{79,18}</string>
                <key>spriteSourceSize</key>
                <string>{79,32}</string>
                <key>textureRect</key>
                <string>{{157,21},{79,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackWhiteYellowFish_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,18}</string>
                <key>spriteSourceSize</key>
                <string>{79,32}</string>
                <key>textureRect</key>
                <string>{{157,41},{79,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackWhiteYellowFish_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,18}</string>
                <key>spriteSourceSize</key>
                <string>{79,32}</string>
                <key>textureRect</key>
                <string>{{157,61},{79,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackWhiteYellowFish_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,26}</string>
                <key>spriteSourceSize</key>
                <string>{79,32}</string>
                <key>textureRect</key>
                <string>{{85,82},{79,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BlackWhiteYellowFish.png</string>
            <key>size</key>
            <string>{237,192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a544f9b0be36d1dcf0f3a93b67b88fe6:a2c56abae73c86ce3b46f7b996ff58a9:e9a2fe3be497b04729547c93a23f426a$</string>
            <key>textureFileName</key>
            <string>BlackWhiteYellowFish.png</string>
        </dict>
    </dict>
</plist>
