<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BlackYellowButterflyFish_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{157,66}</string>
                <key>spriteSourceSize</key>
                <string>{157,68}</string>
                <key>textureRect</key>
                <string>{{160,141},{157,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackYellowButterflyFish_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{157,64}</string>
                <key>spriteSourceSize</key>
                <string>{157,68}</string>
                <key>textureRect</key>
                <string>{{69,349},{157,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BlackYellowButterflyFish_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{157,62}</string>
                <key>spriteSourceSize</key>
                <string>{157,68}</string>
                <key>textureRect</key>
                <string>{{160,275},{157,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackYellowButterflyFish_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{157,60}</string>
                <key>spriteSourceSize</key>
                <string>{157,68}</string>
                <key>textureRect</key>
                <string>{{319,271},{157,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackYellowButterflyFish_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{157,60}</string>
                <key>spriteSourceSize</key>
                <string>{157,68}</string>
                <key>textureRect</key>
                <string>{{201,339},{157,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BlackYellowButterflyFish_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{157,64}</string>
                <key>spriteSourceSize</key>
                <string>{157,68}</string>
                <key>textureRect</key>
                <string>{{135,349},{157,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BlackYellowButterflyFish_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,66}</string>
                <key>spriteSourceSize</key>
                <string>{157,68}</string>
                <key>textureRect</key>
                <string>{{319,71},{157,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackYellowButterflyFish_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,68}</string>
                <key>spriteSourceSize</key>
                <string>{157,68}</string>
                <key>textureRect</key>
                <string>{{1,1},{157,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackYellowButterflyFish_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,68}</string>
                <key>spriteSourceSize</key>
                <string>{157,68}</string>
                <key>textureRect</key>
                <string>{{1,71},{157,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackYellowButterflyFish_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,68}</string>
                <key>spriteSourceSize</key>
                <string>{157,68}</string>
                <key>textureRect</key>
                <string>{{160,1},{157,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackYellowButterflyFish_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{157,66}</string>
                <key>spriteSourceSize</key>
                <string>{157,68}</string>
                <key>textureRect</key>
                <string>{{1,281},{157,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackYellowButterflyFish_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{157,64}</string>
                <key>spriteSourceSize</key>
                <string>{157,68}</string>
                <key>textureRect</key>
                <string>{{319,139},{157,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackYellowButterflyFish_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{157,64}</string>
                <key>spriteSourceSize</key>
                <string>{157,68}</string>
                <key>textureRect</key>
                <string>{{160,209},{157,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackYellowButterflyFish_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,68}</string>
                <key>spriteSourceSize</key>
                <string>{157,68}</string>
                <key>textureRect</key>
                <string>{{1,141},{157,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackYellowButterflyFish_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,68}</string>
                <key>spriteSourceSize</key>
                <string>{157,68}</string>
                <key>textureRect</key>
                <string>{{160,71},{157,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackYellowButterflyFish_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,68}</string>
                <key>spriteSourceSize</key>
                <string>{157,68}</string>
                <key>textureRect</key>
                <string>{{319,1},{157,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackYellowButterflyFish_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,68}</string>
                <key>spriteSourceSize</key>
                <string>{157,68}</string>
                <key>textureRect</key>
                <string>{{1,211},{157,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackYellowButterflyFish_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,66}</string>
                <key>spriteSourceSize</key>
                <string>{157,68}</string>
                <key>textureRect</key>
                <string>{{1,349},{157,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BlackYellowButterflyFish_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{157,60}</string>
                <key>spriteSourceSize</key>
                <string>{157,68}</string>
                <key>textureRect</key>
                <string>{{263,339},{157,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BlackYellowButterflyFish_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{157,58}</string>
                <key>spriteSourceSize</key>
                <string>{157,68}</string>
                <key>textureRect</key>
                <string>{{387,333},{157,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BlackYellowButterflyFish_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{157,60}</string>
                <key>spriteSourceSize</key>
                <string>{157,68}</string>
                <key>textureRect</key>
                <string>{{325,333},{157,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BlackYellowButterflyFish_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{157,64}</string>
                <key>spriteSourceSize</key>
                <string>{157,68}</string>
                <key>textureRect</key>
                <string>{{319,205},{157,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BlackYellowButterflyFish.png</string>
            <key>size</key>
            <string>{477,507}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f7ad685fae45ff9b8bb4c4ff5aa1c11:5d6a58f137900e66c464f205eb3e53db:a71ad10208a2b8477090691e41df50c3$</string>
            <key>textureFileName</key>
            <string>BlackYellowButterflyFish.png</string>
        </dict>
    </dict>
</plist>
