<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BlackYellowButterflyFish_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{157,66}</string>
                <key>spriteSourceSize</key>
                <string>{157,126}</string>
                <key>textureRect</key>
                <string>{{319,193},{157,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackYellowButterflyFish_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{157,64}</string>
                <key>spriteSourceSize</key>
                <string>{157,126}</string>
                <key>textureRect</key>
                <string>{{1,123},{157,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackYellowButterflyFish_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{157,62}</string>
                <key>spriteSourceSize</key>
                <string>{157,126}</string>
                <key>textureRect</key>
                <string>{{319,63},{157,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackYellowButterflyFish_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{157,60}</string>
                <key>spriteSourceSize</key>
                <string>{157,126}</string>
                <key>textureRect</key>
                <string>{{160,1},{157,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackYellowButterflyFish_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{157,60}</string>
                <key>spriteSourceSize</key>
                <string>{157,126}</string>
                <key>textureRect</key>
                <string>{{319,1},{157,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackYellowButterflyFish_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{157,64}</string>
                <key>spriteSourceSize</key>
                <string>{157,126}</string>
                <key>textureRect</key>
                <string>{{160,125},{157,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackYellowButterflyFish_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,66}</string>
                <key>spriteSourceSize</key>
                <string>{157,126}</string>
                <key>textureRect</key>
                <string>{{1,255},{157,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackYellowButterflyFish_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{157,68}</string>
                <key>spriteSourceSize</key>
                <string>{157,126}</string>
                <key>textureRect</key>
                <string>{{1,323},{157,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackYellowButterflyFish_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,70}</string>
                <key>spriteSourceSize</key>
                <string>{157,126}</string>
                <key>textureRect</key>
                <string>{{319,399},{157,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackYellowButterflyFish_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,68}</string>
                <key>spriteSourceSize</key>
                <string>{157,126}</string>
                <key>textureRect</key>
                <string>{{160,325},{157,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackYellowButterflyFish_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{157,66}</string>
                <key>spriteSourceSize</key>
                <string>{157,126}</string>
                <key>textureRect</key>
                <string>{{160,257},{157,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackYellowButterflyFish_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{157,64}</string>
                <key>spriteSourceSize</key>
                <string>{157,126}</string>
                <key>textureRect</key>
                <string>{{319,127},{157,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackYellowButterflyFish_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{157,64}</string>
                <key>spriteSourceSize</key>
                <string>{157,126}</string>
                <key>textureRect</key>
                <string>{{1,189},{157,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackYellowButterflyFish_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,68}</string>
                <key>spriteSourceSize</key>
                <string>{157,126}</string>
                <key>textureRect</key>
                <string>{{319,329},{157,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackYellowButterflyFish_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,70}</string>
                <key>spriteSourceSize</key>
                <string>{157,126}</string>
                <key>textureRect</key>
                <string>{{1,463},{157,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackYellowButterflyFish_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{157,68}</string>
                <key>spriteSourceSize</key>
                <string>{157,126}</string>
                <key>textureRect</key>
                <string>{{1,393},{157,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackYellowButterflyFish_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{157,68}</string>
                <key>spriteSourceSize</key>
                <string>{157,126}</string>
                <key>textureRect</key>
                <string>{{160,395},{157,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackYellowButterflyFish_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,66}</string>
                <key>spriteSourceSize</key>
                <string>{157,126}</string>
                <key>textureRect</key>
                <string>{{319,261},{157,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackYellowButterflyFish_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{157,60}</string>
                <key>spriteSourceSize</key>
                <string>{157,126}</string>
                <key>textureRect</key>
                <string>{{1,61},{157,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackYellowButterflyFish_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{157,58}</string>
                <key>spriteSourceSize</key>
                <string>{157,126}</string>
                <key>textureRect</key>
                <string>{{1,1},{157,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackYellowButterflyFish_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{157,60}</string>
                <key>spriteSourceSize</key>
                <string>{157,126}</string>
                <key>textureRect</key>
                <string>{{160,63},{157,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackYellowButterflyFish_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{157,64}</string>
                <key>spriteSourceSize</key>
                <string>{157,126}</string>
                <key>textureRect</key>
                <string>{{160,191},{157,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackYellowButterflyFish_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,12}</string>
                <key>spriteSize</key>
                <string>{151,92}</string>
                <key>spriteSourceSize</key>
                <string>{157,126}</string>
                <key>textureRect</key>
                <string>{{1,535},{151,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackYellowButterflyFish_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{157,88}</string>
                <key>spriteSourceSize</key>
                <string>{157,126}</string>
                <key>textureRect</key>
                <string>{{160,465},{157,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackYellowButterflyFish_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-10}</string>
                <key>spriteSize</key>
                <string>{151,94}</string>
                <key>spriteSourceSize</key>
                <string>{157,126}</string>
                <key>textureRect</key>
                <string>{{1,629},{151,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackYellowButterflyFish_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-14}</string>
                <key>spriteSize</key>
                <string>{137,98}</string>
                <key>spriteSourceSize</key>
                <string>{157,126}</string>
                <key>textureRect</key>
                <string>{{1,725},{137,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackYellowButterflyFish_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-10}</string>
                <key>spriteSize</key>
                <string>{151,94}</string>
                <key>spriteSourceSize</key>
                <string>{157,126}</string>
                <key>textureRect</key>
                <string>{{154,649},{151,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackYellowButterflyFish_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{157,88}</string>
                <key>spriteSourceSize</key>
                <string>{157,126}</string>
                <key>textureRect</key>
                <string>{{319,471},{157,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackYellowButterflyFish_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,12}</string>
                <key>spriteSize</key>
                <string>{151,92}</string>
                <key>spriteSourceSize</key>
                <string>{157,126}</string>
                <key>textureRect</key>
                <string>{{154,555},{151,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackYellowButterflyFish_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,12}</string>
                <key>spriteSize</key>
                <string>{153,92}</string>
                <key>spriteSourceSize</key>
                <string>{157,126}</string>
                <key>textureRect</key>
                <string>{{307,561},{153,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackYellowButterflyFish_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,12}</string>
                <key>spriteSize</key>
                <string>{155,92}</string>
                <key>spriteSourceSize</key>
                <string>{157,126}</string>
                <key>textureRect</key>
                <string>{{307,655},{155,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackYellowButterflyFish_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,12}</string>
                <key>spriteSize</key>
                <string>{155,92}</string>
                <key>spriteSourceSize</key>
                <string>{157,126}</string>
                <key>textureRect</key>
                <string>{{140,745},{155,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackYellowButterflyFish_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,12}</string>
                <key>spriteSize</key>
                <string>{153,92}</string>
                <key>spriteSourceSize</key>
                <string>{157,126}</string>
                <key>textureRect</key>
                <string>{{297,749},{153,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BlackYellowButterflyFish.png</string>
            <key>size</key>
            <string>{477,842}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4993a843ed7fbaf227cf19e25ddda881:361158679eeececb2f29f5c2f0141428:a71ad10208a2b8477090691e41df50c3$</string>
            <key>textureFileName</key>
            <string>BlackYellowButterflyFish.png</string>
        </dict>
    </dict>
</plist>
