<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BlueTang2_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{106,35}</string>
                <key>spriteSourceSize</key>
                <string>{106,41}</string>
                <key>textureRect</key>
                <string>{{1,1},{106,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueTang2_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{106,35}</string>
                <key>spriteSourceSize</key>
                <string>{106,41}</string>
                <key>textureRect</key>
                <string>{{1,38},{106,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueTang2_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{106,35}</string>
                <key>spriteSourceSize</key>
                <string>{106,41}</string>
                <key>textureRect</key>
                <string>{{1,75},{106,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueTang2_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{106,35}</string>
                <key>spriteSourceSize</key>
                <string>{106,41}</string>
                <key>textureRect</key>
                <string>{{1,112},{106,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueTang2_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{106,33}</string>
                <key>spriteSourceSize</key>
                <string>{106,41}</string>
                <key>textureRect</key>
                <string>{{1,593},{106,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueTang2_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{106,33}</string>
                <key>spriteSourceSize</key>
                <string>{106,41}</string>
                <key>textureRect</key>
                <string>{{1,628},{106,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueTang2_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{106,35}</string>
                <key>spriteSourceSize</key>
                <string>{106,41}</string>
                <key>textureRect</key>
                <string>{{1,149},{106,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueTang2_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{106,35}</string>
                <key>spriteSourceSize</key>
                <string>{106,41}</string>
                <key>textureRect</key>
                <string>{{1,186},{106,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueTang2_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{106,35}</string>
                <key>spriteSourceSize</key>
                <string>{106,41}</string>
                <key>textureRect</key>
                <string>{{1,223},{106,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueTang2_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{106,35}</string>
                <key>spriteSourceSize</key>
                <string>{106,41}</string>
                <key>textureRect</key>
                <string>{{1,260},{106,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueTang2_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{106,33}</string>
                <key>spriteSourceSize</key>
                <string>{106,41}</string>
                <key>textureRect</key>
                <string>{{1,663},{106,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueTang2_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{106,33}</string>
                <key>spriteSourceSize</key>
                <string>{106,41}</string>
                <key>textureRect</key>
                <string>{{1,698},{106,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueTang2_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{106,33}</string>
                <key>spriteSourceSize</key>
                <string>{106,41}</string>
                <key>textureRect</key>
                <string>{{1,733},{106,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueTang2_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{106,35}</string>
                <key>spriteSourceSize</key>
                <string>{106,41}</string>
                <key>textureRect</key>
                <string>{{1,297},{106,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueTang2_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{106,35}</string>
                <key>spriteSourceSize</key>
                <string>{106,41}</string>
                <key>textureRect</key>
                <string>{{1,334},{106,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueTang2_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{106,35}</string>
                <key>spriteSourceSize</key>
                <string>{106,41}</string>
                <key>textureRect</key>
                <string>{{1,371},{106,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueTang2_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{106,35}</string>
                <key>spriteSourceSize</key>
                <string>{106,41}</string>
                <key>textureRect</key>
                <string>{{1,408},{106,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueTang2_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{106,35}</string>
                <key>spriteSourceSize</key>
                <string>{106,41}</string>
                <key>textureRect</key>
                <string>{{1,445},{106,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueTang2_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{106,33}</string>
                <key>spriteSourceSize</key>
                <string>{106,41}</string>
                <key>textureRect</key>
                <string>{{1,768},{106,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueTang2_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{106,35}</string>
                <key>spriteSourceSize</key>
                <string>{106,41}</string>
                <key>textureRect</key>
                <string>{{1,482},{106,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueTang2_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{106,35}</string>
                <key>spriteSourceSize</key>
                <string>{106,41}</string>
                <key>textureRect</key>
                <string>{{1,519},{106,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueTang2_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{106,35}</string>
                <key>spriteSourceSize</key>
                <string>{106,41}</string>
                <key>textureRect</key>
                <string>{{1,556},{106,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BlueTang2.png</string>
            <key>size</key>
            <string>{108,802}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8031f9c281eeb7240611b0ad14c4f2a6:c27a6407405562a9ce20a26b49bd0efc:825fdff6b558722b34fb7d0689c7c1bc$</string>
            <key>textureFileName</key>
            <string>BlueTang2.png</string>
        </dict>
    </dict>
</plist>
