<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ButterflyFish2_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{89,37}</string>
                <key>spriteSourceSize</key>
                <string>{89,49}</string>
                <key>textureRect</key>
                <string>{{1,1},{89,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButterflyFish2_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{89,37}</string>
                <key>spriteSourceSize</key>
                <string>{89,49}</string>
                <key>textureRect</key>
                <string>{{92,1},{89,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButterflyFish2_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{89,37}</string>
                <key>spriteSourceSize</key>
                <string>{89,49}</string>
                <key>textureRect</key>
                <string>{{183,1},{89,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ButterflyFish2_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{89,35}</string>
                <key>spriteSourceSize</key>
                <string>{89,49}</string>
                <key>textureRect</key>
                <string>{{92,40},{89,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButterflyFish2_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,33}</string>
                <key>spriteSourceSize</key>
                <string>{89,49}</string>
                <key>textureRect</key>
                <string>{{222,1},{89,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ButterflyFish2_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,35}</string>
                <key>spriteSourceSize</key>
                <string>{89,49}</string>
                <key>textureRect</key>
                <string>{{92,77},{89,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButterflyFish2_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{89,33}</string>
                <key>spriteSourceSize</key>
                <string>{89,49}</string>
                <key>textureRect</key>
                <string>{{1,79},{89,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButterflyFish2_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{89,33}</string>
                <key>spriteSourceSize</key>
                <string>{89,49}</string>
                <key>textureRect</key>
                <string>{{1,114},{89,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButterflyFish2_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{89,33}</string>
                <key>spriteSourceSize</key>
                <string>{89,49}</string>
                <key>textureRect</key>
                <string>{{92,114},{89,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButterflyFish2_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{89,33}</string>
                <key>spriteSourceSize</key>
                <string>{89,49}</string>
                <key>textureRect</key>
                <string>{{1,149},{89,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButterflyFish2_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{89,33}</string>
                <key>spriteSourceSize</key>
                <string>{89,49}</string>
                <key>textureRect</key>
                <string>{{92,149},{89,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButterflyFish2_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{89,33}</string>
                <key>spriteSourceSize</key>
                <string>{89,49}</string>
                <key>textureRect</key>
                <string>{{183,183},{89,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ButterflyFish2_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{89,33}</string>
                <key>spriteSourceSize</key>
                <string>{89,49}</string>
                <key>textureRect</key>
                <string>{{218,183},{89,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ButterflyFish2_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{89,33}</string>
                <key>spriteSourceSize</key>
                <string>{89,49}</string>
                <key>textureRect</key>
                <string>{{1,184},{89,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButterflyFish2_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{89,33}</string>
                <key>spriteSourceSize</key>
                <string>{89,49}</string>
                <key>textureRect</key>
                <string>{{92,184},{89,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButterflyFish2_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{89,33}</string>
                <key>spriteSourceSize</key>
                <string>{89,49}</string>
                <key>textureRect</key>
                <string>{{1,219},{89,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButterflyFish2_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{89,33}</string>
                <key>spriteSourceSize</key>
                <string>{89,49}</string>
                <key>textureRect</key>
                <string>{{92,219},{89,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButterflyFish2_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{89,33}</string>
                <key>spriteSourceSize</key>
                <string>{89,49}</string>
                <key>textureRect</key>
                <string>{{1,254},{89,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButterflyFish2_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,33}</string>
                <key>spriteSourceSize</key>
                <string>{89,49}</string>
                <key>textureRect</key>
                <string>{{92,254},{89,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButterflyFish2_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{89,35}</string>
                <key>spriteSourceSize</key>
                <string>{89,49}</string>
                <key>textureRect</key>
                <string>{{183,92},{89,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ButterflyFish2_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{89,35}</string>
                <key>spriteSourceSize</key>
                <string>{89,49}</string>
                <key>textureRect</key>
                <string>{{220,92},{89,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ButterflyFish2_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{89,37}</string>
                <key>spriteSourceSize</key>
                <string>{89,49}</string>
                <key>textureRect</key>
                <string>{{1,40},{89,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ButterflyFish2.png</string>
            <key>size</key>
            <string>{256,288}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c1beff571fb2ba449611c4c34e9f6b5:e355daf31de5311bc858d84e841ba5f7:c1755b042896905183f08d0207ff7eb9$</string>
            <key>textureFileName</key>
            <string>ButterflyFish2.png</string>
        </dict>
    </dict>
</plist>
