<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ButterflyFish2_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{91,38}</string>
                <key>spriteSourceSize</key>
                <string>{165,170}</string>
                <key>textureRect</key>
                <string>{{160,1},{91,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ButterflyFish2_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{91,38}</string>
                <key>spriteSourceSize</key>
                <string>{165,170}</string>
                <key>textureRect</key>
                <string>{{200,1},{91,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ButterflyFish2_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{91,38}</string>
                <key>spriteSourceSize</key>
                <string>{165,170}</string>
                <key>textureRect</key>
                <string>{{160,94},{91,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ButterflyFish2_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{91,36}</string>
                <key>spriteSourceSize</key>
                <string>{165,170}</string>
                <key>textureRect</key>
                <string>{{160,187},{91,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ButterflyFish2_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,34}</string>
                <key>spriteSourceSize</key>
                <string>{165,170}</string>
                <key>textureRect</key>
                <string>{{152,356},{91,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButterflyFish2_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,36}</string>
                <key>spriteSourceSize</key>
                <string>{165,170}</string>
                <key>textureRect</key>
                <string>{{152,280},{91,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButterflyFish2_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{91,34}</string>
                <key>spriteSourceSize</key>
                <string>{165,170}</string>
                <key>textureRect</key>
                <string>{{152,392},{91,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButterflyFish2_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{91,34}</string>
                <key>spriteSourceSize</key>
                <string>{165,170}</string>
                <key>textureRect</key>
                <string>{{152,428},{91,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButterflyFish2_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{91,34}</string>
                <key>spriteSourceSize</key>
                <string>{165,170}</string>
                <key>textureRect</key>
                <string>{{152,464},{91,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButterflyFish2_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{91,34}</string>
                <key>spriteSourceSize</key>
                <string>{165,170}</string>
                <key>textureRect</key>
                <string>{{150,500},{91,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButterflyFish2_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{91,34}</string>
                <key>spriteSourceSize</key>
                <string>{165,170}</string>
                <key>textureRect</key>
                <string>{{150,536},{91,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButterflyFish2_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{91,34}</string>
                <key>spriteSourceSize</key>
                <string>{165,170}</string>
                <key>textureRect</key>
                <string>{{150,572},{91,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButterflyFish2_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{91,34}</string>
                <key>spriteSourceSize</key>
                <string>{165,170}</string>
                <key>textureRect</key>
                <string>{{1,608},{91,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ButterflyFish2_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{91,34}</string>
                <key>spriteSourceSize</key>
                <string>{165,170}</string>
                <key>textureRect</key>
                <string>{{37,608},{91,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ButterflyFish2_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{91,34}</string>
                <key>spriteSourceSize</key>
                <string>{165,170}</string>
                <key>textureRect</key>
                <string>{{73,608},{91,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ButterflyFish2_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{91,34}</string>
                <key>spriteSourceSize</key>
                <string>{165,170}</string>
                <key>textureRect</key>
                <string>{{109,597},{91,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ButterflyFish2_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{91,34}</string>
                <key>spriteSourceSize</key>
                <string>{165,170}</string>
                <key>textureRect</key>
                <string>{{145,608},{91,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButterflyFish2_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{91,34}</string>
                <key>spriteSourceSize</key>
                <string>{165,170}</string>
                <key>textureRect</key>
                <string>{{145,644},{91,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButterflyFish2_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,34}</string>
                <key>spriteSourceSize</key>
                <string>{165,170}</string>
                <key>textureRect</key>
                <string>{{145,680},{91,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButterflyFish2_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{91,36}</string>
                <key>spriteSourceSize</key>
                <string>{165,170}</string>
                <key>textureRect</key>
                <string>{{198,187},{91,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ButterflyFish2_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{91,36}</string>
                <key>spriteSourceSize</key>
                <string>{165,170}</string>
                <key>textureRect</key>
                <string>{{152,318},{91,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButterflyFish2_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{91,38}</string>
                <key>spriteSourceSize</key>
                <string>{165,170}</string>
                <key>textureRect</key>
                <string>{{200,94},{91,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ButterflyFish2_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,11}</string>
                <key>spriteSize</key>
                <string>{149,126}</string>
                <key>spriteSourceSize</key>
                <string>{165,170}</string>
                <key>textureRect</key>
                <string>{{1,233},{149,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButterflyFish2_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{157,114}</string>
                <key>spriteSourceSize</key>
                <string>{165,170}</string>
                <key>textureRect</key>
                <string>{{1,1},{157,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButterflyFish2_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-8}</string>
                <key>spriteSize</key>
                <string>{147,106}</string>
                <key>spriteSourceSize</key>
                <string>{165,170}</string>
                <key>textureRect</key>
                <string>{{1,489},{147,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButterflyFish2_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{157,114}</string>
                <key>spriteSourceSize</key>
                <string>{165,170}</string>
                <key>textureRect</key>
                <string>{{1,117},{157,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButterflyFish2_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,11}</string>
                <key>spriteSize</key>
                <string>{149,126}</string>
                <key>spriteSourceSize</key>
                <string>{165,170}</string>
                <key>textureRect</key>
                <string>{{1,361},{149,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ButterflyFish2.png</string>
            <key>size</key>
            <string>{244,715}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69e30a9e4ae12d5181bd5bfacb92d922:196e6aa55709d9f3a403103186bbd55a:c1755b042896905183f08d0207ff7eb9$</string>
            <key>textureFileName</key>
            <string>ButterflyFish2.png</string>
        </dict>
    </dict>
</plist>
