<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DemoFish_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{80,32}</string>
                <key>spriteSourceSize</key>
                <string>{100,74}</string>
                <key>textureRect</key>
                <string>{{1,83},{80,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DemoFish_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{80,38}</string>
                <key>spriteSourceSize</key>
                <string>{100,74}</string>
                <key>textureRect</key>
                <string>{{1,43},{80,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DemoFish_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{80,40}</string>
                <key>spriteSourceSize</key>
                <string>{100,74}</string>
                <key>textureRect</key>
                <string>{{1,1},{80,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DemoFish_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,4}</string>
                <key>spriteSize</key>
                <string>{78,42}</string>
                <key>spriteSourceSize</key>
                <string>{100,74}</string>
                <key>textureRect</key>
                <string>{{1,117},{78,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DemoFish_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,5}</string>
                <key>spriteSize</key>
                <string>{78,42}</string>
                <key>spriteSourceSize</key>
                <string>{100,74}</string>
                <key>textureRect</key>
                <string>{{1,161},{78,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DemoFish_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,5}</string>
                <key>spriteSize</key>
                <string>{78,40}</string>
                <key>spriteSourceSize</key>
                <string>{100,74}</string>
                <key>textureRect</key>
                <string>{{1,205},{78,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DemoFish_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,6}</string>
                <key>spriteSize</key>
                <string>{78,38}</string>
                <key>spriteSourceSize</key>
                <string>{100,74}</string>
                <key>textureRect</key>
                <string>{{1,247},{78,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DemoFish_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,7}</string>
                <key>spriteSize</key>
                <string>{78,34}</string>
                <key>spriteSourceSize</key>
                <string>{100,74}</string>
                <key>textureRect</key>
                <string>{{1,327},{78,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DemoFish_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,8}</string>
                <key>spriteSize</key>
                <string>{78,34}</string>
                <key>spriteSourceSize</key>
                <string>{100,74}</string>
                <key>textureRect</key>
                <string>{{1,363},{78,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DemoFish_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,7}</string>
                <key>spriteSize</key>
                <string>{76,36}</string>
                <key>spriteSourceSize</key>
                <string>{100,74}</string>
                <key>textureRect</key>
                <string>{{1,483},{76,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DemoFish_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,8}</string>
                <key>spriteSize</key>
                <string>{76,40}</string>
                <key>spriteSourceSize</key>
                <string>{100,74}</string>
                <key>textureRect</key>
                <string>{{1,399},{76,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DemoFish_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{76,40}</string>
                <key>spriteSourceSize</key>
                <string>{100,74}</string>
                <key>textureRect</key>
                <string>{{1,441},{76,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DemoFish_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,8}</string>
                <key>spriteSize</key>
                <string>{74,42}</string>
                <key>spriteSourceSize</key>
                <string>{100,74}</string>
                <key>textureRect</key>
                <string>{{81,309},{74,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DemoFish_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,10}</string>
                <key>spriteSize</key>
                <string>{72,42}</string>
                <key>spriteSourceSize</key>
                <string>{100,74}</string>
                <key>textureRect</key>
                <string>{{1,521},{72,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DemoFish_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,11}</string>
                <key>spriteSize</key>
                <string>{72,40}</string>
                <key>spriteSourceSize</key>
                <string>{100,74}</string>
                <key>textureRect</key>
                <string>{{1,653},{72,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DemoFish_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,11}</string>
                <key>spriteSize</key>
                <string>{72,40}</string>
                <key>spriteSourceSize</key>
                <string>{100,74}</string>
                <key>textureRect</key>
                <string>{{1,695},{72,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DemoFish_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,10}</string>
                <key>spriteSize</key>
                <string>{72,40}</string>
                <key>spriteSourceSize</key>
                <string>{100,74}</string>
                <key>textureRect</key>
                <string>{{1,737},{72,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DemoFish_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,8}</string>
                <key>spriteSize</key>
                <string>{74,42}</string>
                <key>spriteSourceSize</key>
                <string>{100,74}</string>
                <key>textureRect</key>
                <string>{{81,385},{74,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DemoFish_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{74,42}</string>
                <key>spriteSourceSize</key>
                <string>{100,74}</string>
                <key>textureRect</key>
                <string>{{79,461},{74,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DemoFish_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{76,44}</string>
                <key>spriteSourceSize</key>
                <string>{100,74}</string>
                <key>textureRect</key>
                <string>{{83,1},{76,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DemoFish_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{76,42}</string>
                <key>spriteSourceSize</key>
                <string>{100,74}</string>
                <key>textureRect</key>
                <string>{{81,231},{76,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DemoFish_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{78,38}</string>
                <key>spriteSourceSize</key>
                <string>{100,74}</string>
                <key>textureRect</key>
                <string>{{1,287},{78,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DemoFish_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,3}</string>
                <key>spriteSize</key>
                <string>{62,56}</string>
                <key>spriteSourceSize</key>
                <string>{100,74}</string>
                <key>textureRect</key>
                <string>{{1,821},{62,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DemoFish_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{70,52}</string>
                <key>spriteSourceSize</key>
                <string>{100,74}</string>
                <key>textureRect</key>
                <string>{{75,537},{70,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DemoFish_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{74,44}</string>
                <key>spriteSourceSize</key>
                <string>{100,74}</string>
                <key>textureRect</key>
                <string>{{83,79},{74,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DemoFish_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{72,42}</string>
                <key>spriteSourceSize</key>
                <string>{100,74}</string>
                <key>textureRect</key>
                <string>{{1,565},{72,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DemoFish_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{68,42}</string>
                <key>spriteSourceSize</key>
                <string>{100,74}</string>
                <key>textureRect</key>
                <string>{{75,681},{68,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DemoFish_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{66,40}</string>
                <key>spriteSourceSize</key>
                <string>{100,74}</string>
                <key>textureRect</key>
                <string>{{1,779},{66,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DemoFish_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{68,42}</string>
                <key>spriteSourceSize</key>
                <string>{100,74}</string>
                <key>textureRect</key>
                <string>{{75,751},{68,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DemoFish_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{72,42}</string>
                <key>spriteSourceSize</key>
                <string>{100,74}</string>
                <key>textureRect</key>
                <string>{{1,609},{72,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DemoFish_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{74,44}</string>
                <key>spriteSourceSize</key>
                <string>{100,74}</string>
                <key>textureRect</key>
                <string>{{81,155},{74,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DemoFish_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{70,52}</string>
                <key>spriteSourceSize</key>
                <string>{100,74}</string>
                <key>textureRect</key>
                <string>{{75,609},{70,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>DemoFish.png</string>
            <key>size</key>
            <string>{128,878}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19736e7cb282df8b12315ad54804f06d:0f400515beb7947d89c2ded285bd4eed:7cfccc05a60e4d34a8e586d517017a2c$</string>
            <key>textureFileName</key>
            <string>DemoFish.png</string>
        </dict>
    </dict>
</plist>
