<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Seahorse_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{49,84}</string>
                <key>spriteSourceSize</key>
                <string>{67,86}</string>
                <key>textureRect</key>
                <string>{{1,529},{49,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Seahorse_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{49,84}</string>
                <key>spriteSourceSize</key>
                <string>{67,86}</string>
                <key>textureRect</key>
                <string>{{1,615},{49,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Seahorse_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{49,84}</string>
                <key>spriteSourceSize</key>
                <string>{67,86}</string>
                <key>textureRect</key>
                <string>{{1,701},{49,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Seahorse_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{49,84}</string>
                <key>spriteSourceSize</key>
                <string>{67,86}</string>
                <key>textureRect</key>
                <string>{{1,787},{49,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Seahorse_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{49,86}</string>
                <key>spriteSourceSize</key>
                <string>{67,86}</string>
                <key>textureRect</key>
                <string>{{1,1},{49,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Seahorse_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{49,86}</string>
                <key>spriteSourceSize</key>
                <string>{67,86}</string>
                <key>textureRect</key>
                <string>{{1,89},{49,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Seahorse_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{49,86}</string>
                <key>spriteSourceSize</key>
                <string>{67,86}</string>
                <key>textureRect</key>
                <string>{{1,177},{49,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Seahorse_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{49,86}</string>
                <key>spriteSourceSize</key>
                <string>{67,86}</string>
                <key>textureRect</key>
                <string>{{1,265},{49,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Seahorse_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{49,84}</string>
                <key>spriteSourceSize</key>
                <string>{67,86}</string>
                <key>textureRect</key>
                <string>{{1,873},{49,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Seahorse_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{47,84}</string>
                <key>spriteSourceSize</key>
                <string>{67,86}</string>
                <key>textureRect</key>
                <string>{{1,1475},{47,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Seahorse_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{47,84}</string>
                <key>spriteSourceSize</key>
                <string>{67,86}</string>
                <key>textureRect</key>
                <string>{{1,1561},{47,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Seahorse_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{47,84}</string>
                <key>spriteSourceSize</key>
                <string>{67,86}</string>
                <key>textureRect</key>
                <string>{{1,1647},{47,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Seahorse_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{47,84}</string>
                <key>spriteSourceSize</key>
                <string>{67,86}</string>
                <key>textureRect</key>
                <string>{{1,1733},{47,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Seahorse_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{47,84}</string>
                <key>spriteSourceSize</key>
                <string>{67,86}</string>
                <key>textureRect</key>
                <string>{{1,1819},{47,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Seahorse_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{49,84}</string>
                <key>spriteSourceSize</key>
                <string>{67,86}</string>
                <key>textureRect</key>
                <string>{{1,959},{49,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Seahorse_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{49,84}</string>
                <key>spriteSourceSize</key>
                <string>{67,86}</string>
                <key>textureRect</key>
                <string>{{1,1045},{49,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Seahorse_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{49,84}</string>
                <key>spriteSourceSize</key>
                <string>{67,86}</string>
                <key>textureRect</key>
                <string>{{1,1131},{49,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Seahorse_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{49,86}</string>
                <key>spriteSourceSize</key>
                <string>{67,86}</string>
                <key>textureRect</key>
                <string>{{1,353},{49,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Seahorse_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{49,84}</string>
                <key>spriteSourceSize</key>
                <string>{67,86}</string>
                <key>textureRect</key>
                <string>{{1,1217},{49,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Seahorse_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{49,86}</string>
                <key>spriteSourceSize</key>
                <string>{67,86}</string>
                <key>textureRect</key>
                <string>{{1,441},{49,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Seahorse_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{49,84}</string>
                <key>spriteSourceSize</key>
                <string>{67,86}</string>
                <key>textureRect</key>
                <string>{{1,1303},{49,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Seahorse_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{49,84}</string>
                <key>spriteSourceSize</key>
                <string>{67,86}</string>
                <key>textureRect</key>
                <string>{{1,1389},{49,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Seahorse.png</string>
            <key>size</key>
            <string>{51,1904}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:597bdea4f81a6ca4114e6b2682e8b296:b3f5fac47b5dc0c5df4928f448d663c9:4b75e7c624eeec591734554b4b7aa71d$</string>
            <key>textureFileName</key>
            <string>Seahorse.png</string>
        </dict>
    </dict>
</plist>
