<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Turtle2_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{160,212}</string>
                <key>spriteSourceSize</key>
                <string>{166,228}</string>
                <key>textureRect</key>
                <string>{{1,163},{160,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Turtle2_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{160,208}</string>
                <key>spriteSourceSize</key>
                <string>{166,228}</string>
                <key>textureRect</key>
                <string>{{651,1},{160,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Turtle2_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{160,204}</string>
                <key>spriteSourceSize</key>
                <string>{166,228}</string>
                <key>textureRect</key>
                <string>{{1279,1},{160,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Turtle2_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{160,202}</string>
                <key>spriteSourceSize</key>
                <string>{166,228}</string>
                <key>textureRect</key>
                <string>{{1485,1},{160,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Turtle2_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{160,206}</string>
                <key>spriteSourceSize</key>
                <string>{166,228}</string>
                <key>textureRect</key>
                <string>{{1071,1},{160,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Turtle2_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{160,208}</string>
                <key>spriteSourceSize</key>
                <string>{166,228}</string>
                <key>textureRect</key>
                <string>{{861,1},{160,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Turtle2_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{160,202}</string>
                <key>spriteSourceSize</key>
                <string>{166,228}</string>
                <key>textureRect</key>
                <string>{{437,163},{160,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Turtle2_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{162,192}</string>
                <key>spriteSourceSize</key>
                <string>{166,228}</string>
                <key>textureRect</key>
                <string>{{641,163},{162,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Turtle2_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{162,176}</string>
                <key>spriteSourceSize</key>
                <string>{166,228}</string>
                <key>textureRect</key>
                <string>{{835,163},{162,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Turtle2_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{164,162}</string>
                <key>spriteSourceSize</key>
                <string>{166,228}</string>
                <key>textureRect</key>
                <string>{{1517,163},{164,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Turtle2_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{164,150}</string>
                <key>spriteSourceSize</key>
                <string>{166,228}</string>
                <key>textureRect</key>
                <string>{{1851,169},{164,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Turtle2_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,142}</string>
                <key>spriteSourceSize</key>
                <string>{166,228}</string>
                <key>textureRect</key>
                <string>{{1181,163},{166,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Turtle2_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,136}</string>
                <key>spriteSourceSize</key>
                <string>{166,228}</string>
                <key>textureRect</key>
                <string>{{1349,163},{166,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Turtle2_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,136}</string>
                <key>spriteSourceSize</key>
                <string>{166,228}</string>
                <key>textureRect</key>
                <string>{{1683,169},{166,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Turtle2_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,144}</string>
                <key>spriteSourceSize</key>
                <string>{166,228}</string>
                <key>textureRect</key>
                <string>{{1869,1},{166,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Turtle2_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,158}</string>
                <key>spriteSourceSize</key>
                <string>{166,228}</string>
                <key>textureRect</key>
                <string>{{1013,163},{166,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Turtle2_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,178}</string>
                <key>spriteSourceSize</key>
                <string>{166,228}</string>
                <key>textureRect</key>
                <string>{{1689,1},{166,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Turtle2_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{164,198}</string>
                <key>spriteSourceSize</key>
                <string>{166,228}</string>
                <key>textureRect</key>
                <string>{{215,165},{164,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Turtle2_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{166,228}</string>
                <key>textureRect</key>
                <string>{{221,1},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Turtle2_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{160,218}</string>
                <key>spriteSourceSize</key>
                <string>{166,228}</string>
                <key>textureRect</key>
                <string>{{1,1},{160,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Turtle2_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{160,212}</string>
                <key>spriteSourceSize</key>
                <string>{166,228}</string>
                <key>textureRect</key>
                <string>{{437,1},{160,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Turtle2.png</string>
            <key>size</key>
            <string>{2016,330}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e133b8fb3a3e6b793b44973877868594:93220c4cc65c83bf364dcee50b0a45bf:50869f6aa7714589948a6659e12a150b$</string>
            <key>textureFileName</key>
            <string>Turtle2.png</string>
        </dict>
    </dict>
</plist>
