<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>YellowFish_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{73,29}</string>
                <key>spriteSourceSize</key>
                <string>{73,31}</string>
                <key>textureRect</key>
                <string>{{1,34},{73,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YellowFish_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{73,29}</string>
                <key>spriteSourceSize</key>
                <string>{73,31}</string>
                <key>textureRect</key>
                <string>{{76,34},{73,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YellowFish_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,29}</string>
                <key>spriteSourceSize</key>
                <string>{73,31}</string>
                <key>textureRect</key>
                <string>{{151,34},{73,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YellowFish_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,27}</string>
                <key>spriteSourceSize</key>
                <string>{73,31}</string>
                <key>textureRect</key>
                <string>{{676,32},{73,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YellowFish_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{73,29}</string>
                <key>spriteSourceSize</key>
                <string>{73,31}</string>
                <key>textureRect</key>
                <string>{{226,34},{73,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YellowFish_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,29}</string>
                <key>spriteSourceSize</key>
                <string>{73,31}</string>
                <key>textureRect</key>
                <string>{{301,34},{73,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YellowFish_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,31}</string>
                <key>spriteSourceSize</key>
                <string>{73,31}</string>
                <key>textureRect</key>
                <string>{{1,1},{73,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YellowFish_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,31}</string>
                <key>spriteSourceSize</key>
                <string>{73,31}</string>
                <key>textureRect</key>
                <string>{{76,1},{73,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YellowFish_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,31}</string>
                <key>spriteSourceSize</key>
                <string>{73,31}</string>
                <key>textureRect</key>
                <string>{{151,1},{73,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YellowFish_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,31}</string>
                <key>spriteSourceSize</key>
                <string>{73,31}</string>
                <key>textureRect</key>
                <string>{{226,1},{73,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YellowFish_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{73,29}</string>
                <key>spriteSourceSize</key>
                <string>{73,31}</string>
                <key>textureRect</key>
                <string>{{376,34},{73,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YellowFish_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{73,29}</string>
                <key>spriteSourceSize</key>
                <string>{73,31}</string>
                <key>textureRect</key>
                <string>{{451,34},{73,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YellowFish_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{73,29}</string>
                <key>spriteSourceSize</key>
                <string>{73,31}</string>
                <key>textureRect</key>
                <string>{{526,34},{73,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YellowFish_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,31}</string>
                <key>spriteSourceSize</key>
                <string>{73,31}</string>
                <key>textureRect</key>
                <string>{{301,1},{73,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YellowFish_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,31}</string>
                <key>spriteSourceSize</key>
                <string>{73,31}</string>
                <key>textureRect</key>
                <string>{{376,1},{73,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YellowFish_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,31}</string>
                <key>spriteSourceSize</key>
                <string>{73,31}</string>
                <key>textureRect</key>
                <string>{{451,1},{73,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YellowFish_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,31}</string>
                <key>spriteSourceSize</key>
                <string>{73,31}</string>
                <key>textureRect</key>
                <string>{{526,1},{73,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YellowFish_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,31}</string>
                <key>spriteSourceSize</key>
                <string>{73,31}</string>
                <key>textureRect</key>
                <string>{{601,1},{73,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YellowFish_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{73,29}</string>
                <key>spriteSourceSize</key>
                <string>{73,31}</string>
                <key>textureRect</key>
                <string>{{601,34},{73,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YellowFish_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{73,27}</string>
                <key>spriteSourceSize</key>
                <string>{73,31}</string>
                <key>textureRect</key>
                <string>{{751,1},{73,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YellowFish_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,27}</string>
                <key>spriteSourceSize</key>
                <string>{73,31}</string>
                <key>textureRect</key>
                <string>{{751,30},{73,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YellowFish_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{73,29}</string>
                <key>spriteSourceSize</key>
                <string>{73,31}</string>
                <key>textureRect</key>
                <string>{{676,1},{73,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>YellowFish.png</string>
            <key>size</key>
            <string>{825,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9aac4911f7158074f4f35f3009fc1ea:9ee2ea14c744a56e0a7a62f40aeda33e:a2edc2118a96ff5a3e26ba5ac219f8b0$</string>
            <key>textureFileName</key>
            <string>YellowFish.png</string>
        </dict>
    </dict>
</plist>
