<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>boxlinght_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{14, 32}, {78, 145}}</string>
			<key>spriteOffset</key>
			<string>{0, -16}</string>
			<key>spriteSize</key>
			<string>{78, 145}</string>
			<key>spriteSourceSize</key>
			<string>{106, 177}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 358}, {78, 145}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boxlinght_02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {94, 177}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 177}</string>
			<key>spriteSourceSize</key>
			<string>{106, 177}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{108, 181}, {94, 177}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boxlinght_03.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {104, 177}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{104, 177}</string>
			<key>spriteSourceSize</key>
			<string>{106, 177}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{110, 2}, {104, 177}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boxlinght_04.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {104, 177}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{104, 177}</string>
			<key>spriteSourceSize</key>
			<string>{106, 177}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 179}, {104, 177}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boxlinght_05.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {106, 175}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{106, 175}</string>
			<key>spriteSourceSize</key>
			<string>{106, 177}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {106, 175}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{256, 512}</string>
	</dict>
</dict>
</plist>