<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>circle_0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{238, 116}, {29, 28}}</string>
			<key>offset</key>
			<string>{0, 0.5}</string>
			<key>sourceColorRect</key>
			<string>{{64, 64}, {29, 28}}</string>
			<key>sourceSize</key>
			<string>{157, 157}</string>
		</dict>
		
		<key>circle_0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 161}, {51, 51}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{53, 53}, {51, 51}}</string>
			<key>sourceSize</key>
			<string>{157, 157}</string>
		</dict>
		
		<key>circle_0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{161, 116}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{41, 41}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{157, 157}</string>
		</dict>
		
		<key>circle_0004.png</key>
		<dict>
			<key>frame</key>
			<string>{{161, 2}, {112, 112}}</string>
			<key>offset</key>
			<string>{0.5, 0.5}</string>
			<key>sourceColorRect</key>
			<string>{{23, 22}, {112, 112}}</string>
			<key>sourceSize</key>
			<string>{157, 157}</string>
		</dict>
		
		<key>circle_0005.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 2}, {157, 157}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {157, 157}}</string>
			<key>sourceSize</key>
			<string>{157, 157}</string>
		</dict>
		
		<key>finger_0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{275, 2}, {91, 84}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {91, 84}}</string>
			<key>sourceSize</key>
			<string>{91, 84}</string>
		</dict>
		
		<key>finger_0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{275, 88}, {91, 80}}</string>
			<key>offset</key>
			<string>{0, -2}</string>
			<key>sourceColorRect</key>
			<string>{{0, 4}, {91, 80}}</string>
			<key>sourceSize</key>
			<string>{91, 84}</string>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
		<key>size</key>
		<string>{512, 256}</string>
	</dict>
</dict>
</plist>