<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_pause_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,0},{224,494}}</string>
			<key>offset</key>
			<string>{5,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,6},{224,494}}</string>
			<key>sourceSize</key>
			<string>{234,500}</string>
		</dict>
		<key>btn_pause_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{224,500}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,0},{224,500}}</string>
			<key>sourceSize</key>
			<string>{234,500}</string>
		</dict>
		<key>button_other_026_en.png</key>
		<dict>
			<key>frame</key>
			<string>{{554,282},{140,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{30,12},{140,26}}</string>
			<key>sourceSize</key>
			<string>{200,50}</string>
		</dict>
		<key>button_other_026_cn.png</key>
		<dict>
			<key>frame</key>
			<string>{{518,298},{142,36}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{28,8},{142,36}}</string>
			<key>sourceSize</key>
			<string>{200,50}</string>
		</dict>
		<key>button_other_026_jp.png</key>
		<dict>
			<key>frame</key>
			<string>{{634,0},{110,30}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{45,11},{110,30}}</string>
			<key>sourceSize</key>
			<string>{200,50}</string>
		</dict>
		<key>button_other_026_tr.png</key>
		<dict>
			<key>frame</key>
			<string>{{594,140},{130,36}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{36,8},{130,36}}</string>
			<key>sourceSize</key>
			<string>{200,50}</string>
		</dict>
		<key>button_other_027_en.png</key>
		<dict>
			<key>frame</key>
			<string>{{482,0},{152,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{24,8},{152,34}}</string>
			<key>sourceSize</key>
			<string>{200,50}</string>
		</dict>
		<key>button_other_027_cn.png</key>
		<dict>
			<key>frame</key>
			<string>{{448,160},{152,46}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{24,3},{152,46}}</string>
			<key>sourceSize</key>
			<string>{200,50}</string>
		</dict>
		<key>button_other_027_jp.png</key>
		<dict>
			<key>frame</key>
			<string>{{596,0},{118,38}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{41,7},{118,38}}</string>
			<key>sourceSize</key>
			<string>{200,50}</string>
		</dict>
		<key>button_other_027_tr.png</key>
		<dict>
			<key>frame</key>
			<string>{{552,0},{140,44}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{30,4},{140,44}}</string>
			<key>sourceSize</key>
			<string>{200,50}</string>
		</dict>
		<key>button_other_037_en.png</key>
		<dict>
			<key>frame</key>
			<string>{{712,262},{96,32}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{53,9},{96,32}}</string>
			<key>sourceSize</key>
			<string>{200,50}</string>
		</dict>
		<key>button_other_037_cn.png</key>
		<dict>
			<key>frame</key>
			<string>{{746,462},{70,38}}</string>
			<key>offset</key>
			<string>{-4,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{61,9},{70,38}}</string>
			<key>sourceSize</key>
			<string>{200,50}</string>
		</dict>
		<key>button_other_037_jp.png</key>
		<dict>
			<key>frame</key>
			<string>{{744,246},{58,32}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{71,10},{58,32}}</string>
			<key>sourceSize</key>
			<string>{200,50}</string>
		</dict>
		<key>button_other_037_tr.png</key>
		<dict>
			<key>frame</key>
			<string>{{816,462},{66,36}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{68,9},{66,36}}</string>
			<key>sourceSize</key>
			<string>{200,50}</string>
		</dict>
		<key>button_other_038_en.png</key>
		<dict>
			<key>frame</key>
			<string>{{554,422},{106,40}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{47,6},{106,40}}</string>
			<key>sourceSize</key>
			<string>{200,50}</string>
		</dict>
		<key>button_other_038_cn.png</key>
		<dict>
			<key>frame</key>
			<string>{{562,462},{78,46}}</string>
			<key>offset</key>
			<string>{-3,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{58,4},{78,46}}</string>
			<key>sourceSize</key>
			<string>{200,50}</string>
		</dict>
		<key>button_other_038_jp.png</key>
		<dict>
			<key>frame</key>
			<string>{{660,422},{66,40}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{68,5},{66,40}}</string>
			<key>sourceSize</key>
			<string>{200,50}</string>
		</dict>
		<key>button_other_038_tr.png</key>
		<dict>
			<key>frame</key>
			<string>{{664,218},{76,44}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{63,4},{76,44}}</string>
			<key>sourceSize</key>
			<string>{200,50}</string>
		</dict>
		<key>ui_2p_021_en.png</key>
		<dict>
			<key>frame</key>
			<string>{{702,360},{92,26}}</string>
			<key>offset</key>
			<string>{4,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{58,13},{92,26}}</string>
			<key>sourceSize</key>
			<string>{200,50}</string>
		</dict>
		<key>ui_2p_021_cn.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,0},{142,36}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{28,7},{142,36}}</string>
			<key>sourceSize</key>
			<string>{200,50}</string>
		</dict>
		<key>ui_2p_021_jp.png</key>
		<dict>
			<key>frame</key>
			<string>{{658,110},{108,26}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{46,13},{108,26}}</string>
			<key>sourceSize</key>
			<string>{200,50}</string>
		</dict>
		<key>ui_2p_021_tr.png</key>
		<dict>
			<key>frame</key>
			<string>{{580,278},{132,36}}</string>
			<key>offset</key>
			<string>{4,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{38,7},{132,36}}</string>
			<key>sourceSize</key>
			<string>{200,50}</string>
		</dict>
		<key>ui_2p_022_en.png</key>
		<dict>
			<key>frame</key>
			<string>{{616,388},{100,34}}</string>
			<key>offset</key>
			<string>{5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{55,8},{100,34}}</string>
			<key>sourceSize</key>
			<string>{200,50}</string>
		</dict>
		<key>ui_2p_022_cn.png</key>
		<dict>
			<key>frame</key>
			<string>{{448,312},{150,44}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{24,3},{150,44}}</string>
			<key>sourceSize</key>
			<string>{200,50}</string>
		</dict>
		<key>ui_2p_022_jp.png</key>
		<dict>
			<key>frame</key>
			<string>{{616,270},{118,34}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{41,9},{118,34}}</string>
			<key>sourceSize</key>
			<string>{200,50}</string>
		</dict>
		<key>ui_2p_022_tr.png</key>
		<dict>
			<key>frame</key>
			<string>{{526,142},{140,44}}</string>
			<key>offset</key>
			<string>{4,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{34,3},{140,44}}</string>
			<key>sourceSize</key>
			<string>{200,50}</string>
		</dict>
		<key>ui_button_09.png</key>
		<dict>
			<key>frame</key>
			<string>{{740,212},{34,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,34}}</string>
			<key>sourceSize</key>
			<string>{34,34}</string>
		</dict>
		<key>ui_button_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{744,184},{34,26}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,5},{34,26}}</string>
			<key>sourceSize</key>
			<string>{34,34}</string>
		</dict>
		<key>ui_button_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{630,236},{34,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,34}}</string>
			<key>sourceSize</key>
			<string>{34,34}</string>
		</dict>
		<key>ui_button_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{676,360},{26,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,3},{26,28}}</string>
			<key>sourceSize</key>
			<string>{34,34}</string>
		</dict>
		<key>ui_button_13_en.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,270},{116,26}}</string>
			<key>offset</key>
			<string>{1,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,55},{116,26}}</string>
			<key>sourceSize</key>
			<string>{130,130}</string>
		</dict>
		<key>ui_button_13_cn.png</key>
		<dict>
			<key>frame</key>
			<string>{{762,0},{78,82}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,23},{78,82}}</string>
			<key>sourceSize</key>
			<string>{130,130}</string>
		</dict>
		<key>ui_button_13_jp.png</key>
		<dict>
			<key>frame</key>
			<string>{{684,106},{106,60}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,34},{106,60}}</string>
			<key>sourceSize</key>
			<string>{130,130}</string>
		</dict>
		<key>ui_button_13_tr.png</key>
		<dict>
			<key>frame</key>
			<string>{{792,386},{66,76}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30,27},{66,76}}</string>
			<key>sourceSize</key>
			<string>{130,130}</string>
		</dict>
		<key>ui_button_14_en.png</key>
		<dict>
			<key>frame</key>
			<string>{{630,118},{118,28}}</string>
			<key>offset</key>
			<string>{1,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,54},{118,28}}</string>
			<key>sourceSize</key>
			<string>{130,130}</string>
		</dict>
		<key>ui_button_14_cn.png</key>
		<dict>
			<key>frame</key>
			<string>{{744,102},{78,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,24},{78,82}}</string>
			<key>sourceSize</key>
			<string>{130,130}</string>
		</dict>
		<key>ui_button_14_jp.png</key>
		<dict>
			<key>frame</key>
			<string>{{664,0},{106,60}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,34},{106,60}}</string>
			<key>sourceSize</key>
			<string>{130,130}</string>
		</dict>
		<key>ui_button_14_tr.png</key>
		<dict>
			<key>frame</key>
			<string>{{726,386},{66,76}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30,27},{66,76}}</string>
			<key>sourceSize</key>
			<string>{130,130}</string>
		</dict>
		<key>ui_button_15_en.png</key>
		<dict>
			<key>frame</key>
			<string>{{570,140},{138,24}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{30,14},{138,24}}</string>
			<key>sourceSize</key>
			<string>{200,50}</string>
		</dict>
		<key>ui_button_15_cn.png</key>
		<dict>
			<key>frame</key>
			<string>{{724,0},{102,38}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{50,7},{102,38}}</string>
			<key>sourceSize</key>
			<string>{200,50}</string>
		</dict>
		<key>ui_button_15_jp.png</key>
		<dict>
			<key>frame</key>
			<string>{{492,312},{150,26}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{26,13},{150,26}}</string>
			<key>sourceSize</key>
			<string>{200,50}</string>
		</dict>
		<key>ui_button_15_tr.png</key>
		<dict>
			<key>frame</key>
			<string>{{676,262},{98,36}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{51,8},{98,36}}</string>
			<key>sourceSize</key>
			<string>{200,50}</string>
		</dict>
		<key>ui_button_16_en.png</key>
		<dict>
			<key>frame</key>
			<string>{{494,152},{146,32}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{27,10},{146,32}}</string>
			<key>sourceSize</key>
			<string>{200,50}</string>
		</dict>
		<key>ui_button_16_cn.png</key>
		<dict>
			<key>frame</key>
			<string>{{448,462},{114,48}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{44,2},{114,48}}</string>
			<key>sourceSize</key>
			<string>{200,50}</string>
		</dict>
		<key>ui_button_16_jp.png</key>
		<dict>
			<key>frame</key>
			<string>{{448,0},{160,34}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{21,9},{160,34}}</string>
			<key>sourceSize</key>
			<string>{200,50}</string>
		</dict>
		<key>ui_button_16_tr.png</key>
		<dict>
			<key>frame</key>
			<string>{{640,462},{106,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{47,3},{106,44}}</string>
			<key>sourceSize</key>
			<string>{200,50}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>PauseMenuLayer.png</string>
		<key>size</key>
		<string>{1024,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:e077a23333bd097955ed71622dd66caf$</string>
		<key>textureFileName</key>
		<string>PauseMenuLayer.png</string>
	</dict>
</dict>
</plist>
