<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Path1</key>
		<dict>
			<key>MoveDict</key>
			<integer>3</integer>
			<key>Offset</key>
			<array>
				<dict>
					<key>actorname</key>
					<string>BreamActor</string>
					<key>offset</key>
					<string>{-185, 11}</string>
					<key>radiusOffset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-151, 47}</string>
					<key>radiusOffset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>actorname</key>
					<string>PorgyActor</string>
					<key>offset</key>
					<string>{-106, 66}</string>
					<key>radiusOffset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>actorname</key>
					<string>SmallFishActor</string>
					<key>offset</key>
					<string>{-62, 75}</string>
					<key>radiusOffset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-18, 79}</string>
					<key>radiusOffset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AmphiprionActor</string>
					<key>offset</key>
					<string>{33, 79}</string>
					<key>radiusOffset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>actorname</key>
					<string>BreamActor</string>
					<key>offset</key>
					<string>{89, 70}</string>
					<key>radiusOffset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{129, 58}</string>
					<key>radiusOffset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>actorname</key>
					<string>PorgyActor</string>
					<key>offset</key>
					<string>{173, 30}</string>
					<key>radiusOffset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>actorname</key>
					<string>SmallFishActor</string>
					<key>offset</key>
					<string>{183, -12}</string>
					<key>radiusOffset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{159, -38}</string>
					<key>radiusOffset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AmphiprionActor</string>
					<key>offset</key>
					<string>{110, -60}</string>
					<key>radiusOffset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>actorname</key>
					<string>BreamActor</string>
					<key>offset</key>
					<string>{58, -72}</string>
					<key>radiusOffset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{11, -75}</string>
					<key>radiusOffset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>actorname</key>
					<string>PorgyActor</string>
					<key>offset</key>
					<string>{-39, -73}</string>
					<key>radiusOffset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>actorname</key>
					<string>SmallFishActor</string>
					<key>offset</key>
					<string>{-83, -67}</string>
					<key>radiusOffset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-120, -67}</string>
					<key>radiusOffset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AmphiprionActor</string>
					<key>offset</key>
					<string>{-162, -35}</string>
					<key>radiusOffset</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>Radius</key>
			<array>
				<string>{186, 77}</string>
			</array>
			<key>onTheRrc</key>
			<integer>1</integer>
			<key>speed</key>
			<integer>165</integer>
		</dict>
	</dict>

</plist>
