<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Path1</key>
		<dict>
			<key>Offset</key>
			<array>
				<dict>
					<key>offset</key>
					<string>{0,0}</string>
				</dict>
				<dict>
					<key>offset</key>
					<string>{-95,10}</string>
				</dict>
			</array>
			<key>Radius</key>
			<array>
				<string>{380, 90}</string>
			</array>
			<key>speed</key>
			<integer>125</integer>
			<key>MoveDict</key>
			<integer>1</integer>
			<key>onTheRrc</key>
			<integer>1</integer>
		</dict>
		<key>Path2</key>
		<dict>
			<key>Offset</key>
			<array>
				<dict>
					<key>offset</key>
					<string>{0, 0}</string>
				</dict>
				<dict>
					<key>offset</key>
					<string>{-55, 10}</string>
				</dict>
			</array>
			<key>Radius</key>
			<array>
				<string>{120, 70}</string>
				<string>{260, 110}</string>
			</array>
			<key>speed</key>
			<integer>125</integer>
			<key>MoveDict</key>
			<integer>1</integer>
			<key>onTheRrc</key>
			<integer>0</integer>
		</dict>
		<key>Path3</key>
		<dict>
			<key>Offset</key>
			<array>
				<dict>
					<key>offset</key>
					<string>{0, 0}</string>
				</dict>
			</array>
			<key>Radius</key>
			<array>
				<string>{220, 75}</string>
			</array>
			<key>speed</key>
			<integer>125</integer>
			<key>MoveDict</key>
			<integer>2</integer>
			<key>onTheRrc</key>
			<integer>1</integer>
		</dict>
		<key>Path4</key>
		<dict>
			<key>Offset</key>
			<array>
				<dict>
					<key>offset</key>
					<string>{0, 0}</string>
				</dict>
				<dict>
					<key>offset</key>
					<string>{-75, 5}</string>
				</dict>
			</array>
			<key>Radius</key>
			<array>
				<string>{220, 70}</string>
				<string>{170, 110}</string>
			</array>
			<key>speed</key>
			<integer>125</integer>
			<key>MoveDict</key>
			<integer>1</integer>
			<key>onTheRrc</key>
			<integer>0</integer>
		</dict>
		<key>Path5</key>
		<dict>
			<key>Offset</key>
			<array>
				<dict>
					<key>offset</key>
					<string>{0, 0}</string>
				</dict>
			</array>
			<key>Radius</key>
			<array>
				<string>{145, 85}</string>
				<string>{220, 71}</string>
			</array>
			<key>speed</key>
			<integer>125</integer>
			<key>MoveDict</key>
			<integer>1</integer>
			<key>onTheRrc</key>
			<integer>1</integer>
		</dict>
		<key>Path6</key>
		<dict>
			<key>Offset</key>
			<array>
				<dict>
					<key>offset</key>
					<string>{0, 0}</string>
				</dict>
			</array>
			<key>Radius</key>
			<array>
				<string>{360, 68}</string>
			</array>
			<key>speed</key>
			<integer>125</integer>
			<key>MoveDict</key>
			<integer>1</integer>
			<key>onTheRrc</key>
			<integer>0</integer>
		</dict>
		<key>Path7</key>
		<dict>
			<key>Offset</key>
			<array>
				<dict>
					<key>offset</key>
					<string>{0, 0}</string>
				</dict>
			</array>
			<key>Radius</key>
			<array>
				<string>{390, 110}</string>
			</array>
			<key>speed</key>
			<integer>125</integer>
			<key>MoveDict</key>
			<integer>1</integer>
			<key>onTheRrc</key>
			<integer>1</integer>
		</dict>
		<key>Path8</key>
		<dict>
			<key>Offset</key>
			<array>
				<dict>
					<key>offset</key>
					<string>{0, 0}</string>
				</dict>
			</array>
			<key>Radius</key>
			<array>
				<string>{170, 65}</string>
				<string>{270, 110}</string>
			</array>
			<key>speed</key>
			<integer>125</integer>
			<key>MoveDict</key>
			<integer>1</integer>
			<key>onTheRrc</key>
			<integer>0</integer>
		</dict>
		<key>Path9</key>
		<dict>
			<key>Offset</key>
			<array>
				<dict>
					<key>offset</key>
					<string>{0, 0}</string>
				</dict>
			</array>
			<key>Radius</key>
			<array>
				<string>{220, 90}</string>
				<string>{170, 74}</string>
			</array>
			<key>speed</key>
			<integer>125</integer>
			<key>MoveDict</key>
			<integer>1</integer>
			<key>onTheRrc</key>
			<integer>1</integer>
		</dict>
		<key>Path10</key>
		<dict>
			<key>Offset</key>
			<array>
				<dict>
					<key>offset</key>
					<string>{0,0}</string>
				</dict>
			</array>
			<key>Radius</key>
			<array>
				<string>{200, 65}</string>
				<string>{145, 110}</string>
			</array>
			<key>speed</key>
			<integer>125</integer>
			<key>MoveDict</key>
			<integer>1</integer>
			<key>onTheRrc</key>
			<integer>0</integer>
		</dict>
		<key>Path11</key>
		<dict>
			<key>Offset</key>
			<array>
				<dict>
					<key>offset</key>
					<string>{0, 0}</string>
				</dict>
				<dict>
					<key>offset</key>
					<string>{-64,-13}</string>
				</dict>
			</array>
			<key>Radius</key>
			<array>
				<string>{140, 70}</string>
				<string>{290, 114}</string>
			</array>
			<key>speed</key>
			<integer>125</integer>
			<key>MoveDict</key>
			<integer>1</integer>
			<key>onTheRrc</key>
			<integer>0</integer>
		</dict>
		<key>Path12</key>
		<dict>
			<key>Offset</key>
			<array>
				<dict>
					<key>offset</key>
					<string>{0,0}</string>
				</dict>
			</array>
			<key>Radius</key>
			<array>
				<string>{190, 95}</string>
				<string>{220, 100}</string>
			</array>
			<key>speed</key>
			<integer>125</integer>
			<key>MoveDict</key>
			<integer>1</integer>
			<key>onTheRrc</key>
			<integer>1</integer>
		</dict>
		<key>Path13</key>
		<dict>
			<key>Offset</key>
			<array>
				<dict>
					<key>offset</key>
					<string>{0, 0}</string>
				</dict>
				<dict>
					<key>offset</key>
					<string>{-120, 30}</string>
				</dict>
			</array>
			<key>Radius</key>
			<array>
				<string>{170, 95}</string>
				<string>{190, 80}</string>
			</array>
			<key>speed</key>
			<integer>125</integer>
			<key>MoveDict</key>
			<integer>1</integer>
			<key>onTheRrc</key>
			<integer>1</integer>
		</dict>
		<key>Path14</key>
		<dict>
			<key>Offset</key>
			<array>
				<dict>
					<key>offset</key>
					<string>{0, 0}</string>
				</dict>
			</array>
			<key>Radius</key>
			<array>
				<string>{170, 70}</string>
				<string>{230, 150}</string>
			</array>
			<key>speed</key>
			<integer>125</integer>
			<key>MoveDict</key>
			<integer>1</integer>
			<key>onTheRrc</key>
			<integer>0</integer>
		</dict>
		<key>Path15</key>
		<dict>
			<key>Offset</key>
			<array>
				<dict>
					<key>offset</key>
					<string>{0, 0}</string>
				</dict>
				<dict>
					<key>offset</key>
					<string>{-30,-5}</string>
				</dict>
			</array>
			<key>Radius</key>
			<array>
				<string>{225, 50}</string>
			</array>
			<key>speed</key>
			<integer>125</integer>
			<key>MoveDict</key>
			<integer>2</integer>
			<key>onTheRrc</key>
			<integer>1</integer>
		</dict>
		<key>Path16</key>
		<dict>
			<key>Offset</key>
			<array>
				<dict>
					<key>offset</key>
					<string>{0, 0}</string>
				</dict>
				<dict>
					<key>offset</key>
					<string>{-30,0}</string>
				</dict>
			</array>
			<key>Radius</key>
			<array>
				<string>{200, 45}</string>
			</array>
			<key>speed</key>
			<integer>125</integer>
			<key>MoveDict</key>
			<integer>2</integer>
			<key>onTheRrc</key>
			<integer>1</integer>
		</dict>
		<key>Path17</key>
		<dict>
			<key>Offset</key>
			<array>
				<dict>
					<key>offset</key>
					<string>{0, 0}</string>
				</dict>
			</array>
			<key>Radius</key>
			<array>
				<string>{160, 70}</string>
				<string>{250, 150}</string>
			</array>
			<key>speed</key>
			<integer>125</integer>
			<key>MoveDict</key>
			<integer>1</integer>
			<key>onTheRrc</key>
			<integer>0</integer>
		</dict>
		<key>Path18</key>
		<dict>
			<key>Offset</key>
			<array>
				<dict>
					<key>offset</key>
					<string>{0, 0}</string>
				</dict>
				<dict>
					<key>offset</key>
					<string>{-50,10}</string>
				</dict>
			</array>
			<key>Radius</key>
			<array>
				<string>{190, 30}</string>
			</array>
			<key>speed</key>
			<integer>125</integer>
			<key>MoveDict</key>
			<integer>2</integer>
			<key>onTheRrc</key>
			<integer>1</integer>
		</dict>
		<key>Path19</key>
		<dict>
			<key>Offset</key>
			<array>
				<dict>
					<key>offset</key>
					<string>{0, 0}</string>
				</dict>
				<dict>
					<key>offset</key>
					<string>{-85,15}</string>
				</dict>
			</array>
			<key>Radius</key>
			<array>
				<string>{190, 100}</string>
				<string>{150, 90}</string>
			</array>
			<key>speed</key>
			<integer>125</integer>
			<key>MoveDict</key>
			<integer>1</integer>
			<key>onTheRrc</key>
			<integer>1</integer>
		</dict>
		<key>Path20</key>
		<dict>
			<key>Offset</key>
			<array>
				<dict>
					<key>offset</key>
					<string>{0, 0}</string>
				</dict>
			</array>
			<key>Radius</key>
			<array>
				<string>{185, 60}</string>
				<string>{220, 140}</string>
			</array>
			<key>speed</key>
			<integer>125</integer>
			<key>MoveDict</key>
			<integer>1</integer>
			<key>onTheRrc</key>
			<integer>0</integer>
		</dict>
	</dict>
	
</plist>
