<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Path1</key>
		<dict>
			<key>Offset</key>
			<array>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{0, 0}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-20, 45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-20, -45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-70, 0}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-90, 45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-90, -45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-140, 0}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>SmallFishActor</string>
					<key>offset</key>
					<string>{-160, 45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-160, -45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-210, 0}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-230, 45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-230, -45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-280, 0}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-300, 45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-300, -45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-350, 0}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-370, 45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-370, -45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-420, 0}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-440, 45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-440, -45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-490, 0}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-510, 45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-510, -45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-560, 0}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-580, 45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-580, -45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-630, 0}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-650, 45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-650, -45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-700, 0}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-720, 45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-720, -45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-770, 0}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-790, 45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-790, -45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-840, 0}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-860, 45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-860, -45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-910, 0}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-930, 45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-930, -45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-980, 0}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-1000, 45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-1000, -45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-1050, 0}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>SmallFishActor</string>
					<key>New item</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-1070, 45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-1070, -45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-1120, 0}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-1140, 45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-1140, -45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-1190, 0}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-1210, 45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-1210, -45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-1260, 0}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-1280, 45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-1280, -45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-1330, 0}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-1350, 45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-1350, -45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-1400, 0}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-1420, 45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-1420, -45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-1470, 0}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-1490, 45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-1490, -45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-1540, 0}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-1560, 45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-1560, -45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-1610, 0}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-1630, 45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-1630, -45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-1680, 0}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-1700, 45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-1700, -45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-1750, 0}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-1770, 45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-1770, -45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-1820, 0}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-1840, 45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-1840, -45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-1890, 0}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-1910, 45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-1910, -45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-1960, 0}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-1980, 45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-1980, -45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-2030, 0}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-2050, 45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-2050, -45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-2100, 0}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-2120, 45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-2120, -45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-2170, 0}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-2190, 45}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-2190, -45}</string>
				</dict>
			</array>
			<key>Radius</key>
			<array>
				<string>{300, 200}</string>
			</array>
			<key>speed</key>
			<integer>200</integer>
			<key>MoveDict</key>
			<integer>3</integer>
			<key>onTheRrc</key>
			<integer>1</integer>
		</dict>
	</dict>
	
</plist>
