<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_help_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,1},{90,100}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{90,100}}</string>
                <key>sourceSize</key>
                <string>{94,104}</string>
            </dict>
            <key>howtoplay0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{830,620}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{830,620}}</string>
                <key>sourceSize</key>
                <string>{830,620}</string>
            </dict>
            <key>ui_laserwarning_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,1066},{328,124}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,23},{328,124}}</string>
                <key>sourceSize</key>
                <string>{400,156}</string>
            </dict>
            <key>ui_other_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,622},{416,443}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{416,443}}</string>
                <key>sourceSize</key>
                <string>{420,445}</string>
            </dict>
            <key>ui_skip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,172},{69,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{69,55}}</string>
                <key>sourceSize</key>
                <string>{73,71}</string>
            </dict>
            <key>ui_skip_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,102},{71,69}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{71,69}}</string>
                <key>sourceSize</key>
                <string>{73,71}</string>
            </dict>
            <key>ui_teach_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1091},{574,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{574,112}}</string>
                <key>sourceSize</key>
                <string>{574,112}</string>
            </dict>
            <key>ui_teach_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,622},{530,468}}</string>
                <key>offset</key>
                <string>{-21,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,28},{530,468}}</string>
                <key>sourceSize</key>
                <string>{710,534}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tutorial.png</string>
            <key>size</key>
            <string>{949,1204}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7e3aa36b32dbd782c3e4de20f767a25$</string>
            <key>textureFileName</key>
            <string>tutorial.png</string>
        </dict>
    </dict>
</plist>
