<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>button_other_020_en.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,134},{79,29}}</string>
			<key>offset</key>
			<string>{-2,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,29}}</string>
			<key>sourceSize</key>
			<string>{83,31}</string>
		</dict>
		<key>button_other_020_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{135,0},{135,134}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,134}}</string>
			<key>sourceSize</key>
			<string>{135,140}</string>
		</dict>
		<key>button_other_020_cn.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,134},{64,34}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,34}}</string>
			<key>sourceSize</key>
			<string>{66,34}</string>
		</dict>
		<key>button_other_020_jp.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,201},{82,25}}</string>
			<key>offset</key>
			<string>{-1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,4},{82,25}}</string>
			<key>sourceSize</key>
			<string>{88,29}</string>
		</dict>
		<key>button_other_020_tr.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,168},{65,33}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{65,33}}</string>
			<key>sourceSize</key>
			<string>{67,33}</string>
		</dict>
		<key>button_other_021_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{135,134}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,134}}</string>
			<key>sourceSize</key>
			<string>{135,140}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>UnLockLayerUI.png</string>
		<key>size</key>
		<string>{512,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:c311e4c87b26ebbe48502b737b305761$</string>
		<key>textureFileName</key>
		<string>UnLockLayerUI.png</string>
	</dict>
</dict>
</plist>
