<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{498,113}</string>
                <key>spriteSourceSize</key>
                <string>{498,113}</string>
                <key>textureRect</key>
                <string>{{0,0},{498,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,136}</string>
                <key>spriteSourceSize</key>
                <string>{104,136}</string>
                <key>textureRect</key>
                <string>{{0,113},{104,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CannonDW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,115}</string>
                <key>spriteSourceSize</key>
                <string>{97,115}</string>
                <key>textureRect</key>
                <string>{{104,113},{97,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Coin icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,35}</string>
                <key>spriteSourceSize</key>
                <string>{34,35}</string>
                <key>textureRect</key>
                <string>{{201,113},{34,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CoinDeck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,53}</string>
                <key>spriteSourceSize</key>
                <string>{273,53}</string>
                <key>textureRect</key>
                <string>{{235,113},{273,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,40}</string>
                <key>spriteSourceSize</key>
                <string>{42,40}</string>
                <key>textureRect</key>
                <string>{{0,249},{42,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MinusDw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,40}</string>
                <key>spriteSourceSize</key>
                <string>{42,40}</string>
                <key>textureRect</key>
                <string>{{42,249},{42,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PlusDw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,40}</string>
                <key>spriteSourceSize</key>
                <string>{42,40}</string>
                <key>textureRect</key>
                <string>{{126,249},{42,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,40}</string>
                <key>spriteSourceSize</key>
                <string>{42,40}</string>
                <key>textureRect</key>
                <string>{{84,249},{42,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Game UI.png</string>
            <key>size</key>
            <string>{508,289}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:804654aa6fa6e6b81a5249d863046cc7:ca031f8257ab8c0ef43174685e966031:13103c15d0108e7aab1316a48f90f5be$</string>
            <key>textureFileName</key>
            <string>Game UI.png</string>
        </dict>
    </dict>
</plist>
