<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{497,114}</string>
                <key>spriteSourceSize</key>
                <string>{499,114}</string>
                <key>textureRect</key>
                <string>{{1,1},{497,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{104,134}</string>
                <key>spriteSourceSize</key>
                <string>{104,136}</string>
                <key>textureRect</key>
                <string>{{775,1},{104,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CannonDW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,115}</string>
                <key>spriteSourceSize</key>
                <string>{97,115}</string>
                <key>textureRect</key>
                <string>{{911,1},{97,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Coin icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,35}</string>
                <key>spriteSourceSize</key>
                <string>{34,35}</string>
                <key>textureRect</key>
                <string>{{676,56},{34,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CoinDeck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,53}</string>
                <key>spriteSourceSize</key>
                <string>{273,53}</string>
                <key>textureRect</key>
                <string>{{500,1},{273,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,40}</string>
                <key>spriteSourceSize</key>
                <string>{42,40}</string>
                <key>textureRect</key>
                <string>{{500,56},{42,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MinusDw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,40}</string>
                <key>spriteSourceSize</key>
                <string>{42,40}</string>
                <key>textureRect</key>
                <string>{{544,56},{42,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PlusDw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,40}</string>
                <key>spriteSourceSize</key>
                <string>{42,40}</string>
                <key>textureRect</key>
                <string>{{588,56},{42,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,40}</string>
                <key>spriteSourceSize</key>
                <string>{42,40}</string>
                <key>textureRect</key>
                <string>{{632,56},{42,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Game UI.png</string>
            <key>size</key>
            <string>{1009,117}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a66d3c4da62858f1e0ac415ef02d3556:7a6dad6d7a71f0b4605fb36f29eab933:587edb7fc7c60d46667dfa1c3926b6a7$</string>
            <key>textureFileName</key>
            <string>Game UI.png</string>
        </dict>
    </dict>
</plist>
