<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Batoids_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{150,262}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{611,1},{150,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Batoids_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{150,268}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{1,823},{150,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Batoids_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{150,270}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{1,279},{150,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Batoids_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{150,270}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{155,1},{150,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Batoids_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{150,266}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{459,1},{150,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Batoids_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{150,260}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{763,1},{150,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Batoids_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{150,254}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{153,685},{150,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Batoids_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{150,248}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{305,677},{150,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Batoids_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{150,240}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{153,941},{150,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Batoids_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{150,234}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{611,265},{150,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Batoids_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{150,228}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{457,977},{150,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Batoids_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{150,220}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{759,565},{150,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Batoids_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{150,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{991,415},{150,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Batoids_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{150,208}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{759,717},{150,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Batoids_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{150,204}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{607,743},{150,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Batoids_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{150,200}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{761,869},{150,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Batoids_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{150,198}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{1009,263},{150,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Batoids_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{150,198}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{913,871},{150,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Batoids_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{150,202}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{609,949},{150,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Batoids_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{150,208}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{969,719},{150,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Batoids_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{150,218}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{981,567},{150,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Batoids_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{150,230}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{459,269},{150,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Batoids_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{150,240}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{457,501},{150,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Batoids_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{150,250}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{305,425},{150,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Batoids_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{150,258}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{153,425},{150,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Batoids_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{152,276}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{1,1},{152,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Batoids_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{150,270}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{1,551},{150,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Batoids_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{150,260}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{915,1},{150,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Batoids_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{150,244}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{305,927},{150,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Batoids_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{148,232}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{457,743},{148,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Batoids_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{148,226}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{763,415},{148,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Batoids_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{148,232}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{609,501},{148,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Batoids_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{150,244}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{763,263},{150,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Batoids_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{150,260}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{155,273},{150,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Batoids_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{150,270}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{307,1},{150,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Batoids.png</string>
            <key>size</key>
            <string>{1208,1208}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dea38c9d45d94650c05eb6ad2b93855f:ad522d77b3abcbd799bd8591e599b208:20c030b6c782e1593a3f35ca8536a7d9$</string>
            <key>textureFileName</key>
            <string>Batoids.png</string>
        </dict>
    </dict>
</plist>
