<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GBlackWhiteYellow_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{98,36}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{1,115},{98,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GBlackWhiteYellow_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{96,32}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{205,125},{96,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GBlackWhiteYellow_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{96,28}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{101,229},{96,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GBlackWhiteYellow_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{94,26}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{199,243},{94,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GBlackWhiteYellow_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{92,24}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{179,295},{92,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GBlackWhiteYellow_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{94,28}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{303,225},{94,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GBlackWhiteYellow_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-3}</string>
                <key>spriteSize</key>
                <string>{88,32}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{95,259},{88,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GBlackWhiteYellow_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{94,36}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{101,191},{94,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GBlackWhiteYellow_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{100,36}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{1,77},{100,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GBlackWhiteYellow_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{100,32}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{213,35},{100,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GBlackWhiteYellow_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{102,28}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{213,69},{102,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GBlackWhiteYellow_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{104,24}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{107,73},{104,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GBlackWhiteYellow_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{104,24}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{103,99},{104,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GBlackWhiteYellow_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{107,39},{104,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GBlackWhiteYellow_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{104,36}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{1,1},{104,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GBlackWhiteYellow_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{104,36}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{1,39},{104,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GBlackWhiteYellow_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{104,36}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{107,1},{104,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GBlackWhiteYellow_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{213,1},{104,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GBlackWhiteYellow_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{104,24}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{209,99},{104,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GBlackWhiteYellow_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{104,22}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{185,271},{104,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GBlackWhiteYellow_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{102,24}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{199,217},{102,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GBlackWhiteYellow_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{100,32}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{1,153},{100,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GBlackWhiteYellow_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,0}</string>
                <key>spriteSize</key>
                <string>{82,36}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{95,293},{82,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GBlackWhiteYellow_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{92,36}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{1,257},{92,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GBlackWhiteYellow_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{100,32}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{35,153},{100,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GBlackWhiteYellow_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{102,30}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{69,153},{102,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GBlackWhiteYellow_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{98,28}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{303,125},{98,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GBlackWhiteYellow_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{96,26}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{203,189},{96,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GBlackWhiteYellow_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{98,28}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{203,159},{98,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GBlackWhiteYellow_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{102,30}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{101,125},{102,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GBlackWhiteYellow_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{100,32}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{101,157},{100,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GBlackWhiteYellow_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{92,36}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{1,295},{92,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GBlackWhiteyellow.png</string>
            <key>size</key>
            <string>{332,332}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dce1210827cf878c2cda6baed42d0ed4:b2f76ab8ea10888128216ac739d991c2:1c5ef35a6463002f9b63811de0f189c6$</string>
            <key>textureFileName</key>
            <string>GBlackWhiteyellow.png</string>
        </dict>
    </dict>
</plist>
