<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GClownTriggerfish_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{152,44}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{465,103},{152,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GClownTriggerfish_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{152,48}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{311,103},{152,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GClownTriggerfish_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{154,50}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{313,1},{154,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GClownTriggerfish_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{148,52}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{457,257},{148,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GClownTriggerfish_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{150,52}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{307,199},{150,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GClownTriggerfish_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{150,50}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{1,271},{150,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GClownTriggerfish_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{144,48}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{299,403},{144,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GClownTriggerfish_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{142,44}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{147,455},{142,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GClownTriggerfish_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{142,44}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{291,455},{142,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GClownTriggerfish_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{154,48}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{313,53},{154,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GClownTriggerfish_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{148,50}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{1,323},{148,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GClownTriggerfish_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{146,52}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{303,349},{146,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GClownTriggerfish_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{150,52}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{153,247},{150,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GClownTriggerfish_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{150,48}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{305,253},{150,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GClownTriggerfish_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{144,44}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{149,409},{144,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GClownTriggerfish_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{148,44}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{303,303},{148,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GClownTriggerfish_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{152,44}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{311,153},{152,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GClownTriggerfish_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{146,48}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{1,375},{146,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GClownTriggerfish_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{146,52}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{151,355},{146,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GClownTriggerfish_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{152,54}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{1,133},{152,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GClownTriggerfish_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{148,52}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{153,301},{148,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GClownTriggerfish_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{154,48}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{1,83},{154,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GClownTriggerfish_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,5}</string>
                <key>spriteSize</key>
                <string>{144,82}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{1,425},{144,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GClownTriggerfish_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,6}</string>
                <key>spriteSize</key>
                <string>{150,80}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{155,165},{150,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GClownTriggerfish_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,7}</string>
                <key>spriteSize</key>
                <string>{154,80}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{1,1},{154,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GClownTriggerfish_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,8}</string>
                <key>spriteSize</key>
                <string>{152,80}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{157,83},{152,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GClownTriggerfish_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,7}</string>
                <key>spriteSize</key>
                <string>{154,80}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{157,1},{154,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GClownTriggerfish_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,6}</string>
                <key>spriteSize</key>
                <string>{150,80}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{1,189},{150,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GClownTriggerfish.png</string>
            <key>size</key>
            <string>{510,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52eeeede3626b0964b0587bd8bf770f1:60b4e7d42ff7bc880e85c065bc1a0a7c:f875198baa4c90af9b2fca722cdedf39$</string>
            <key>textureFileName</key>
            <string>GClownTriggerfish.png</string>
        </dict>
    </dict>
</plist>
