<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GMermaid_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{402,154}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1137,249},{402,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMermaid_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{406,154}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{415,291},{406,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMermaid_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{410,154}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{805,455},{410,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMermaid_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,5}</string>
                <key>spriteSize</key>
                <string>{410,158}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{765,1283},{410,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMermaid_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,9}</string>
                <key>spriteSize</key>
                <string>{408,166}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{775,945},{408,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMermaid_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,11}</string>
                <key>spriteSize</key>
                <string>{398,172}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{555,1455},{398,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GMermaid_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,8}</string>
                <key>spriteSize</key>
                <string>{396,168}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1177,1139},{396,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMermaid_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,6}</string>
                <key>spriteSize</key>
                <string>{396,164}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1627,567},{396,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMermaid_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{398,160}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{729,1455},{398,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GMermaid_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{404,158}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1213,697},{404,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMermaid_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{404,154}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1209,857},{404,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMermaid_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,2}</string>
                <key>spriteSize</key>
                <string>{394,152}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1591,1041},{394,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMermaid_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,3}</string>
                <key>spriteSize</key>
                <string>{378,152}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{863,1861},{378,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMermaid_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,3}</string>
                <key>spriteSize</key>
                <string>{368,154}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1525,1839},{368,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMermaid_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,2}</string>
                <key>spriteSize</key>
                <string>{366,152}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{295,1821},{366,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GMermaid_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,3}</string>
                <key>spriteSize</key>
                <string>{386,154}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1571,1351},{386,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMermaid_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,3}</string>
                <key>spriteSize</key>
                <string>{394,154}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1575,1195},{394,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMermaid_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{400,154}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1615,885},{400,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMermaid_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{402,150}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1619,733},{402,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMermaid_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,5}</string>
                <key>spriteSize</key>
                <string>{406,152}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1537,413},{406,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMermaid_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,9}</string>
                <key>spriteSize</key>
                <string>{406,160}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{449,2013},{406,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMermaid_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,16}</string>
                <key>spriteSize</key>
                <string>{400,168}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{775,1113},{400,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMermaid_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,21}</string>
                <key>spriteSize</key>
                <string>{394,170}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1199,1437},{394,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GMermaid_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,27}</string>
                <key>spriteSize</key>
                <string>{388,172}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1371,1437},{388,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GMermaid_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,30}</string>
                <key>spriteSize</key>
                <string>{384,168}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1545,1507},{384,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMermaid_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,32}</string>
                <key>spriteSize</key>
                <string>{380,160}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1545,1677},{380,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMermaid_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,32}</string>
                <key>spriteSize</key>
                <string>{376,150}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1953,1},{376,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GMermaid_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,32}</string>
                <key>spriteSize</key>
                <string>{370,138}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1525,1995},{370,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMermaid_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,35}</string>
                <key>spriteSize</key>
                <string>{364,140}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{413,1455},{364,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GMermaid_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,36}</string>
                <key>spriteSize</key>
                <string>{358,144}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1,1829},{358,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GMermaid_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,37}</string>
                <key>spriteSize</key>
                <string>{352,146}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{147,1829},{352,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GMermaid_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,38}</string>
                <key>spriteSize</key>
                <string>{338,148}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1243,1833},{338,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GMermaid_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,39}</string>
                <key>spriteSize</key>
                <string>{328,150}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{2023,763},{328,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GMermaid_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,34}</string>
                <key>spriteSize</key>
                <string>{308,164}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{823,289},{308,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMermaid_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,30}</string>
                <key>spriteSize</key>
                <string>{298,176}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1959,1383},{298,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GMermaid_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,25}</string>
                <key>spriteSize</key>
                <string>{288,184}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1987,1093},{288,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GMermaid_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,25}</string>
                <key>spriteSize</key>
                <string>{290,184}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1897,1839},{290,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMermaid_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,29}</string>
                <key>spriteSize</key>
                <string>{304,172}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{857,2015},{304,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMermaid_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,35}</string>
                <key>spriteSize</key>
                <string>{318,160}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1217,405},{318,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMermaid_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,45}</string>
                <key>spriteSize</key>
                <string>{344,134}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{277,1475},{344,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GMermaid_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{45,47}</string>
                <key>spriteSize</key>
                <string>{360,130}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1393,1827},{360,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GMermaid_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{53,45}</string>
                <key>spriteSize</key>
                <string>{382,126}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{2025,379},{382,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GMermaid_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{57,43}</string>
                <key>spriteSize</key>
                <string>{392,126}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1177,1309},{392,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMermaid_00043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{61,40}</string>
                <key>spriteSize</key>
                <string>{404,124}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1185,1013},{404,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMermaid_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{63,40}</string>
                <key>spriteSize</key>
                <string>{408,128}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1217,567},{408,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMermaid_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{65,44}</string>
                <key>spriteSize</key>
                <string>{412,146}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1051,1443},{412,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GMermaid_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{66,46}</string>
                <key>spriteSize</key>
                <string>{412,156}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{449,1855},{412,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMermaid_00047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{65,46}</string>
                <key>spriteSize</key>
                <string>{414,168}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{359,1113},{414,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMermaid_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{65,43}</string>
                <key>spriteSize</key>
                <string>{414,172}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{359,939},{414,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMermaid_00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{63,36}</string>
                <key>spriteSize</key>
                <string>{414,170}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{349,1283},{414,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMermaid_00050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{62,30}</string>
                <key>spriteSize</key>
                <string>{416,166}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{791,777},{416,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMermaid_00051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{64,19}</string>
                <key>spriteSize</key>
                <string>{416,158}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{891,1443},{416,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GMermaid_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{65,12}</string>
                <key>spriteSize</key>
                <string>{418,154}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{371,783},{418,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMermaid_00053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{68,8}</string>
                <key>spriteSize</key>
                <string>{420,160}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{383,447},{420,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMermaid_00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{70,6}</string>
                <key>spriteSize</key>
                <string>{420,164}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{791,611},{420,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMermaid_00055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{69,3}</string>
                <key>spriteSize</key>
                <string>{418,172}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{371,609},{418,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMermaid_00056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{66,-3}</string>
                <key>spriteSize</key>
                <string>{410,184}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1541,227},{410,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMermaid_00057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{57,-20}</string>
                <key>spriteSize</key>
                <string>{392,224}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1513,1},{392,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMermaid_00058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,-30}</string>
                <key>spriteSize</key>
                <string>{374,246}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1137,1},{374,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMermaid_00059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-38}</string>
                <key>spriteSize</key>
                <string>{352,274}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1,1475},{352,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GMermaid_00060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,-38}</string>
                <key>spriteSize</key>
                <string>{344,286}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{791,1},{344,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMermaid_00061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{45,-31}</string>
                <key>spriteSize</key>
                <string>{346,294}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1,1179},{346,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMermaid_00062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{52,-24}</string>
                <key>spriteSize</key>
                <string>{356,296}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1,881},{356,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMermaid_00063.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{64,-10}</string>
                <key>spriteSize</key>
                <string>{368,290}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1,589},{368,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMermaid_00064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{70,0}</string>
                <key>spriteSize</key>
                <string>{374,288}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{415,1},{374,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMermaid_00065.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{77,15}</string>
                <key>spriteSize</key>
                <string>{380,286}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1,301},{380,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMermaid_00066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{97,23}</string>
                <key>spriteSize</key>
                <string>{412,298}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1,1},{412,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GMermaid.png</string>
            <key>size</key>
            <string>{2188,2188}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca229ca741e7475264230baa13fed174:76f6ba6e3c4d05802440c4355e533132:b5d90658f021859663a97862f0dcf834$</string>
            <key>textureFileName</key>
            <string>GMermaid.png</string>
        </dict>
    </dict>
</plist>
