<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GOctopus_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{132,234}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{545,477},{132,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-9}</string>
                <key>spriteSize</key>
                <string>{106,222}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{763,247},{106,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-8}</string>
                <key>spriteSize</key>
                <string>{112,170}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{921,383},{112,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-8}</string>
                <key>spriteSize</key>
                <string>{120,156}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{445,793},{120,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-10}</string>
                <key>spriteSize</key>
                <string>{136,178}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{567,783},{136,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GOctopus_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-7}</string>
                <key>spriteSize</key>
                <string>{174,158}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{269,793},{174,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,0}</string>
                <key>spriteSize</key>
                <string>{190,72}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{269,953},{190,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-2}</string>
                <key>spriteSize</key>
                <string>{188,64}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{567,921},{188,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-1}</string>
                <key>spriteSize</key>
                <string>{188,66}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{761,713},{188,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GOctopus_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,0}</string>
                <key>spriteSize</key>
                <string>{192,68}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{897,727},{192,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GOctopus_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,0}</string>
                <key>spriteSize</key>
                <string>{194,68}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{967,727},{194,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GOctopus_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-1}</string>
                <key>spriteSize</key>
                <string>{200,66}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{829,695},{200,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GOctopus_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-4}</string>
                <key>spriteSize</key>
                <string>{204,60}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{757,979},{204,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-6}</string>
                <key>spriteSize</key>
                <string>{208,56}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{757,921},{208,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-6}</string>
                <key>spriteSize</key>
                <string>{212,58}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{273,733},{212,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,-6}</string>
                <key>spriteSize</key>
                <string>{214,68}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{545,713},{214,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-8}</string>
                <key>spriteSize</key>
                <string>{192,180}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{817,1},{192,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{132,234}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{679,477},{132,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-9}</string>
                <key>spriteSize</key>
                <string>{106,222}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{813,471},{106,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-8}</string>
                <key>spriteSize</key>
                <string>{112,170}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{921,555},{112,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-5}</string>
                <key>spriteSize</key>
                <string>{198,162}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{871,183},{198,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GOctopus_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-4}</string>
                <key>spriteSize</key>
                <string>{216,228}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{545,247},{216,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-2}</string>
                <key>spriteSize</key>
                <string>{266,246}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{1,745},{266,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-2}</string>
                <key>spriteSize</key>
                <string>{270,246}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{1,1},{270,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-2}</string>
                <key>spriteSize</key>
                <string>{270,246}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{1,249},{270,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-2}</string>
                <key>spriteSize</key>
                <string>{270,246}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{273,1},{270,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-2}</string>
                <key>spriteSize</key>
                <string>{270,246}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{1,497},{270,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-2}</string>
                <key>spriteSize</key>
                <string>{270,246}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{273,249},{270,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-3}</string>
                <key>spriteSize</key>
                <string>{270,244}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{545,1},{270,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-3}</string>
                <key>spriteSize</key>
                <string>{270,234}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{273,497},{270,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GOctopus.png</string>
            <key>size</key>
            <string>{1040,1040}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51440000c40a3fc08ec9df18ee7ad327:4d141aaaeb0360770595f0e888b7f9c2:75eeaaf4a2624debf69a013aa1ea966b$</string>
            <key>textureFileName</key>
            <string>GOctopus.png</string>
        </dict>
    </dict>
</plist>
