<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GSwordfish_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-25}</string>
                <key>spriteSize</key>
                <string>{406,116}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{429,225},{406,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GSwordfish_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-25}</string>
                <key>spriteSize</key>
                <string>{406,114}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{429,343},{406,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GSwordfish_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-25}</string>
                <key>spriteSize</key>
                <string>{408,112}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{373,459},{408,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GSwordfish_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-26}</string>
                <key>spriteSize</key>
                <string>{408,108}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{405,809},{408,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GSwordfish_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-27}</string>
                <key>spriteSize</key>
                <string>{410,104}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{817,669},{410,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GSwordfish_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-27}</string>
                <key>spriteSize</key>
                <string>{406,104}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1225,775},{406,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GSwordfish_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-28}</string>
                <key>spriteSize</key>
                <string>{412,104}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1241,263},{412,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GSwordfish_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-28}</string>
                <key>spriteSize</key>
                <string>{408,106}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{815,889},{408,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GSwordfish_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-29}</string>
                <key>spriteSize</key>
                <string>{406,110}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{165,919},{406,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GSwordfish_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-29}</string>
                <key>spriteSize</key>
                <string>{408,112}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{815,775},{408,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GSwordfish_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-30}</string>
                <key>spriteSize</key>
                <string>{406,114}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{163,1031},{406,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GSwordfish_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-30}</string>
                <key>spriteSize</key>
                <string>{410,116}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{405,573},{410,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GSwordfish_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-30}</string>
                <key>spriteSize</key>
                <string>{406,116}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{405,691},{406,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GSwordfish_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-30}</string>
                <key>spriteSize</key>
                <string>{404,114}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{163,1147},{404,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GSwordfish_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-31}</string>
                <key>spriteSize</key>
                <string>{400,114}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{573,919},{400,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GSwordfish_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-33}</string>
                <key>spriteSize</key>
                <string>{402,116}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{837,327},{402,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GSwordfish_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-32}</string>
                <key>spriteSize</key>
                <string>{398,114}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{689,919},{398,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GSwordfish_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-32}</string>
                <key>spriteSize</key>
                <string>{398,112}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{805,1107},{398,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GSwordfish_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-27}</string>
                <key>spriteSize</key>
                <string>{402,106}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{837,445},{402,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GSwordfish_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-26}</string>
                <key>spriteSize</key>
                <string>{404,106}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{805,1221},{404,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GSwordfish_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-26}</string>
                <key>spriteSize</key>
                <string>{404,108}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{805,997},{404,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GSwordfish_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-25}</string>
                <key>spriteSize</key>
                <string>{408,114}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{817,553},{408,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GSwordfish_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-84,-49}</string>
                <key>spriteSize</key>
                <string>{260,156}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1189,1},{260,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GSwordfish_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,-50}</string>
                <key>spriteSize</key>
                <string>{308,160}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1,961},{308,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GSwordfish_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-49}</string>
                <key>spriteSize</key>
                <string>{386,162}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{801,1},{386,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GSwordfish_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-39}</string>
                <key>spriteSize</key>
                <string>{426,172}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1,1},{426,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GSwordfish_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-2}</string>
                <key>spriteSize</key>
                <string>{370,222}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{429,1},{370,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GSwordfish_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-59,15}</string>
                <key>spriteSize</key>
                <string>{306,238}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{165,573},{306,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GSwordfish_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-2}</string>
                <key>spriteSize</key>
                <string>{370,222}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1,349},{370,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GSwordfish_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-39}</string>
                <key>spriteSize</key>
                <string>{426,172}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1,175},{426,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GSwordfish_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-49}</string>
                <key>spriteSize</key>
                <string>{386,162}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1,573},{386,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GSwordfish_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,-50}</string>
                <key>spriteSize</key>
                <string>{308,160}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{837,165},{308,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GSwordfish.png</string>
            <key>size</key>
            <string>{1346,1346}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95466d13daff807ec5cf90f20b0664ec:6bc42ea9e824fc504f633ecc20746735:ffdc0596422d4f09f4da6ceb75c92bc6$</string>
            <key>textureFileName</key>
            <string>GSwordfish.png</string>
        </dict>
    </dict>
</plist>
