<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mermaid_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{396,152}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{803,923},{396,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{398,152}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{403,779},{398,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{400,154}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1,653},{400,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{402,156}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{415,493},{402,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,6}</string>
                <key>spriteSize</key>
                <string>{398,166}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{809,755},{398,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,7}</string>
                <key>spriteSize</key>
                <string>{388,170}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1191,1181},{388,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,3}</string>
                <key>spriteSize</key>
                <string>{386,166}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1,1309},{386,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{386,162}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{389,1411},{386,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{390,158}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1607,933},{390,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{396,158}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1209,847},{396,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{402,152}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1,499},{402,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{394,152}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1597,1093},{394,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-2}</string>
                <key>spriteSize</key>
                <string>{380,152}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{777,1427},{380,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-1}</string>
                <key>spriteSize</key>
                <string>{368,152}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1,1783},{368,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-2}</string>
                <key>spriteSize</key>
                <string>{366,152}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1143,1641},{366,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-1}</string>
                <key>spriteSize</key>
                <string>{384,152}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1,1477},{384,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{390,152}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{399,1087},{390,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{396,152}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{399,933},{396,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{396,152}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1,979},{396,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{400,152}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1223,693},{400,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,4}</string>
                <key>spriteSize</key>
                <string>{402,150}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{819,603},{402,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,9}</string>
                <key>spriteSize</key>
                <string>{402,160}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1241,531},{402,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,15}</string>
                <key>spriteSize</key>
                <string>{396,168}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1,809},{396,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,20}</string>
                <key>spriteSize</key>
                <string>{394,172}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1201,1007},{394,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,27}</string>
                <key>spriteSize</key>
                <string>{388,174}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1,1133},{388,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,29}</string>
                <key>spriteSize</key>
                <string>{386,168}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{391,1241},{386,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,32}</string>
                <key>spriteSize</key>
                <string>{378,160}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{387,1575},{378,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,31}</string>
                <key>spriteSize</key>
                <string>{376,150}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1,1631},{376,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,31}</string>
                <key>spriteSize</key>
                <string>{370,140}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1625,791},{370,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,34}</string>
                <key>spriteSize</key>
                <string>{364,140}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1019,1871},{364,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mermaid_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,36}</string>
                <key>spriteSize</key>
                <string>{358,144}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1161,1931},{358,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mermaid_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,36}</string>
                <key>spriteSize</key>
                <string>{352,144}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{299,1985},{352,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mermaid_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,38}</string>
                <key>spriteSize</key>
                <string>{338,148}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1307,1931},{338,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mermaid_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,39}</string>
                <key>spriteSize</key>
                <string>{326,150}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1457,1931},{326,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mermaid_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,34}</string>
                <key>spriteSize</key>
                <string>{308,164}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1683,1},{308,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,29}</string>
                <key>spriteSize</key>
                <string>{298,176}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1609,1799},{298,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,24}</string>
                <key>spriteSize</key>
                <string>{290,184}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1609,1977},{290,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mermaid_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,24}</string>
                <key>spriteSize</key>
                <string>{290,184}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1795,1977},{290,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mermaid_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,29}</string>
                <key>spriteSize</key>
                <string>{304,172}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1683,167},{304,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,34}</string>
                <key>spriteSize</key>
                <string>{318,160}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1679,341},{318,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,44}</string>
                <key>spriteSize</key>
                <string>{344,134}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1161,1795},{344,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,45}</string>
                <key>spriteSize</key>
                <string>{360,128}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1511,1669},{360,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{52,44}</string>
                <key>spriteSize</key>
                <string>{382,126}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1581,1247},{382,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{56,42}</string>
                <key>spriteSize</key>
                <string>{392,124}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{797,1077},{392,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{60,40}</string>
                <key>spriteSize</key>
                <string>{402,126}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{405,651},{402,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{62,39}</string>
                <key>spriteSize</key>
                <string>{406,128}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{833,473},{406,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{64,44}</string>
                <key>spriteSize</key>
                <string>{412,146}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{833,325},{412,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{65,45}</string>
                <key>spriteSize</key>
                <string>{412,156}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1,341},{412,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{64,45}</string>
                <key>spriteSize</key>
                <string>{414,168}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{417,323},{414,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{63,43}</string>
                <key>spriteSize</key>
                <string>{414,172}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1,167},{414,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{61,36}</string>
                <key>spriteSize</key>
                <string>{416,170}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1265,1},{416,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{61,30}</string>
                <key>spriteSize</key>
                <string>{416,166}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{845,157},{416,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{62,18}</string>
                <key>spriteSize</key>
                <string>{416,158}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{423,163},{416,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{63,11}</string>
                <key>spriteSize</key>
                <string>{418,154}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{845,1},{418,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{67,8}</string>
                <key>spriteSize</key>
                <string>{420,160}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{423,1},{420,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{69,6}</string>
                <key>spriteSize</key>
                <string>{420,164}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1,1},{420,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{70,2}</string>
                <key>spriteSize</key>
                <string>{414,170}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1263,173},{414,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{67,-4}</string>
                <key>spriteSize</key>
                <string>{406,184}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1247,345},{406,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{58,-21}</string>
                <key>spriteSize</key>
                <string>{386,222}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{791,1203},{386,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{52,-31}</string>
                <key>spriteSize</key>
                <string>{368,246}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{379,1737},{368,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,-38}</string>
                <key>spriteSize</key>
                <string>{346,276}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{445,1985},{346,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mermaid_00061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,-39}</string>
                <key>spriteSize</key>
                <string>{340,286}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1655,503},{340,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{45,-33}</string>
                <key>spriteSize</key>
                <string>{344,294}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{723,1985},{344,294}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mermaid_00063.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{52,-25}</string>
                <key>spriteSize</key>
                <string>{352,296}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1,1985},{352,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mermaid_00064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{63,-11}</string>
                <key>spriteSize</key>
                <string>{366,292}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1561,1375},{366,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00065.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{69,0}</string>
                <key>spriteSize</key>
                <string>{374,288}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{767,1581},{374,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{76,13}</string>
                <key>spriteSize</key>
                <string>{380,286}</string>
                <key>spriteSourceSize</key>
                <string>{616,420}</string>
                <key>textureRect</key>
                <string>{{1179,1353},{380,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Mermaid.png</string>
            <key>size</key>
            <string>{1998,2338}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebb08012ac45ac4e65209235f0810c20:f6b54ace63a8fef6bafb62d5045bbc13:c920391b653cdddbe6bea173a2b8e194$</string>
            <key>textureFileName</key>
            <string>Mermaid.png</string>
        </dict>
    </dict>
</plist>
