<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Shark_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{492,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{991,1},{492,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{492,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{1,801},{492,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shark_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{492,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{985,143},{492,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{492,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{1479,143},{492,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shark_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{494,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{495,1},{494,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{488,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{495,291},{488,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,5}</string>
                <key>spriteSize</key>
                <string>{486,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{919,995},{486,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{490,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{291,305},{490,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shark_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{492,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{985,285},{492,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{492,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{985,427},{492,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{492,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{143,795},{492,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shark_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{492,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{285,797},{492,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shark_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{492,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{433,433},{492,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,5}</string>
                <key>spriteSize</key>
                <string>{494,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{1,305},{494,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shark_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{492,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{433,575},{492,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{490,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{427,859},{490,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{492,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{927,569},{492,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{492,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{433,717},{492,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{488,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{927,853},{488,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{492,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{927,711},{492,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{490,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{427,1001},{490,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{490,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{427,1143},{490,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{492,150}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{492,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{488,146}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{495,143},{488,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,3}</string>
                <key>spriteSize</key>
                <string>{468,142}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{919,1137},{468,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,7}</string>
                <key>spriteSize</key>
                <string>{442,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{919,1281},{442,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,9}</string>
                <key>spriteSize</key>
                <string>{414,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{395,1429},{414,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,10}</string>
                <key>spriteSize</key>
                <string>{392,144}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{1,1295},{392,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,11}</string>
                <key>spriteSize</key>
                <string>{386,146}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{1421,637},{386,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shark_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,10}</string>
                <key>spriteSize</key>
                <string>{392,144}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{1,1441},{392,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,9}</string>
                <key>spriteSize</key>
                <string>{414,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{1407,1025},{414,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shark_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,7}</string>
                <key>spriteSize</key>
                <string>{442,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{897,1423},{442,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,3}</string>
                <key>spriteSize</key>
                <string>{468,142}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{427,1285},{468,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{488,146}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{143,305},{488,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shark_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{492,150}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{1,153},{492,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Shark.png</string>
            <key>size</key>
            <string>{1620,1620}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1acc4fbd8406020ecd0d1583c03d9da2:32002dbda08508b88e4c854e65221301:60d983adbb792b5cac60ce5d0a9353ed$</string>
            <key>textureFileName</key>
            <string>Shark.png</string>
        </dict>
    </dict>
</plist>
