<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ThreadfinButterflyfish_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{124,52}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{73,361},{124,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ThreadfinButterflyfish_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{124,50}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{156,261},{124,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ThreadfinButterflyfish_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,48}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{282,189},{124,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ThreadfinButterflyfish_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{124,48}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{390,153},{124,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ThreadfinButterflyfish_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{124,48}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{332,279},{124,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ThreadfinButterflyfish_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{124,52}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{309,329},{124,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ThreadfinButterflyfish_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,54}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{458,207},{124,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ThreadfinButterflyfish_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{124,54}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{127,313},{124,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ThreadfinButterflyfish_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,56}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{1,487},{124,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ThreadfinButterflyfish_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,54}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{127,369},{124,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ThreadfinButterflyfish_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{124,52}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{309,383},{124,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ThreadfinButterflyfish_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{124,52}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{435,333},{124,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ThreadfinButterflyfish_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{124,52}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{309,437},{124,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ThreadfinButterflyfish_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,54}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{127,425},{124,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ThreadfinButterflyfish_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,56}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{332,153},{124,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ThreadfinButterflyfish_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{124,56}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{440,81},{124,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ThreadfinButterflyfish_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{124,54}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{127,481},{124,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ThreadfinButterflyfish_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,54}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{253,315},{124,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ThreadfinButterflyfish_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{124,48}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{498,81},{124,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ThreadfinButterflyfish_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{124,48}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{489,333},{124,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ThreadfinButterflyfish_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{124,48}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{253,491},{124,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ThreadfinButterflyfish_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{124,50}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{379,491},{124,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ThreadfinButterflyfish_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,9}</string>
                <key>spriteSize</key>
                <string>{120,72}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{313,79},{120,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ThreadfinButterflyfish_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{124,70}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{156,189},{124,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ThreadfinButterflyfish_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-7}</string>
                <key>spriteSize</key>
                <string>{120,76}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{313,1},{120,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ThreadfinButterflyfish_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-12}</string>
                <key>spriteSize</key>
                <string>{110,78}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{435,1},{110,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ThreadfinButterflyfish_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-7}</string>
                <key>spriteSize</key>
                <string>{120,76}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{1,283},{120,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ThreadfinButterflyfish_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{124,70}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{1,361},{124,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ThreadfinButterflyfish_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,12}</string>
                <key>spriteSize</key>
                <string>{151,92}</string>
                <key>spriteSourceSize</key>
                <string>{157,126}</string>
                <key>textureRect</key>
                <string>{{158,95},{151,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ThreadfinButterflyfish_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,12}</string>
                <key>spriteSize</key>
                <string>{153,92}</string>
                <key>spriteSourceSize</key>
                <string>{157,126}</string>
                <key>textureRect</key>
                <string>{{158,1},{153,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ThreadfinButterflyfish_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,12}</string>
                <key>spriteSize</key>
                <string>{155,92}</string>
                <key>spriteSourceSize</key>
                <string>{157,126}</string>
                <key>textureRect</key>
                <string>{{1,1},{155,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ThreadfinButterflyfish_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,12}</string>
                <key>spriteSize</key>
                <string>{155,92}</string>
                <key>spriteSourceSize</key>
                <string>{157,126}</string>
                <key>textureRect</key>
                <string>{{1,95},{155,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ThreadfinButterflyfish_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,12}</string>
                <key>spriteSize</key>
                <string>{153,92}</string>
                <key>spriteSourceSize</key>
                <string>{157,126}</string>
                <key>textureRect</key>
                <string>{{1,189},{153,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ThreadfinButterflyfish.png</string>
            <key>size</key>
            <string>{547,547}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8bfb90f495dda0c608ee38a76457e7f2:961f1a7e6c9c0f5f93f7ac392b4a61f4:77e0976c28c017e2bceed199536b87cc$</string>
            <key>textureFileName</key>
            <string>ThreadfinButterflyfish.png</string>
        </dict>
    </dict>
</plist>
