<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bullet4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,66}</string>
                <key>spriteSourceSize</key>
                <string>{22,66}</string>
                <key>textureRect</key>
                <string>{{1,1315},{22,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Cannon4_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-4}</string>
                <key>spriteSize</key>
                <string>{116,150}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{1,859},{116,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon4_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-8}</string>
                <key>spriteSize</key>
                <string>{120,144}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{1,421},{120,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon4_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-11}</string>
                <key>spriteSize</key>
                <string>{124,138}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{1,1},{124,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon4_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-4}</string>
                <key>spriteSize</key>
                <string>{116,150}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{1,1011},{116,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon4_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-8}</string>
                <key>spriteSize</key>
                <string>{120,144}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{1,567},{120,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon4_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-11}</string>
                <key>spriteSize</key>
                <string>{124,138}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{1,141},{124,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon4_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-4}</string>
                <key>spriteSize</key>
                <string>{116,150}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{1,1163},{116,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon4_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-8}</string>
                <key>spriteSize</key>
                <string>{120,144}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{1,713},{120,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon4_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-11}</string>
                <key>spriteSize</key>
                <string>{124,138}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{1,281},{124,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Cannon4.png</string>
            <key>size</key>
            <string>{126,1338}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6908048c79cae8a90414c1bb94e5f881:e785a1984c80de0df5adba8a78bb4f2d:75eb83df4dcedde27a0a97751584bbfe$</string>
            <key>textureFileName</key>
            <string>Cannon4.png</string>
        </dict>
    </dict>
</plist>
