<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bullet1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,28}</string>
                <key>spriteSourceSize</key>
                <string>{15,28}</string>
                <key>textureRect</key>
                <string>{{77,385},{15,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Cannon1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{74,122}</string>
                <key>spriteSourceSize</key>
                <string>{200,146}</string>
                <key>textureRect</key>
                <string>{{1,269},{74,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{72,128}</string>
                <key>spriteSourceSize</key>
                <string>{200,146}</string>
                <key>textureRect</key>
                <string>{{73,1},{72,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{70,132}</string>
                <key>spriteSourceSize</key>
                <string>{200,146}</string>
                <key>textureRect</key>
                <string>{{1,1},{70,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{72,128}</string>
                <key>spriteSourceSize</key>
                <string>{200,146}</string>
                <key>textureRect</key>
                <string>{{73,131},{72,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{74,122}</string>
                <key>spriteSourceSize</key>
                <string>{200,146}</string>
                <key>textureRect</key>
                <string>{{77,261},{74,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{74,122}</string>
                <key>spriteSourceSize</key>
                <string>{200,146}</string>
                <key>textureRect</key>
                <string>{{153,261},{74,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{72,128}</string>
                <key>spriteSourceSize</key>
                <string>{200,146}</string>
                <key>textureRect</key>
                <string>{{147,1},{72,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{70,132}</string>
                <key>spriteSourceSize</key>
                <string>{200,146}</string>
                <key>textureRect</key>
                <string>{{1,135},{70,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{72,128}</string>
                <key>spriteSourceSize</key>
                <string>{200,146}</string>
                <key>textureRect</key>
                <string>{{147,131},{72,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Cannon1.png</string>
            <key>size</key>
            <string>{228,401}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d6195010969308ef30957d70d3d649e1:02588e4edaff8f499026fca04fa6165f:3b36d7b2d3207e6d67174f9962d7e8b6$</string>
            <key>textureFileName</key>
            <string>Cannon1.png</string>
        </dict>
    </dict>
</plist>
