<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bullet3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,44}</string>
                <key>spriteSourceSize</key>
                <string>{29,44}</string>
                <key>textureRect</key>
                <string>{{1,1259},{29,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Cannon3_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,19}</string>
                <key>spriteSize</key>
                <string>{120,136}</string>
                <key>spriteSourceSize</key>
                <string>{120,184}</string>
                <key>textureRect</key>
                <string>{{1,845},{120,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon3_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,20}</string>
                <key>spriteSize</key>
                <string>{120,138}</string>
                <key>spriteSourceSize</key>
                <string>{120,184}</string>
                <key>textureRect</key>
                <string>{{1,285},{120,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon3_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,21}</string>
                <key>spriteSize</key>
                <string>{120,140}</string>
                <key>spriteSourceSize</key>
                <string>{120,184}</string>
                <key>textureRect</key>
                <string>{{1,1},{120,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon3_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,20}</string>
                <key>spriteSize</key>
                <string>{120,138}</string>
                <key>spriteSourceSize</key>
                <string>{120,184}</string>
                <key>textureRect</key>
                <string>{{1,425},{120,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon3_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,19}</string>
                <key>spriteSize</key>
                <string>{120,136}</string>
                <key>spriteSourceSize</key>
                <string>{120,184}</string>
                <key>textureRect</key>
                <string>{{1,983},{120,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon3_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,19}</string>
                <key>spriteSize</key>
                <string>{120,136}</string>
                <key>spriteSourceSize</key>
                <string>{120,184}</string>
                <key>textureRect</key>
                <string>{{1,1121},{120,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon3_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,20}</string>
                <key>spriteSize</key>
                <string>{120,138}</string>
                <key>spriteSourceSize</key>
                <string>{120,184}</string>
                <key>textureRect</key>
                <string>{{1,565},{120,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon3_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,21}</string>
                <key>spriteSize</key>
                <string>{120,140}</string>
                <key>spriteSourceSize</key>
                <string>{120,184}</string>
                <key>textureRect</key>
                <string>{{1,143},{120,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon3_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,20}</string>
                <key>spriteSize</key>
                <string>{120,138}</string>
                <key>spriteSourceSize</key>
                <string>{120,184}</string>
                <key>textureRect</key>
                <string>{{1,705},{120,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Cannon3.png</string>
            <key>size</key>
            <string>{122,1289}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70a2d652bbee99ea9ef8a87732101dc1:24c8f3dd1a4d8396612a867744275679:4650f8d430234cf44c6f91cc857a4f6a$</string>
            <key>textureFileName</key>
            <string>Cannon3.png</string>
        </dict>
    </dict>
</plist>
