<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bullet5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,66}</string>
                <key>spriteSourceSize</key>
                <string>{34,66}</string>
                <key>textureRect</key>
                <string>{{1,1225},{34,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Cannon5_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,20}</string>
                <key>spriteSize</key>
                <string>{106,130}</string>
                <key>spriteSourceSize</key>
                <string>{106,184}</string>
                <key>textureRect</key>
                <string>{{1,409},{106,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon5_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,22}</string>
                <key>spriteSize</key>
                <string>{106,134}</string>
                <key>spriteSourceSize</key>
                <string>{106,184}</string>
                <key>textureRect</key>
                <string>{{1,1},{106,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon5_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,23}</string>
                <key>spriteSize</key>
                <string>{104,138}</string>
                <key>spriteSourceSize</key>
                <string>{106,184}</string>
                <key>textureRect</key>
                <string>{{1,805},{104,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon5_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,20}</string>
                <key>spriteSize</key>
                <string>{106,130}</string>
                <key>spriteSourceSize</key>
                <string>{106,184}</string>
                <key>textureRect</key>
                <string>{{1,541},{106,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon5_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,22}</string>
                <key>spriteSize</key>
                <string>{106,134}</string>
                <key>spriteSourceSize</key>
                <string>{106,184}</string>
                <key>textureRect</key>
                <string>{{1,137},{106,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon5_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,23}</string>
                <key>spriteSize</key>
                <string>{104,138}</string>
                <key>spriteSourceSize</key>
                <string>{106,184}</string>
                <key>textureRect</key>
                <string>{{1,945},{104,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon5_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,20}</string>
                <key>spriteSize</key>
                <string>{106,130}</string>
                <key>spriteSourceSize</key>
                <string>{106,184}</string>
                <key>textureRect</key>
                <string>{{1,673},{106,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon5_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,22}</string>
                <key>spriteSize</key>
                <string>{106,134}</string>
                <key>spriteSourceSize</key>
                <string>{106,184}</string>
                <key>textureRect</key>
                <string>{{1,273},{106,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon5_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,23}</string>
                <key>spriteSize</key>
                <string>{104,138}</string>
                <key>spriteSourceSize</key>
                <string>{106,184}</string>
                <key>textureRect</key>
                <string>{{1,1085},{104,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Cannon5.png</string>
            <key>size</key>
            <string>{108,1260}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28114ef169711de834ddb0bc0f341661:8c86cda34694d66698dcad5a2fcf0bcd:a0d5fa12dfd3bda453992a38d73cdcbd$</string>
            <key>textureFileName</key>
            <string>Cannon5.png</string>
        </dict>
    </dict>
</plist>
