<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bullet1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,28}</string>
                <key>spriteSourceSize</key>
                <string>{15,28}</string>
                <key>textureRect</key>
                <string>{{61,61},{15,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon1_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{58,96}</string>
                <key>spriteSourceSize</key>
                <string>{58,128}</string>
                <key>textureRect</key>
                <string>{{105,61},{58,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon1_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{58,102}</string>
                <key>spriteSourceSize</key>
                <string>{58,128}</string>
                <key>textureRect</key>
                <string>{{1,109},{58,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Cannon1_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{58,106}</string>
                <key>spriteSourceSize</key>
                <string>{58,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{58,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon1_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{58,102}</string>
                <key>spriteSourceSize</key>
                <string>{58,128}</string>
                <key>textureRect</key>
                <string>{{61,1},{58,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Cannon1.png</string>
            <key>size</key>
            <string>{168,168}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8babfe3f0be091f6245b51fb57db9963:844b8e5d21cf18ed793dd9cb368e061a:3b36d7b2d3207e6d67174f9962d7e8b6$</string>
            <key>textureFileName</key>
            <string>Cannon1.png</string>
        </dict>
    </dict>
</plist>
