<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bullet3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,44}</string>
                <key>spriteSourceSize</key>
                <string>{29,44}</string>
                <key>textureRect</key>
                <string>{{1,1259},{29,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Cannon3_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{124,136}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1,1},{124,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon3_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{122,138}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1,415},{122,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon3_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{120,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1,975},{120,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon3_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{122,138}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1,555},{122,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon3_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{124,136}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1,139},{124,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon3_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{124,136}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1,277},{124,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon3_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{122,138}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1,695},{122,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon3_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{120,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1,1117},{120,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon3_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{122,138}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1,835},{122,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Cannon3.png</string>
            <key>size</key>
            <string>{126,1289}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:acb63611c85763b55821483464a366dd:93bafdfac9153f154b59f0aee58cfa44:4650f8d430234cf44c6f91cc857a4f6a$</string>
            <key>textureFileName</key>
            <string>Cannon3.png</string>
        </dict>
    </dict>
</plist>
