<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bullet2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,40}</string>
                <key>spriteSourceSize</key>
                <string>{16,40}</string>
                <key>textureRect</key>
                <string>{{1,1333},{16,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Cannon2_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{116,142}</string>
                <key>spriteSourceSize</key>
                <string>{252,166}</string>
                <key>textureRect</key>
                <string>{{1,1},{116,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{114,146}</string>
                <key>spriteSourceSize</key>
                <string>{252,166}</string>
                <key>textureRect</key>
                <string>{{1,433},{114,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,3}</string>
                <key>spriteSize</key>
                <string>{110,152}</string>
                <key>spriteSourceSize</key>
                <string>{252,166}</string>
                <key>textureRect</key>
                <string>{{1,1025},{110,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{114,146}</string>
                <key>spriteSourceSize</key>
                <string>{252,166}</string>
                <key>textureRect</key>
                <string>{{1,581},{114,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{116,142}</string>
                <key>spriteSourceSize</key>
                <string>{252,166}</string>
                <key>textureRect</key>
                <string>{{1,145},{116,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{116,142}</string>
                <key>spriteSourceSize</key>
                <string>{252,166}</string>
                <key>textureRect</key>
                <string>{{1,289},{116,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{114,146}</string>
                <key>spriteSourceSize</key>
                <string>{252,166}</string>
                <key>textureRect</key>
                <string>{{1,729},{114,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,3}</string>
                <key>spriteSize</key>
                <string>{110,152}</string>
                <key>spriteSourceSize</key>
                <string>{252,166}</string>
                <key>textureRect</key>
                <string>{{1,1179},{110,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon2_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{114,146}</string>
                <key>spriteSourceSize</key>
                <string>{252,166}</string>
                <key>textureRect</key>
                <string>{{1,877},{114,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Cannon2.png</string>
            <key>size</key>
            <string>{118,1350}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49fd60038eb546ed76bd5dc11912374b:c1534d490f9c9eb4fe59783fb658b348:21ee573310860283e8a9b9b2f8638f8d$</string>
            <key>textureFileName</key>
            <string>Cannon2.png</string>
        </dict>
    </dict>
</plist>
