<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bullet2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,40}</string>
                <key>spriteSourceSize</key>
                <string>{16,40}</string>
                <key>textureRect</key>
                <string>{{834,1},{16,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon2_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{91,113}</string>
                <key>spriteSourceSize</key>
                <string>{91,149}</string>
                <key>textureRect</key>
                <string>{{555,1},{91,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon2_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{91,117}</string>
                <key>spriteSourceSize</key>
                <string>{91,149}</string>
                <key>textureRect</key>
                <string>{{183,1},{91,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon2_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,14}</string>
                <key>spriteSize</key>
                <string>{89,121}</string>
                <key>spriteSourceSize</key>
                <string>{91,149}</string>
                <key>textureRect</key>
                <string>{{1,1},{89,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon2_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{91,117}</string>
                <key>spriteSourceSize</key>
                <string>{91,149}</string>
                <key>textureRect</key>
                <string>{{276,1},{91,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon2_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{91,113}</string>
                <key>spriteSourceSize</key>
                <string>{91,149}</string>
                <key>textureRect</key>
                <string>{{648,1},{91,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon2_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{91,113}</string>
                <key>spriteSourceSize</key>
                <string>{91,149}</string>
                <key>textureRect</key>
                <string>{{741,1},{91,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon2_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{91,117}</string>
                <key>spriteSourceSize</key>
                <string>{91,149}</string>
                <key>textureRect</key>
                <string>{{369,1},{91,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon2_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,14}</string>
                <key>spriteSize</key>
                <string>{89,121}</string>
                <key>spriteSourceSize</key>
                <string>{91,149}</string>
                <key>textureRect</key>
                <string>{{92,1},{89,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon2_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{91,117}</string>
                <key>spriteSourceSize</key>
                <string>{91,149}</string>
                <key>textureRect</key>
                <string>{{462,1},{91,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Cannon2.png</string>
            <key>size</key>
            <string>{851,123}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f3c8dad5ead096976a611c571a99185:b43cdbf25eed41b12d9049536364239d:21ee573310860283e8a9b9b2f8638f8d$</string>
            <key>textureFileName</key>
            <string>Cannon2.png</string>
        </dict>
    </dict>
</plist>
