<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bullet2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,40}</string>
                <key>spriteSourceSize</key>
                <string>{16,40}</string>
                <key>textureRect</key>
                <string>{{94,235},{16,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Cannon2_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{91,113}</string>
                <key>spriteSourceSize</key>
                <string>{91,149}</string>
                <key>textureRect</key>
                <string>{{94,120},{91,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon2_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{91,117}</string>
                <key>spriteSourceSize</key>
                <string>{91,149}</string>
                <key>textureRect</key>
                <string>{{1,124},{91,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon2_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,14}</string>
                <key>spriteSize</key>
                <string>{89,121}</string>
                <key>spriteSourceSize</key>
                <string>{91,149}</string>
                <key>textureRect</key>
                <string>{{1,1},{89,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon2_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{91,117}</string>
                <key>spriteSourceSize</key>
                <string>{91,149}</string>
                <key>textureRect</key>
                <string>{{92,1},{91,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Cannon2.png</string>
            <key>size</key>
            <string>{186,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b42b21e5a28186ddec778ee0d8a8811:65aaf6fd28272e71a6ee5d7006a579a3:21ee573310860283e8a9b9b2f8638f8d$</string>
            <key>textureFileName</key>
            <string>Cannon2.png</string>
        </dict>
    </dict>
</plist>
