<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bullet5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,66}</string>
                <key>spriteSourceSize</key>
                <string>{34,66}</string>
                <key>textureRect</key>
                <string>{{301,135},{34,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon5_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,25}</string>
                <key>spriteSize</key>
                <string>{132,162}</string>
                <key>spriteSourceSize</key>
                <string>{132,230}</string>
                <key>textureRect</key>
                <string>{{337,175},{132,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon5_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,28}</string>
                <key>spriteSize</key>
                <string>{132,168}</string>
                <key>spriteSourceSize</key>
                <string>{132,230}</string>
                <key>textureRect</key>
                <string>{{1,1},{132,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Cannon5_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{128,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,230}</string>
                <key>textureRect</key>
                <string>{{341,1},{128,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon5_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,25}</string>
                <key>spriteSize</key>
                <string>{132,162}</string>
                <key>spriteSourceSize</key>
                <string>{132,230}</string>
                <key>textureRect</key>
                <string>{{131,309},{132,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon5_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,28}</string>
                <key>spriteSize</key>
                <string>{132,168}</string>
                <key>spriteSourceSize</key>
                <string>{132,230}</string>
                <key>textureRect</key>
                <string>{{171,1},{132,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Cannon5_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{128,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,230}</string>
                <key>textureRect</key>
                <string>{{171,135},{128,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon5_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,25}</string>
                <key>spriteSize</key>
                <string>{132,162}</string>
                <key>spriteSourceSize</key>
                <string>{132,230}</string>
                <key>textureRect</key>
                <string>{{265,339},{132,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Cannon5_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,28}</string>
                <key>spriteSize</key>
                <string>{132,168}</string>
                <key>spriteSourceSize</key>
                <string>{132,230}</string>
                <key>textureRect</key>
                <string>{{1,135},{132,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Cannon5_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{128,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,230}</string>
                <key>textureRect</key>
                <string>{{1,269},{128,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Cannon5.png</string>
            <key>size</key>
            <string>{470,472}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:181009e09344ffd5d0eefafd39582d59:edc297a11180c2231495c19d6a2d6f91:a0d5fa12dfd3bda453992a38d73cdcbd$</string>
            <key>textureFileName</key>
            <string>Cannon5.png</string>
        </dict>
    </dict>
</plist>
