<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AnemoneFish_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{154,46}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{1,321},{154,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AnemoneFish_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{154,48}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{157,167},{154,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AnemoneFish_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{154,52}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{1,113},{154,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AnemoneFish_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{154,54}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{1,1},{154,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AnemoneFish_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{154,54}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{157,1},{154,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AnemoneFish_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{154,52}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{157,113},{154,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AnemoneFish_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{154,48}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{157,217},{154,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AnemoneFish_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{154,48}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{1,221},{154,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AnemoneFish_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{154,48}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{157,267},{154,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AnemoneFish_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{154,48}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{1,271},{154,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AnemoneFish_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{154,52}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{1,167},{154,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AnemoneFish_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{154,54}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{1,57},{154,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AnemoneFish_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{154,54}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{157,57},{154,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AnemoneFish_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{152,50}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{303,477},{152,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AnemoneFish_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{152,52}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{155,423},{152,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AnemoneFish_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,5}</string>
                <key>spriteSize</key>
                <string>{152,52}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{1,425},{152,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AnemoneFish_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,5}</string>
                <key>spriteSize</key>
                <string>{152,54}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{397,85},{152,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>AnemoneFish_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,5}</string>
                <key>spriteSize</key>
                <string>{150,54}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{303,529},{150,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AnemoneFish_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{152,54}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{157,367},{152,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AnemoneFish_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{152,54}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{397,239},{152,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>AnemoneFish_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{152,54}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{1,369},{152,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AnemoneFish_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{154,48}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{157,317},{154,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AnemoneFish_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,9}</string>
                <key>spriteSize</key>
                <string>{142,82}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{313,1},{142,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AnemoneFish_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,9}</string>
                <key>spriteSize</key>
                <string>{148,82}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{311,393},{148,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AnemoneFish_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{152,82}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{313,85},{152,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>AnemoneFish_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,9}</string>
                <key>spriteSize</key>
                <string>{150,82}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{1,479},{150,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AnemoneFish_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{152,82}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{313,239},{152,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>AnemoneFish_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,9}</string>
                <key>spriteSize</key>
                <string>{148,82}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{153,479},{148,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>AnemoneFish.png</string>
            <key>size</key>
            <string>{460,584}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6c794dd0f3f72a7119bf0e9ee77dd53:589d186311a57d33d692c4e0de4a7ce9:e4202ad0d6fb29e6b1bc9c0c5b3c541c$</string>
            <key>textureFileName</key>
            <string>AnemoneFish.png</string>
        </dict>
    </dict>
</plist>
