<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AngelFish_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{64,33}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{242,130},{64,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>AngelFish_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{66,35}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{277,157},{66,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>AngelFish_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{68,35}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{277,87},{68,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>AngelFish_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{66,35}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{1,249},{66,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AngelFish_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{62,35}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{145,276},{62,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AngelFish_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{66,37}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{71,159},{66,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>AngelFish_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{66,37}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{1,171},{66,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AngelFish_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{62,35}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{186,208},{62,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>AngelFish_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{64,37}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{110,173},{64,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>AngelFish_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{66,37}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{1,210},{66,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AngelFish_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{66,39}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{71,91},{66,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>AngelFish_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{68,39}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{137,89},{68,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AngelFish_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{68,39}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{1,91},{68,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AngelFish_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{66,37}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{174,130},{66,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AngelFish_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{64,37}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{69,227},{64,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>AngelFish_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,37}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{1,132},{68,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AngelFish_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{62,35}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{209,272},{62,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AngelFish_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{66,37}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{174,169},{66,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AngelFish_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{62,35}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{223,208},{62,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>AngelFish_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{62,35}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{273,225},{62,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>AngelFish_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{66,35}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{149,208},{66,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>AngelFish_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{66,35}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{108,239},{66,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>AngelFish_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{60,41}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{112,130},{60,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AngelFish_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{70,41}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{211,1},{70,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AngelFish_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,41}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{137,46},{68,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AngelFish_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{66,43}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{1,46},{66,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AngelFish_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{68,43}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{1,1},{68,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AngelFish_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{68,43}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{71,1},{68,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AngelFish_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{68,43}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{141,1},{68,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AngelFish_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{66,43}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{69,46},{66,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AngelFish_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,41}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{207,87},{68,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AngelFish_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{70,41}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{211,44},{70,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>AngelFish.png</string>
            <key>size</key>
            <string>{313,313}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4c3735578d81d33cba5e5e86fadf07c:ed7cc291dfcb8c8bce52405717f6b67a:f82b509deb9c11e02c98052a42d76bde$</string>
            <key>textureFileName</key>
            <string>AngelFish.png</string>
        </dict>
    </dict>
</plist>
