<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BlueTang2_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{106,36}</string>
                <key>spriteSourceSize</key>
                <string>{106,72}</string>
                <key>textureRect</key>
                <string>{{1,221},{106,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueTang2_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{106,36}</string>
                <key>spriteSourceSize</key>
                <string>{106,72}</string>
                <key>textureRect</key>
                <string>{{1,259},{106,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueTang2_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{106,36}</string>
                <key>spriteSourceSize</key>
                <string>{106,72}</string>
                <key>textureRect</key>
                <string>{{1,297},{106,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueTang2_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{106,36}</string>
                <key>spriteSourceSize</key>
                <string>{106,72}</string>
                <key>textureRect</key>
                <string>{{1,335},{106,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueTang2_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{106,34}</string>
                <key>spriteSourceSize</key>
                <string>{106,72}</string>
                <key>textureRect</key>
                <string>{{1,829},{106,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueTang2_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{106,34}</string>
                <key>spriteSourceSize</key>
                <string>{106,72}</string>
                <key>textureRect</key>
                <string>{{1,865},{106,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueTang2_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{106,36}</string>
                <key>spriteSourceSize</key>
                <string>{106,72}</string>
                <key>textureRect</key>
                <string>{{1,373},{106,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueTang2_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{106,36}</string>
                <key>spriteSourceSize</key>
                <string>{106,72}</string>
                <key>textureRect</key>
                <string>{{1,411},{106,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueTang2_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{106,36}</string>
                <key>spriteSourceSize</key>
                <string>{106,72}</string>
                <key>textureRect</key>
                <string>{{1,449},{106,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueTang2_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{106,36}</string>
                <key>spriteSourceSize</key>
                <string>{106,72}</string>
                <key>textureRect</key>
                <string>{{1,487},{106,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueTang2_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{106,34}</string>
                <key>spriteSourceSize</key>
                <string>{106,72}</string>
                <key>textureRect</key>
                <string>{{1,901},{106,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueTang2_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{106,34}</string>
                <key>spriteSourceSize</key>
                <string>{106,72}</string>
                <key>textureRect</key>
                <string>{{1,937},{106,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueTang2_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{106,34}</string>
                <key>spriteSourceSize</key>
                <string>{106,72}</string>
                <key>textureRect</key>
                <string>{{1,973},{106,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueTang2_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{106,36}</string>
                <key>spriteSourceSize</key>
                <string>{106,72}</string>
                <key>textureRect</key>
                <string>{{1,525},{106,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueTang2_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{106,36}</string>
                <key>spriteSourceSize</key>
                <string>{106,72}</string>
                <key>textureRect</key>
                <string>{{1,563},{106,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueTang2_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{106,36}</string>
                <key>spriteSourceSize</key>
                <string>{106,72}</string>
                <key>textureRect</key>
                <string>{{1,601},{106,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueTang2_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{106,36}</string>
                <key>spriteSourceSize</key>
                <string>{106,72}</string>
                <key>textureRect</key>
                <string>{{1,639},{106,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueTang2_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{106,36}</string>
                <key>spriteSourceSize</key>
                <string>{106,72}</string>
                <key>textureRect</key>
                <string>{{1,677},{106,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueTang2_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{106,34}</string>
                <key>spriteSourceSize</key>
                <string>{106,72}</string>
                <key>textureRect</key>
                <string>{{1,1009},{106,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueTang2_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{106,36}</string>
                <key>spriteSourceSize</key>
                <string>{106,72}</string>
                <key>textureRect</key>
                <string>{{1,715},{106,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueTang2_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{106,36}</string>
                <key>spriteSourceSize</key>
                <string>{106,72}</string>
                <key>textureRect</key>
                <string>{{1,753},{106,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueTang2_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{106,36}</string>
                <key>spriteSourceSize</key>
                <string>{106,72}</string>
                <key>textureRect</key>
                <string>{{1,791},{106,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueTang2_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{102,54}</string>
                <key>spriteSourceSize</key>
                <string>{106,72}</string>
                <key>textureRect</key>
                <string>{{1,1045},{102,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueTang2_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{106,54}</string>
                <key>spriteSourceSize</key>
                <string>{106,72}</string>
                <key>textureRect</key>
                <string>{{1,1},{106,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueTang2_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{106,52}</string>
                <key>spriteSourceSize</key>
                <string>{106,72}</string>
                <key>textureRect</key>
                <string>{{1,113},{106,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueTang2_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-6}</string>
                <key>spriteSize</key>
                <string>{102,52}</string>
                <key>spriteSourceSize</key>
                <string>{106,72}</string>
                <key>textureRect</key>
                <string>{{1,1157},{102,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueTang2_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{106,52}</string>
                <key>spriteSourceSize</key>
                <string>{106,72}</string>
                <key>textureRect</key>
                <string>{{1,167},{106,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueTang2_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{106,54}</string>
                <key>spriteSourceSize</key>
                <string>{106,72}</string>
                <key>textureRect</key>
                <string>{{1,57},{106,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueTang2_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{102,54}</string>
                <key>spriteSourceSize</key>
                <string>{106,72}</string>
                <key>textureRect</key>
                <string>{{1,1101},{102,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BlueTang2.png</string>
            <key>size</key>
            <string>{108,1210}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c56aa2756ffee9744bdde233206de4d3:7b5ff584f03144862a4507a0a0ab7f64:825fdff6b558722b34fb7d0689c7c1bc$</string>
            <key>textureFileName</key>
            <string>BlueTang2.png</string>
        </dict>
    </dict>
</plist>
