<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BWNemo_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,33}</string>
                <key>spriteSourceSize</key>
                <string>{72,53}</string>
                <key>textureRect</key>
                <string>{{1,34},{72,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BWNemo_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,37}</string>
                <key>spriteSourceSize</key>
                <string>{72,53}</string>
                <key>textureRect</key>
                <string>{{75,1},{72,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BWNemo_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,39}</string>
                <key>spriteSourceSize</key>
                <string>{72,53}</string>
                <key>textureRect</key>
                <string>{{75,75},{72,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BWNemo_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,41}</string>
                <key>spriteSourceSize</key>
                <string>{72,53}</string>
                <key>textureRect</key>
                <string>{{75,149},{72,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BWNemo_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{72,41}</string>
                <key>spriteSourceSize</key>
                <string>{72,53}</string>
                <key>textureRect</key>
                <string>{{75,223},{72,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BWNemo_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{72,39}</string>
                <key>spriteSourceSize</key>
                <string>{72,53}</string>
                <key>textureRect</key>
                <string>{{75,297},{72,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BWNemo_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{72,37}</string>
                <key>spriteSourceSize</key>
                <string>{72,53}</string>
                <key>textureRect</key>
                <string>{{1,209},{72,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BWNemo_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{72,33}</string>
                <key>spriteSourceSize</key>
                <string>{72,53}</string>
                <key>textureRect</key>
                <string>{{1,69},{72,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BWNemo_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{72,33}</string>
                <key>spriteSourceSize</key>
                <string>{72,53}</string>
                <key>textureRect</key>
                <string>{{1,104},{72,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BWNemo_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{72,37}</string>
                <key>spriteSourceSize</key>
                <string>{72,53}</string>
                <key>textureRect</key>
                <string>{{1,248},{72,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BWNemo_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{72,39}</string>
                <key>spriteSourceSize</key>
                <string>{72,53}</string>
                <key>textureRect</key>
                <string>{{1,404},{72,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BWNemo_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{72,41}</string>
                <key>spriteSourceSize</key>
                <string>{72,53}</string>
                <key>textureRect</key>
                <string>{{75,371},{72,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BWNemo_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{72,41}</string>
                <key>spriteSourceSize</key>
                <string>{72,53}</string>
                <key>textureRect</key>
                <string>{{1,445},{72,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BWNemo_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{72,37}</string>
                <key>spriteSourceSize</key>
                <string>{72,53}</string>
                <key>textureRect</key>
                <string>{{1,287},{72,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BWNemo_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{72,33}</string>
                <key>spriteSourceSize</key>
                <string>{72,53}</string>
                <key>textureRect</key>
                <string>{{1,139},{72,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BWNemo_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{72,31}</string>
                <key>spriteSourceSize</key>
                <string>{72,53}</string>
                <key>textureRect</key>
                <string>{{1,1},{72,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BWNemo_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{72,33}</string>
                <key>spriteSourceSize</key>
                <string>{72,53}</string>
                <key>textureRect</key>
                <string>{{1,174},{72,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BWNemo_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{72,37}</string>
                <key>spriteSourceSize</key>
                <string>{72,53}</string>
                <key>textureRect</key>
                <string>{{1,326},{72,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BWNemo_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{72,41}</string>
                <key>spriteSourceSize</key>
                <string>{72,53}</string>
                <key>textureRect</key>
                <string>{{75,445},{72,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BWNemo_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{72,43}</string>
                <key>spriteSourceSize</key>
                <string>{72,53}</string>
                <key>textureRect</key>
                <string>{{1,531},{72,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BWNemo_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,41}</string>
                <key>spriteSourceSize</key>
                <string>{72,53}</string>
                <key>textureRect</key>
                <string>{{1,488},{72,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BWNemo_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,37}</string>
                <key>spriteSourceSize</key>
                <string>{72,53}</string>
                <key>textureRect</key>
                <string>{{1,365},{72,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BWNemo.png</string>
            <key>size</key>
            <string>{117,575}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e543992ebac9286bad5a13645adbcb0:9940779c5092f0a4322d726658374100:e9fbd9badcbc8478c1b60a4f644018e0$</string>
            <key>textureFileName</key>
            <string>BWNemo.png</string>
        </dict>
    </dict>
</plist>
