<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GAnemoneFish_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{152,44}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{465,1},{152,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GAnemoneFish_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{152,48}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{311,57},{152,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GAnemoneFish_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{154,50}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{309,107},{154,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GAnemoneFish_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{148,52}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{305,209},{148,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GAnemoneFish_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{150,52}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{153,165},{150,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GAnemoneFish_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{150,50}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{105,331},{150,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GAnemoneFish_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{144,48}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{363,313},{144,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GAnemoneFish_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{142,44}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{413,313},{142,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GAnemoneFish_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{142,44}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{459,309},{142,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GAnemoneFish_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{154,48}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{1,331},{154,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GAnemoneFish_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{148,50}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{157,323},{148,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GAnemoneFish_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{146,52}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{209,323},{146,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GAnemoneFish_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{150,52}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{51,331},{150,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GAnemoneFish_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{150,48}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{153,219},{150,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GAnemoneFish_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{144,44}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{363,459},{144,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GAnemoneFish_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{148,44}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{263,323},{148,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GAnemoneFish_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{152,44}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{465,155},{152,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GAnemoneFish_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{146,48}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{305,263},{146,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GAnemoneFish_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{146,52}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{309,313},{146,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GAnemoneFish_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{152,54}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{311,1},{152,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GAnemoneFish_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{148,52}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{147,269},{148,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GAnemoneFish_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{154,48}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{309,159},{154,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GAnemoneFish_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,5}</string>
                <key>spriteSize</key>
                <string>{144,82}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{1,247},{144,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GAnemoneFish_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,6}</string>
                <key>spriteSize</key>
                <string>{150,80}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{1,165},{150,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GAnemoneFish_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,7}</string>
                <key>spriteSize</key>
                <string>{154,80}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{1,1},{154,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GAnemoneFish_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,8}</string>
                <key>spriteSize</key>
                <string>{152,80}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{157,1},{152,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GAnemoneFish_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,7}</string>
                <key>spriteSize</key>
                <string>{154,80}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{1,83},{154,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GAnemoneFish_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,6}</string>
                <key>spriteSize</key>
                <string>{150,80}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{157,83},{150,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GAnemoneFish.png</string>
            <key>size</key>
            <string>{510,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5afaae2a1d6c6230df90181241adbcaf:60b4e7d42ff7bc880e85c065bc1a0a7c:3a0b1c40ccc17169215ddaa88470f90e$</string>
            <key>textureFileName</key>
            <string>GAnemoneFish.png</string>
        </dict>
    </dict>
</plist>
