<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GAnemoneFish_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{160,60}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{1,1},{160,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GAnemoneFish_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{160,64}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{1,381},{160,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GAnemoneFish_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{160,68}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{1,777},{160,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GAnemoneFish_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{160,70}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{163,801},{160,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GAnemoneFish_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{160,70}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{1,987},{160,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GAnemoneFish_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{160,68}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{1,847},{160,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GAnemoneFish_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{160,64}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{1,447},{160,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GAnemoneFish_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{160,62}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{1,125},{160,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GAnemoneFish_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{160,62}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{1,189},{160,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GAnemoneFish_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{160,64}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{1,513},{160,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GAnemoneFish_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{160,68}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{1,917},{160,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GAnemoneFish_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{160,70}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{163,963},{160,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GAnemoneFish_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{160,70}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{1,1059},{160,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GAnemoneFish_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{160,64}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{1,579},{160,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GAnemoneFish_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{160,62}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{1,253},{160,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GAnemoneFish_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{160,60}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{1,63},{160,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GAnemoneFish_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{160,62}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{1,317},{160,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GAnemoneFish_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{160,64}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{1,645},{160,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GAnemoneFish_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{160,70}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{1,1131},{160,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GAnemoneFish_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{160,72}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{163,1125},{160,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GAnemoneFish_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{160,70}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{1,1203},{160,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GAnemoneFish_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{160,64}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{1,711},{160,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GAnemoneFish_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{160,92}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{1,1275},{160,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GAnemoneFish_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,7}</string>
                <key>spriteSize</key>
                <string>{158,90}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{163,1},{158,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GAnemoneFish_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,9}</string>
                <key>spriteSize</key>
                <string>{158,88}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{163,161},{158,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GAnemoneFish_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,9}</string>
                <key>spriteSize</key>
                <string>{158,88}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{163,321},{158,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GAnemoneFish_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,9}</string>
                <key>spriteSize</key>
                <string>{158,88}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{163,481},{158,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GAnemoneFish_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,7}</string>
                <key>spriteSize</key>
                <string>{158,90}</string>
                <key>spriteSourceSize</key>
                <string>{160,130}</string>
                <key>textureRect</key>
                <string>{{163,641},{158,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GAnemoneFish.png</string>
            <key>size</key>
            <string>{254,1368}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ff426a527cc3324c39b41b933eeaac7:cd7bb277141d7d65535aeee9b8834e7f:3a0b1c40ccc17169215ddaa88470f90e$</string>
            <key>textureFileName</key>
            <string>GAnemoneFish.png</string>
        </dict>
    </dict>
</plist>
