<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GAngelFish2_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{64,33}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{69,196},{64,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GAngelFish2_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{66,35}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{106,126},{66,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GAngelFish2_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{68,35}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{69,126},{68,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GAngelFish2_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{66,35}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{42,255},{66,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GAngelFish2_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{62,35}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{184,239},{62,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GAngelFish2_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{66,37}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{209,71},{66,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GAngelFish2_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{66,37}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{135,83},{66,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GAngelFish2_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{62,35}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{116,276},{62,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GAngelFish2_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{64,37}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{143,122},{64,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GAngelFish2_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{66,37}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{209,139},{66,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GAngelFish2_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{66,39}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{141,1},{66,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GAngelFish2_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{68,39}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{1,1},{68,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GAngelFish2_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{68,39}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{1,42},{68,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GAngelFish2_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{66,37}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{1,323},{66,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GAngelFish2_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{64,37}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{143,161},{64,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GAngelFish2_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,37}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{209,1},{68,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GAngelFish2_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{62,35}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{180,276},{62,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GAngelFish2_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{66,37}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{135,200},{66,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GAngelFish2_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{62,35}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{79,299},{62,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GAngelFish2_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{62,35}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{116,313},{62,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GAngelFish2_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{66,35}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{79,231},{66,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GAngelFish2_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{66,35}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{116,239},{66,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GAngelFish2_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{58,39}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{180,313},{58,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GAngelFish2_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{68,39}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{71,1},{68,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GAngelFish2_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,39}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{141,42},{66,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GAngelFish2_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{64,41}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{1,212},{64,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GAngelFish2_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{66,41}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{1,83},{66,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GAngelFish2_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{66,41}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{1,126},{66,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GAngelFish2_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{66,41}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{1,169},{66,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GAngelFish2_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{64,41}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{69,83},{64,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GAngelFish2_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,39}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{1,255},{66,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GAngelFish2_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{68,39}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{71,42},{68,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GAngelFish2.png</string>
            <key>size</key>
            <string>{247,362}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a0fedb8db5baea14c902bb62ceed8d7:b27cdef83e960a29ff7b5667abc2e792:a68740d2aa400f4b4dbfcf2ea1b0e719$</string>
            <key>textureFileName</key>
            <string>GAngelFish2.png</string>
        </dict>
    </dict>
</plist>
