<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GBlackYellowButterflyFish_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{124,52}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{1,659},{124,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GBlackYellowButterflyFish_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,50}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{1,875},{124,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GBlackYellowButterflyFish_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{124,50}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{1,927},{124,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GBlackYellowButterflyFish_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{124,48}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{1,1083},{124,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GBlackYellowButterflyFish_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{124,48}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{1,1133},{124,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GBlackYellowButterflyFish_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{124,50}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{1,979},{124,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GBlackYellowButterflyFish_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{124,54}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{1,323},{124,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GBlackYellowButterflyFish_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,54}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{1,379},{124,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GBlackYellowButterflyFish_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{124,56}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{1,149},{124,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GBlackYellowButterflyFish_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{124,54}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{1,435},{124,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GBlackYellowButterflyFish_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{124,52}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{1,713},{124,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GBlackYellowButterflyFish_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{124,52}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{1,767},{124,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GBlackYellowButterflyFish_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{124,52}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{1,821},{124,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GBlackYellowButterflyFish_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{124,54}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{1,491},{124,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GBlackYellowButterflyFish_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{124,56}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{1,207},{124,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GBlackYellowButterflyFish_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,56}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{1,265},{124,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GBlackYellowButterflyFish_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,54}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{1,547},{124,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GBlackYellowButterflyFish_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{124,54}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{1,603},{124,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GBlackYellowButterflyFish_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{124,48}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{1,1183},{124,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GBlackYellowButterflyFish_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{124,48}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{1,1233},{124,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GBlackYellowButterflyFish_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{124,48}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{1,1283},{124,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GBlackYellowButterflyFish_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,50}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{1,1031},{124,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GBlackYellowButterflyFish_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,9}</string>
                <key>spriteSize</key>
                <string>{122,76}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{1,1493},{122,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GBlackYellowButterflyFish_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{124,72}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{1,1},{124,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GBlackYellowButterflyFish_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{122,78}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{1,1333},{122,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GBlackYellowButterflyFish_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-12}</string>
                <key>spriteSize</key>
                <string>{112,82}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{1,1571},{112,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GBlackYellowButterflyFish_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{122,78}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{1,1413},{122,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GBlackYellowButterflyFish_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{124,72}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{1,75},{124,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GBlackYellowButterflyFish.png</string>
            <key>size</key>
            <string>{126,1654}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e42f68544b923ba34c668e40f028203e:071fd30838bbf7bd3f7f4b155e5fee78:62d687dbf4992997f54fafdff83a50f6$</string>
            <key>textureFileName</key>
            <string>GBlackYellowButterflyFish.png</string>
        </dict>
    </dict>
</plist>
