<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GJellyFish_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-20}</string>
                <key>spriteSize</key>
                <string>{202,106}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{845,1},{202,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GJellyFish_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-23}</string>
                <key>spriteSize</key>
                <string>{200,116}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{641,153},{200,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJellyFish_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-25}</string>
                <key>spriteSize</key>
                <string>{198,124}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{155,571},{198,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GJellyFish_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-25}</string>
                <key>spriteSize</key>
                <string>{196,134}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{429,265},{196,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GJellyFish_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-25}</string>
                <key>spriteSize</key>
                <string>{192,140}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{541,777},{192,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJellyFish_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-26}</string>
                <key>spriteSize</key>
                <string>{192,148}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{541,627},{192,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJellyFish_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-27}</string>
                <key>spriteSize</key>
                <string>{192,152}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{281,571},{192,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJellyFish_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-28}</string>
                <key>spriteSize</key>
                <string>{194,152}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{1,565},{194,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GJellyFish_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-29}</string>
                <key>spriteSize</key>
                <string>{196,150}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{647,1},{196,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJellyFish_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-28}</string>
                <key>spriteSize</key>
                <string>{196,150}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{277,265},{196,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GJellyFish_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-27}</string>
                <key>spriteSize</key>
                <string>{194,148}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{565,271},{194,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJellyFish_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-24}</string>
                <key>spriteSize</key>
                <string>{190,148}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{1,761},{190,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GJellyFish_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-21}</string>
                <key>spriteSize</key>
                <string>{186,146}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{761,271},{186,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJellyFish_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-19}</string>
                <key>spriteSize</key>
                <string>{182,144}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{735,697},{182,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJellyFish_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-17}</string>
                <key>spriteSize</key>
                <string>{178,144}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{151,771},{178,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GJellyFish_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-18}</string>
                <key>spriteSize</key>
                <string>{178,142}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{771,419},{178,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJellyFish_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-21}</string>
                <key>spriteSize</key>
                <string>{184,132}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{749,563},{184,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJellyFish_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-25}</string>
                <key>spriteSize</key>
                <string>{196,110}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{443,153},{196,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJellyFish_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-23}</string>
                <key>spriteSize</key>
                <string>{204,102}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{565,421},{204,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJellyFish_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-20}</string>
                <key>spriteSize</key>
                <string>{206,100}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{541,525},{206,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJellyFish_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-20}</string>
                <key>spriteSize</key>
                <string>{202,106}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{277,463},{202,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJellyFish_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-21}</string>
                <key>spriteSize</key>
                <string>{214,106}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{219,157},{214,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJellyFish_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-25}</string>
                <key>spriteSize</key>
                <string>{210,134}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{297,725},{210,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GJellyFish_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-25}</string>
                <key>spriteSize</key>
                <string>{202,150}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{443,1},{202,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJellyFish_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-27}</string>
                <key>spriteSize</key>
                <string>{216,152}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{1,347},{216,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GJellyFish_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-28}</string>
                <key>spriteSize</key>
                <string>{222,154}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{219,1},{222,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJellyFish_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-27}</string>
                <key>spriteSize</key>
                <string>{216,168}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{1,1},{216,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJellyFish_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-30}</string>
                <key>spriteSize</key>
                <string>{206,174}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{1,171},{206,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJellyFish_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-33}</string>
                <key>spriteSize</key>
                <string>{222,120}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{155,347},{222,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GJellyFish_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-21}</string>
                <key>spriteSize</key>
                <string>{214,106}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{433,725},{214,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GJellyFish.png</string>
            <key>size</key>
            <string>{952,952}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b65d1f617cc13e5ffb1483a89b2032b:4f341128ab0ec360d5c0815b687cf1f4:df21f69096534a1f593352ff9d0d3f63$</string>
            <key>textureFileName</key>
            <string>GJellyFish.png</string>
        </dict>
    </dict>
</plist>
