<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GJellyFish_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-21}</string>
                <key>spriteSize</key>
                <string>{234,132}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{475,311},{234,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJellyFish_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-25}</string>
                <key>spriteSize</key>
                <string>{232,148}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{235,467},{232,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJellyFish_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-27}</string>
                <key>spriteSize</key>
                <string>{232,156}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{473,445},{232,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJellyFish_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-27}</string>
                <key>spriteSize</key>
                <string>{234,162}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{1,259},{234,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJellyFish_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-26}</string>
                <key>spriteSize</key>
                <string>{228,170}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{235,617},{228,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJellyFish_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-27}</string>
                <key>spriteSize</key>
                <string>{226,178}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{231,789},{226,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJellyFish_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-29}</string>
                <key>spriteSize</key>
                <string>{230,180}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{717,1},{230,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJellyFish_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-31}</string>
                <key>spriteSize</key>
                <string>{232,184}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{715,183},{232,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJellyFish_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-33}</string>
                <key>spriteSize</key>
                <string>{232,182}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{1,423},{232,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJellyFish_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-34}</string>
                <key>spriteSize</key>
                <string>{234,182}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{479,127},{234,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJellyFish_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-31}</string>
                <key>spriteSize</key>
                <string>{232,172}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{711,369},{232,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJellyFish_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-28}</string>
                <key>spriteSize</key>
                <string>{228,168}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{1,737},{228,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJellyFish_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-22}</string>
                <key>spriteSize</key>
                <string>{234,166}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{239,165},{234,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJellyFish_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-20}</string>
                <key>spriteSize</key>
                <string>{228,162}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{699,703},{228,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJellyFish_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-19}</string>
                <key>spriteSize</key>
                <string>{230,158}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{707,543},{230,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJellyFish_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-19}</string>
                <key>spriteSize</key>
                <string>{226,156}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{1,907},{226,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJellyFish_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-22}</string>
                <key>spriteSize</key>
                <string>{226,146}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{229,969},{226,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GJellyFish_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-24}</string>
                <key>spriteSize</key>
                <string>{236,130}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{1,127},{236,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJellyFish_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-21}</string>
                <key>spriteSize</key>
                <string>{238,124}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{1,1},{238,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJellyFish_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-20}</string>
                <key>spriteSize</key>
                <string>{236,124}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{479,1},{236,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJellyFish_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-21}</string>
                <key>spriteSize</key>
                <string>{234,132}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{237,333},{234,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJellyFish_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-20}</string>
                <key>spriteSize</key>
                <string>{224,114}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{1,1065},{224,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJellyFish_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-25}</string>
                <key>spriteSize</key>
                <string>{222,140}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{695,867},{222,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJellyFish_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-24}</string>
                <key>spriteSize</key>
                <string>{214,158}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{713,1009},{214,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJellyFish_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-26}</string>
                <key>spriteSize</key>
                <string>{228,160}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{465,779},{228,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJellyFish_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-28}</string>
                <key>spriteSize</key>
                <string>{236,162}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{241,1},{236,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJellyFish_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-28}</string>
                <key>spriteSize</key>
                <string>{228,174}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{469,603},{228,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJellyFish_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-31}</string>
                <key>spriteSize</key>
                <string>{218,180}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{493,1009},{218,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJellyFish_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-32}</string>
                <key>spriteSize</key>
                <string>{232,128}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{1,607},{232,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJellyFish_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-20}</string>
                <key>spriteSize</key>
                <string>{224,114}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{377,969},{224,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GJellyFish.png</string>
            <key>size</key>
            <string>{948,1196}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc13f7aeb289e524870fce93349fecb4:6d0a0378f1331cfd3442426318907142:df21f69096534a1f593352ff9d0d3f63$</string>
            <key>textureFileName</key>
            <string>GJellyFish.png</string>
        </dict>
    </dict>
</plist>
