<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GKissingFish_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{77,30}</string>
                <key>spriteSourceSize</key>
                <string>{81,40}</string>
                <key>textureRect</key>
                <string>{{1,171},{77,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GKissingFish_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{77,30}</string>
                <key>spriteSourceSize</key>
                <string>{81,40}</string>
                <key>textureRect</key>
                <string>{{1,203},{77,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GKissingFish_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{77,30}</string>
                <key>spriteSourceSize</key>
                <string>{81,40}</string>
                <key>textureRect</key>
                <string>{{1,235},{77,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GKissingFish_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{77,30}</string>
                <key>spriteSourceSize</key>
                <string>{81,40}</string>
                <key>textureRect</key>
                <string>{{1,267},{77,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GKissingFish_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{77,30}</string>
                <key>spriteSourceSize</key>
                <string>{81,40}</string>
                <key>textureRect</key>
                <string>{{1,299},{77,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GKissingFish_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{77,30}</string>
                <key>spriteSourceSize</key>
                <string>{81,40}</string>
                <key>textureRect</key>
                <string>{{1,331},{77,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GKissingFish_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{77,32}</string>
                <key>spriteSourceSize</key>
                <string>{81,40}</string>
                <key>textureRect</key>
                <string>{{1,1},{77,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GKissingFish_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{77,32}</string>
                <key>spriteSourceSize</key>
                <string>{81,40}</string>
                <key>textureRect</key>
                <string>{{1,35},{77,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GKissingFish_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{77,30}</string>
                <key>spriteSourceSize</key>
                <string>{81,40}</string>
                <key>textureRect</key>
                <string>{{1,363},{77,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GKissingFish_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{77,32}</string>
                <key>spriteSourceSize</key>
                <string>{81,40}</string>
                <key>textureRect</key>
                <string>{{1,69},{77,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GKissingFish_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{77,32}</string>
                <key>spriteSourceSize</key>
                <string>{81,40}</string>
                <key>textureRect</key>
                <string>{{1,103},{77,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GKissingFish_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{77,32}</string>
                <key>spriteSourceSize</key>
                <string>{81,40}</string>
                <key>textureRect</key>
                <string>{{1,137},{77,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GKissingFish_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{75,32}</string>
                <key>spriteSourceSize</key>
                <string>{81,40}</string>
                <key>textureRect</key>
                <string>{{80,155},{75,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GKissingFish_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{75,32}</string>
                <key>spriteSourceSize</key>
                <string>{81,40}</string>
                <key>textureRect</key>
                <string>{{80,232},{75,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GKissingFish_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{75,32}</string>
                <key>spriteSourceSize</key>
                <string>{81,40}</string>
                <key>textureRect</key>
                <string>{{80,309},{75,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GKissingFish_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{75,32}</string>
                <key>spriteSourceSize</key>
                <string>{81,40}</string>
                <key>textureRect</key>
                <string>{{80,386},{75,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GKissingFish_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{75,32}</string>
                <key>spriteSourceSize</key>
                <string>{81,40}</string>
                <key>textureRect</key>
                <string>{{1,455},{75,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GKissingFish_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{75,32}</string>
                <key>spriteSourceSize</key>
                <string>{81,40}</string>
                <key>textureRect</key>
                <string>{{1,489},{75,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GKissingFish_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{75,32}</string>
                <key>spriteSourceSize</key>
                <string>{81,40}</string>
                <key>textureRect</key>
                <string>{{1,523},{75,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GKissingFish_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{75,32}</string>
                <key>spriteSourceSize</key>
                <string>{81,40}</string>
                <key>textureRect</key>
                <string>{{78,538},{75,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GKissingFish_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{75,30}</string>
                <key>spriteSourceSize</key>
                <string>{81,40}</string>
                <key>textureRect</key>
                <string>{{1,557},{75,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GKissingFish_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{75,30}</string>
                <key>spriteSourceSize</key>
                <string>{81,40}</string>
                <key>textureRect</key>
                <string>{{1,589},{75,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GKissingFish_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{73,30}</string>
                <key>spriteSourceSize</key>
                <string>{81,40}</string>
                <key>textureRect</key>
                <string>{{1,621},{73,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GKissingFish_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{77,28}</string>
                <key>spriteSourceSize</key>
                <string>{81,40}</string>
                <key>textureRect</key>
                <string>{{1,395},{77,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GKissingFish_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{75,34}</string>
                <key>spriteSourceSize</key>
                <string>{81,40}</string>
                <key>textureRect</key>
                <string>{{80,1},{75,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GKissingFish_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{73,36}</string>
                <key>spriteSourceSize</key>
                <string>{81,40}</string>
                <key>textureRect</key>
                <string>{{78,463},{73,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GKissingFish_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{75,34}</string>
                <key>spriteSourceSize</key>
                <string>{81,40}</string>
                <key>textureRect</key>
                <string>{{80,78},{75,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GKissingFish_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{77,28}</string>
                <key>spriteSourceSize</key>
                <string>{81,40}</string>
                <key>textureRect</key>
                <string>{{1,425},{77,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GKissingFish.png</string>
            <key>size</key>
            <string>{115,652}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15c1f22468a9275f97dcc0e2f43ca50c:6ba1e2197052561f2f7fd66337574510:da3a9abc4b5ca3e32643011cc11b66a3$</string>
            <key>textureFileName</key>
            <string>GKissingFish.png</string>
        </dict>
    </dict>
</plist>
