<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GMarlins2_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-25}</string>
                <key>spriteSize</key>
                <string>{406,116}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{821,411},{406,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GMarlins2_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-25}</string>
                <key>spriteSize</key>
                <string>{406,114}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1,611},{406,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMarlins2_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-25}</string>
                <key>spriteSize</key>
                <string>{408,112}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1,387},{408,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMarlins2_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-26}</string>
                <key>spriteSize</key>
                <string>{408,108}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1,501},{408,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMarlins2_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-27}</string>
                <key>spriteSize</key>
                <string>{410,104}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1,281},{410,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMarlins2_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-27}</string>
                <key>spriteSize</key>
                <string>{406,104}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{409,757},{406,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMarlins2_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-28}</string>
                <key>spriteSize</key>
                <string>{412,104}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1,175},{412,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMarlins2_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-28}</string>
                <key>spriteSize</key>
                <string>{408,106}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{857,1},{408,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GMarlins2_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-29}</string>
                <key>spriteSize</key>
                <string>{406,110}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1,727},{406,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMarlins2_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-29}</string>
                <key>spriteSize</key>
                <string>{408,112}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{411,409},{408,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMarlins2_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-30}</string>
                <key>spriteSize</key>
                <string>{406,114}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{409,641},{406,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMarlins2_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-30}</string>
                <key>spriteSize</key>
                <string>{410,116}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{415,175},{410,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMarlins2_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-30}</string>
                <key>spriteSize</key>
                <string>{406,116}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{411,523},{406,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMarlins2_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-30}</string>
                <key>spriteSize</key>
                <string>{404,114}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1,839},{404,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMarlins2_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-31}</string>
                <key>spriteSize</key>
                <string>{400,114}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1,1063},{400,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMarlins2_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-33}</string>
                <key>spriteSize</key>
                <string>{402,116}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{817,819},{402,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GMarlins2_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-32}</string>
                <key>spriteSize</key>
                <string>{398,114}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{403,1081},{398,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMarlins2_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-32}</string>
                <key>spriteSize</key>
                <string>{398,112}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1,1179},{398,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMarlins2_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-27}</string>
                <key>spriteSize</key>
                <string>{402,106}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{407,973},{402,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMarlins2_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-26}</string>
                <key>spriteSize</key>
                <string>{404,106}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1,955},{404,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMarlins2_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-26}</string>
                <key>spriteSize</key>
                <string>{404,108}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{407,863},{404,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMarlins2_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-25}</string>
                <key>spriteSize</key>
                <string>{408,114}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{413,293},{408,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMarlins2_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-84,-49}</string>
                <key>spriteSize</key>
                <string>{260,156}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{689,1533},{260,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMarlins2_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,-50}</string>
                <key>spriteSize</key>
                <string>{308,160}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{789,1223},{308,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GMarlins2_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-49}</string>
                <key>spriteSize</key>
                <string>{386,162}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{401,1197},{386,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMarlins2_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-39}</string>
                <key>spriteSize</key>
                <string>{426,172}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1,1},{426,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMarlins2_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-2}</string>
                <key>spriteSize</key>
                <string>{370,222}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1,1457},{370,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GMarlins2_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-59,15}</string>
                <key>spriteSize</key>
                <string>{306,238}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{449,1523},{306,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GMarlins2_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-2}</string>
                <key>spriteSize</key>
                <string>{370,222}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{225,1457},{370,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GMarlins2_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-39}</string>
                <key>spriteSize</key>
                <string>{426,172}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{429,1},{426,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMarlins2_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-49}</string>
                <key>spriteSize</key>
                <string>{386,162}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1,1293},{386,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMarlins2_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,-50}</string>
                <key>spriteSize</key>
                <string>{308,160}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{449,1361},{308,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GMarlins2.png</string>
            <key>size</key>
            <string>{964,1830}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45a5290f7a56ac633e94465c67b41837:6bc42ea9e824fc504f633ecc20746735:77d707fedb905c41b73ec90cf786767d$</string>
            <key>textureFileName</key>
            <string>GMarlins2.png</string>
        </dict>
    </dict>
</plist>
