<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GMarlins2_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-26}</string>
                <key>spriteSize</key>
                <string>{444,150}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{845,1},{444,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMarlins2_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-26}</string>
                <key>spriteSize</key>
                <string>{444,148}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1,591},{444,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GMarlins2_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-27}</string>
                <key>spriteSize</key>
                <string>{444,144}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{301,591},{444,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GMarlins2_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-27}</string>
                <key>spriteSize</key>
                <string>{444,142}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{845,153},{444,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMarlins2_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-28}</string>
                <key>spriteSize</key>
                <string>{444,138}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{739,573},{444,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GMarlins2_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-29}</string>
                <key>spriteSize</key>
                <string>{444,136}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1159,441},{444,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GMarlins2_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-30}</string>
                <key>spriteSize</key>
                <string>{444,136}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1159,887},{444,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GMarlins2_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-30}</string>
                <key>spriteSize</key>
                <string>{444,138}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{879,441},{444,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GMarlins2_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-32}</string>
                <key>spriteSize</key>
                <string>{444,142}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{595,573},{444,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GMarlins2_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-32}</string>
                <key>spriteSize</key>
                <string>{444,144}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{301,1037},{444,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GMarlins2_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-32}</string>
                <key>spriteSize</key>
                <string>{444,146}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{447,573},{444,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GMarlins2_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-32}</string>
                <key>spriteSize</key>
                <string>{444,148}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1,1037},{444,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GMarlins2_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-32}</string>
                <key>spriteSize</key>
                <string>{444,148}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{151,591},{444,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GMarlins2_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-32}</string>
                <key>spriteSize</key>
                <string>{444,144}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{447,1019},{444,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GMarlins2_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-32}</string>
                <key>spriteSize</key>
                <string>{444,142}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{593,1019},{444,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GMarlins2_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-31}</string>
                <key>spriteSize</key>
                <string>{444,140}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{737,1019},{444,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GMarlins2_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-30}</string>
                <key>spriteSize</key>
                <string>{444,138}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{879,887},{444,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GMarlins2_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-30}</string>
                <key>spriteSize</key>
                <string>{444,136}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{879,1333},{444,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMarlins2_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-28}</string>
                <key>spriteSize</key>
                <string>{444,138}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1019,441},{444,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GMarlins2_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-28}</string>
                <key>spriteSize</key>
                <string>{444,138}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1019,887},{444,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GMarlins2_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-27}</string>
                <key>spriteSize</key>
                <string>{444,142}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{803,297},{444,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMarlins2_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-26}</string>
                <key>spriteSize</key>
                <string>{444,148}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{151,1037},{444,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GMarlins2_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-75,-48}</string>
                <key>spriteSize</key>
                <string>{282,164}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1325,1069},{282,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GMarlins2_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-53,-49}</string>
                <key>spriteSize</key>
                <string>{328,168}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{453,231},{328,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMarlins2_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-48}</string>
                <key>spriteSize</key>
                <string>{408,170}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{393,401},{408,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMarlins2_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-39}</string>
                <key>spriteSize</key>
                <string>{450,178}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1,1},{450,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMarlins2_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-1}</string>
                <key>spriteSize</key>
                <string>{390,228}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{453,1},{390,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMarlins2_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-52,17}</string>
                <key>spriteSize</key>
                <string>{326,246}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1291,1},{326,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GMarlins2_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-1}</string>
                <key>spriteSize</key>
                <string>{390,228}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1,361},{390,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMarlins2_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-39}</string>
                <key>spriteSize</key>
                <string>{450,178}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1,181},{450,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMarlins2_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-48}</string>
                <key>spriteSize</key>
                <string>{408,170}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1297,329},{408,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GMarlins2_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-53,-49}</string>
                <key>spriteSize</key>
                <string>{328,168}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1297,739},{328,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GMarlins2.png</string>
            <key>size</key>
            <string>{1538,1538}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3605a2d75ced18a3806ec94cc585b03f:bd17b83e3989aa05baf87bce7d02662f:77d707fedb905c41b73ec90cf786767d$</string>
            <key>textureFileName</key>
            <string>GMarlins2.png</string>
        </dict>
    </dict>
</plist>
