<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GOctopus_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{132,234}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{1501,1},{132,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GOctopus_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-9}</string>
                <key>spriteSize</key>
                <string>{106,222}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{1501,135},{106,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GOctopus_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-8}</string>
                <key>spriteSize</key>
                <string>{112,170}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{1309,253},{112,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-8}</string>
                <key>spriteSize</key>
                <string>{120,156}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{1497,313},{120,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GOctopus_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-10}</string>
                <key>spriteSize</key>
                <string>{136,178}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{1737,1},{136,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GOctopus_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-7}</string>
                <key>spriteSize</key>
                <string>{174,158}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{1725,139},{174,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,0}</string>
                <key>spriteSize</key>
                <string>{190,72}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{1423,253},{190,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GOctopus_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-2}</string>
                <key>spriteSize</key>
                <string>{188,64}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{1089,233},{188,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-1}</string>
                <key>spriteSize</key>
                <string>{188,66}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{1717,299},{188,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,0}</string>
                <key>spriteSize</key>
                <string>{192,68}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{1307,183},{192,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,0}</string>
                <key>spriteSize</key>
                <string>{194,68}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{1511,435},{194,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-1}</string>
                <key>spriteSize</key>
                <string>{200,66}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{1309,445},{200,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-4}</string>
                <key>spriteSize</key>
                <string>{204,60}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{1655,367},{204,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-6}</string>
                <key>spriteSize</key>
                <string>{208,56}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{1707,429},{208,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-6}</string>
                <key>spriteSize</key>
                <string>{212,58}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{1085,299},{212,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GOctopus_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,-6}</string>
                <key>spriteSize</key>
                <string>{214,68}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{1501,243},{214,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-8}</string>
                <key>spriteSize</key>
                <string>{192,180}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{1307,1},{192,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{132,234}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{1501,1},{132,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GOctopus_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-9}</string>
                <key>spriteSize</key>
                <string>{106,222}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{1501,135},{106,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GOctopus_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-8}</string>
                <key>spriteSize</key>
                <string>{112,170}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{1309,253},{112,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-5}</string>
                <key>spriteSize</key>
                <string>{198,162}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{1145,299},{198,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GOctopus_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-5}</string>
                <key>spriteSize</key>
                <string>{216,230}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{1089,1},{216,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,0}</string>
                <key>spriteSize</key>
                <string>{266,250}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{817,253},{266,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,0}</string>
                <key>spriteSize</key>
                <string>{270,250}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{1,1},{270,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,0}</string>
                <key>spriteSize</key>
                <string>{270,250}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{1,253},{270,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,0}</string>
                <key>spriteSize</key>
                <string>{270,250}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{273,1},{270,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,0}</string>
                <key>spriteSize</key>
                <string>{270,250}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{273,253},{270,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,0}</string>
                <key>spriteSize</key>
                <string>{270,250}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{545,1},{270,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,0}</string>
                <key>spriteSize</key>
                <string>{270,250}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{545,253},{270,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,0}</string>
                <key>spriteSize</key>
                <string>{270,250}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{817,1},{270,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GOctopus.png</string>
            <key>size</key>
            <string>{1916,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a217b9cc78346343a73c0d44582b889:60939c5ba275432e08b1075683eaebdf:75eeaaf4a2624debf69a013aa1ea966b$</string>
            <key>textureFileName</key>
            <string>GOctopus.png</string>
        </dict>
    </dict>
</plist>
