<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GOctopus_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,0}</string>
                <key>spriteSize</key>
                <string>{224,250}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{549,249},{224,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GOctopus_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-7}</string>
                <key>spriteSize</key>
                <string>{202,236}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{549,475},{202,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GOctopus_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,-8}</string>
                <key>spriteSize</key>
                <string>{202,188}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{801,249},{202,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GOctopus_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-8}</string>
                <key>spriteSize</key>
                <string>{202,174}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{787,475},{202,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-10}</string>
                <key>spriteSize</key>
                <string>{206,196}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{513,875},{206,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,-6}</string>
                <key>spriteSize</key>
                <string>{214,172}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{775,679},{214,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-5}</string>
                <key>spriteSize</key>
                <string>{222,96}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{769,1073},{222,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GOctopus_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-4}</string>
                <key>spriteSize</key>
                <string>{226,98}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{219,991},{226,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GOctopus_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-5}</string>
                <key>spriteSize</key>
                <string>{226,98}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{547,679},{226,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,-8}</string>
                <key>spriteSize</key>
                <string>{226,92}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{319,733},{226,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-5}</string>
                <key>spriteSize</key>
                <string>{228,100}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{1,1221},{228,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-8}</string>
                <key>spriteSize</key>
                <string>{226,94}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{547,779},{226,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-8}</string>
                <key>spriteSize</key>
                <string>{226,96}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{273,827},{226,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-8}</string>
                <key>spriteSize</key>
                <string>{226,96}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{721,975},{226,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,-8}</string>
                <key>spriteSize</key>
                <string>{224,96}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{867,1073},{224,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GOctopus_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,-8}</string>
                <key>spriteSize</key>
                <string>{224,98}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{721,875},{224,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,-6}</string>
                <key>spriteSize</key>
                <string>{222,192}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{319,925},{222,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GOctopus_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{148,238}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{819,1},{148,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-8}</string>
                <key>spriteSize</key>
                <string>{116,234}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{231,1219},{116,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GOctopus_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{124,186}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{467,1149},{124,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,-7}</string>
                <key>spriteSize</key>
                <string>{206,174}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{593,1073},{206,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GOctopus_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-4}</string>
                <key>spriteSize</key>
                <string>{216,228}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{1,991},{216,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-2}</string>
                <key>spriteSize</key>
                <string>{268,246}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{549,1},{268,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-2}</string>
                <key>spriteSize</key>
                <string>{272,246}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{1,1},{272,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-2}</string>
                <key>spriteSize</key>
                <string>{272,246}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{1,249},{272,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-2}</string>
                <key>spriteSize</key>
                <string>{272,246}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{275,1},{272,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-2}</string>
                <key>spriteSize</key>
                <string>{272,246}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{1,497},{272,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-2}</string>
                <key>spriteSize</key>
                <string>{272,246}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{275,249},{272,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-3}</string>
                <key>spriteSize</key>
                <string>{270,244}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{1,745},{270,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOctopus_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-3}</string>
                <key>spriteSize</key>
                <string>{270,234}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{275,497},{270,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GOctopus.png</string>
            <key>size</key>
            <string>{990,1336}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5bf11d14bdd687e3f4f59116b2ae4460:647c887b3f306937410fb2c706dfc1fa:75eeaaf4a2624debf69a013aa1ea966b$</string>
            <key>textureFileName</key>
            <string>GOctopus.png</string>
        </dict>
    </dict>
</plist>
