<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GPaddleFish2_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{343,44}</string>
                <key>spriteSourceSize</key>
                <string>{389,200}</string>
                <key>textureRect</key>
                <string>{{1,167},{343,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GPaddleFish2_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{343,50}</string>
                <key>spriteSourceSize</key>
                <string>{389,200}</string>
                <key>textureRect</key>
                <string>{{1,63},{343,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GPaddleFish2_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{343,60}</string>
                <key>spriteSourceSize</key>
                <string>{389,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{343,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GPaddleFish2_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,68}</string>
                <key>spriteSourceSize</key>
                <string>{389,200}</string>
                <key>textureRect</key>
                <string>{{1,287},{341,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GPaddleFish2_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{341,68}</string>
                <key>spriteSourceSize</key>
                <string>{389,200}</string>
                <key>textureRect</key>
                <string>{{1,357},{341,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GPaddleFish2_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{341,62}</string>
                <key>spriteSourceSize</key>
                <string>{389,200}</string>
                <key>textureRect</key>
                <string>{{1,567},{341,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GPaddleFish2_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{341,50}</string>
                <key>spriteSourceSize</key>
                <string>{389,200}</string>
                <key>textureRect</key>
                <string>{{1,693},{341,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GPaddleFish2_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{341,46}</string>
                <key>spriteSourceSize</key>
                <string>{389,200}</string>
                <key>textureRect</key>
                <string>{{1,797},{341,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GPaddleFish2_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,6}</string>
                <key>spriteSize</key>
                <string>{341,48}</string>
                <key>spriteSourceSize</key>
                <string>{389,200}</string>
                <key>textureRect</key>
                <string>{{462,673},{341,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GPaddleFish2_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{341,50}</string>
                <key>spriteSourceSize</key>
                <string>{389,200}</string>
                <key>textureRect</key>
                <string>{{1,745},{341,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GPaddleFish2_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{341,60}</string>
                <key>spriteSourceSize</key>
                <string>{389,200}</string>
                <key>textureRect</key>
                <string>{{1,631},{341,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GPaddleFish2_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{341,68}</string>
                <key>spriteSourceSize</key>
                <string>{389,200}</string>
                <key>textureRect</key>
                <string>{{1,427},{341,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GPaddleFish2_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{339,68}</string>
                <key>spriteSourceSize</key>
                <string>{389,200}</string>
                <key>textureRect</key>
                <string>{{1,845},{339,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GPaddleFish2_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,9}</string>
                <key>spriteSize</key>
                <string>{337,60}</string>
                <key>spriteSourceSize</key>
                <string>{389,200}</string>
                <key>textureRect</key>
                <string>{{1,1113},{337,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GPaddleFish2_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,11}</string>
                <key>spriteSize</key>
                <string>{337,58}</string>
                <key>spriteSourceSize</key>
                <string>{389,200}</string>
                <key>textureRect</key>
                <string>{{452,1016},{337,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GPaddleFish2_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,12}</string>
                <key>spriteSize</key>
                <string>{337,60}</string>
                <key>spriteSourceSize</key>
                <string>{389,200}</string>
                <key>textureRect</key>
                <string>{{1,1175},{337,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GPaddleFish2_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,12}</string>
                <key>spriteSize</key>
                <string>{339,60}</string>
                <key>spriteSourceSize</key>
                <string>{389,200}</string>
                <key>textureRect</key>
                <string>{{1,1051},{339,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GPaddleFish2_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,9}</string>
                <key>spriteSize</key>
                <string>{339,64}</string>
                <key>spriteSourceSize</key>
                <string>{389,200}</string>
                <key>textureRect</key>
                <string>{{1,985},{339,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GPaddleFish2_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{339,68}</string>
                <key>spriteSourceSize</key>
                <string>{389,200}</string>
                <key>textureRect</key>
                <string>{{1,915},{339,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GPaddleFish2_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{341,72}</string>
                <key>spriteSourceSize</key>
                <string>{389,200}</string>
                <key>textureRect</key>
                <string>{{1,213},{341,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GPaddleFish2_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{341,68}</string>
                <key>spriteSourceSize</key>
                <string>{389,200}</string>
                <key>textureRect</key>
                <string>{{1,497},{341,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GPaddleFish2_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{343,50}</string>
                <key>spriteSourceSize</key>
                <string>{389,200}</string>
                <key>textureRect</key>
                <string>{{1,115},{343,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GPaddleFish2_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,19}</string>
                <key>spriteSize</key>
                <string>{337,154}</string>
                <key>spriteSourceSize</key>
                <string>{389,200}</string>
                <key>textureRect</key>
                <string>{{346,1},{337,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GPaddleFish2_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,14}</string>
                <key>spriteSize</key>
                <string>{331,148}</string>
                <key>spriteSourceSize</key>
                <string>{389,200}</string>
                <key>textureRect</key>
                <string>{{344,340},{331,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GPaddleFish2_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-5}</string>
                <key>spriteSize</key>
                <string>{317,116}</string>
                <key>spriteSourceSize</key>
                <string>{389,200}</string>
                <key>textureRect</key>
                <string>{{344,673},{317,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GPaddleFish2_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-17}</string>
                <key>spriteSize</key>
                <string>{287,94}</string>
                <key>spriteSourceSize</key>
                <string>{389,200}</string>
                <key>textureRect</key>
                <string>{{1,1237},{287,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GPaddleFish2_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-14}</string>
                <key>spriteSize</key>
                <string>{275,98}</string>
                <key>spriteSourceSize</key>
                <string>{389,200}</string>
                <key>textureRect</key>
                <string>{{1,1333},{275,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GPaddleFish2_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-6}</string>
                <key>spriteSize</key>
                <string>{289,108}</string>
                <key>spriteSourceSize</key>
                <string>{389,200}</string>
                <key>textureRect</key>
                <string>{{342,992},{289,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GPaddleFish2.png</string>
            <key>size</key>
            <string>{511,1432}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a78b874ec6f29a6bf34a0d56dd5763cd:5657817bc15be14ea99e3434e786ffc3:d5ada60fa6cf344ab873c4539b86b00d$</string>
            <key>textureFileName</key>
            <string>GPaddleFish2.png</string>
        </dict>
    </dict>
</plist>
