<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GRay2_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{150,262}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{307,1},{150,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GRay2_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{150,268}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{153,551},{150,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GRay2_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{150,270}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{1,279},{150,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GRay2_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{150,270}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{1,551},{150,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GRay2_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{150,266}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{305,273},{150,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GRay2_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{150,260}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{305,541},{150,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GRay2_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{150,254}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{611,1},{150,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GRay2_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{150,248}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{611,153},{150,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GRay2_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{150,240}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{609,305},{150,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GRay2_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{150,234}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{457,787},{150,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GRay2_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{150,228}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{609,605},{150,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GRay2_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{150,220}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{305,803},{150,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GRay2_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{150,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{911,457},{150,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GRay2_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{150,208}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{829,833},{150,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GRay2_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{150,204}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{1191,605},{150,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GRay2_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{150,200}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{1,823},{150,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GRay2_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{150,198}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{1039,825},{150,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GRay2_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{150,198}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{1191,811},{150,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GRay2_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{150,202}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{153,821},{150,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GRay2_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{150,208}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{911,673},{150,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GRay2_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{150,218}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{609,835},{150,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GRay2_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{150,230}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{1093,453},{150,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GRay2_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{150,240}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{851,305},{150,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GRay2_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{150,250}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{867,1},{150,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GRay2_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{150,258}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{457,527},{150,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GRay2_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{152,276}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{1,1},{152,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GRay2_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{150,270}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{153,279},{150,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GRay2_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{150,260}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{457,265},{150,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GRay2_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{150,244}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{861,153},{150,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GRay2_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{148,232}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{1119,1},{148,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GRay2_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{148,226}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{761,605},{148,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GRay2_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{148,232}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{1119,151},{148,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GRay2_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{150,244}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{1107,301},{150,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GRay2_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{150,260}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{459,1},{150,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GRay2_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{150,270}</string>
                <key>spriteSourceSize</key>
                <string>{162,290}</string>
                <key>textureRect</key>
                <string>{{155,1},{150,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GRay2.png</string>
            <key>size</key>
            <string>{1352,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a2b59f1cbc3b0d3356c80ccb49a00ca:7a7c77e0e2b346c30d8c5f0898c4e04a:e5d340fee9590df3734e998e7872353e$</string>
            <key>textureFileName</key>
            <string>GRay2.png</string>
        </dict>
    </dict>
</plist>
