<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GrouperFish_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,104}</string>
                <key>spriteSourceSize</key>
                <string>{116,104}</string>
                <key>textureRect</key>
                <string>{{1,793},{96,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GrouperFish_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{104,92}</string>
                <key>spriteSourceSize</key>
                <string>{116,104}</string>
                <key>textureRect</key>
                <string>{{1,891},{104,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GrouperFish_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{102,82}</string>
                <key>spriteSourceSize</key>
                <string>{116,104}</string>
                <key>textureRect</key>
                <string>{{1,985},{102,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GrouperFish_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{108,74}</string>
                <key>spriteSourceSize</key>
                <string>{116,104}</string>
                <key>textureRect</key>
                <string>{{1,1},{108,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GrouperFish_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,1}</string>
                <key>spriteSize</key>
                <string>{106,68}</string>
                <key>spriteSourceSize</key>
                <string>{116,104}</string>
                <key>textureRect</key>
                <string>{{1,587},{106,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GrouperFish_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{116,104}</string>
                <key>textureRect</key>
                <string>{{1,1143},{100,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GrouperFish_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,7}</string>
                <key>spriteSize</key>
                <string>{106,72}</string>
                <key>spriteSourceSize</key>
                <string>{116,104}</string>
                <key>textureRect</key>
                <string>{{1,439},{106,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GrouperFish_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,1}</string>
                <key>spriteSize</key>
                <string>{106,64}</string>
                <key>spriteSourceSize</key>
                <string>{116,104}</string>
                <key>textureRect</key>
                <string>{{1,727},{106,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GrouperFish_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{106,68}</string>
                <key>spriteSourceSize</key>
                <string>{116,104}</string>
                <key>textureRect</key>
                <string>{{1,657},{106,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GrouperFish_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,1}</string>
                <key>spriteSize</key>
                <string>{106,72}</string>
                <key>spriteSourceSize</key>
                <string>{116,104}</string>
                <key>textureRect</key>
                <string>{{1,513},{106,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GrouperFish_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{106,80}</string>
                <key>spriteSourceSize</key>
                <string>{116,104}</string>
                <key>textureRect</key>
                <string>{{1,357},{106,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GrouperFish_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{106,88}</string>
                <key>spriteSourceSize</key>
                <string>{116,104}</string>
                <key>textureRect</key>
                <string>{{1,179},{106,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GrouperFish_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{106,100}</string>
                <key>spriteSourceSize</key>
                <string>{116,104}</string>
                <key>textureRect</key>
                <string>{{1,77},{106,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GrouperFish_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{106,86}</string>
                <key>spriteSourceSize</key>
                <string>{116,104}</string>
                <key>textureRect</key>
                <string>{{1,269},{106,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GrouperFish_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{102,72}</string>
                <key>spriteSourceSize</key>
                <string>{116,104}</string>
                <key>textureRect</key>
                <string>{{1,1069},{102,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GrouperFish_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{96,56}</string>
                <key>spriteSourceSize</key>
                <string>{116,104}</string>
                <key>textureRect</key>
                <string>{{1,1273},{96,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GrouperFish_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{90,50}</string>
                <key>spriteSourceSize</key>
                <string>{116,104}</string>
                <key>textureRect</key>
                <string>{{1,1387},{90,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GrouperFish_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{82,52}</string>
                <key>spriteSourceSize</key>
                <string>{116,104}</string>
                <key>textureRect</key>
                <string>{{53,1439},{82,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GrouperFish_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{88,50}</string>
                <key>spriteSourceSize</key>
                <string>{116,104}</string>
                <key>textureRect</key>
                <string>{{1,1439},{88,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GrouperFish_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{94,54}</string>
                <key>spriteSourceSize</key>
                <string>{116,104}</string>
                <key>textureRect</key>
                <string>{{1,1331},{94,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GrouperFish_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{98,62}</string>
                <key>spriteSourceSize</key>
                <string>{116,104}</string>
                <key>textureRect</key>
                <string>{{1,1209},{98,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GrouperFish.png</string>
            <key>size</key>
            <string>{110,1528}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12375c90a7fbc5f0de287705792afc28:53f66c5542a7426af68820a7827d12ac:402aa65d23229c2677ada1df224d09e0$</string>
            <key>textureFileName</key>
            <string>GrouperFish.png</string>
        </dict>
    </dict>
</plist>
