<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GSeaTurtle_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,180}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{141,1},{136,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GSeaTurtle_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,176}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{141,183},{136,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GSeaTurtle_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{136,174}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{1,553},{136,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GSeaTurtle_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{136,172}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{417,1},{136,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GSeaTurtle_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{136,174}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{279,179},{136,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GSeaTurtle_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{136,176}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{279,1},{136,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GSeaTurtle_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{136,172}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{417,175},{136,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GSeaTurtle_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{138,162}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{555,171},{138,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GSeaTurtle_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,148}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{555,335},{138,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GSeaTurtle_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,136}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{417,349},{140,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GSeaTurtle_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{140,128}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{565,647},{140,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GSeaTurtle_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{142,122}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{701,433},{142,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GSeaTurtle_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{142,116}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{1,729},{142,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GSeaTurtle_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{142,116}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{701,557},{142,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GSeaTurtle_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{142,122}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{695,675},{142,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GSeaTurtle_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{142,134}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{429,653},{142,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GSeaTurtle_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{142,152}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{697,1},{142,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GSeaTurtle_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{140,168}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{555,1},{140,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GSeaTurtle_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{138,182}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{1,187},{138,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GSeaTurtle_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,184}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{1,1},{138,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GSeaTurtle_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,180}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{1,371},{136,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GSeaTurtle_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{140,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{279,503},{140,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GSeaTurtle_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{138,162}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{139,371},{138,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GSeaTurtle_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{138,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{421,491},{138,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GSeaTurtle_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{142,150}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{697,145},{142,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GSeaTurtle_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{146,140}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{145,699},{146,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GSeaTurtle_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{146,136}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{279,355},{146,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GSeaTurtle_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{146,140}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{287,665},{146,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GSeaTurtle_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{142,150}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{695,289},{142,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GSeaTurtle_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{138,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{561,485},{138,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GSeaTurtle_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{138,162}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{139,535},{138,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GSeaTurtle.png</string>
            <key>size</key>
            <string>{850,850}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a05654afca30319f9246a3bb8643738e:f24940f35af6673e4a1b7fb1b1959ae3:5f531bd610470697704d4177e0e33270$</string>
            <key>textureFileName</key>
            <string>GSeaTurtle.png</string>
        </dict>
    </dict>
</plist>
