<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GShark2_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{490,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{490,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GShark2_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{490,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{1,143},{490,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GShark2_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{490,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{493,1},{490,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GShark2_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{490,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{1,285},{490,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GShark2_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{488,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{985,143},{488,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GShark2_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{490,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{493,143},{490,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GShark2_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{488,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{1,569},{488,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GShark2_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{488,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{493,427},{488,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GShark2_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{490,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{985,1},{490,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GShark2_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{486,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{491,853},{486,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GShark2_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{488,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{985,285},{488,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GShark2_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{488,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{1,711},{488,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GShark2_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{488,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{491,569},{488,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GShark2_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{490,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{1,427},{490,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GShark2_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{490,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{493,285},{490,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GShark2_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{488,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{983,427},{488,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GShark2_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{488,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{1,853},{488,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GShark2_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{486,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{491,995},{486,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GShark2_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{488,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{491,711},{488,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GShark2_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{488,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{981,569},{488,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GShark2_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{488,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{1,995},{488,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GShark2_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{488,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{981,711},{488,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GShark2_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-5}</string>
                <key>spriteSize</key>
                <string>{476,148}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{1,1137},{476,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GShark2_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{472,142}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{979,853},{472,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GShark2_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,2}</string>
                <key>spriteSize</key>
                <string>{454,138}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{957,1141},{454,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GShark2_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,6}</string>
                <key>spriteSize</key>
                <string>{428,138}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{1453,853},{428,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GShark2_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,8}</string>
                <key>spriteSize</key>
                <string>{402,138}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{1473,433},{402,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GShark2_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,9}</string>
                <key>spriteSize</key>
                <string>{382,142}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{1477,1},{382,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GShark2_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,9}</string>
                <key>spriteSize</key>
                <string>{374,142}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{1475,289},{374,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GShark2_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,9}</string>
                <key>spriteSize</key>
                <string>{382,142}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{1475,145},{382,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GShark2_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,8}</string>
                <key>spriteSize</key>
                <string>{402,138}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{1471,573},{402,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GShark2_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,6}</string>
                <key>spriteSize</key>
                <string>{428,138}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{1733,713},{428,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GShark2_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,2}</string>
                <key>spriteSize</key>
                <string>{454,138}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{1593,713},{454,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GShark2_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{472,142}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{979,997},{472,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GShark2_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-5}</string>
                <key>spriteSize</key>
                <string>{476,148}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{479,1137},{476,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GShark2.png</string>
            <key>size</key>
            <string>{1876,1286}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd7072e7ccfa09a36e1c00822e480571:26c16a65b72edf86662716de51e7fe53:0ed953c78ce7002c7f73982d4ec1aba1$</string>
            <key>textureFileName</key>
            <string>GShark2.png</string>
        </dict>
    </dict>
</plist>
