<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GYellowFish_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{86,34}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{181,147},{86,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GYellowFish_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{86,32}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{89,297},{86,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GYellowFish_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{86,32}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{275,1},{86,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GYellowFish_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{86,30}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{309,1},{86,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GYellowFish_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{86,30}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{245,219},{86,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GYellowFish_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{86,32}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{211,219},{86,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GYellowFish_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{86,34}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{1,299},{86,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GYellowFish_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{86,36}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{1,223},{86,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GYellowFish_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{86,36}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{93,147},{86,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GYellowFish_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{86,36}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{185,71},{86,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GYellowFish_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{86,34}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{89,261},{86,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GYellowFish_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{86,32}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{273,89},{86,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GYellowFish_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{86,32}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{307,89},{86,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GYellowFish_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{86,36}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{1,261},{86,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GYellowFish_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{86,36}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{93,185},{86,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GYellowFish_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{86,36}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{89,223},{86,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GYellowFish_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{86,36}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{185,109},{86,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GYellowFish_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{86,34}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{181,183},{86,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GYellowFish_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{86,30}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{277,177},{86,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GYellowFish_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{86,30}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{309,177},{86,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GYellowFish_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{86,30}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{211,307},{86,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GYellowFish_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{88,32}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{177,223},{88,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GYellowFish_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{88,68}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{185,1},{88,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GYellowFish_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,70}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{1,151},{90,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GYellowFish_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{90,72}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{1,77},{90,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GYellowFish_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{90,74}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{1,1},{90,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GYellowFish_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{90,72}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{93,1},{90,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GYellowFish_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,70}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{93,75},{90,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GYellowFish.png</string>
            <key>size</key>
            <string>{340,340}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4160e415ed755f6fadc40a27fa50a57d:f15a82c0a7ff5ed10fcc9f19e6c68617:53259e98858ea45ffb9ad8c23dc9bdf9$</string>
            <key>textureFileName</key>
            <string>GYellowFish.png</string>
        </dict>
    </dict>
</plist>
