<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>JellyFish_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-21}</string>
                <key>spriteSize</key>
                <string>{214,106}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{1495,263},{214,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JellyFish_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-24}</string>
                <key>spriteSize</key>
                <string>{212,116}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{221,167},{212,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JellyFish_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-25}</string>
                <key>spriteSize</key>
                <string>{210,126}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{357,295},{210,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>JellyFish_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-24}</string>
                <key>spriteSize</key>
                <string>{206,136}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{637,321},{206,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JellyFish_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-24}</string>
                <key>spriteSize</key>
                <string>{200,142}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{1293,315},{200,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JellyFish_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-25}</string>
                <key>spriteSize</key>
                <string>{202,150}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{1755,177},{202,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JellyFish_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-26}</string>
                <key>spriteSize</key>
                <string>{208,154}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{1283,159},{208,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JellyFish_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-27}</string>
                <key>spriteSize</key>
                <string>{212,156}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{1323,1},{212,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JellyFish_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-28}</string>
                <key>spriteSize</key>
                <string>{218,156}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{1103,1},{218,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JellyFish_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-28}</string>
                <key>spriteSize</key>
                <string>{220,156}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{435,1},{220,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JellyFish_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-28}</string>
                <key>spriteSize</key>
                <string>{220,154}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{881,1},{220,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JellyFish_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-26}</string>
                <key>spriteSize</key>
                <string>{218,158}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{1,347},{218,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JellyFish_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-27}</string>
                <key>spriteSize</key>
                <string>{214,164}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{219,1},{214,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JellyFish_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-28}</string>
                <key>spriteSize</key>
                <string>{208,170}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{869,157},{208,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JellyFish_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-29}</string>
                <key>spriteSize</key>
                <string>{204,174}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{1755,1},{204,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JellyFish_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-30}</string>
                <key>spriteSize</key>
                <string>{202,174}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{1079,159},{202,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JellyFish_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-32}</string>
                <key>spriteSize</key>
                <string>{210,162}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{657,157},{210,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JellyFish_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-35}</string>
                <key>spriteSize</key>
                <string>{220,134}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{435,159},{220,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JellyFish_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-29}</string>
                <key>spriteSize</key>
                <string>{222,116}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{1069,335},{222,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JellyFish_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-22}</string>
                <key>spriteSize</key>
                <string>{216,106}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{1537,155},{216,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JellyFish_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-21}</string>
                <key>spriteSize</key>
                <string>{214,106}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{1495,371},{214,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JellyFish_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-21}</string>
                <key>spriteSize</key>
                <string>{214,106}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{1711,329},{214,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JellyFish_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-25}</string>
                <key>spriteSize</key>
                <string>{210,134}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{221,295},{210,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>JellyFish_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-25}</string>
                <key>spriteSize</key>
                <string>{202,150}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{485,295},{202,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>JellyFish_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-27}</string>
                <key>spriteSize</key>
                <string>{216,152}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{1537,1},{216,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JellyFish_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-28}</string>
                <key>spriteSize</key>
                <string>{222,154}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{657,1},{222,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JellyFish_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-27}</string>
                <key>spriteSize</key>
                <string>{216,168}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{1,1},{216,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JellyFish_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-30}</string>
                <key>spriteSize</key>
                <string>{206,174}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{1,171},{206,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JellyFish_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-33}</string>
                <key>spriteSize</key>
                <string>{222,120}</string>
                <key>spriteSourceSize</key>
                <string>{280,250}</string>
                <key>textureRect</key>
                <string>{{845,329},{222,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>JellyFish.png</string>
            <key>size</key>
            <string>{1960,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5a850ac5f2a4e5dbfe5eb5f3df28a4c:504b15baca9e7d63425b4513d0a4f50b:38f38afbb1c1be75481173df8b76ef82$</string>
            <key>textureFileName</key>
            <string>JellyFish.png</string>
        </dict>
    </dict>
</plist>
