<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>KissingFish_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,30}</string>
                <key>spriteSourceSize</key>
                <string>{77,36}</string>
                <key>textureRect</key>
                <string>{{1,1},{77,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KissingFish_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,30}</string>
                <key>spriteSourceSize</key>
                <string>{77,36}</string>
                <key>textureRect</key>
                <string>{{1,33},{77,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KissingFish_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,30}</string>
                <key>spriteSourceSize</key>
                <string>{77,36}</string>
                <key>textureRect</key>
                <string>{{1,65},{77,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KissingFish_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,30}</string>
                <key>spriteSourceSize</key>
                <string>{77,36}</string>
                <key>textureRect</key>
                <string>{{1,97},{77,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KissingFish_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,30}</string>
                <key>spriteSourceSize</key>
                <string>{77,36}</string>
                <key>textureRect</key>
                <string>{{1,129},{77,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KissingFish_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{77,32}</string>
                <key>spriteSourceSize</key>
                <string>{77,36}</string>
                <key>textureRect</key>
                <string>{{1,193},{77,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KissingFish_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{77,32}</string>
                <key>spriteSourceSize</key>
                <string>{77,36}</string>
                <key>textureRect</key>
                <string>{{1,227},{77,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KissingFish_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{77,32}</string>
                <key>spriteSourceSize</key>
                <string>{77,36}</string>
                <key>textureRect</key>
                <string>{{1,261},{77,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KissingFish_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{77,32}</string>
                <key>spriteSourceSize</key>
                <string>{77,36}</string>
                <key>textureRect</key>
                <string>{{1,295},{77,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KissingFish_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{77,32}</string>
                <key>spriteSourceSize</key>
                <string>{77,36}</string>
                <key>textureRect</key>
                <string>{{1,329},{77,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KissingFish_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{77,32}</string>
                <key>spriteSourceSize</key>
                <string>{77,36}</string>
                <key>textureRect</key>
                <string>{{1,363},{77,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KissingFish_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{77,32}</string>
                <key>spriteSourceSize</key>
                <string>{77,36}</string>
                <key>textureRect</key>
                <string>{{1,397},{77,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KissingFish_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{75,34}</string>
                <key>spriteSourceSize</key>
                <string>{77,36}</string>
                <key>textureRect</key>
                <string>{{80,1},{75,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>KissingFish_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{75,34}</string>
                <key>spriteSourceSize</key>
                <string>{77,36}</string>
                <key>textureRect</key>
                <string>{{80,78},{75,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>KissingFish_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{75,34}</string>
                <key>spriteSourceSize</key>
                <string>{77,36}</string>
                <key>textureRect</key>
                <string>{{80,155},{75,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>KissingFish_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{75,34}</string>
                <key>spriteSourceSize</key>
                <string>{77,36}</string>
                <key>textureRect</key>
                <string>{{80,232},{75,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>KissingFish_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{75,32}</string>
                <key>spriteSourceSize</key>
                <string>{77,36}</string>
                <key>textureRect</key>
                <string>{{80,309},{75,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>KissingFish_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{75,32}</string>
                <key>spriteSourceSize</key>
                <string>{77,36}</string>
                <key>textureRect</key>
                <string>{{80,386},{75,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>KissingFish_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{75,32}</string>
                <key>spriteSourceSize</key>
                <string>{77,36}</string>
                <key>textureRect</key>
                <string>{{1,431},{75,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KissingFish_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{77,32}</string>
                <key>spriteSourceSize</key>
                <string>{77,36}</string>
                <key>textureRect</key>
                <string>{{1,465},{77,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KissingFish_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{77,32}</string>
                <key>spriteSourceSize</key>
                <string>{77,36}</string>
                <key>textureRect</key>
                <string>{{1,499},{77,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KissingFish_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,30}</string>
                <key>spriteSourceSize</key>
                <string>{77,36}</string>
                <key>textureRect</key>
                <string>{{1,161},{77,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>KissingFish.png</string>
            <key>size</key>
            <string>{115,532}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41b22bea5ff1895530d5b9a419ea4314:6bc85690508ff1e8d63e2bbb18181308:e0547eaee6233f8ef5ca89d995f50bff$</string>
            <key>textureFileName</key>
            <string>KissingFish.png</string>
        </dict>
    </dict>
</plist>
