<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lantern2_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-3}</string>
                <key>spriteSize</key>
                <string>{170,70}</string>
                <key>spriteSourceSize</key>
                <string>{180,100}</string>
                <key>textureRect</key>
                <string>{{321,195},{170,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern2_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{170,68}</string>
                <key>spriteSourceSize</key>
                <string>{180,100}</string>
                <key>textureRect</key>
                <string>{{317,267},{170,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern2_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{170,64}</string>
                <key>spriteSourceSize</key>
                <string>{180,100}</string>
                <key>textureRect</key>
                <string>{{313,407},{170,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern2_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-2}</string>
                <key>spriteSize</key>
                <string>{168,60}</string>
                <key>spriteSourceSize</key>
                <string>{180,100}</string>
                <key>textureRect</key>
                <string>{{1,675},{168,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern2_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{170,62}</string>
                <key>spriteSourceSize</key>
                <string>{180,100}</string>
                <key>textureRect</key>
                <string>{{173,543},{170,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lantern2_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{170,64}</string>
                <key>spriteSourceSize</key>
                <string>{180,100}</string>
                <key>textureRect</key>
                <string>{{313,473},{170,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern2_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{170,66}</string>
                <key>spriteSourceSize</key>
                <string>{180,100}</string>
                <key>textureRect</key>
                <string>{{1,415},{170,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern2_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{170,70}</string>
                <key>spriteSourceSize</key>
                <string>{180,100}</string>
                <key>textureRect</key>
                <string>{{1,199},{170,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern2_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{170,70}</string>
                <key>spriteSourceSize</key>
                <string>{180,100}</string>
                <key>textureRect</key>
                <string>{{173,199},{170,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lantern2_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{170,68}</string>
                <key>spriteSourceSize</key>
                <string>{180,100}</string>
                <key>textureRect</key>
                <string>{{317,337},{170,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern2_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{170,64}</string>
                <key>spriteSourceSize</key>
                <string>{180,100}</string>
                <key>textureRect</key>
                <string>{{313,539},{170,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern2_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{170,62}</string>
                <key>spriteSourceSize</key>
                <string>{180,100}</string>
                <key>textureRect</key>
                <string>{{237,543},{170,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lantern2_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{170,62}</string>
                <key>spriteSourceSize</key>
                <string>{180,100}</string>
                <key>textureRect</key>
                <string>{{301,605},{170,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern2_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{170,68}</string>
                <key>spriteSourceSize</key>
                <string>{180,100}</string>
                <key>textureRect</key>
                <string>{{173,371},{170,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lantern2_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{170,70}</string>
                <key>spriteSourceSize</key>
                <string>{180,100}</string>
                <key>textureRect</key>
                <string>{{245,199},{170,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lantern2_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{170,70}</string>
                <key>spriteSourceSize</key>
                <string>{180,100}</string>
                <key>textureRect</key>
                <string>{{1,271},{170,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern2_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{170,70}</string>
                <key>spriteSourceSize</key>
                <string>{180,100}</string>
                <key>textureRect</key>
                <string>{{1,343},{170,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern2_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{170,66}</string>
                <key>spriteSourceSize</key>
                <string>{180,100}</string>
                <key>textureRect</key>
                <string>{{1,483},{170,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern2_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{170,62}</string>
                <key>spriteSourceSize</key>
                <string>{180,100}</string>
                <key>textureRect</key>
                <string>{{301,669},{170,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern2_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{170,60}</string>
                <key>spriteSourceSize</key>
                <string>{180,100}</string>
                <key>textureRect</key>
                <string>{{1,551},{170,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern2_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{170,60}</string>
                <key>spriteSourceSize</key>
                <string>{180,100}</string>
                <key>textureRect</key>
                <string>{{1,613},{170,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern2_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{170,68}</string>
                <key>spriteSourceSize</key>
                <string>{180,100}</string>
                <key>textureRect</key>
                <string>{{243,371},{170,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lantern2_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{162,98}</string>
                <key>spriteSourceSize</key>
                <string>{180,100}</string>
                <key>textureRect</key>
                <string>{{337,1},{162,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern2_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{166,98}</string>
                <key>spriteSourceSize</key>
                <string>{180,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{166,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern2_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{158,96}</string>
                <key>spriteSourceSize</key>
                <string>{180,100}</string>
                <key>textureRect</key>
                <string>{{1,101},{158,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern2_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,1}</string>
                <key>spriteSize</key>
                <string>{138,92}</string>
                <key>spriteSourceSize</key>
                <string>{180,100}</string>
                <key>textureRect</key>
                <string>{{321,101},{138,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern2_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{158,96}</string>
                <key>spriteSourceSize</key>
                <string>{180,100}</string>
                <key>textureRect</key>
                <string>{{161,101},{158,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern2_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{166,98}</string>
                <key>spriteSourceSize</key>
                <string>{180,100}</string>
                <key>textureRect</key>
                <string>{{169,1},{166,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Lantern2.png</string>
            <key>size</key>
            <string>{500,736}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3041b89a9237f4042fda290e8588ebf3:bd0e38e78195826b37da2d6dd965a25b:cb4a27bcbd13822b0f0853d37240df79$</string>
            <key>textureFileName</key>
            <string>Lantern2.png</string>
        </dict>
    </dict>
</plist>
