<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Marlins2_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-24}</string>
                <key>spriteSize</key>
                <string>{416,122}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1,1375},{416,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Marlins2_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-24}</string>
                <key>spriteSize</key>
                <string>{426,120}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{431,767},{426,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Marlins2_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-24}</string>
                <key>spriteSize</key>
                <string>{428,118}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1,543},{428,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Marlins2_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-25}</string>
                <key>spriteSize</key>
                <string>{430,114}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1,303},{430,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Marlins2_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-26}</string>
                <key>spriteSize</key>
                <string>{428,110}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1,663},{428,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Marlins2_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-27}</string>
                <key>spriteSize</key>
                <string>{424,108}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{427,1001},{424,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Marlins2_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-27}</string>
                <key>spriteSize</key>
                <string>{426,110}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{429,889},{426,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Marlins2_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-28}</string>
                <key>spriteSize</key>
                <string>{432,110}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{435,179},{432,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Marlins2_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-28}</string>
                <key>spriteSize</key>
                <string>{430,116}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{435,291},{430,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Marlins2_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-29}</string>
                <key>spriteSize</key>
                <string>{428,118}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{431,647},{428,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Marlins2_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-29}</string>
                <key>spriteSize</key>
                <string>{428,120}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{431,525},{428,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Marlins2_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-29}</string>
                <key>spriteSize</key>
                <string>{432,122}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1,179},{432,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Marlins2_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-29}</string>
                <key>spriteSize</key>
                <string>{428,122}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1,419},{428,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Marlins2_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-29}</string>
                <key>spriteSize</key>
                <string>{422,118}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1,1133},{422,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Marlins2_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-31}</string>
                <key>spriteSize</key>
                <string>{422,120}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1,1011},{422,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Marlins2_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-31}</string>
                <key>spriteSize</key>
                <string>{420,120}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1,1253},{420,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Marlins2_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-33}</string>
                <key>spriteSize</key>
                <string>{422,120}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{425,1111},{422,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Marlins2_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-31}</string>
                <key>spriteSize</key>
                <string>{420,118}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{423,1345},{420,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Marlins2_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-26}</string>
                <key>spriteSize</key>
                <string>{422,110}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{425,1233},{422,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Marlins2_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-25}</string>
                <key>spriteSize</key>
                <string>{424,112}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1,897},{424,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Marlins2_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-25}</string>
                <key>spriteSize</key>
                <string>{430,114}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{433,409},{430,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Marlins2_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-24}</string>
                <key>spriteSize</key>
                <string>{426,120}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1,775},{426,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Marlins2_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-84,-44}</string>
                <key>spriteSize</key>
                <string>{264,152}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{869,1},{264,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Marlins2_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,-48}</string>
                <key>spriteSize</key>
                <string>{312,162}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{861,533},{312,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Marlins2_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-47}</string>
                <key>spriteSize</key>
                <string>{390,164}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{859,847},{390,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Marlins2_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-36}</string>
                <key>spriteSize</key>
                <string>{432,176}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1,1},{432,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Marlins2_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,2}</string>
                <key>spriteSize</key>
                <string>{374,224}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1,1499},{374,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Marlins2_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-59,20}</string>
                <key>spriteSize</key>
                <string>{312,242}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{453,1631},{312,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Marlins2_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,2}</string>
                <key>spriteSize</key>
                <string>{374,224}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{227,1499},{374,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Marlins2_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-36}</string>
                <key>spriteSize</key>
                <string>{432,176}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{435,1},{432,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Marlins2_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-47}</string>
                <key>spriteSize</key>
                <string>{390,164}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{849,1239},{390,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Marlins2_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,-48}</string>
                <key>spriteSize</key>
                <string>{312,162}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{453,1465},{312,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Marlins2_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-84,-44}</string>
                <key>spriteSize</key>
                <string>{264,152}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{869,267},{264,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Marlins2.png</string>
            <key>size</key>
            <string>{1024,1874}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f64dc625661ce608535ee3bbe8c1bf84:3a060fec6cb7187a4c8b50ae07936701:d3a84ce6c3f9197d83304becfe772e62$</string>
            <key>textureFileName</key>
            <string>Marlins2.png</string>
        </dict>
    </dict>
</plist>
