<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mermaid_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{564,214}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1,2305},{564,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{568,216}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{573,1799},{568,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{572,216}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{587,1349},{572,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,2}</string>
                <key>spriteSize</key>
                <string>{570,222}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1,1623},{570,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,8}</string>
                <key>spriteSize</key>
                <string>{566,234}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{571,2017},{566,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,9}</string>
                <key>spriteSize</key>
                <string>{552,240}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1,2955},{552,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,5}</string>
                <key>spriteSize</key>
                <string>{548,236}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{555,3185},{548,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,1}</string>
                <key>spriteSize</key>
                <string>{550,230}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1113,2971},{550,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{554,224}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1121,2745},{554,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{564,222}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{567,2253},{564,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{572,216}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1,1405},{572,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-2}</string>
                <key>spriteSize</key>
                <string>{560,214}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1,2521},{560,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-3}</string>
                <key>spriteSize</key>
                <string>{540,214}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1,3663},{540,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-2}</string>
                <key>spriteSize</key>
                <string>{524,214}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1079,4009},{524,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-3}</string>
                <key>spriteSize</key>
                <string>{520,216}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1057,4225},{520,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-2}</string>
                <key>spriteSize</key>
                <string>{546,214}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1105,3203},{546,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-2}</string>
                <key>spriteSize</key>
                <string>{556,216}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1,2737},{556,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{562,216}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1133,2349},{562,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{562,216}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{567,2477},{562,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{568,216}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1,1847},{568,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,3}</string>
                <key>spriteSize</key>
                <string>{572,208}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1161,1525},{572,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,8}</string>
                <key>spriteSize</key>
                <string>{572,218}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1179,1305},{572,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,15}</string>
                <key>spriteSize</key>
                <string>{570,230}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{575,1567},{570,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,22}</string>
                <key>spriteSize</key>
                <string>{564,238}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1,2065},{564,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,29}</string>
                <key>spriteSize</key>
                <string>{560,244}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1799,1},{560,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mermaid_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,35}</string>
                <key>spriteSize</key>
                <string>{556,244}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{563,2695},{556,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,40}</string>
                <key>spriteSize</key>
                <string>{552,242}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{559,2941},{552,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,43}</string>
                <key>spriteSize</key>
                <string>{546,236}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1,3197},{546,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,45}</string>
                <key>spriteSize</key>
                <string>{540,226}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1,3435},{540,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,45}</string>
                <key>spriteSize</key>
                <string>{534,214}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{543,3831},{534,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,43}</string>
                <key>spriteSize</key>
                <string>{528,200}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1,3879},{528,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,47}</string>
                <key>spriteSize</key>
                <string>{522,196}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1,4081},{522,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,50}</string>
                <key>spriteSize</key>
                <string>{516,200}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{525,4229},{516,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,51}</string>
                <key>spriteSize</key>
                <string>{510,204}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1,4699},{510,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,51}</string>
                <key>spriteSize</key>
                <string>{500,204}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1531,4549},{500,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,53}</string>
                <key>spriteSize</key>
                <string>{490,206}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{513,4901},{490,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{45,54}</string>
                <key>spriteSize</key>
                <string>{474,210}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{553,5523},{474,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mermaid_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,55}</string>
                <key>spriteSize</key>
                <string>{456,214}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1579,4333},{456,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,48}</string>
                <key>spriteSize</key>
                <string>{438,232}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{993,5297},{438,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,41}</string>
                <key>spriteSize</key>
                <string>{424,248}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1239,5531},{424,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mermaid_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,36}</string>
                <key>spriteSize</key>
                <string>{414,260}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1489,5601},{414,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,34}</string>
                <key>spriteSize</key>
                <string>{410,262}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1781,563},{410,262}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mermaid_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,35}</string>
                <key>spriteSize</key>
                <string>{416,256}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1489,5343},{416,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,41}</string>
                <key>spriteSize</key>
                <string>{432,244}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{993,5531},{432,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mermaid_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,49}</string>
                <key>spriteSize</key>
                <string>{452,226}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{765,5523},{452,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mermaid_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,58}</string>
                <key>spriteSize</key>
                <string>{476,202}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{349,5523},{476,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mermaid_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{58,66}</string>
                <key>spriteSize</key>
                <string>{500,184}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1531,4755},{500,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{66,64}</string>
                <key>spriteSize</key>
                <string>{524,180}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{531,4047},{524,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{74,63}</string>
                <key>spriteSize</key>
                <string>{544,180}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1105,3419},{544,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{80,60}</string>
                <key>spriteSize</key>
                <string>{558,176}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1131,2567},{558,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{83,57}</string>
                <key>spriteSize</key>
                <string>{570,174}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1147,1735},{570,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{87,56}</string>
                <key>spriteSize</key>
                <string>{576,178}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1179,1125},{576,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{90,58}</string>
                <key>spriteSize</key>
                <string>{582,190}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1179,933},{582,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{91,61}</string>
                <key>spriteSize</key>
                <string>{586,206}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1,949},{586,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{92,64}</string>
                <key>spriteSize</key>
                <string>{588,220}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1185,711},{588,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{92,65}</string>
                <key>spriteSize</key>
                <string>{588,232}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1,715},{588,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{90,63}</string>
                <key>spriteSize</key>
                <string>{590,242}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1,471},{590,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{89,60}</string>
                <key>spriteSize</key>
                <string>{590,242}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1189,467},{590,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{88,51}</string>
                <key>spriteSize</key>
                <string>{590,240}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{593,681},{590,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{87,42}</string>
                <key>spriteSize</key>
                <string>{592,234}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1,235},{592,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{88,31}</string>
                <key>spriteSize</key>
                <string>{592,228}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{595,451},{592,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{89,19}</string>
                <key>spriteSize</key>
                <string>{594,218}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{601,231},{594,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{91,14}</string>
                <key>spriteSize</key>
                <string>{596,222}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1201,1},{596,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00063.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{95,11}</string>
                <key>spriteSize</key>
                <string>{598,228}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{601,1},{598,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{98,8}</string>
                <key>spriteSize</key>
                <string>{598,232}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{598,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00065.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{99,5}</string>
                <key>spriteSize</key>
                <string>{594,240}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1201,225},{594,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{98,1}</string>
                <key>spriteSize</key>
                <string>{584,246}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1,1157},{584,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00067.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{93,-13}</string>
                <key>spriteSize</key>
                <string>{568,278}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1763,975},{568,278}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mermaid_00068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{84,-30}</string>
                <key>spriteSize</key>
                <string>{548,316}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1711,2225},{548,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mermaid_00069.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{74,-44}</string>
                <key>spriteSize</key>
                <string>{524,350}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1677,2775},{524,350}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mermaid_00070.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{65,-53}</string>
                <key>spriteSize</key>
                <string>{502,378}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1653,3301},{502,378}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mermaid_00071.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{59,-56}</string>
                <key>spriteSize</key>
                <string>{486,400}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1523,4941},{486,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00072.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{59,-54}</string>
                <key>spriteSize</key>
                <string>{482,412}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{491,5109},{482,412}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00073.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{65,-47}</string>
                <key>spriteSize</key>
                <string>{488,418}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1,4905},{488,418}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00074.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{75,-36}</string>
                <key>spriteSize</key>
                <string>{500,420}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1029,4443},{500,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00075.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{86,-23}</string>
                <key>spriteSize</key>
                <string>{514,418}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1,4279},{514,418}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00076.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{95,-8}</string>
                <key>spriteSize</key>
                <string>{526,412}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1631,3805},{526,412}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mermaid_00077.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{101,6}</string>
                <key>spriteSize</key>
                <string>{536,406}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1093,3601},{536,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00078.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{108,19}</string>
                <key>spriteSize</key>
                <string>{542,406}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{549,3423},{542,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00079.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{136,31}</string>
                <key>spriteSize</key>
                <string>{586,424}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{591,923},{586,424}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00080.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{133,59}</string>
                <key>spriteSize</key>
                <string>{566,436}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1143,1911},{566,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00081.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{113,66}</string>
                <key>spriteSize</key>
                <string>{510,468}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{517,4431},{510,468}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00082.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{94,54}</string>
                <key>spriteSize</key>
                <string>{430,492}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1029,4865},{430,492}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mermaid_00083.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{67,61}</string>
                <key>spriteSize</key>
                <string>{346,478}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1,5523},{346,478}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00084.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{59,97}</string>
                <key>spriteSize</key>
                <string>{320,406}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1719,1817},{320,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mermaid_00085.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,148}</string>
                <key>spriteSize</key>
                <string>{270,304}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1735,1545},{270,304}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mermaid_00086.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{60,202}</string>
                <key>spriteSize</key>
                <string>{234,196}</string>
                <key>spriteSourceSize</key>
                <string>{880,600}</string>
                <key>textureRect</key>
                <string>{{1,5325},{234,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Mermaid.png</string>
            <key>size</key>
            <string>{2044,6002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0738119ff7aae5001c2e2c975e80a66f:628010edb34fa2ef2c27a9e79971fcce:c920391b653cdddbe6bea173a2b8e194$</string>
            <key>textureFileName</key>
            <string>Mermaid.png</string>
        </dict>
    </dict>
</plist>
