<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Octopus_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-1}</string>
                <key>spriteSize</key>
                <string>{132,234}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{863,1},{132,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Octopus_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-8}</string>
                <key>spriteSize</key>
                <string>{106,222}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{499,505},{106,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Octopus_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-7}</string>
                <key>spriteSize</key>
                <string>{110,170}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{755,757},{110,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Octopus_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-6}</string>
                <key>spriteSize</key>
                <string>{118,158}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{461,775},{118,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Octopus_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-9}</string>
                <key>spriteSize</key>
                <string>{132,178}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{789,489},{132,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Octopus_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-6}</string>
                <key>spriteSize</key>
                <string>{172,156}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{581,757},{172,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Octopus_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{190,70}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{281,943},{190,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Octopus_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{188,64}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{607,691},{188,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Octopus_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,66}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{867,873},{188,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Octopus_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{192,68}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{937,677},{192,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Octopus_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{194,68}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{867,677},{194,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Octopus_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{198,66}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{649,929},{198,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Octopus_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-3}</string>
                <key>spriteSize</key>
                <string>{204,60}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{649,997},{204,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Octopus_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-5}</string>
                <key>spriteSize</key>
                <string>{208,56}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{287,717},{208,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Octopus_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-4}</string>
                <key>spriteSize</key>
                <string>{210,60}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{1,1001},{210,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Octopus_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-5}</string>
                <key>spriteSize</key>
                <string>{212,68}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{923,463},{212,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Octopus_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-6}</string>
                <key>spriteSize</key>
                <string>{188,180}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{607,501},{188,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Octopus_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{132,234}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{761,253},{132,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Octopus_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-11}</string>
                <key>spriteSize</key>
                <string>{108,224}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{895,237},{108,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Octopus_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-11}</string>
                <key>spriteSize</key>
                <string>{116,174}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{473,935},{116,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Octopus_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,-8}</string>
                <key>spriteSize</key>
                <string>{178,166}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{281,775},{178,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Octopus_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,3}</string>
                <key>spriteSize</key>
                <string>{210,210}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{287,505},{210,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Octopus_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,2}</string>
                <key>spriteSize</key>
                <string>{210,246}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{549,253},{210,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Octopus_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,0}</string>
                <key>spriteSize</key>
                <string>{256,250}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{291,253},{256,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Octopus_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,0}</string>
                <key>spriteSize</key>
                <string>{278,250}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{1,749},{278,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Octopus_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,2}</string>
                <key>spriteSize</key>
                <string>{288,246}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{1,1},{288,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Octopus_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,2}</string>
                <key>spriteSize</key>
                <string>{288,246}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{1,249},{288,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Octopus_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{284,250}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{291,1},{284,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Octopus_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{284,250}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{1,497},{284,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Octopus_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{284,250}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{577,1},{284,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Octopus.png</string>
            <key>size</key>
            <string>{1006,1062}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d29c4ce51f3c4fddbc3cecef991f7025:f74c4f6a7fee57af6f7b020a917592af:f802f42c1ade98fcc8948079b905b0b2$</string>
            <key>textureFileName</key>
            <string>Octopus.png</string>
        </dict>
    </dict>
</plist>
