<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Paddlefish_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{343,44}</string>
                <key>spriteSourceSize</key>
                <string>{389,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{343,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Paddlefish_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{343,50}</string>
                <key>spriteSourceSize</key>
                <string>{389,200}</string>
                <key>textureRect</key>
                <string>{{344,49},{343,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Paddlefish_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{343,60}</string>
                <key>spriteSourceSize</key>
                <string>{389,200}</string>
                <key>textureRect</key>
                <string>{{1,205},{343,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Paddlefish_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,68}</string>
                <key>spriteSourceSize</key>
                <string>{389,200}</string>
                <key>textureRect</key>
                <string>{{342,401},{341,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Paddlefish_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{341,68}</string>
                <key>spriteSourceSize</key>
                <string>{389,200}</string>
                <key>textureRect</key>
                <string>{{342,471},{341,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Paddlefish_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{341,62}</string>
                <key>spriteSourceSize</key>
                <string>{389,200}</string>
                <key>textureRect</key>
                <string>{{342,337},{341,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Paddlefish_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{341,50}</string>
                <key>spriteSourceSize</key>
                <string>{389,200}</string>
                <key>textureRect</key>
                <string>{{1,97},{341,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Paddlefish_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{341,46}</string>
                <key>spriteSourceSize</key>
                <string>{389,200}</string>
                <key>textureRect</key>
                <string>{{346,1},{341,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Paddlefish_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,6}</string>
                <key>spriteSize</key>
                <string>{341,48}</string>
                <key>spriteSourceSize</key>
                <string>{389,200}</string>
                <key>textureRect</key>
                <string>{{1,47},{341,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Paddlefish_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{341,50}</string>
                <key>spriteSourceSize</key>
                <string>{389,200}</string>
                <key>textureRect</key>
                <string>{{344,101},{341,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Paddlefish_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{341,60}</string>
                <key>spriteSourceSize</key>
                <string>{389,200}</string>
                <key>textureRect</key>
                <string>{{346,213},{341,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Paddlefish_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{341,68}</string>
                <key>spriteSourceSize</key>
                <string>{389,200}</string>
                <key>textureRect</key>
                <string>{{342,541},{341,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Paddlefish_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{339,68}</string>
                <key>spriteSourceSize</key>
                <string>{389,200}</string>
                <key>textureRect</key>
                <string>{{1,465},{339,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Paddlefish_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,9}</string>
                <key>spriteSize</key>
                <string>{337,60}</string>
                <key>spriteSourceSize</key>
                <string>{389,200}</string>
                <key>textureRect</key>
                <string>{{1,267},{337,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Paddlefish_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,11}</string>
                <key>spriteSize</key>
                <string>{337,58}</string>
                <key>spriteSourceSize</key>
                <string>{389,200}</string>
                <key>textureRect</key>
                <string>{{346,153},{337,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Paddlefish_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,12}</string>
                <key>spriteSize</key>
                <string>{337,60}</string>
                <key>spriteSourceSize</key>
                <string>{389,200}</string>
                <key>textureRect</key>
                <string>{{340,275},{337,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Paddlefish_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,12}</string>
                <key>spriteSize</key>
                <string>{339,60}</string>
                <key>spriteSourceSize</key>
                <string>{389,200}</string>
                <key>textureRect</key>
                <string>{{1,337},{339,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Paddlefish_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,9}</string>
                <key>spriteSize</key>
                <string>{339,64}</string>
                <key>spriteSourceSize</key>
                <string>{389,200}</string>
                <key>textureRect</key>
                <string>{{1,399},{339,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Paddlefish_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{339,68}</string>
                <key>spriteSourceSize</key>
                <string>{389,200}</string>
                <key>textureRect</key>
                <string>{{1,535},{339,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Paddlefish_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{341,72}</string>
                <key>spriteSourceSize</key>
                <string>{389,200}</string>
                <key>textureRect</key>
                <string>{{795,290},{341,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Paddlefish_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{341,68}</string>
                <key>spriteSourceSize</key>
                <string>{389,200}</string>
                <key>textureRect</key>
                <string>{{1,611},{341,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Paddlefish_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{343,50}</string>
                <key>spriteSourceSize</key>
                <string>{389,200}</string>
                <key>textureRect</key>
                <string>{{1,153},{343,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Paddlefish_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,19}</string>
                <key>spriteSize</key>
                <string>{337,154}</string>
                <key>spriteSourceSize</key>
                <string>{389,200}</string>
                <key>textureRect</key>
                <string>{{334,729},{337,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Paddlefish_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,14}</string>
                <key>spriteSize</key>
                <string>{331,148}</string>
                <key>spriteSourceSize</key>
                <string>{389,200}</string>
                <key>textureRect</key>
                <string>{{1,681},{331,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Paddlefish_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-5}</string>
                <key>spriteSize</key>
                <string>{317,116}</string>
                <key>spriteSourceSize</key>
                <string>{389,200}</string>
                <key>textureRect</key>
                <string>{{344,611},{317,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Paddlefish_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-17}</string>
                <key>spriteSize</key>
                <string>{287,94}</string>
                <key>spriteSourceSize</key>
                <string>{389,200}</string>
                <key>textureRect</key>
                <string>{{789,1},{287,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Paddlefish_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-14}</string>
                <key>spriteSize</key>
                <string>{275,98}</string>
                <key>spriteSourceSize</key>
                <string>{389,200}</string>
                <key>textureRect</key>
                <string>{{689,1},{275,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Paddlefish_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-6}</string>
                <key>spriteSize</key>
                <string>{289,108}</string>
                <key>spriteSourceSize</key>
                <string>{389,200}</string>
                <key>textureRect</key>
                <string>{{685,290},{289,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Paddlefish.png</string>
            <key>size</key>
            <string>{884,884}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26acbc57f54070b18806097994c3e9b2:ec269b39e3e6cee412f7c2e645071180:4997867ad6c7e6be52c7363cada6ff49$</string>
            <key>textureFileName</key>
            <string>Paddlefish.png</string>
        </dict>
    </dict>
</plist>
