<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Seahorse_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{51,91}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{1,101},{51,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Seahorse_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{51,91}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{94,103},{51,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Seahorse_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{51,91}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{1,154},{51,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Seahorse_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{51,91}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{147,155},{51,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Seahorse_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{51,91}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{1,207},{51,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Seahorse_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{51,91}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{94,208},{51,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Seahorse_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{51,91}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{187,208},{51,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Seahorse_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{51,91}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{1,260},{51,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Seahorse_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{51,91}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{94,261},{51,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Seahorse_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{51,91}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{1,313},{51,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Seahorse_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{51,91}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{94,314},{51,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Seahorse_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{51,91}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{187,301},{51,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Seahorse_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{51,91}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{1,366},{51,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Seahorse_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{51,91}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{94,367},{51,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Seahorse_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{51,91}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{1,419},{51,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Seahorse_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{51,91}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{94,420},{51,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Seahorse_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{51,91}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{187,394},{51,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Seahorse_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{51,91}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{1,472},{51,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Seahorse_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{51,91}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{94,473},{51,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Seahorse_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{51,91}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{1,525},{51,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Seahorse_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{51,91}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{94,526},{51,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Seahorse_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{51,91}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{187,487},{51,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Seahorse_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{49,95}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{1,50},{49,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Seahorse_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{47,91}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{1,1},{47,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Seahorse_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,9}</string>
                <key>spriteSize</key>
                <string>{51,79}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{187,1},{51,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Seahorse_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,14}</string>
                <key>spriteSize</key>
                <string>{55,71}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{179,82},{55,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Seahorse_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,9}</string>
                <key>spriteSize</key>
                <string>{51,79}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{98,50},{51,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Seahorse_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{47,91}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{94,1},{47,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Seahorse.png</string>
            <key>size</key>
            <string>{239,579}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c02e44a98f48e202be93825df89ef1ec:83880ab9f84166b2b17f4bc1ff88fd49:4b75e7c624eeec591734554b4b7aa71d$</string>
            <key>textureFileName</key>
            <string>Seahorse.png</string>
        </dict>
    </dict>
</plist>
