<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Shark2_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{492,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{143,1},{492,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shark2_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{492,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{143,495},{492,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shark2_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{492,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{285,1},{492,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shark2_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{492,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{285,495},{492,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shark2_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{494,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{494,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shark2_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{488,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{1421,143},{488,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark2_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,5}</string>
                <key>spriteSize</key>
                <string>{486,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{1421,427},{486,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark2_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{490,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{985,783},{490,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shark2_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{492,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{427,1},{492,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shark2_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{492,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{427,495},{492,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shark2_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{492,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{985,1},{492,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark2_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{492,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{569,143},{492,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shark2_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{492,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{711,143},{492,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shark2_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,5}</string>
                <key>spriteSize</key>
                <string>{494,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{1,497},{494,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shark2_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{492,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{853,143},{492,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shark2_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{490,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{1127,783},{490,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shark2_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{492,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{995,143},{492,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shark2_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{492,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{1137,143},{492,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shark2_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{488,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{1421,285},{488,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark2_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{492,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{1279,143},{492,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shark2_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{490,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{1269,783},{490,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shark2_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{490,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{1411,713},{490,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark2_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{492,150}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{1,993},{492,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark2_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{488,146}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{495,989},{488,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark2_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,3}</string>
                <key>spriteSize</key>
                <string>{468,142}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{1421,569},{468,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark2_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,7}</string>
                <key>spriteSize</key>
                <string>{442,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{1411,999},{442,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark2_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,9}</string>
                <key>spriteSize</key>
                <string>{414,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{569,1},{414,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark2_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,10}</string>
                <key>spriteSize</key>
                <string>{392,144}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{569,785},{392,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark2_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,11}</string>
                <key>spriteSize</key>
                <string>{386,146}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{569,637},{386,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark2_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,10}</string>
                <key>spriteSize</key>
                <string>{392,144}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{957,637},{392,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark2_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,9}</string>
                <key>spriteSize</key>
                <string>{414,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{1479,1},{414,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark2_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,7}</string>
                <key>spriteSize</key>
                <string>{442,140}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{1411,1141},{442,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark2_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,3}</string>
                <key>spriteSize</key>
                <string>{468,142}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{1411,855},{468,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark2_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{488,146}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{495,1137},{488,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark2_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{492,150}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{1,1145},{492,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Shark2.png</string>
            <key>size</key>
            <string>{1910,1296}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:426575c5be2c63cd8c2c1d3edabd0209:32002dbda08508b88e4c854e65221301:e455d868456c29b069b1c1ab98b268d3$</string>
            <key>textureFileName</key>
            <string>Shark2.png</string>
        </dict>
    </dict>
</plist>
