<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Shark2_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{337,124}</string>
                <key>spriteSourceSize</key>
                <string>{391,132}</string>
                <key>textureRect</key>
                <string>{{378,255},{337,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark2_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{337,124}</string>
                <key>spriteSourceSize</key>
                <string>{391,132}</string>
                <key>textureRect</key>
                <string>{{367,511},{337,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shark2_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{337,124}</string>
                <key>spriteSourceSize</key>
                <string>{391,132}</string>
                <key>textureRect</key>
                <string>{{373,850},{337,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shark2_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{337,124}</string>
                <key>spriteSourceSize</key>
                <string>{391,132}</string>
                <key>textureRect</key>
                <string>{{376,381},{337,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark2_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{337,124}</string>
                <key>spriteSourceSize</key>
                <string>{391,132}</string>
                <key>textureRect</key>
                <string>{{493,507},{337,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shark2_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{337,124}</string>
                <key>spriteSourceSize</key>
                <string>{391,132}</string>
                <key>textureRect</key>
                <string>{{499,846},{337,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shark2_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{335,124}</string>
                <key>spriteSourceSize</key>
                <string>{391,132}</string>
                <key>textureRect</key>
                <string>{{753,1},{335,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shark2_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{335,124}</string>
                <key>spriteSourceSize</key>
                <string>{391,132}</string>
                <key>textureRect</key>
                <string>{{879,1},{335,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shark2_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{337,124}</string>
                <key>spriteSourceSize</key>
                <string>{391,132}</string>
                <key>textureRect</key>
                <string>{{619,507},{337,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shark2_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{335,124}</string>
                <key>spriteSourceSize</key>
                <string>{391,132}</string>
                <key>textureRect</key>
                <string>{{751,1016},{335,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shark2_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{337,124}</string>
                <key>spriteSourceSize</key>
                <string>{391,132}</string>
                <key>textureRect</key>
                <string>{{625,846},{337,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shark2_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{335,124}</string>
                <key>spriteSourceSize</key>
                <string>{391,132}</string>
                <key>textureRect</key>
                <string>{{877,1016},{335,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shark2_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{337,124}</string>
                <key>spriteSourceSize</key>
                <string>{391,132}</string>
                <key>textureRect</key>
                <string>{{745,338},{337,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shark2_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{337,124}</string>
                <key>spriteSourceSize</key>
                <string>{391,132}</string>
                <key>textureRect</key>
                <string>{{871,338},{337,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shark2_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{337,124}</string>
                <key>spriteSourceSize</key>
                <string>{391,132}</string>
                <key>textureRect</key>
                <string>{{751,677},{337,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shark2_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{337,124}</string>
                <key>spriteSourceSize</key>
                <string>{391,132}</string>
                <key>textureRect</key>
                <string>{{877,677},{337,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shark2_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{337,124}</string>
                <key>spriteSourceSize</key>
                <string>{391,132}</string>
                <key>textureRect</key>
                <string>{{1,1253},{337,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark2_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{335,124}</string>
                <key>spriteSourceSize</key>
                <string>{391,132}</string>
                <key>textureRect</key>
                <string>{{373,1189},{335,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark2_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{337,124}</string>
                <key>spriteSourceSize</key>
                <string>{391,132}</string>
                <key>textureRect</key>
                <string>{{1,1379},{337,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark2_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{335,124}</string>
                <key>spriteSourceSize</key>
                <string>{391,132}</string>
                <key>textureRect</key>
                <string>{{679,1353},{335,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark2_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{337,124}</string>
                <key>spriteSourceSize</key>
                <string>{391,132}</string>
                <key>textureRect</key>
                <string>{{340,1315},{337,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark2_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{339,124}</string>
                <key>spriteSourceSize</key>
                <string>{391,132}</string>
                <key>textureRect</key>
                <string>{{247,868},{339,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shark2_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{365,126}</string>
                <key>spriteSourceSize</key>
                <string>{391,132}</string>
                <key>textureRect</key>
                <string>{{1,383},{365,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark2_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,1}</string>
                <key>spriteSize</key>
                <string>{375,126}</string>
                <key>spriteSourceSize</key>
                <string>{391,132}</string>
                <key>textureRect</key>
                <string>{{1,131},{375,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark2_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,2}</string>
                <key>spriteSize</key>
                <string>{375,128}</string>
                <key>spriteSourceSize</key>
                <string>{391,132}</string>
                <key>textureRect</key>
                <string>{{1,1},{375,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark2_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,2}</string>
                <key>spriteSize</key>
                <string>{373,128}</string>
                <key>spriteSourceSize</key>
                <string>{391,132}</string>
                <key>textureRect</key>
                <string>{{378,1},{373,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark2_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,4}</string>
                <key>spriteSize</key>
                <string>{369,122}</string>
                <key>spriteSourceSize</key>
                <string>{391,132}</string>
                <key>textureRect</key>
                <string>{{1,511},{369,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shark2_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,5}</string>
                <key>spriteSize</key>
                <string>{361,120}</string>
                <key>spriteSourceSize</key>
                <string>{391,132}</string>
                <key>textureRect</key>
                <string>{{125,511},{361,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shark2_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,5}</string>
                <key>spriteSize</key>
                <string>{355,118}</string>
                <key>spriteSourceSize</key>
                <string>{391,132}</string>
                <key>textureRect</key>
                <string>{{247,511},{355,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shark2_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,5}</string>
                <key>spriteSize</key>
                <string>{361,120}</string>
                <key>spriteSourceSize</key>
                <string>{391,132}</string>
                <key>textureRect</key>
                <string>{{125,874},{361,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shark2_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,4}</string>
                <key>spriteSize</key>
                <string>{369,122}</string>
                <key>spriteSourceSize</key>
                <string>{391,132}</string>
                <key>textureRect</key>
                <string>{{1,882},{369,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shark2_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,3}</string>
                <key>spriteSize</key>
                <string>{371,122}</string>
                <key>spriteSourceSize</key>
                <string>{391,132}</string>
                <key>textureRect</key>
                <string>{{378,131},{371,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark2_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,2}</string>
                <key>spriteSize</key>
                <string>{373,122}</string>
                <key>spriteSourceSize</key>
                <string>{391,132}</string>
                <key>textureRect</key>
                <string>{{1,259},{373,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Shark2.png</string>
            <key>size</key>
            <string>{1015,1504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9821bbbf427331f5552f19281bed0d5:65e1b538b9990d6f4052a43f744cd6dc:e455d868456c29b069b1c1ab98b268d3$</string>
            <key>textureFileName</key>
            <string>Shark2.png</string>
        </dict>
    </dict>
</plist>
