<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Swordfish_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-24}</string>
                <key>spriteSize</key>
                <string>{416,122}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{847,821},{416,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Swordfish_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-24}</string>
                <key>spriteSize</key>
                <string>{426,120}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{861,473},{426,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Swordfish_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-24}</string>
                <key>spriteSize</key>
                <string>{428,118}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{863,353},{428,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Swordfish_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-25}</string>
                <key>spriteSize</key>
                <string>{430,114}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{433,179},{430,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Swordfish_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-26}</string>
                <key>spriteSize</key>
                <string>{428,110}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{431,419},{428,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Swordfish_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-27}</string>
                <key>spriteSize</key>
                <string>{424,108}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1,539},{424,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Swordfish_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-27}</string>
                <key>spriteSize</key>
                <string>{426,110}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1289,473},{426,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Swordfish_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-28}</string>
                <key>spriteSize</key>
                <string>{432,110}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{869,125},{432,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Swordfish_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-28}</string>
                <key>spriteSize</key>
                <string>{430,116}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1,179},{430,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Swordfish_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-29}</string>
                <key>spriteSize</key>
                <string>{428,118}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1,419},{428,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Swordfish_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-29}</string>
                <key>spriteSize</key>
                <string>{428,120}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1,297},{428,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Swordfish_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-29}</string>
                <key>spriteSize</key>
                <string>{432,122}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{869,1},{432,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Swordfish_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-29}</string>
                <key>spriteSize</key>
                <string>{428,122}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{433,295},{428,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Swordfish_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-29}</string>
                <key>spriteSize</key>
                <string>{422,118}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1,771},{422,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Swordfish_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-31}</string>
                <key>spriteSize</key>
                <string>{422,120}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1,649},{422,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Swordfish_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-31}</string>
                <key>spriteSize</key>
                <string>{420,120}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{425,775},{420,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Swordfish_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-33}</string>
                <key>spriteSize</key>
                <string>{422,120}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{425,653},{422,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Swordfish_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-31}</string>
                <key>spriteSize</key>
                <string>{420,118}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1,891},{420,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Swordfish_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-26}</string>
                <key>spriteSize</key>
                <string>{422,110}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{849,709},{422,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Swordfish_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-25}</string>
                <key>spriteSize</key>
                <string>{424,112}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{859,595},{424,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Swordfish_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-25}</string>
                <key>spriteSize</key>
                <string>{430,114}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{865,237},{430,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Swordfish_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-24}</string>
                <key>spriteSize</key>
                <string>{426,120}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{431,531},{426,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Swordfish_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-84,-44}</string>
                <key>spriteSize</key>
                <string>{264,152}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1027,1109},{264,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Swordfish_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,-48}</string>
                <key>spriteSize</key>
                <string>{312,162}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{697,1063},{312,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Swordfish_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-47}</string>
                <key>spriteSize</key>
                <string>{390,164}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{453,897},{390,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Swordfish_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-36}</string>
                <key>spriteSize</key>
                <string>{432,176}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1,1},{432,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Swordfish_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,2}</string>
                <key>spriteSize</key>
                <string>{374,224}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1,1011},{374,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Swordfish_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-59,20}</string>
                <key>spriteSize</key>
                <string>{312,242}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{453,1063},{312,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Swordfish_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,2}</string>
                <key>spriteSize</key>
                <string>{374,224}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{227,1011},{374,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Swordfish_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-36}</string>
                <key>spriteSize</key>
                <string>{432,176}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{435,1},{432,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Swordfish_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-47}</string>
                <key>spriteSize</key>
                <string>{390,164}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{861,945},{390,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Swordfish_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,-48}</string>
                <key>spriteSize</key>
                <string>{312,162}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1027,945},{312,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Swordfish_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-84,-44}</string>
                <key>spriteSize</key>
                <string>{264,152}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1181,1109},{264,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Swordfish.png</string>
            <key>size</key>
            <string>{1400,1400}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91613c147568fadd366874bf3a37930e:3a060fec6cb7187a4c8b50ae07936701:f1a179acc8dac1f850844d2a90a61a33$</string>
            <key>textureFileName</key>
            <string>Swordfish.png</string>
        </dict>
    </dict>
</plist>
