<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Turtle2_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,180}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{1,119},{136,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Turtle2_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,176}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{183,125},{136,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Turtle2_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{136,174}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{361,125},{136,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Turtle2_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{136,172}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{537,131},{136,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Turtle2_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{136,174}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{1,257},{136,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Turtle2_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{136,176}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{177,263},{136,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Turtle2_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{136,172}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{355,263},{136,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Turtle2_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{138,162}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{1,395},{138,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Turtle2_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,148}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{859,139},{138,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Turtle2_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,136}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{863,1},{140,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Turtle2_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{140,128}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{577,1},{140,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Turtle2_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{142,122}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{289,1},{142,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Turtle2_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{142,116}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{1,1},{142,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Turtle2_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{142,116}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{145,1},{142,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Turtle2_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{142,122}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{433,1},{142,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Turtle2_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{142,134}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{719,1},{142,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Turtle2_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{142,152}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{497,547},{142,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Turtle2_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{140,168}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{165,541},{140,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Turtle2_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{138,182}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{165,401},{138,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Turtle2_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,184}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{513,407},{138,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Turtle2_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,180}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{529,269},{136,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Turtle2_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{140,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{335,541},{140,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Turtle2_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{138,162}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{349,401},{138,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Turtle2_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{138,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{859,279},{138,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Turtle2_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{142,150}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{651,559},{142,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Turtle2_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{146,140}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{711,275},{146,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Turtle2_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{146,136}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{711,137},{146,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Turtle2_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{146,140}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{699,417},{146,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Turtle2_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{142,150}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{803,559},{142,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Turtle2_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{138,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{847,419},{138,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Turtle2_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{138,162}</string>
                <key>spriteSourceSize</key>
                <string>{160,184}</string>
                <key>textureRect</key>
                <string>{{1,535},{138,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Turtle2.png</string>
            <key>size</key>
            <string>{1020,702}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2fdaf41ffaca4197618208a732a9bc19:3d12a1d1b73f1656c84dfdad9796ed14:50869f6aa7714589948a6659e12a150b$</string>
            <key>textureFileName</key>
            <string>Turtle2.png</string>
        </dict>
    </dict>
</plist>
