<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>YellowFish_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{76,31}</string>
                <key>spriteSourceSize</key>
                <string>{78,79}</string>
                <key>textureRect</key>
                <string>{{81,235},{76,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>YellowFish_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{76,29}</string>
                <key>spriteSourceSize</key>
                <string>{78,79}</string>
                <key>textureRect</key>
                <string>{{1,496},{76,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YellowFish_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,29}</string>
                <key>spriteSourceSize</key>
                <string>{78,79}</string>
                <key>textureRect</key>
                <string>{{1,527},{76,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YellowFish_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,27}</string>
                <key>spriteSourceSize</key>
                <string>{78,79}</string>
                <key>textureRect</key>
                <string>{{79,703},{76,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>YellowFish_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{76,29}</string>
                <key>spriteSourceSize</key>
                <string>{78,79}</string>
                <key>textureRect</key>
                <string>{{79,547},{76,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>YellowFish_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,29}</string>
                <key>spriteSourceSize</key>
                <string>{78,79}</string>
                <key>textureRect</key>
                <string>{{1,558},{76,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YellowFish_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,31}</string>
                <key>spriteSourceSize</key>
                <string>{78,79}</string>
                <key>textureRect</key>
                <string>{{81,313},{76,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>YellowFish_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{76,31}</string>
                <key>spriteSourceSize</key>
                <string>{78,79}</string>
                <key>textureRect</key>
                <string>{{79,391},{76,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>YellowFish_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,33}</string>
                <key>spriteSourceSize</key>
                <string>{78,79}</string>
                <key>textureRect</key>
                <string>{{81,1},{76,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>YellowFish_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,31}</string>
                <key>spriteSourceSize</key>
                <string>{78,79}</string>
                <key>textureRect</key>
                <string>{{1,397},{76,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YellowFish_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{76,29}</string>
                <key>spriteSourceSize</key>
                <string>{78,79}</string>
                <key>textureRect</key>
                <string>{{1,589},{76,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YellowFish_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{76,29}</string>
                <key>spriteSourceSize</key>
                <string>{78,79}</string>
                <key>textureRect</key>
                <string>{{1,620},{76,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YellowFish_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{76,29}</string>
                <key>spriteSourceSize</key>
                <string>{78,79}</string>
                <key>textureRect</key>
                <string>{{79,625},{76,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>YellowFish_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,31}</string>
                <key>spriteSourceSize</key>
                <string>{78,79}</string>
                <key>textureRect</key>
                <string>{{1,430},{76,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YellowFish_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,33}</string>
                <key>spriteSourceSize</key>
                <string>{78,79}</string>
                <key>textureRect</key>
                <string>{{81,79},{76,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>YellowFish_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,33}</string>
                <key>spriteSourceSize</key>
                <string>{78,79}</string>
                <key>textureRect</key>
                <string>{{81,157},{76,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>YellowFish_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{76,31}</string>
                <key>spriteSourceSize</key>
                <string>{78,79}</string>
                <key>textureRect</key>
                <string>{{1,463},{76,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YellowFish_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,31}</string>
                <key>spriteSourceSize</key>
                <string>{78,79}</string>
                <key>textureRect</key>
                <string>{{79,469},{76,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>YellowFish_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{76,29}</string>
                <key>spriteSourceSize</key>
                <string>{78,79}</string>
                <key>textureRect</key>
                <string>{{1,651},{76,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YellowFish_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{76,27}</string>
                <key>spriteSourceSize</key>
                <string>{78,79}</string>
                <key>textureRect</key>
                <string>{{1,713},{76,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YellowFish_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,27}</string>
                <key>spriteSourceSize</key>
                <string>{78,79}</string>
                <key>textureRect</key>
                <string>{{1,742},{76,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YellowFish_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{76,29}</string>
                <key>spriteSourceSize</key>
                <string>{78,79}</string>
                <key>textureRect</key>
                <string>{{1,682},{76,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YellowFish_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{76,61}</string>
                <key>spriteSourceSize</key>
                <string>{78,79}</string>
                <key>textureRect</key>
                <string>{{1,334},{76,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YellowFish_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{78,63}</string>
                <key>spriteSourceSize</key>
                <string>{78,79}</string>
                <key>textureRect</key>
                <string>{{1,204},{78,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YellowFish_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{78,65}</string>
                <key>spriteSourceSize</key>
                <string>{78,79}</string>
                <key>textureRect</key>
                <string>{{1,70},{78,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YellowFish_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{78,67}</string>
                <key>spriteSourceSize</key>
                <string>{78,79}</string>
                <key>textureRect</key>
                <string>{{1,1},{78,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YellowFish_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{78,65}</string>
                <key>spriteSourceSize</key>
                <string>{78,79}</string>
                <key>textureRect</key>
                <string>{{1,137},{78,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YellowFish_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{78,63}</string>
                <key>spriteSourceSize</key>
                <string>{78,79}</string>
                <key>textureRect</key>
                <string>{{1,269},{78,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>YellowFish.png</string>
            <key>size</key>
            <string>{115,780}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:430c7f67c18e6d051b4309fa3257bb4c:f0eba5851b29a8bf9e29e8d8333192ff:a2edc2118a96ff5a3e26ba5ac219f8b0$</string>
            <key>textureFileName</key>
            <string>YellowFish.png</string>
        </dict>
    </dict>
</plist>
