<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>YellowFish_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{86,34}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{89,529},{86,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>YellowFish_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{86,32}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{91,441},{86,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>YellowFish_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{86,32}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{1,775},{86,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YellowFish_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{86,30}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{93,1},{86,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>YellowFish_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{86,30}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{93,89},{86,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>YellowFish_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{86,32}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{89,793},{86,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>YellowFish_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{86,34}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{89,617},{86,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>YellowFish_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{86,36}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{1,473},{86,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YellowFish_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{86,36}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{1,511},{86,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YellowFish_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{86,36}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{1,549},{86,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YellowFish_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{86,34}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{89,705},{86,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>YellowFish_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{86,32}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{1,809},{86,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YellowFish_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{86,32}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{1,843},{86,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YellowFish_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{86,36}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{1,587},{86,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YellowFish_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{86,36}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{1,625},{86,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YellowFish_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{86,36}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{1,663},{86,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YellowFish_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{86,36}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{1,701},{86,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YellowFish_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{86,34}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{1,739},{86,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YellowFish_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{86,30}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{93,177},{86,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>YellowFish_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{86,30}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{93,265},{86,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>YellowFish_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{86,30}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{93,353},{86,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>YellowFish_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{88,32}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{1,439},{88,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YellowFish_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{88,68}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{1,369},{88,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YellowFish_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,70}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{1,225},{90,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YellowFish_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{90,72}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{1,77},{90,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YellowFish_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{90,74}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{1,1},{90,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YellowFish_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{90,72}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{1,151},{90,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YellowFish_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,70}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{1,297},{90,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>YellowFish.png</string>
            <key>size</key>
            <string>{124,880}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:584523d36f1b5e782319e29630dbc3a3:e79b97ed464766fc7a130785a2000c4b:a2edc2118a96ff5a3e26ba5ac219f8b0$</string>
            <key>textureFileName</key>
            <string>YellowFish.png</string>
        </dict>
    </dict>
</plist>
