<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LoadingBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,29}</string>
                <key>spriteSourceSize</key>
                <string>{119,29}</string>
                <key>textureRect</key>
                <string>{{1,42},{119,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LoadingBase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,39}</string>
                <key>spriteSourceSize</key>
                <string>{126,39}</string>
                <key>textureRect</key>
                <string>{{1,1},{126,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LoadingLine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,37}</string>
                <key>spriteSourceSize</key>
                <string>{11,39}</string>
                <key>textureRect</key>
                <string>{{1,73},{11,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Loading.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79fe4e16cdb256cafe705450f0e8d74f:a46f55ca357253769d6ce61a56476b94:99986db93f64d1ab159b0705e98c5da7$</string>
            <key>textureFileName</key>
            <string>Loading.png</string>
        </dict>
    </dict>
</plist>
