<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LoadingBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{396,29}</string>
                <key>spriteSourceSize</key>
                <string>{396,29}</string>
                <key>textureRect</key>
                <string>{{1,42},{396,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LoadingBase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,39}</string>
                <key>spriteSourceSize</key>
                <string>{406,39}</string>
                <key>textureRect</key>
                <string>{{1,1},{406,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LoadingLine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,37}</string>
                <key>spriteSourceSize</key>
                <string>{11,39}</string>
                <key>textureRect</key>
                <string>{{1,73},{11,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Loading.png</string>
            <key>size</key>
            <string>{408,408}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa0072ac26709b2b5f96fd540a38ef1d:4a488b545ae194207d3027a1581fabed:99986db93f64d1ab159b0705e98c5da7$</string>
            <key>textureFileName</key>
            <string>Loading.png</string>
        </dict>
    </dict>
</plist>
