<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LoadingIcon_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{368,110}</string>
                <key>spriteSourceSize</key>
                <string>{380,110}</string>
                <key>textureRect</key>
                <string>{{1,785},{368,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LoadingIcon_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{364,110}</string>
                <key>spriteSourceSize</key>
                <string>{380,110}</string>
                <key>textureRect</key>
                <string>{{1,897},{364,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LoadingIcon_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{362,110}</string>
                <key>spriteSourceSize</key>
                <string>{380,110}</string>
                <key>textureRect</key>
                <string>{{1,1121},{362,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LoadingIcon_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,0}</string>
                <key>spriteSize</key>
                <string>{358,110}</string>
                <key>spriteSourceSize</key>
                <string>{380,110}</string>
                <key>textureRect</key>
                <string>{{1,1233},{358,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LoadingIcon_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,0}</string>
                <key>spriteSize</key>
                <string>{356,110}</string>
                <key>spriteSourceSize</key>
                <string>{380,110}</string>
                <key>textureRect</key>
                <string>{{1,1457},{356,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LoadingIcon_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,0}</string>
                <key>spriteSize</key>
                <string>{354,110}</string>
                <key>spriteSourceSize</key>
                <string>{380,110}</string>
                <key>textureRect</key>
                <string>{{1,1569},{354,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LoadingIcon_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,0}</string>
                <key>spriteSize</key>
                <string>{354,110}</string>
                <key>spriteSourceSize</key>
                <string>{380,110}</string>
                <key>textureRect</key>
                <string>{{1,1681},{354,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LoadingIcon_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,0}</string>
                <key>spriteSize</key>
                <string>{354,110}</string>
                <key>spriteSourceSize</key>
                <string>{380,110}</string>
                <key>textureRect</key>
                <string>{{1,1793},{354,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LoadingIcon_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,0}</string>
                <key>spriteSize</key>
                <string>{356,110}</string>
                <key>spriteSourceSize</key>
                <string>{380,110}</string>
                <key>textureRect</key>
                <string>{{359,1499},{356,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LoadingIcon_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,0}</string>
                <key>spriteSize</key>
                <string>{358,110}</string>
                <key>spriteSourceSize</key>
                <string>{380,110}</string>
                <key>textureRect</key>
                <string>{{1,1345},{358,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LoadingIcon_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{362,110}</string>
                <key>spriteSourceSize</key>
                <string>{380,110}</string>
                <key>textureRect</key>
                <string>{{365,1135},{362,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LoadingIcon_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{364,110}</string>
                <key>spriteSourceSize</key>
                <string>{380,110}</string>
                <key>textureRect</key>
                <string>{{1,1009},{364,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LoadingIcon_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{370,110}</string>
                <key>spriteSourceSize</key>
                <string>{380,110}</string>
                <key>textureRect</key>
                <string>{{375,763},{370,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LoadingIcon_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{376,110}</string>
                <key>spriteSourceSize</key>
                <string>{380,110}</string>
                <key>textureRect</key>
                <string>{{1,561},{376,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LoadingIcon_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{378,110}</string>
                <key>spriteSourceSize</key>
                <string>{380,110}</string>
                <key>textureRect</key>
                <string>{{383,383},{378,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LoadingIcon_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,110}</string>
                <key>spriteSourceSize</key>
                <string>{380,110}</string>
                <key>textureRect</key>
                <string>{{1,1},{380,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LoadingIcon_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,110}</string>
                <key>spriteSourceSize</key>
                <string>{380,110}</string>
                <key>textureRect</key>
                <string>{{383,1},{380,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LoadingIcon_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,110}</string>
                <key>spriteSourceSize</key>
                <string>{380,110}</string>
                <key>textureRect</key>
                <string>{{1,113},{380,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LoadingIcon_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,110}</string>
                <key>spriteSourceSize</key>
                <string>{380,110}</string>
                <key>textureRect</key>
                <string>{{1,225},{380,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LoadingIcon_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,110}</string>
                <key>spriteSourceSize</key>
                <string>{380,110}</string>
                <key>textureRect</key>
                <string>{{1,337},{380,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LoadingIcon_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{378,110}</string>
                <key>spriteSourceSize</key>
                <string>{380,110}</string>
                <key>textureRect</key>
                <string>{{1,449},{378,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LoadingIcon_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{372,110}</string>
                <key>spriteSourceSize</key>
                <string>{380,110}</string>
                <key>textureRect</key>
                <string>{{1,673},{372,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LoadingIcon_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{372,110}</string>
                <key>spriteSourceSize</key>
                <string>{380,110}</string>
                <key>textureRect</key>
                <string>{{1,673},{372,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LoadingIcon.png</string>
            <key>size</key>
            <string>{494,1904}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ebfd0f88ba65907bac385492f28f1ef:5f9f4ae5f692e43dfed49fbe2f2247be:be760a6e820732a5c14775945ec743b2$</string>
            <key>textureFileName</key>
            <string>LoadingIcon.png</string>
        </dict>
    </dict>
</plist>
