<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10XChinese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,27}</string>
                <key>spriteSourceSize</key>
                <string>{75,27}</string>
                <key>textureRect</key>
                <string>{{1736,1},{75,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10XTop_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1,1},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1,299},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{348,1},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1,597},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{348,299},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{695,1},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1,895},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{348,597},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{695,299},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1042,1},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1,1193},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{348,895},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{695,597},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1042,299},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1389,1},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1,1491},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{348,1193},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{695,895},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1042,597},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1389,299},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{348,1491},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{695,1193},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1042,895},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1389,597},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{695,1491},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1042,1193},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1389,895},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1042,1491},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1389,1193},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1389,1491},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>10X.png</string>
            <key>size</key>
            <string>{1788,1788}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a938d20602fbbea68f676e980d1c151d:efcd024abc735b78122eef2032cf094e:bfe81efc994fa928f8a8842517ef7429$</string>
            <key>textureFileName</key>
            <string>10X.png</string>
        </dict>
    </dict>
</plist>
