<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1XTop_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1,1},{345,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1XTop_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{348,1},{345,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1XTop_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{695,1},{345,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1XTop_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1042,1},{345,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1XTop_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1389,1},{345,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1XTop_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1736,1},{345,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1XTop_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{2083,1},{345,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1XTop_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1,301},{345,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1XTop_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1,648},{345,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1XTop_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1,995},{345,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1XTop_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1,1342},{345,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1XTop_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1,1689},{345,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1XTop_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1,2036},{345,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1XTop_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{301,301},{345,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1XTop_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{648,301},{345,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1XTop_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{995,301},{345,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1XTop_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1342,301},{345,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1XTop_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1689,301},{345,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1XTop_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{2036,301},{345,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1XTop_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{301,601},{345,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1XTop_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{301,948},{345,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1XTop_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{301,1295},{345,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1XTop_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{301,1642},{345,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1XTop_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{301,1989},{345,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1XTop_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{301,2336},{345,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1XTop_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{601,601},{345,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1XTop_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{601,948},{345,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1XTop_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{601,1295},{345,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1XTop_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{601,1642},{345,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1XTop_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{601,1989},{345,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1XTop_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{648,2336},{345,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1XTop_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{995,601},{345,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1XTop_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1342,601},{345,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1XTop_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1689,601},{345,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1XTop_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{2036,601},{345,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1XTop_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{901,901},{345,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1XTop_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{901,1248},{345,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1XTop_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{901,1595},{345,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1XTop_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{901,1942},{345,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1XTop_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{995,2289},{345,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1XTop_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1295,901},{345,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1XTop_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1642,901},{345,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1XTop_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1989,901},{345,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1XTop_00043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{2336,901},{345,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1XTop_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1201,1248},{345,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1XTop_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1201,1595},{345,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1XTop_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1201,1942},{345,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1XTop_00047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1295,2289},{345,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1XTop_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1595,1201},{345,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1XTop_00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1942,1201},{345,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1XTop_00050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{2289,1248},{345,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1XTop_00051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1595,1501},{345,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1XTop_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1942,1501},{345,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1XTop_00053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{2289,1548},{345,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1XTop_00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1501,1848},{345,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1XTop_00055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1595,2195},{345,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1XTop_00056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1801,1848},{345,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1XTop_00057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1895,2195},{345,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1XTop_00058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{2101,1848},{345,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1XTop_00059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{2195,2195},{345,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1X.png</string>
            <key>size</key>
            <string>{2635,2635}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a113780f3570a215ee153428974b1c24:a9eae9c4c1b46728a5fc46d51cacdb67:0e8b9d0e9e3d959a1d84f44b70864634$</string>
            <key>textureFileName</key>
            <string>1X.png</string>
        </dict>
    </dict>
</plist>
