<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>JPLobbylight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,0}</string>
                <key>spriteSize</key>
                <string>{720,450}</string>
                <key>spriteSourceSize</key>
                <string>{1366,450}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JPPOPBase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,133}</string>
                <key>spriteSourceSize</key>
                <string>{148,133}</string>
                <key>textureRect</key>
                <string>{{430,607},{148,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>JPPOPBlue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,36}</string>
                <key>spriteSourceSize</key>
                <string>{138,36}</string>
                <key>textureRect</key>
                <string>{{565,601},{138,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JPPOPFrame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,66}</string>
                <key>spriteSourceSize</key>
                <string>{126,66}</string>
                <key>textureRect</key>
                <string>{{1,699},{126,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JPPOPGold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,47}</string>
                <key>spriteSourceSize</key>
                <string>{208,47}</string>
                <key>textureRect</key>
                <string>{{723,1},{208,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>JPPOPGreen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,36}</string>
                <key>spriteSourceSize</key>
                <string>{138,36}</string>
                <key>textureRect</key>
                <string>{{565,639},{138,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JPPOPSilver.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,44}</string>
                <key>spriteSourceSize</key>
                <string>{182,44}</string>
                <key>textureRect</key>
                <string>{{729,403},{182,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>JackpotBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,38}</string>
                <key>spriteSourceSize</key>
                <string>{190,38}</string>
                <key>textureRect</key>
                <string>{{723,211},{190,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>JackpotBarFrame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,42}</string>
                <key>spriteSourceSize</key>
                <string>{204,42}</string>
                <key>textureRect</key>
                <string>{{1,655},{204,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JackpotDropShadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,152}</string>
                <key>spriteSourceSize</key>
                <string>{222,152}</string>
                <key>textureRect</key>
                <string>{{289,453},{222,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JackpotIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,146}</string>
                <key>spriteSourceSize</key>
                <string>{214,146}</string>
                <key>textureRect</key>
                <string>{{513,453},{214,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JackpotLightray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,139}</string>
                <key>spriteSourceSize</key>
                <string>{166,139}</string>
                <key>textureRect</key>
                <string>{{289,607},{166,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Lensflare1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,200}</string>
                <key>spriteSourceSize</key>
                <string>{286,200}</string>
                <key>textureRect</key>
                <string>{{1,453},{286,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lensflare2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{77,77}</string>
                <key>textureRect</key>
                <string>{{565,677},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lensflare3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{61,53}</string>
                <key>spriteSourceSize</key>
                <string>{65,75}</string>
                <key>textureRect</key>
                <string>{{129,699},{61,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Jackpot.png</string>
            <key>size</key>
            <string>{774,774}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e40057abb4d10be3bf1077e6239a5bbc:6b8919a9f6c55bca4a796dc45d35e6af:8cec78be4de0ab7598c4003c942b161d$</string>
            <key>textureFileName</key>
            <string>Jackpot.png</string>
        </dict>
    </dict>
</plist>
