<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bubble.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,67}</string>
                <key>spriteSourceSize</key>
                <string>{125,67}</string>
                <key>textureRect</key>
                <string>{{3790,101},{125,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CoinBase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,48}</string>
                <key>spriteSourceSize</key>
                <string>{237,48}</string>
                <key>textureRect</key>
                <string>{{3790,1},{237,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Crown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,42}</string>
                <key>spriteSourceSize</key>
                <string>{45,42}</string>
                <key>textureRect</key>
                <string>{{3968,186},{45,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FishIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,114}</string>
                <key>spriteSourceSize</key>
                <string>{163,114}</string>
                <key>textureRect</key>
                <string>{{3625,1},{163,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FishText1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,22}</string>
                <key>spriteSourceSize</key>
                <string>{113,22}</string>
                <key>textureRect</key>
                <string>{{3944,101},{113,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>FishText2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,25}</string>
                <key>spriteSourceSize</key>
                <string>{193,27}</string>
                <key>textureRect</key>
                <string>{{4029,1},{189,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>FishText3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,26}</string>
                <key>spriteSourceSize</key>
                <string>{135,26}</string>
                <key>textureRect</key>
                <string>{{3982,51},{133,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>FishText4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,25}</string>
                <key>spriteSourceSize</key>
                <string>{134,25}</string>
                <key>textureRect</key>
                <string>{{3917,101},{134,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GameSelectionBase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,600}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{1369,1},{750,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameSelectionBase_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,600}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{1369,1},{750,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameSelectionBase_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,600}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{2121,1},{750,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameSelectionBase_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,600}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{2873,1},{750,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameSelectionBase_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,600}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{1369,603},{750,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameSelectionBase_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,600}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{1,631},{750,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameSelectionBase_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,600}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{753,631},{750,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GameSelectionBase_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,600}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{1,1233},{750,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameSelectionBase_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,600}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{2121,603},{750,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameSelectionBase_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,600}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{2873,603},{750,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameSelectionBase_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,600}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{1355,1205},{750,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameSelectionBase_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,600}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{753,1383},{750,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GameSelectionBase_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,600}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{1,1835},{750,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameSelectionBase_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,600}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{2107,1205},{750,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameSelectionBase_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,600}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{2859,1205},{750,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameSelectionBase_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,600}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{1355,1807},{750,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GameSelectionBase_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,600}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{753,2135},{750,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GameSelectionBase_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,600}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{1,2437},{750,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameSelectionBase_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,600}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{753,2887},{750,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GameSelectionBase_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,600}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{1,3039},{750,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameSelectionBase_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,600}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{1355,2559},{750,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GameSelectionBase_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,600}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{1355,3311},{750,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GameSelectionBase_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,600}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{1957,1807},{750,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameSelectionBase_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,600}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{2709,1807},{750,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameSelectionBase_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,600}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{3461,1807},{750,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GameSelectionBase_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,600}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{1957,2409},{750,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameSelectionBase_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,600}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{2709,2409},{750,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameSelectionBase_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,600}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{3461,2559},{750,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GameSelectionBase_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,600}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{1957,3011},{750,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GameSelectionBase_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,600}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{2559,3011},{750,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameSelectionBase_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,600}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{3311,3311},{750,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LobbyBG1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1366,628}</string>
                <key>spriteSourceSize</key>
                <string>{1366,628}</string>
                <key>textureRect</key>
                <string>{{1,1},{1366,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PlayerNameBase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,48}</string>
                <key>spriteSourceSize</key>
                <string>{190,48}</string>
                <key>textureRect</key>
                <string>{{3790,51},{190,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LobbyUI.png</string>
            <key>size</key>
            <string>{4062,4062}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eba7bfea35d9dfe3cc36c3a85051e186:13d9ac91c5ed356ff84e77bfb3bf134c:f5da007c8eb38d8c8fca0a4e0e07b9e9$</string>
            <key>textureFileName</key>
            <string>LobbyUI.png</string>
        </dict>
    </dict>
</plist>
