<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>9 slice square.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,110}</string>
                <key>spriteSourceSize</key>
                <string>{112,110}</string>
                <key>textureRect</key>
                <string>{{1418,493},{112,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,112}</string>
                <key>spriteSourceSize</key>
                <string>{84,112}</string>
                <key>textureRect</key>
                <string>{{1512,659},{74,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BG.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1366,768}</string>
                <key>spriteSourceSize</key>
                <string>{1366,768}</string>
                <key>textureRect</key>
                <string>{{1,1},{1366,768}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{453,95}</string>
                <key>spriteSourceSize</key>
                <string>{453,95}</string>
                <key>textureRect</key>
                <string>{{1605,1},{453,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Buy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,68}</string>
                <key>spriteSourceSize</key>
                <string>{92,68}</string>
                <key>textureRect</key>
                <string>{{1532,493},{92,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Coins Base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,87}</string>
                <key>spriteSourceSize</key>
                <string>{432,87}</string>
                <key>textureRect</key>
                <string>{{1605,456},{432,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Coins.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1532,587},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Game.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,490}</string>
                <key>spriteSourceSize</key>
                <string>{234,490}</string>
                <key>textureRect</key>
                <string>{{1369,1},{234,490}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LevelBarBase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,4}</string>
                <key>spriteSourceSize</key>
                <string>{140,4}</string>
                <key>textureRect</key>
                <string>{{1,877},{140,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Message.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,54}</string>
                <key>spriteSourceSize</key>
                <string>{60,54}</string>
                <key>textureRect</key>
                <string>{{1418,791},{60,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Name Bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,47}</string>
                <key>spriteSourceSize</key>
                <string>{344,47}</string>
                <key>textureRect</key>
                <string>{{1369,493},{344,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Profile Frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{1418,605},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Profile Image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{1418,699},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TopBase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1366,104}</string>
                <key>spriteSourceSize</key>
                <string>{1366,104}</string>
                <key>textureRect</key>
                <string>{{1,771},{1366,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level Star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{1369,839},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,55}</string>
                <key>spriteSourceSize</key>
                <string>{60,55}</string>
                <key>textureRect</key>
                <string>{{1510,773},{60,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lobby.png</string>
            <key>size</key>
            <string>{1701,889}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3994406fe97965a6ae2ac1f326b0b6b6:4689db5aae759f4e8e30eff6259ee8e6:f1bafa2c26deda73cfe01e78b270c574$</string>
            <key>textureFileName</key>
            <string>lobby.png</string>
        </dict>
    </dict>
</plist>
