<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Buy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,63}</string>
                <key>spriteSourceSize</key>
                <string>{88,63}</string>
                <key>textureRect</key>
                <string>{{1369,661},{88,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Coins Base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{452,336}</string>
                <key>spriteSize</key>
                <string>{432,86}</string>
                <key>spriteSourceSize</key>
                <string>{1366,768}</string>
                <key>textureRect</key>
                <string>{{1635,49},{432,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Game Frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,511}</string>
                <key>spriteSourceSize</key>
                <string>{264,511}</string>
                <key>textureRect</key>
                <string>{{1369,49},{264,511}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Level Bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-470,315}</string>
                <key>spriteSize</key>
                <string>{212,46}</string>
                <key>spriteSourceSize</key>
                <string>{1366,768}</string>
                <key>textureRect</key>
                <string>{{1369,562},{212,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Level Slider HL.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-429,316}</string>
                <key>spriteSize</key>
                <string>{14,20}</string>
                <key>spriteSourceSize</key>
                <string>{1366,768}</string>
                <key>textureRect</key>
                <string>{{1583,562},{14,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Lobby BG 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1366,768}</string>
                <key>spriteSourceSize</key>
                <string>{1366,768}</string>
                <key>textureRect</key>
                <string>{{1,1},{1366,768}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Log.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,55}</string>
                <key>spriteSourceSize</key>
                <string>{61,55}</string>
                <key>textureRect</key>
                <string>{{1369,751},{61,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Name Bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-404,361}</string>
                <key>spriteSize</key>
                <string>{346,46}</string>
                <key>spriteSourceSize</key>
                <string>{1366,768}</string>
                <key>textureRect</key>
                <string>{{1369,1},{346,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Profile Frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{1605,567},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Profile Image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-623,336}</string>
                <key>spriteSize</key>
                <string>{84,82}</string>
                <key>spriteSourceSize</key>
                <string>{1366,768}</string>
                <key>textureRect</key>
                <string>{{1635,483},{84,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby Setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,55}</string>
                <key>spriteSourceSize</key>
                <string>{60,55}</string>
                <key>textureRect</key>
                <string>{{1369,814},{60,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Top Base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,331}</string>
                <key>spriteSize</key>
                <string>{1366,106}</string>
                <key>spriteSourceSize</key>
                <string>{1366,768}</string>
                <key>textureRect</key>
                <string>{{1,771},{1366,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Lobby.png</string>
            <key>size</key>
            <string>{1722,878}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21379b45ce1cd74968055d290eb5c385:314207baf0f88bb133c7c0c40d698d70:5604b31835c31f3132979f59e1ad1570$</string>
            <key>textureFileName</key>
            <string>Lobby.png</string>
        </dict>
    </dict>
</plist>
