<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Profile Orb Wire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,67}</string>
                <key>spriteSourceSize</key>
                <string>{62,67}</string>
                <key>textureRect</key>
                <string>{{1479,543},{62,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Profile Orb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,215}</string>
                <key>spriteSourceSize</key>
                <string>{196,215}</string>
                <key>textureRect</key>
                <string>{{1304,264},{196,215}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Profile POut BG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1301,764}</string>
                <key>spriteSourceSize</key>
                <string>{1301,764}</string>
                <key>textureRect</key>
                <string>{{1,1},{1301,764}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Profile POut Fish Box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,174}</string>
                <key>spriteSourceSize</key>
                <string>{173,174}</string>
                <key>textureRect</key>
                <string>{{1304,543},{173,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Profile POut Fish Detail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,79}</string>
                <key>spriteSourceSize</key>
                <string>{205,79}</string>
                <key>textureRect</key>
                <string>{{1304,462},{205,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Profile POut Frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,237}</string>
                <key>spriteSourceSize</key>
                <string>{261,237}</string>
                <key>textureRect</key>
                <string>{{1304,1},{261,237}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Profile POut.png</string>
            <key>size</key>
            <string>{1542,766}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4e607ed62de22bec110acb48b52e5be:83282108da0b300598928fa54ba178ca:213ca0390d9c9e966826431a6dbcdbea$</string>
            <key>textureFileName</key>
            <string>Profile POut.png</string>
        </dict>
    </dict>
</plist>
