<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Profile Orb Wire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,67}</string>
                <key>spriteSourceSize</key>
                <string>{62,67}</string>
                <key>textureRect</key>
                <string>{{1398,680},{62,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Profile Orb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,241}</string>
                <key>spriteSourceSize</key>
                <string>{241,241}</string>
                <key>textureRect</key>
                <string>{{1304,271},{241,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Profile POut BG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1301,764}</string>
                <key>spriteSourceSize</key>
                <string>{1301,764}</string>
                <key>textureRect</key>
                <string>{{1,1},{1301,764}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Profile POut Fish Box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,164}</string>
                <key>spriteSourceSize</key>
                <string>{164,164}</string>
                <key>textureRect</key>
                <string>{{1398,514},{164,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Profile POut Fish Detail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,92}</string>
                <key>spriteSourceSize</key>
                <string>{212,92}</string>
                <key>textureRect</key>
                <string>{{1304,514},{212,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Profile POut Frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,244}</string>
                <key>spriteSourceSize</key>
                <string>{268,244}</string>
                <key>textureRect</key>
                <string>{{1304,1},{268,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ProfileUI.png</string>
            <key>size</key>
            <string>{1563,766}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd0533c627443715515c04d6de46c6dc:84af963b356571c92462dc0f16dac2f8:479cf11cbc32e2472cf9aab35e2d4296$</string>
            <key>textureFileName</key>
            <string>ProfileUI.png</string>
        </dict>
    </dict>
</plist>
