<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Amphiprion_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-5}</string>
                <key>spriteSize</key>
                <string>{84,55}</string>
                <key>spriteSourceSize</key>
                <string>{94,65}</string>
                <key>textureRect</key>
                <string>{{1,163},{84,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Amphiprion_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{90,43}</string>
                <key>spriteSourceSize</key>
                <string>{94,65}</string>
                <key>textureRect</key>
                <string>{{1,77},{90,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Amphiprion_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,37}</string>
                <key>spriteSourceSize</key>
                <string>{94,65}</string>
                <key>textureRect</key>
                <string>{{1,1},{94,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Amphiprion_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,35}</string>
                <key>spriteSourceSize</key>
                <string>{94,65}</string>
                <key>textureRect</key>
                <string>{{1,40},{94,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Amphiprion_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{90,39}</string>
                <key>spriteSourceSize</key>
                <string>{94,65}</string>
                <key>textureRect</key>
                <string>{{1,122},{90,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Amphiprion_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,8}</string>
                <key>spriteSize</key>
                <string>{84,49}</string>
                <key>spriteSourceSize</key>
                <string>{94,65}</string>
                <key>textureRect</key>
                <string>{{58,163},{84,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Amphiprion_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{90,39}</string>
                <key>spriteSourceSize</key>
                <string>{94,65}</string>
                <key>textureRect</key>
                <string>{{1,122},{90,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Amphiprion_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,35}</string>
                <key>spriteSourceSize</key>
                <string>{94,65}</string>
                <key>textureRect</key>
                <string>{{1,40},{94,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Amphiprion_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,37}</string>
                <key>spriteSourceSize</key>
                <string>{94,65}</string>
                <key>textureRect</key>
                <string>{{1,1},{94,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Amphiprion_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{90,43}</string>
                <key>spriteSourceSize</key>
                <string>{94,65}</string>
                <key>textureRect</key>
                <string>{{1,77},{90,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Amphiprion.png</string>
            <key>size</key>
            <string>{108,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b062a271a509e3f1c7794615a638c891:03cb08d67a41c10cc08b301555437c7f:56e828cf6dbf5c0efca6db70b68d8063$</string>
            <key>textureFileName</key>
            <string>Amphiprion.png</string>
        </dict>
    </dict>
</plist>
