<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AmphiprionBW_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-6}</string>
                <key>spriteSize</key>
                <string>{174,97}</string>
                <key>spriteSourceSize</key>
                <string>{188,113}</string>
                <key>textureRect</key>
                <string>{{1,293},{174,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>AmphiprionBW_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{182,77}</string>
                <key>spriteSourceSize</key>
                <string>{188,113}</string>
                <key>textureRect</key>
                <string>{{1,147},{182,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AmphiprionBW_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,73}</string>
                <key>spriteSourceSize</key>
                <string>{188,113}</string>
                <key>textureRect</key>
                <string>{{1,1},{188,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AmphiprionBW_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,69}</string>
                <key>spriteSourceSize</key>
                <string>{188,113}</string>
                <key>textureRect</key>
                <string>{{1,76},{188,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AmphiprionBW_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{182,65}</string>
                <key>spriteSourceSize</key>
                <string>{188,113}</string>
                <key>textureRect</key>
                <string>{{1,226},{182,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AmphiprionBW_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,12}</string>
                <key>spriteSize</key>
                <string>{172,83}</string>
                <key>spriteSourceSize</key>
                <string>{188,113}</string>
                <key>textureRect</key>
                <string>{{100,293},{172,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>AmphiprionBW_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{182,65}</string>
                <key>spriteSourceSize</key>
                <string>{188,113}</string>
                <key>textureRect</key>
                <string>{{1,226},{182,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AmphiprionBW_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,69}</string>
                <key>spriteSourceSize</key>
                <string>{188,113}</string>
                <key>textureRect</key>
                <string>{{1,76},{188,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AmphiprionBW_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,73}</string>
                <key>spriteSourceSize</key>
                <string>{188,113}</string>
                <key>textureRect</key>
                <string>{{1,1},{188,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AmphiprionBW_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{182,77}</string>
                <key>spriteSourceSize</key>
                <string>{188,113}</string>
                <key>textureRect</key>
                <string>{{1,147},{182,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>AmphiprionBW.png</string>
            <key>size</key>
            <string>{190,468}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ba51511e11249b4254991037b33bed6:a064b75b5a8e9e35862c676d46bd7ca2:49ebd5b723222bdd93b415189bba2748$</string>
            <key>textureFileName</key>
            <string>AmphiprionBW.png</string>
        </dict>
    </dict>
</plist>
