<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Angelfish_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,65}</string>
                <key>spriteSourceSize</key>
                <string>{160,65}</string>
                <key>textureRect</key>
                <string>{{163,1},{160,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Angelfish_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,65}</string>
                <key>spriteSourceSize</key>
                <string>{160,65}</string>
                <key>textureRect</key>
                <string>{{163,163},{160,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Angelfish_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,65}</string>
                <key>spriteSourceSize</key>
                <string>{160,65}</string>
                <key>textureRect</key>
                <string>{{1,284},{160,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Angelfish_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,61}</string>
                <key>spriteSourceSize</key>
                <string>{160,65}</string>
                <key>textureRect</key>
                <string>{{1,158},{160,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Angelfish_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,51}</string>
                <key>spriteSourceSize</key>
                <string>{160,65}</string>
                <key>textureRect</key>
                <string>{{1,50},{160,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Angelfish_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,47}</string>
                <key>spriteSourceSize</key>
                <string>{160,65}</string>
                <key>textureRect</key>
                <string>{{1,1},{160,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Angelfish_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{160,53}</string>
                <key>spriteSourceSize</key>
                <string>{160,65}</string>
                <key>textureRect</key>
                <string>{{1,103},{160,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Angelfish_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,61}</string>
                <key>spriteSourceSize</key>
                <string>{160,65}</string>
                <key>textureRect</key>
                <string>{{1,221},{160,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Angelfish_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,65}</string>
                <key>spriteSourceSize</key>
                <string>{160,65}</string>
                <key>textureRect</key>
                <string>{{1,351},{160,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Angelfish_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,65}</string>
                <key>spriteSourceSize</key>
                <string>{160,65}</string>
                <key>textureRect</key>
                <string>{{1,418},{160,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Angelfish.png</string>
            <key>size</key>
            <string>{229,484}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95f0a9bdd2a58f8430cf5dbb2bd8fe7e:91d5d17d312cfd11309e8bbbc4ae3378:e9a08a7fd79c8ba4ab85547bbf1bca7e$</string>
            <key>textureFileName</key>
            <string>Angelfish.png</string>
        </dict>
    </dict>
</plist>
