<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Angelfish_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,33}</string>
                <key>spriteSourceSize</key>
                <string>{80,33}</string>
                <key>textureRect</key>
                <string>{{1,1},{80,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Angelfish_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,33}</string>
                <key>spriteSourceSize</key>
                <string>{80,33}</string>
                <key>textureRect</key>
                <string>{{1,36},{80,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Angelfish_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,33}</string>
                <key>spriteSourceSize</key>
                <string>{80,33}</string>
                <key>textureRect</key>
                <string>{{1,71},{80,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Angelfish_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,33}</string>
                <key>spriteSourceSize</key>
                <string>{80,33}</string>
                <key>textureRect</key>
                <string>{{1,106},{80,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Angelfish_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,27}</string>
                <key>spriteSourceSize</key>
                <string>{80,33}</string>
                <key>textureRect</key>
                <string>{{83,83},{80,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Angelfish_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,25}</string>
                <key>spriteSourceSize</key>
                <string>{80,33}</string>
                <key>textureRect</key>
                <string>{{83,165},{80,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Angelfish_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,29}</string>
                <key>spriteSourceSize</key>
                <string>{80,33}</string>
                <key>textureRect</key>
                <string>{{83,1},{80,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Angelfish_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,33}</string>
                <key>spriteSourceSize</key>
                <string>{80,33}</string>
                <key>textureRect</key>
                <string>{{1,141},{80,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Angelfish_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,33}</string>
                <key>spriteSourceSize</key>
                <string>{80,33}</string>
                <key>textureRect</key>
                <string>{{1,176},{80,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Angelfish_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,33}</string>
                <key>spriteSourceSize</key>
                <string>{80,33}</string>
                <key>textureRect</key>
                <string>{{1,211},{80,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Angelfish.png</string>
            <key>size</key>
            <string>{113,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:188fa17f947968b359157b104c17d251:16950822e79a95eba5f717487acc06c4:e9a08a7fd79c8ba4ab85547bbf1bca7e$</string>
            <key>textureFileName</key>
            <string>Angelfish.png</string>
        </dict>
    </dict>
</plist>
