<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ButterFly_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,89}</string>
                <key>spriteSourceSize</key>
                <string>{189,89}</string>
                <key>textureRect</key>
                <string>{{1,1},{189,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButterFly_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{187,87}</string>
                <key>spriteSourceSize</key>
                <string>{189,89}</string>
                <key>textureRect</key>
                <string>{{1,345},{187,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButterFly_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{185,85}</string>
                <key>spriteSourceSize</key>
                <string>{189,89}</string>
                <key>textureRect</key>
                <string>{{1,523},{185,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButterFly_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,83}</string>
                <key>spriteSourceSize</key>
                <string>{189,89}</string>
                <key>textureRect</key>
                <string>{{1,92},{189,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButterFly_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,81}</string>
                <key>spriteSourceSize</key>
                <string>{189,89}</string>
                <key>textureRect</key>
                <string>{{1,262},{189,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButterFly_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{189,83}</string>
                <key>spriteSourceSize</key>
                <string>{189,89}</string>
                <key>textureRect</key>
                <string>{{1,177},{189,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButterFly_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{185,85}</string>
                <key>spriteSourceSize</key>
                <string>{189,89}</string>
                <key>textureRect</key>
                <string>{{1,610},{185,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButterFly_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{187,87}</string>
                <key>spriteSourceSize</key>
                <string>{189,89}</string>
                <key>textureRect</key>
                <string>{{1,434},{187,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ButterFly.png</string>
            <key>size</key>
            <string>{191,696}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4ebc4196e08ffbad85b79e2310e9a44:e2b9f2b26121ef4f40737b8dd0a4416b:d45e80a08066d7ddd5e2bfd8cf3528bd$</string>
            <key>textureFileName</key>
            <string>ButterFly.png</string>
        </dict>
    </dict>
</plist>
