<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ButterFly_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,45}</string>
                <key>spriteSourceSize</key>
                <string>{95,45}</string>
                <key>textureRect</key>
                <string>{{1,1},{95,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButterFly_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,45}</string>
                <key>spriteSourceSize</key>
                <string>{95,45}</string>
                <key>textureRect</key>
                <string>{{1,48},{95,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButterFly_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{93,45}</string>
                <key>spriteSourceSize</key>
                <string>{95,45}</string>
                <key>textureRect</key>
                <string>{{1,275},{93,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButterFly_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,43}</string>
                <key>spriteSourceSize</key>
                <string>{95,45}</string>
                <key>textureRect</key>
                <string>{{1,142},{95,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButterFly_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,41}</string>
                <key>spriteSourceSize</key>
                <string>{95,45}</string>
                <key>textureRect</key>
                <string>{{1,232},{95,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButterFly_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,43}</string>
                <key>spriteSourceSize</key>
                <string>{95,45}</string>
                <key>textureRect</key>
                <string>{{1,187},{95,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButterFly_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{93,45}</string>
                <key>spriteSourceSize</key>
                <string>{95,45}</string>
                <key>textureRect</key>
                <string>{{1,322},{93,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButterFly_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,45}</string>
                <key>spriteSourceSize</key>
                <string>{95,45}</string>
                <key>textureRect</key>
                <string>{{1,95},{95,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ButterFly.png</string>
            <key>size</key>
            <string>{97,368}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:205ac6c2fa428703b95178c10a60ec69:8b7c9a4ee8ceba4ee25a664c5b7a58c0:d45e80a08066d7ddd5e2bfd8cf3528bd$</string>
            <key>textureFileName</key>
            <string>ButterFly.png</string>
        </dict>
    </dict>
</plist>
