<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GoldShark_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,1}</string>
                <key>spriteSize</key>
                <string>{244,139}</string>
                <key>spriteSourceSize</key>
                <string>{270,171}</string>
                <key>textureRect</key>
                <string>{{793,142},{244,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GoldShark_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{258,139}</string>
                <key>spriteSourceSize</key>
                <string>{270,171}</string>
                <key>textureRect</key>
                <string>{{543,1},{258,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GoldShark_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{268,139}</string>
                <key>spriteSourceSize</key>
                <string>{270,171}</string>
                <key>textureRect</key>
                <string>{{273,1},{268,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GoldShark_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,141}</string>
                <key>spriteSourceSize</key>
                <string>{270,171}</string>
                <key>textureRect</key>
                <string>{{1,1},{270,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GoldShark_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{258,141}</string>
                <key>spriteSourceSize</key>
                <string>{270,171}</string>
                <key>textureRect</key>
                <string>{{273,142},{258,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GoldShark_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,0}</string>
                <key>spriteSize</key>
                <string>{242,143}</string>
                <key>spriteSourceSize</key>
                <string>{270,171}</string>
                <key>textureRect</key>
                <string>{{533,283},{242,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GoldShark_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{256,141}</string>
                <key>spriteSourceSize</key>
                <string>{270,171}</string>
                <key>textureRect</key>
                <string>{{273,285},{256,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GoldShark_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,141}</string>
                <key>spriteSourceSize</key>
                <string>{270,171}</string>
                <key>textureRect</key>
                <string>{{1,144},{270,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GoldShark_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,139}</string>
                <key>spriteSourceSize</key>
                <string>{270,171}</string>
                <key>textureRect</key>
                <string>{{1,287},{270,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GoldShark_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{258,139}</string>
                <key>spriteSourceSize</key>
                <string>{270,171}</string>
                <key>textureRect</key>
                <string>{{533,142},{258,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GoldShark.png</string>
            <key>size</key>
            <string>{933,427}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aeb9264347154e2ea6b644df504ae7a5:0415864435aa98c1896fe7ff5214a94a:afbcbb55d069ed0a39f39d7b4d933581$</string>
            <key>textureFileName</key>
            <string>GoldShark.png</string>
        </dict>
    </dict>
</plist>
