<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GoldShark_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,1}</string>
                <key>spriteSize</key>
                <string>{486,281}</string>
                <key>spriteSourceSize</key>
                <string>{540,341}</string>
                <key>textureRect</key>
                <string>{{1057,567},{486,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GoldShark_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,1}</string>
                <key>spriteSize</key>
                <string>{514,281}</string>
                <key>spriteSourceSize</key>
                <string>{540,341}</string>
                <key>textureRect</key>
                <string>{{541,284},{514,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GoldShark_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{536,281}</string>
                <key>spriteSourceSize</key>
                <string>{540,341}</string>
                <key>textureRect</key>
                <string>{{543,1},{536,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GoldShark_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,281}</string>
                <key>spriteSourceSize</key>
                <string>{540,341}</string>
                <key>textureRect</key>
                <string>{{1,1},{540,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GoldShark_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-1}</string>
                <key>spriteSize</key>
                <string>{514,281}</string>
                <key>spriteSourceSize</key>
                <string>{540,341}</string>
                <key>textureRect</key>
                <string>{{541,567},{514,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GoldShark_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-2}</string>
                <key>spriteSize</key>
                <string>{482,281}</string>
                <key>spriteSourceSize</key>
                <string>{540,341}</string>
                <key>textureRect</key>
                <string>{{1569,284},{482,281}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GoldShark_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-1}</string>
                <key>spriteSize</key>
                <string>{510,281}</string>
                <key>spriteSourceSize</key>
                <string>{540,341}</string>
                <key>textureRect</key>
                <string>{{1057,284},{510,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GoldShark_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{538,281}</string>
                <key>spriteSourceSize</key>
                <string>{540,341}</string>
                <key>textureRect</key>
                <string>{{1,284},{538,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GoldShark_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{538,281}</string>
                <key>spriteSourceSize</key>
                <string>{540,341}</string>
                <key>textureRect</key>
                <string>{{1,567},{538,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GoldShark_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,1}</string>
                <key>spriteSize</key>
                <string>{514,281}</string>
                <key>spriteSourceSize</key>
                <string>{540,341}</string>
                <key>textureRect</key>
                <string>{{1081,1},{514,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GoldShark.png</string>
            <key>size</key>
            <string>{1851,849}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2738911f6b4f8d6fded1936ff48abba:9f1ab84f629bd19b269e67c9930659fd:afbcbb55d069ed0a39f39d7b4d933581$</string>
            <key>textureFileName</key>
            <string>GoldShark.png</string>
        </dict>
    </dict>
</plist>
