<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GrouperFish_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{106,84}</string>
                <key>spriteSourceSize</key>
                <string>{110,90}</string>
                <key>textureRect</key>
                <string>{{1,633},{106,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GrouperFish_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{108,80}</string>
                <key>spriteSourceSize</key>
                <string>{110,90}</string>
                <key>textureRect</key>
                <string>{{1,417},{108,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GrouperFish_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{110,76}</string>
                <key>spriteSourceSize</key>
                <string>{110,90}</string>
                <key>textureRect</key>
                <string>{{1,1},{110,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GrouperFish_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{110,68}</string>
                <key>spriteSourceSize</key>
                <string>{110,90}</string>
                <key>textureRect</key>
                <string>{{1,157},{110,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GrouperFish_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,58}</string>
                <key>spriteSourceSize</key>
                <string>{110,90}</string>
                <key>textureRect</key>
                <string>{{1,297},{110,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GrouperFish_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{108,50}</string>
                <key>spriteSourceSize</key>
                <string>{110,90}</string>
                <key>textureRect</key>
                <string>{{1,581},{108,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GrouperFish_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{106,50}</string>
                <key>spriteSourceSize</key>
                <string>{110,90}</string>
                <key>textureRect</key>
                <string>{{1,859},{106,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GrouperFish_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{106,52}</string>
                <key>spriteSourceSize</key>
                <string>{110,90}</string>
                <key>textureRect</key>
                <string>{{1,805},{106,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GrouperFish_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,58}</string>
                <key>spriteSourceSize</key>
                <string>{110,90}</string>
                <key>textureRect</key>
                <string>{{1,357},{110,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GrouperFish_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,68}</string>
                <key>spriteSourceSize</key>
                <string>{110,90}</string>
                <key>textureRect</key>
                <string>{{1,227},{110,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GrouperFish_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{110,76}</string>
                <key>spriteSourceSize</key>
                <string>{110,90}</string>
                <key>textureRect</key>
                <string>{{1,79},{110,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GrouperFish_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{108,80}</string>
                <key>spriteSourceSize</key>
                <string>{110,90}</string>
                <key>textureRect</key>
                <string>{{1,499},{108,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GrouperFish_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{106,84}</string>
                <key>spriteSourceSize</key>
                <string>{110,90}</string>
                <key>textureRect</key>
                <string>{{1,719},{106,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GrouperFish.png</string>
            <key>size</key>
            <string>{112,910}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c5e63fe38994a17dd03d129994a9c4d:9a28ed3c28c91865cd5679f6c0798ef3:402aa65d23229c2677ada1df224d09e0$</string>
            <key>textureFileName</key>
            <string>GrouperFish.png</string>
        </dict>
    </dict>
</plist>
