<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HorseshoeCrab_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{136,86}</string>
                <key>spriteSourceSize</key>
                <string>{150,100}</string>
                <key>textureRect</key>
                <string>{{735,1},{136,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HorseshoeCrab_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{142,86}</string>
                <key>spriteSourceSize</key>
                <string>{150,100}</string>
                <key>textureRect</key>
                <string>{{447,1},{142,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HorseshoeCrab_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{146,86}</string>
                <key>spriteSourceSize</key>
                <string>{150,100}</string>
                <key>textureRect</key>
                <string>{{151,1},{146,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HorseshoeCrab_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{148,86}</string>
                <key>spriteSourceSize</key>
                <string>{150,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{148,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HorseshoeCrab_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{146,86}</string>
                <key>spriteSourceSize</key>
                <string>{150,100}</string>
                <key>textureRect</key>
                <string>{{299,1},{146,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HorseshoeCrab_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{142,86}</string>
                <key>spriteSourceSize</key>
                <string>{150,100}</string>
                <key>textureRect</key>
                <string>{{591,1},{142,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HorseshoeCrab_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{136,86}</string>
                <key>spriteSourceSize</key>
                <string>{150,100}</string>
                <key>textureRect</key>
                <string>{{873,1},{136,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HorseshoeCrab_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{142,86}</string>
                <key>spriteSourceSize</key>
                <string>{150,100}</string>
                <key>textureRect</key>
                <string>{{591,1},{142,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HorseshoeCrab_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{146,86}</string>
                <key>spriteSourceSize</key>
                <string>{150,100}</string>
                <key>textureRect</key>
                <string>{{299,1},{146,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HorseshoeCrab_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{148,86}</string>
                <key>spriteSourceSize</key>
                <string>{150,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{148,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HorseshoeCrab_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{146,86}</string>
                <key>spriteSourceSize</key>
                <string>{150,100}</string>
                <key>textureRect</key>
                <string>{{151,1},{146,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>HorseshoeCrab.png</string>
            <key>size</key>
            <string>{1010,88}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:496cda9fd8172f1f6c3b6443e9b38e24:fed31d6ed57bbc414e2cbb63c4477fd5:4823bb768a196e05728b652322ceb9a4$</string>
            <key>textureFileName</key>
            <string>HorseshoeCrab.png</string>
        </dict>
    </dict>
</plist>
