<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Lantern_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-6}</string>
                <key>spriteSize</key>
                <string>{338,164}</string>
                <key>spriteSourceSize</key>
                <string>{370,200}</string>
                <key>textureRect</key>
                <string>{{1407,1},{338,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lantern_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-12}</string>
                <key>spriteSize</key>
                <string>{356,162}</string>
                <key>spriteSourceSize</key>
                <string>{370,200}</string>
                <key>textureRect</key>
                <string>{{343,175},{356,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lantern_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-15}</string>
                <key>spriteSize</key>
                <string>{364,164}</string>
                <key>spriteSourceSize</key>
                <string>{370,200}</string>
                <key>textureRect</key>
                <string>{{1043,171},{364,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lantern_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-15}</string>
                <key>spriteSize</key>
                <string>{322,164}</string>
                <key>spriteSourceSize</key>
                <string>{370,200}</string>
                <key>textureRect</key>
                <string>{{177,1},{322,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Lantern_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-12}</string>
                <key>spriteSize</key>
                <string>{340,162}</string>
                <key>spriteSourceSize</key>
                <string>{370,200}</string>
                <key>textureRect</key>
                <string>{{701,175},{340,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lantern_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-6}</string>
                <key>spriteSize</key>
                <string>{338,164}</string>
                <key>spriteSourceSize</key>
                <string>{370,200}</string>
                <key>textureRect</key>
                <string>{{1409,167},{338,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lantern_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{356,168}</string>
                <key>spriteSourceSize</key>
                <string>{370,200}</string>
                <key>textureRect</key>
                <string>{{709,1},{356,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lantern_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,12}</string>
                <key>spriteSize</key>
                <string>{364,172}</string>
                <key>spriteSourceSize</key>
                <string>{370,200}</string>
                <key>textureRect</key>
                <string>{{343,1},{364,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lantern_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,13}</string>
                <key>spriteSize</key>
                <string>{322,174}</string>
                <key>spriteSourceSize</key>
                <string>{370,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{322,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Lantern_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,3}</string>
                <key>spriteSize</key>
                <string>{338,168}</string>
                <key>spriteSourceSize</key>
                <string>{370,200}</string>
                <key>textureRect</key>
                <string>{{1067,1},{338,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Lantern.png</string>
            <key>size</key>
            <string>{1748,338}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9784405c094eb490a6b822e41af3266:7f670a801b82e6fd13f5929741ce3940:f1bafa2c26deda73cfe01e78b270c574$</string>
            <key>textureFileName</key>
            <string>Lantern.png</string>
        </dict>
    </dict>
</plist>
