<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Lantern_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-3}</string>
                <key>spriteSize</key>
                <string>{171,84}</string>
                <key>spriteSourceSize</key>
                <string>{185,100}</string>
                <key>textureRect</key>
                <string>{{182,87},{171,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lantern_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{175,82}</string>
                <key>spriteSourceSize</key>
                <string>{185,100}</string>
                <key>textureRect</key>
                <string>{{1,179},{175,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lantern_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-7}</string>
                <key>spriteSize</key>
                <string>{175,84}</string>
                <key>spriteSourceSize</key>
                <string>{185,100}</string>
                <key>textureRect</key>
                <string>{{182,1},{175,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lantern_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-7}</string>
                <key>spriteSize</key>
                <string>{163,84}</string>
                <key>spriteSourceSize</key>
                <string>{185,100}</string>
                <key>textureRect</key>
                <string>{{359,1},{163,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Lantern_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-6}</string>
                <key>spriteSize</key>
                <string>{171,82}</string>
                <key>spriteSourceSize</key>
                <string>{185,100}</string>
                <key>textureRect</key>
                <string>{{1,263},{171,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lantern_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-3}</string>
                <key>spriteSize</key>
                <string>{171,84}</string>
                <key>spriteSourceSize</key>
                <string>{185,100}</string>
                <key>textureRect</key>
                <string>{{180,173},{171,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lantern_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{179,86}</string>
                <key>spriteSourceSize</key>
                <string>{185,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{179,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lantern_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,6}</string>
                <key>spriteSize</key>
                <string>{177,88}</string>
                <key>spriteSourceSize</key>
                <string>{185,100}</string>
                <key>textureRect</key>
                <string>{{1,89},{177,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lantern_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,6}</string>
                <key>spriteSize</key>
                <string>{157,88}</string>
                <key>spriteSourceSize</key>
                <string>{185,100}</string>
                <key>textureRect</key>
                <string>{{355,166},{157,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Lantern_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{169,84}</string>
                <key>spriteSourceSize</key>
                <string>{185,100}</string>
                <key>textureRect</key>
                <string>{{178,259},{169,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Lantern.png</string>
            <key>size</key>
            <string>{444,346}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd61845077067c4dea5c97de8795bf66:8e03c9eb7413dd66ec1169b74661a683:f14dddbb60a3963ef985ef775416bb13$</string>
            <key>textureFileName</key>
            <string>Lantern.png</string>
        </dict>
    </dict>
</plist>
