<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MarlinsFish_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-2}</string>
                <key>spriteSize</key>
                <string>{474,161}</string>
                <key>spriteSourceSize</key>
                <string>{492,195}</string>
                <key>textureRect</key>
                <string>{{160,1406},{474,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MarlinsFish_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-2}</string>
                <key>spriteSize</key>
                <string>{476,159}</string>
                <key>spriteSourceSize</key>
                <string>{492,195}</string>
                <key>textureRect</key>
                <string>{{1,1084},{476,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MarlinsFish_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-1}</string>
                <key>spriteSize</key>
                <string>{476,157}</string>
                <key>spriteSourceSize</key>
                <string>{492,195}</string>
                <key>textureRect</key>
                <string>{{1,1406},{476,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MarlinsFish_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,0}</string>
                <key>spriteSize</key>
                <string>{400,155}</string>
                <key>spriteSourceSize</key>
                <string>{492,195}</string>
                <key>textureRect</key>
                <string>{{323,1406},{400,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MarlinsFish_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,2}</string>
                <key>spriteSize</key>
                <string>{478,153}</string>
                <key>spriteSourceSize</key>
                <string>{492,195}</string>
                <key>textureRect</key>
                <string>{{1,317},{478,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MarlinsFish_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,3}</string>
                <key>spriteSize</key>
                <string>{478,151}</string>
                <key>spriteSourceSize</key>
                <string>{492,195}</string>
                <key>textureRect</key>
                <string>{{1,627},{478,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MarlinsFish_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,3}</string>
                <key>spriteSize</key>
                <string>{478,149}</string>
                <key>spriteSourceSize</key>
                <string>{492,195}</string>
                <key>textureRect</key>
                <string>{{1,933},{478,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MarlinsFish_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,3}</string>
                <key>spriteSize</key>
                <string>{478,151}</string>
                <key>spriteSourceSize</key>
                <string>{492,195}</string>
                <key>textureRect</key>
                <string>{{1,780},{478,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MarlinsFish_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,2}</string>
                <key>spriteSize</key>
                <string>{478,153}</string>
                <key>spriteSourceSize</key>
                <string>{492,195}</string>
                <key>textureRect</key>
                <string>{{1,472},{478,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MarlinsFish_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,1}</string>
                <key>spriteSize</key>
                <string>{478,155}</string>
                <key>spriteSourceSize</key>
                <string>{492,195}</string>
                <key>textureRect</key>
                <string>{{1,160},{478,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MarlinsFish_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{478,157}</string>
                <key>spriteSourceSize</key>
                <string>{492,195}</string>
                <key>textureRect</key>
                <string>{{1,1},{478,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MarlinsFish_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-1}</string>
                <key>spriteSize</key>
                <string>{476,159}</string>
                <key>spriteSourceSize</key>
                <string>{492,195}</string>
                <key>textureRect</key>
                <string>{{1,1245},{476,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MarlinsFish.png</string>
            <key>size</key>
            <string>{480,1883}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53fffce621e135d64185b407142ad04f:eb3c38c463d63ce821552e8cd1734cde:b5e3e6380fa0db7b61fc88cf2dce0243$</string>
            <key>textureFileName</key>
            <string>MarlinsFish.png</string>
        </dict>
    </dict>
</plist>
