<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>NFIsh_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{860,365}</string>
                <key>spriteSourceSize</key>
                <string>{1232,1191}</string>
                <key>textureRect</key>
                <string>{{1,386},{860,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NFIsh_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{862,383}</string>
                <key>spriteSourceSize</key>
                <string>{1232,1191}</string>
                <key>textureRect</key>
                <string>{{1,1},{862,383}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NFIsh_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{848,301}</string>
                <key>spriteSourceSize</key>
                <string>{1232,1191}</string>
                <key>textureRect</key>
                <string>{{555,753},{848,301}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>NFIsh_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{854,263}</string>
                <key>spriteSourceSize</key>
                <string>{1232,1191}</string>
                <key>textureRect</key>
                <string>{{290,753},{854,263}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>NFIsh_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,21}</string>
                <key>spriteSize</key>
                <string>{854,287}</string>
                <key>spriteSourceSize</key>
                <string>{1232,1191}</string>
                <key>textureRect</key>
                <string>{{1,753},{854,287}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>NFish.png</string>
            <key>size</key>
            <string>{864,1608}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a2645423f14e7d61c660482b2ca3916:e525fb37389f877685e4096b7d282139:cfc464baec529d5f0c4267b68196139b$</string>
            <key>textureFileName</key>
            <string>NFish.png</string>
        </dict>
    </dict>
</plist>
