<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PaddleFish_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{319,72}</string>
                <key>spriteSourceSize</key>
                <string>{321,98}</string>
                <key>textureRect</key>
                <string>{{324,1},{319,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PaddleFish_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,58}</string>
                <key>spriteSourceSize</key>
                <string>{321,98}</string>
                <key>textureRect</key>
                <string>{{1,1},{321,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PaddleFish_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,56}</string>
                <key>spriteSourceSize</key>
                <string>{321,98}</string>
                <key>textureRect</key>
                <string>{{1,121},{321,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PaddleFish_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,56}</string>
                <key>spriteSourceSize</key>
                <string>{321,98}</string>
                <key>textureRect</key>
                <string>{{1,179},{321,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PaddleFish_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,56}</string>
                <key>spriteSourceSize</key>
                <string>{321,98}</string>
                <key>textureRect</key>
                <string>{{1,237},{321,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PaddleFish_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{319,64}</string>
                <key>spriteSourceSize</key>
                <string>{321,98}</string>
                <key>textureRect</key>
                <string>{{398,1},{319,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PaddleFish_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,56}</string>
                <key>spriteSourceSize</key>
                <string>{321,98}</string>
                <key>textureRect</key>
                <string>{{1,295},{321,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PaddleFish_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,56}</string>
                <key>spriteSourceSize</key>
                <string>{321,98}</string>
                <key>textureRect</key>
                <string>{{1,353},{321,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PaddleFish_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,56}</string>
                <key>spriteSourceSize</key>
                <string>{321,98}</string>
                <key>textureRect</key>
                <string>{{1,411},{321,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PaddleFish_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,58}</string>
                <key>spriteSourceSize</key>
                <string>{321,98}</string>
                <key>textureRect</key>
                <string>{{1,61},{321,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PaddleFish.png</string>
            <key>size</key>
            <string>{463,468}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cfbbaa51b5a4467851929d12989250aa:6b208c700b0861d60ba1dd9391e14a85:1048d245b997da23866d89fd2912834a$</string>
            <key>textureFileName</key>
            <string>PaddleFish.png</string>
        </dict>
    </dict>
</plist>
