<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Porgy_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,40}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{1,1},{90,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Porgy_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{88,42}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{1,43},{88,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Porgy_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,32}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{1,87},{88,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Porgy_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{88,30}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{1,155},{88,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Porgy_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{88,32}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{1,121},{88,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Porgy.png</string>
            <key>size</key>
            <string>{92,186}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7db3bf22e7cdc2d3ec2201f8e70e550:d388e0bef29f29406ff11a82be2a471d:8ac1b1bf503c89371b9496c0f168afc2$</string>
            <key>textureFileName</key>
            <string>Porgy.png</string>
        </dict>
    </dict>
</plist>
