<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Puffer_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,188}</string>
                <key>spriteSourceSize</key>
                <string>{201,188}</string>
                <key>textureRect</key>
                <string>{{375,113},{201,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Puffer_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,198}</string>
                <key>spriteSourceSize</key>
                <string>{201,198}</string>
                <key>textureRect</key>
                <string>{{204,303},{201,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Puffer_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,200}</string>
                <key>spriteSourceSize</key>
                <string>{201,200}</string>
                <key>textureRect</key>
                <string>{{610,307},{201,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Puffer_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,198}</string>
                <key>spriteSourceSize</key>
                <string>{201,198}</string>
                <key>textureRect</key>
                <string>{{407,307},{201,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Puffer_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,194}</string>
                <key>spriteSourceSize</key>
                <string>{201,194}</string>
                <key>textureRect</key>
                <string>{{1,299},{201,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Puffer_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,132}</string>
                <key>spriteSourceSize</key>
                <string>{181,132}</string>
                <key>textureRect</key>
                <string>{{1,111},{181,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Puffer_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,184}</string>
                <key>spriteSourceSize</key>
                <string>{189,184}</string>
                <key>textureRect</key>
                <string>{{184,113},{189,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Puffer_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,192}</string>
                <key>spriteSourceSize</key>
                <string>{201,192}</string>
                <key>textureRect</key>
                <string>{{578,113},{201,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Puffer_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,108}</string>
                <key>spriteSourceSize</key>
                <string>{155,108}</string>
                <key>textureRect</key>
                <string>{{1,1},{155,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Puffer_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,110}</string>
                <key>spriteSourceSize</key>
                <string>{167,110}</string>
                <key>textureRect</key>
                <string>{{311,1},{167,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Puffer_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,110}</string>
                <key>spriteSourceSize</key>
                <string>{173,110}</string>
                <key>textureRect</key>
                <string>{{480,1},{173,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Puffer_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,110}</string>
                <key>spriteSourceSize</key>
                <string>{165,110}</string>
                <key>textureRect</key>
                <string>{{655,1},{165,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Puffer_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,108}</string>
                <key>spriteSourceSize</key>
                <string>{151,108}</string>
                <key>textureRect</key>
                <string>{{158,1},{151,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Puffer.png</string>
            <key>size</key>
            <string>{821,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5acecdd702f1ab48475d7fc918dd593:0c7e7f399b32a730ef7fe7429eef7b42:447ec5f1893ce533be6899def65c9918$</string>
            <key>textureFileName</key>
            <string>Puffer.png</string>
        </dict>
    </dict>
</plist>
