<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Puffer_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-3}</string>
                <key>spriteSize</key>
                <string>{155,108}</string>
                <key>spriteSourceSize</key>
                <string>{175,154}</string>
                <key>textureRect</key>
                <string>{{1,1},{155,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Puffer_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{167,110}</string>
                <key>spriteSourceSize</key>
                <string>{175,154}</string>
                <key>textureRect</key>
                <string>{{1,221},{167,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Puffer_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{173,110}</string>
                <key>spriteSourceSize</key>
                <string>{175,154}</string>
                <key>textureRect</key>
                <string>{{1,333},{173,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Puffer_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{163,110}</string>
                <key>spriteSourceSize</key>
                <string>{175,154}</string>
                <key>textureRect</key>
                <string>{{1,445},{163,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Puffer_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-2}</string>
                <key>spriteSize</key>
                <string>{149,108}</string>
                <key>spriteSourceSize</key>
                <string>{175,154}</string>
                <key>textureRect</key>
                <string>{{1,111},{149,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Puffer_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{189,184}</string>
                <key>spriteSourceSize</key>
                <string>{205,200}</string>
                <key>textureRect</key>
                <string>{{1,557},{189,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Puffer_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{201,192}</string>
                <key>spriteSourceSize</key>
                <string>{205,200}</string>
                <key>textureRect</key>
                <string>{{1,933},{201,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Puffer_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,6}</string>
                <key>spriteSize</key>
                <string>{203,188}</string>
                <key>spriteSourceSize</key>
                <string>{205,200}</string>
                <key>textureRect</key>
                <string>{{1,743},{203,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Puffer_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{203,198}</string>
                <key>spriteSourceSize</key>
                <string>{205,200}</string>
                <key>textureRect</key>
                <string>{{1,1323},{203,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Puffer_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{201,200}</string>
                <key>spriteSourceSize</key>
                <string>{205,200}</string>
                <key>textureRect</key>
                <string>{{1,1723},{201,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Puffer_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{203,198}</string>
                <key>spriteSourceSize</key>
                <string>{205,200}</string>
                <key>textureRect</key>
                <string>{{1,1523},{203,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Puffer_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{203,194}</string>
                <key>spriteSourceSize</key>
                <string>{205,200}</string>
                <key>textureRect</key>
                <string>{{1,1127},{203,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Puffer.png</string>
            <key>size</key>
            <string>{205,1924}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee55652bb406dec02b981b7c6c3f9d06:2c15cb77c2e921249b439ddf3deb5d99:447ec5f1893ce533be6899def65c9918$</string>
            <key>textureFileName</key>
            <string>Puffer.png</string>
        </dict>
    </dict>
</plist>
