<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Puffer_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{80,57}</string>
                <key>spriteSourceSize</key>
                <string>{88,77}</string>
                <key>textureRect</key>
                <string>{{303,159},{80,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Puffer_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{86,57}</string>
                <key>spriteSourceSize</key>
                <string>{88,77}</string>
                <key>textureRect</key>
                <string>{{397,60},{86,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Puffer_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{88,57}</string>
                <key>spriteSourceSize</key>
                <string>{88,77}</string>
                <key>textureRect</key>
                <string>{{397,1},{88,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Puffer_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{84,57}</string>
                <key>spriteSourceSize</key>
                <string>{88,77}</string>
                <key>textureRect</key>
                <string>{{303,100},{84,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Puffer_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{76,55}</string>
                <key>spriteSourceSize</key>
                <string>{88,77}</string>
                <key>textureRect</key>
                <string>{{448,119},{76,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Puffer_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{82,57}</string>
                <key>spriteSourceSize</key>
                <string>{88,77}</string>
                <key>textureRect</key>
                <string>{{389,119},{82,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Puffer_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{97,94}</string>
                <key>spriteSourceSize</key>
                <string>{103,100}</string>
                <key>textureRect</key>
                <string>{{301,1},{97,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Puffer_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{103,98}</string>
                <key>spriteSourceSize</key>
                <string>{103,100}</string>
                <key>textureRect</key>
                <string>{{103,106},{103,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Puffer_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{103,94}</string>
                <key>spriteSourceSize</key>
                <string>{103,100}</string>
                <key>textureRect</key>
                <string>{{205,1},{103,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Puffer_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,100}</string>
                <key>spriteSourceSize</key>
                <string>{103,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{103,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Puffer_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,100}</string>
                <key>spriteSourceSize</key>
                <string>{103,100}</string>
                <key>textureRect</key>
                <string>{{1,106},{103,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Puffer_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,100}</string>
                <key>spriteSourceSize</key>
                <string>{103,100}</string>
                <key>textureRect</key>
                <string>{{103,1},{103,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Puffer_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{103,98}</string>
                <key>spriteSourceSize</key>
                <string>{103,100}</string>
                <key>textureRect</key>
                <string>{{203,106},{103,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Puffer.png</string>
            <key>size</key>
            <string>{504,217}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36b71793938a22f90c4dd1ec66d555d6:529fbeb7a91a5404de53eee6cec6275d:447ec5f1893ce533be6899def65c9918$</string>
            <key>textureFileName</key>
            <string>Puffer.png</string>
        </dict>
    </dict>
</plist>
