<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ray_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,188}</string>
                <key>spriteSourceSize</key>
                <string>{406,188}</string>
                <key>textureRect</key>
                <string>{{413,1133},{406,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ray_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,192}</string>
                <key>spriteSourceSize</key>
                <string>{410,192}</string>
                <key>textureRect</key>
                <string>{{421,939},{410,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ray_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,198}</string>
                <key>spriteSourceSize</key>
                <string>{418,198}</string>
                <key>textureRect</key>
                <string>{{1,749},{418,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ray_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{426,216}</string>
                <key>spriteSourceSize</key>
                <string>{426,216}</string>
                <key>textureRect</key>
                <string>{{1,531},{426,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ray_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{434,234}</string>
                <key>spriteSourceSize</key>
                <string>{434,234}</string>
                <key>textureRect</key>
                <string>{{459,1},{434,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ray_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,248}</string>
                <key>spriteSourceSize</key>
                <string>{440,248}</string>
                <key>textureRect</key>
                <string>{{1,281},{440,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ray_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,278}</string>
                <key>spriteSourceSize</key>
                <string>{456,278}</string>
                <key>textureRect</key>
                <string>{{1,1},{456,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ray_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,248}</string>
                <key>spriteSourceSize</key>
                <string>{440,248}</string>
                <key>textureRect</key>
                <string>{{443,473},{440,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ray_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{434,234}</string>
                <key>spriteSourceSize</key>
                <string>{434,234}</string>
                <key>textureRect</key>
                <string>{{459,237},{434,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ray_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{426,214}</string>
                <key>spriteSourceSize</key>
                <string>{426,214}</string>
                <key>textureRect</key>
                <string>{{429,723},{426,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ray_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,190}</string>
                <key>spriteSourceSize</key>
                <string>{410,190}</string>
                <key>textureRect</key>
                <string>{{1,1133},{410,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ray_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,176}</string>
                <key>spriteSourceSize</key>
                <string>{398,176}</string>
                <key>textureRect</key>
                <string>{{1,949},{398,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Ray.png</string>
            <key>size</key>
            <string>{894,1324}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b0fe1956b6a1868f871bd25089dffa6:43a86a5c9f31d79502ea2924ba42fc09:bcd7ac130a47077cee34e08333822b40$</string>
            <key>textureFileName</key>
            <string>Ray.png</string>
        </dict>
    </dict>
</plist>
