<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ray_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,2}</string>
                <key>spriteSize</key>
                <string>{200,92}</string>
                <key>spriteSourceSize</key>
                <string>{230,140}</string>
                <key>textureRect</key>
                <string>{{777,427},{200,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ray_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,2}</string>
                <key>spriteSize</key>
                <string>{202,88}</string>
                <key>spriteSourceSize</key>
                <string>{230,140}</string>
                <key>textureRect</key>
                <string>{{929,205},{202,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ray_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{206,92}</string>
                <key>spriteSourceSize</key>
                <string>{230,140}</string>
                <key>textureRect</key>
                <string>{{835,1},{206,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ray_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{214,98}</string>
                <key>spriteSourceSize</key>
                <string>{230,140}</string>
                <key>textureRect</key>
                <string>{{735,1},{214,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ray_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{216,106}</string>
                <key>spriteSourceSize</key>
                <string>{230,140}</string>
                <key>textureRect</key>
                <string>{{513,1},{216,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ray_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{222,118}</string>
                <key>spriteSourceSize</key>
                <string>{230,140}</string>
                <key>textureRect</key>
                <string>{{271,225},{222,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ray_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,140}</string>
                <key>spriteSourceSize</key>
                <string>{230,140}</string>
                <key>textureRect</key>
                <string>{{1,1},{230,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ray_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{222,126}</string>
                <key>spriteSourceSize</key>
                <string>{230,140}</string>
                <key>textureRect</key>
                <string>{{143,1},{222,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ray_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{218,118}</string>
                <key>spriteSourceSize</key>
                <string>{230,140}</string>
                <key>textureRect</key>
                <string>{{391,225},{218,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ray_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{214,110}</string>
                <key>spriteSourceSize</key>
                <string>{230,140}</string>
                <key>textureRect</key>
                <string>{{561,439},{214,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ray_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,3}</string>
                <key>spriteSize</key>
                <string>{208,98}</string>
                <key>spriteSourceSize</key>
                <string>{230,140}</string>
                <key>textureRect</key>
                <string>{{739,217},{208,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ray_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,2}</string>
                <key>spriteSize</key>
                <string>{202,88}</string>
                <key>spriteSourceSize</key>
                <string>{230,140}</string>
                <key>textureRect</key>
                <string>{{839,209},{202,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ray_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,2}</string>
                <key>spriteSize</key>
                <string>{208,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,140}</string>
                <key>textureRect</key>
                <string>{{143,449},{208,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ray_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{214,112}</string>
                <key>spriteSourceSize</key>
                <string>{230,140}</string>
                <key>textureRect</key>
                <string>{{621,1},{214,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ray_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{218,118}</string>
                <key>spriteSourceSize</key>
                <string>{230,140}</string>
                <key>textureRect</key>
                <string>{{393,1},{218,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ray_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{222,126}</string>
                <key>spriteSourceSize</key>
                <string>{230,140}</string>
                <key>textureRect</key>
                <string>{{143,225},{222,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ray_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,140}</string>
                <key>spriteSourceSize</key>
                <string>{230,140}</string>
                <key>textureRect</key>
                <string>{{1,233},{230,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ray_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{222,120}</string>
                <key>spriteSourceSize</key>
                <string>{230,140}</string>
                <key>textureRect</key>
                <string>{{271,1},{222,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ray_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{216,112}</string>
                <key>spriteSourceSize</key>
                <string>{230,140}</string>
                <key>textureRect</key>
                <string>{{511,221},{216,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ray_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{214,112}</string>
                <key>spriteSourceSize</key>
                <string>{230,140}</string>
                <key>textureRect</key>
                <string>{{625,217},{214,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ray_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{206,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,140}</string>
                <key>textureRect</key>
                <string>{{353,449},{206,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ray_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,3}</string>
                <key>spriteSize</key>
                <string>{202,90}</string>
                <key>spriteSourceSize</key>
                <string>{230,140}</string>
                <key>textureRect</key>
                <string>{{929,1},{202,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Ray.png</string>
            <key>size</key>
            <string>{1020,550}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f32007b7b5e3ceb4da6e6643c40a02a:c02b0972cfb7b03f06599af54f934a02:bcd7ac130a47077cee34e08333822b40$</string>
            <key>textureFileName</key>
            <string>Ray.png</string>
        </dict>
    </dict>
</plist>
