<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Shark_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,1}</string>
                <key>spriteSize</key>
                <string>{244,139}</string>
                <key>spriteSourceSize</key>
                <string>{270,171}</string>
                <key>textureRect</key>
                <string>{{789,142},{244,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shark_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{258,139}</string>
                <key>spriteSourceSize</key>
                <string>{270,171}</string>
                <key>textureRect</key>
                <string>{{271,142},{258,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{268,139}</string>
                <key>spriteSourceSize</key>
                <string>{270,171}</string>
                <key>textureRect</key>
                <string>{{1,287},{268,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{268,141}</string>
                <key>spriteSourceSize</key>
                <string>{270,171}</string>
                <key>textureRect</key>
                <string>{{1,1},{268,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{256,141}</string>
                <key>spriteSourceSize</key>
                <string>{270,171}</string>
                <key>textureRect</key>
                <string>{{531,142},{256,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,1}</string>
                <key>spriteSize</key>
                <string>{240,143}</string>
                <key>spriteSourceSize</key>
                <string>{270,171}</string>
                <key>textureRect</key>
                <string>{{271,283},{240,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{256,141}</string>
                <key>spriteSourceSize</key>
                <string>{270,171}</string>
                <key>textureRect</key>
                <string>{{513,285},{256,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{268,141}</string>
                <key>spriteSourceSize</key>
                <string>{270,171}</string>
                <key>textureRect</key>
                <string>{{1,144},{268,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{268,139}</string>
                <key>spriteSourceSize</key>
                <string>{270,171}</string>
                <key>textureRect</key>
                <string>{{271,1},{268,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{258,139}</string>
                <key>spriteSourceSize</key>
                <string>{270,171}</string>
                <key>textureRect</key>
                <string>{{541,1},{258,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Shark.png</string>
            <key>size</key>
            <string>{929,427}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2e9f116d990515c5a2ca5e1e61b08f9:305bd3dca9b872f90189bf22fc7b293c:60d983adbb792b5cac60ce5d0a9353ed$</string>
            <key>textureFileName</key>
            <string>Shark.png</string>
        </dict>
    </dict>
</plist>
