<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Shark_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,1}</string>
                <key>spriteSize</key>
                <string>{486,281}</string>
                <key>spriteSourceSize</key>
                <string>{540,341}</string>
                <key>textureRect</key>
                <string>{{1587,284},{486,281}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shark_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,1}</string>
                <key>spriteSize</key>
                <string>{514,281}</string>
                <key>spriteSourceSize</key>
                <string>{540,341}</string>
                <key>textureRect</key>
                <string>{{567,1},{514,281}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shark_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{536,281}</string>
                <key>spriteSourceSize</key>
                <string>{540,341}</string>
                <key>textureRect</key>
                <string>{{1,1},{536,281}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shark_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{534,281}</string>
                <key>spriteSourceSize</key>
                <string>{540,341}</string>
                <key>textureRect</key>
                <string>{{284,1},{534,281}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shark_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-1}</string>
                <key>spriteSize</key>
                <string>{510,281}</string>
                <key>spriteSourceSize</key>
                <string>{540,341}</string>
                <key>textureRect</key>
                <string>{{1075,517},{510,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-2}</string>
                <key>spriteSize</key>
                <string>{480,281}</string>
                <key>spriteSourceSize</key>
                <string>{540,341}</string>
                <key>textureRect</key>
                <string>{{1416,1},{480,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-1}</string>
                <key>spriteSize</key>
                <string>{510,281}</string>
                <key>spriteSourceSize</key>
                <string>{540,341}</string>
                <key>textureRect</key>
                <string>{{1133,1},{510,281}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shark_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{534,281}</string>
                <key>spriteSourceSize</key>
                <string>{540,341}</string>
                <key>textureRect</key>
                <string>{{539,537},{534,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{536,281}</string>
                <key>spriteSourceSize</key>
                <string>{540,341}</string>
                <key>textureRect</key>
                <string>{{1,539},{536,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,1}</string>
                <key>spriteSize</key>
                <string>{514,281}</string>
                <key>spriteSourceSize</key>
                <string>{540,341}</string>
                <key>textureRect</key>
                <string>{{850,1},{514,281}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Shark.png</string>
            <key>size</key>
            <string>{1897,821}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d76d6f007ef7f8156f0c2dce1e7b3fe8:ff3ba3425820f85e50633fb76f8cf003:60d983adbb792b5cac60ce5d0a9353ed$</string>
            <key>textureFileName</key>
            <string>Shark.png</string>
        </dict>
    </dict>
</plist>
