<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Shark_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,0}</string>
                <key>spriteSize</key>
                <string>{486,273}</string>
                <key>spriteSourceSize</key>
                <string>{540,341}</string>
                <key>textureRect</key>
                <string>{{1382,563},{486,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,1}</string>
                <key>spriteSize</key>
                <string>{514,275}</string>
                <key>spriteSourceSize</key>
                <string>{540,341}</string>
                <key>textureRect</key>
                <string>{{820,1},{514,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{536,277}</string>
                <key>spriteSourceSize</key>
                <string>{540,341}</string>
                <key>textureRect</key>
                <string>{{282,1},{536,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{534,279}</string>
                <key>spriteSourceSize</key>
                <string>{540,341}</string>
                <key>textureRect</key>
                <string>{{1,1},{534,279}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shark_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,1}</string>
                <key>spriteSize</key>
                <string>{510,281}</string>
                <key>spriteSourceSize</key>
                <string>{540,341}</string>
                <key>textureRect</key>
                <string>{{816,280},{510,281}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shark_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,1}</string>
                <key>spriteSize</key>
                <string>{478,283}</string>
                <key>spriteSourceSize</key>
                <string>{540,341}</string>
                <key>textureRect</key>
                <string>{{1382,278},{478,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,1}</string>
                <key>spriteSize</key>
                <string>{510,281}</string>
                <key>spriteSourceSize</key>
                <string>{540,341}</string>
                <key>textureRect</key>
                <string>{{1099,278},{510,281}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shark_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{534,279}</string>
                <key>spriteSourceSize</key>
                <string>{540,341}</string>
                <key>textureRect</key>
                <string>{{1,537},{534,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{536,277}</string>
                <key>spriteSourceSize</key>
                <string>{540,341}</string>
                <key>textureRect</key>
                <string>{{537,280},{536,277}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shark_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,1}</string>
                <key>spriteSize</key>
                <string>{514,275}</string>
                <key>spriteSourceSize</key>
                <string>{540,341}</string>
                <key>textureRect</key>
                <string>{{1336,1},{514,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Shark.png</string>
            <key>size</key>
            <string>{1869,837}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c9d1c21c808fe7e0236e8c9e701777e:5b1bc0ad89a5f0539b6bc6371fdc9c71:60d983adbb792b5cac60ce5d0a9353ed$</string>
            <key>textureFileName</key>
            <string>Shark.png</string>
        </dict>
    </dict>
</plist>
