<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Squid_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,76}</string>
                <key>spriteSourceSize</key>
                <string>{204,76}</string>
                <key>textureRect</key>
                <string>{{403,1},{204,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Squid_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,68}</string>
                <key>spriteSourceSize</key>
                <string>{176,68}</string>
                <key>textureRect</key>
                <string>{{609,1},{176,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Squid_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,88}</string>
                <key>spriteSourceSize</key>
                <string>{150,88}</string>
                <key>textureRect</key>
                <string>{{251,1},{150,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Squid_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,100}</string>
                <key>spriteSourceSize</key>
                <string>{124,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{124,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Squid_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,96}</string>
                <key>spriteSourceSize</key>
                <string>{122,96}</string>
                <key>textureRect</key>
                <string>{{127,1},{122,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Squid.png</string>
            <key>size</key>
            <string>{786,102}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4ef3cf97903da1cf1b35a07c8434f30:76ecf45c5b3125f4a3acda2fc687f871:c3868ea6e23cb52161dc9d1dcd27aae5$</string>
            <key>textureFileName</key>
            <string>Squid.png</string>
        </dict>
    </dict>
</plist>
