<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tutorial_ui_text_30_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{324,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{324,25}}</string>
                <key>sourceSize</key>
                <string>{336,43}</string>
            </dict>
            <key>tutorial_ui_text_31_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,25},{366,24}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,10},{366,24}}</string>
                <key>sourceSize</key>
                <string>{484,46}</string>
            </dict>
            <key>tutorial_ui_text_32_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,49},{442,75}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,7},{442,75}}</string>
                <key>sourceSize</key>
                <string>{484,93}</string>
            </dict>
            <key>tutorial_ui_text_33_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,124},{450,26}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{450,26}}</string>
                <key>sourceSize</key>
                <string>{484,36}</string>
            </dict>
            <key>tutorial_ui_text_34_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,150},{462,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{462,76}}</string>
                <key>sourceSize</key>
                <string>{484,84}</string>
            </dict>
            <key>tutorial_ui_text_35_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,226},{462,50}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{462,50}}</string>
                <key>sourceSize</key>
                <string>{484,64}</string>
            </dict>
            <key>tutorial_ui_text_36_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,276},{283,25}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{283,25}}</string>
                <key>sourceSize</key>
                <string>{325,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>tutorial_uibox_cn.png</string>
        </dict>
    </dict>
</plist>
