<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_box_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1280,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,129}}</string>
                <key>sourceSize</key>
                <string>{1280,129}</string>
            </dict>
            <key>ui_box_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,131},{1280,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,81}}</string>
                <key>sourceSize</key>
                <string>{1280,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>about.png</string>
            <key>size</key>
            <string>{1282,213}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88c151f9e575422af1bdfc9fe0257b05$</string>
            <key>textureFileName</key>
            <string>about.png</string>
        </dict>
    </dict>
</plist>
