<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10jichengjiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,1},{110,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,106}}</string>
                <key>sourceSize</key>
                <string>{110,106}</string>
            </dict>
            <key>ui_ach_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,1},{467,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,120}}</string>
                <key>sourceSize</key>
                <string>{467,122}</string>
            </dict>
            <key>ui_ach_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{467,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,120}}</string>
                <key>sourceSize</key>
                <string>{467,122}</string>
            </dict>
            <key>ui_ach_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,1},{118,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{118,120}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>ui_ach_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,1},{69,82}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{69,82}}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>achieve.png</string>
            <key>size</key>
            <string>{1237,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5c0671665433026d6b519d49ca2aee8$</string>
            <key>textureFileName</key>
            <string>achieve.png</string>
        </dict>
    </dict>
</plist>
