<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ImageName</key>
		<string>icon_ach_001.png</string>
		<key>ImageNameGray</key>
		<string>icon_ach_001_gray.png</string>
		<key>ItemDescription_en</key>
		<string>Game time 1 hour！</string>
		<key>ItemDescription_cn</key>
		<string>游戏时间1小时！</string>
		<key>ItemDescription_cn_none</key>
		<string>游戏时间1小时！</string>
		<key>ItemDescription_jp</key>
		<string>プレイ時間1時間！</string>
		<key>ItemDescription_jp_none</key>
		<string>プレイ時間1時間！</string>
		<key>ItemDescription_en_none</key>
		<string>Game time 1 hour！</string>
		<key>ItemDescription_tr</key>
		<string>遊戲時間1小時！</string>
		<key>ItemDescription_tr_none</key>
		<string>遊戲時間1小時！</string>
		<key>ItemTitle_en</key>
		<string>Baby</string>
		<key>ItemTitle_cn</key>
		<string>Baby</string>
		<key>ItemTitle_jp</key>
		<string>Baby</string>
		<key>ItemTitle_tr</key>
		<string>Baby</string>
		<key>Score</key>
		<string>20</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>icon_ach_002.png</string>
		<key>ImageNameGray</key>
		<string>icon_ach_002_gray.png</string>
		<key>ItemDescription_en</key>
		<string>Game time 5 hours！</string>
		<key>ItemDescription_cn</key>
		<string>游戏时间5小时！</string>
		<key>ItemDescription_cn_none</key>
		<string>游戏时间5小时！</string>
		<key>ItemDescription_jp</key>
		<string>プレイ時間5時間！</string>
		<key>ItemDescription_jp_none</key>
		<string>プレイ時間5時間！</string>
		<key>ItemDescription_en_none</key>
		<string>Game time 5 hours！</string>
		<key>ItemDescription_tr</key>
		<string>遊戲時間5小時！</string>
		<key>ItemDescription_tr_none</key>
		<string>遊戲時間5小時！</string>
		<key>ItemTitle_en</key>
		<string>Youth</string>
		<key>ItemTitle_cn</key>
		<string>Youth</string>
		<key>ItemTitle_jp</key>
		<string>Youth</string>
		<key>ItemTitle_tr</key>
		<string>Youth</string>
		<key>Score</key>
		<string>25</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>icon_ach_003.png</string>
		<key>ImageNameGray</key>
		<string>icon_ach_003_gray.png</string>
		<key>ItemDescription_en</key>
		<string>Game time 20 hours！ </string>
		<key>ItemDescription_cn</key>
		<string>游戏时间20小时！</string>
		<key>ItemDescription_cn_none</key>
		<string>游戏时间20小时！</string>
		<key>ItemDescription_jp</key>
		<string>プレイ時間20時間！</string>
		<key>ItemDescription_jp_none</key>
		<string>プレイ時間20時間！</string>
		<key>ItemDescription_en_none</key>
		<string>Game time 20 hours！</string>
		<key>ItemDescription_tr</key>
		<string>遊戲時間20小時！</string>
		<key>ItemDescription_tr_none</key>
		<string>遊戲時間20小時！</string>
		<key>ItemTitle_en</key>
		<string>Adult</string>
		<key>ItemTitle_cn</key>
		<string>Adult</string>
		<key>ItemTitle_jp</key>
		<string>Adult</string>
		<key>ItemTitle_tr</key>
		<string>Adult</string>
		<key>Score</key>
		<string>30</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>icon_ach_004.png</string>
		<key>ImageNameGray</key>
		<string>icon_ach_004_gray.png</string>
		<key>ItemDescription_en</key>
		<string>Game time 100 hours!</string>
		<key>ItemDescription_cn</key>
		<string>游戏时间100小时！ </string>
		<key>ItemDescription_cn_none</key>
		<string>游戏时间100小时！</string>
		<key>ItemDescription_jp</key>
		<string>プレイ時間100時間！</string>
		<key>ItemDescription_jp_none</key>
		<string>プレイ時間100時間！</string>
		<key>ItemDescription_en_none</key>
		<string>Game time 100 hours!</string>
		<key>ItemDescription_tr</key>
		<string>遊戲時間100小時！</string>
		<key>ItemDescription_tr_none</key>
		<string>遊戲時間100小時！</string>
		<key>ItemTitle_en</key>
		<string>Athanasia</string>
		<key>ItemTitle_cn</key>
		<string>Athanasia</string>
		<key>ItemTitle_jp</key>
		<string>Athanasia</string>
		<key>ItemTitle_tr</key>
		<string>Athanasia</string>
		<key>Score</key>
		<string>40</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>icon_ach_005.png</string>
		<key>ImageNameGray</key>
		<string>icon_ach_005_gray.png</string>
		<key>ItemDescription_en</key>
		<string>LV5！ </string>
		<key>ItemDescription_cn</key>
		<string>等级5！</string>
		<key>ItemDescription_cn_none</key>
		<string>等级5！</string>
		<key>ItemDescription_jp</key>
		<string>レベル5！</string>
		<key>ItemDescription_jp_none</key>
		<string>レベル5！</string>
		<key>ItemDescription_en_none</key>
		<string>LV5！</string>
		<key>ItemDescription_tr</key>
		<string>等級5！</string>
		<key>ItemDescription_tr_none</key>
		<string>等級5！</string>
		<key>ItemTitle_en</key>
		<string>Rookie</string>
		<key>ItemTitle_cn</key>
		<string>Rookie</string>
		<key>ItemTitle_jp</key>
		<string>Rookie</string>
		<key>ItemTitle_tr</key>
		<string>Rookie</string>
		<key>Score</key>
		<string>20</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>icon_ach_006.png</string>
		<key>ImageNameGray</key>
		<string>icon_ach_006_gray.png</string>
		<key>ItemDescription_en</key>
		<string>LV15！</string>
		<key>ItemDescription_cn</key>
		<string>等级15！</string>
		<key>ItemDescription_cn_none</key>
		<string>等级15！</string>
		<key>ItemDescription_jp</key>
		<string>レベル15！</string>
		<key>ItemDescription_jp_none</key>
		<string>レベル15！</string>
		<key>ItemDescription_en_none</key>
		<string>LV15！</string>
		<key>ItemDescription_tr</key>
		<string>等級15！</string>
		<key>ItemDescription_tr_none</key>
		<string>等級15！</string>
		<key>ItemTitle_en</key>
		<string>Regular</string>
		<key>ItemTitle_cn</key>
		<string>Regular</string>
		<key>ItemTitle_jp</key>
		<string>Regular</string>
		<key>ItemTitle_tr</key>
		<string>Regular</string>
		<key>Score</key>
		<string>25</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>icon_ach_007.png</string>
		<key>ImageNameGray</key>
		<string>icon_ach_007_gray.png</string>
		<key>ItemDescription_en</key>
		<string>LV20！</string>
		<key>ItemDescription_cn</key>
		<string>等级20！</string>
		<key>ItemDescription_cn_none</key>
		<string>等级20！</string>
		<key>ItemDescription_jp</key>
		<string>レベル20！</string>
		<key>ItemDescription_jp_none</key>
		<string>レベル20！</string>
		<key>ItemDescription_en_none</key>
		<string>LV20！</string>
		<key>ItemDescription_tr</key>
		<string>等級20！</string>
		<key>ItemDescription_tr_none</key>
		<string>等級20！</string>
		<key>ItemTitle_en</key>
		<string>Star</string>
		<key>ItemTitle_cn</key>
		<string>Star</string>
		<key>ItemTitle_jp</key>
		<string>Star</string>
		<key>ItemTitle_tr</key>
		<string>Star</string>
		<key>Score</key>
		<string>30</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>icon_ach_008.png</string>
		<key>ImageNameGray</key>
		<string>icon_ach_008_gray.png</string>
		<key>ItemDescription_en</key>
		<string>LV50！</string>
		<key>ItemDescription_cn</key>
		<string>等级50！</string>
		<key>ItemDescription_cn_none</key>
		<string>等级50！</string>
		<key>ItemDescription_jp</key>
		<string>レベル50！</string>
		<key>ItemDescription_jp_none</key>
		<string>レベル50！</string>
		<key>ItemDescription_en_none</key>
		<string>LV50！</string>
		<key>ItemDescription_tr</key>
		<string>等級50！</string>
		<key>ItemDescription_tr_none</key>
		<string>等級50！</string>
		<key>ItemTitle_en</key>
		<string>Superstar</string>
		<key>ItemTitle_cn</key>
		<string>Superstar</string>
		<key>ItemTitle_jp</key>
		<string>Superstar</string>
		<key>ItemTitle_tr</key>
		<string>Superstar</string>
		<key>Score</key>
		<string>40</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>icon_ach_009.png</string>
		<key>ImageNameGray</key>
		<string>icon_ach_009_gray.png</string>
		<key>ItemDescription_en</key>
		<string>Earned 100000P！</string>
		<key>ItemDescription_cn</key>
		<string>累计分数100000！</string>
		<key>ItemDescription_cn_none</key>
		<string>累计分数100000！</string>
		<key>ItemDescription_jp</key>
		<string>累計ポイント100000！</string>
		<key>ItemDescription_jp_none</key>
		<string>累計ポイント100000！</string>
		<key>ItemDescription_en_none</key>
		<string>Earned 100000P！</string>
		<key>ItemDescription_tr</key>
		<string>累計分數100000！</string>
		<key>ItemDescription_tr_none</key>
		<string>累計分數100000！</string>
		<key>ItemTitle_en</key>
		<string>Moneybags </string>
		<key>ItemTitle_cn</key>
		<string>Moneybags </string>
		<key>ItemTitle_jp</key>
		<string>Moneybags </string>
		<key>ItemTitle_tr</key>
		<string>Moneybags </string>
		<key>Score</key>
		<string>20</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>icon_ach_010.png</string>
		<key>ImageNameGray</key>
		<string>icon_ach_010_gray.png</string>
		<key>ItemDescription_en</key>
		<string>Earned 1000000P！</string>
		<key>ItemDescription_cn</key>
		<string>累计分数1000000！</string>
		<key>ItemDescription_cn_none</key>
		<string>累计分数1000000！</string>
		<key>ItemDescription_jp</key>
		<string>累計ポイント1000000！</string>
		<key>ItemDescription_jp_none</key>
		<string>累計ポイント1000000！</string>
		<key>ItemDescription_en_none</key>
		<string>Earned 1000000P！</string>
		<key>ItemDescription_tr</key>
		<string>累計分數1000000！</string>
		<key>ItemDescription_tr_none</key>
		<string>累計分數1000000！</string>
		<key>ItemTitle_en</key>
		<string>Abu</string>
		<key>ItemTitle_cn</key>
		<string>Abu</string>
		<key>ItemTitle_jp</key>
		<string>Abu</string>
		<key>ItemTitle_tr</key>
		<string>Abu</string>
		<key>Score</key>
		<string>25</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>icon_ach_011.png</string>
		<key>ImageNameGray</key>
		<string>icon_ach_011_gray.png</string>
		<key>ItemDescription_en</key>
		<string>Earned 50000000P！</string>
		<key>ItemDescription_cn</key>
		<string>累计分数50000000！</string>
		<key>ItemDescription_cn_none</key>
		<string>累计分数50000000！</string>
		<key>ItemDescription_jp</key>
		<string>累計ポイント50000000！</string>
		<key>ItemDescription_jp_none</key>
		<string>累計ポイント50000000！</string>
		<key>ItemDescription_en_none</key>
		<string>Earned 50000000P！</string>
		<key>ItemDescription_tr</key>
		<string>累計分數50000000！</string>
		<key>ItemDescription_tr_none</key>
		<string>累計分數50000000！</string>
		<key>ItemTitle_en</key>
		<string>Bill</string>
		<key>ItemTitle_cn</key>
		<string>Bill</string>
		<key>ItemTitle_jp</key>
		<string>Bill</string>
		<key>ItemTitle_tr</key>
		<string>Bill</string>
		<key>Score</key>
		<string>30</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>icon_ach_012.png</string>
		<key>ImageNameGray</key>
		<string>icon_ach_012_gray.png</string>
		<key>ItemDescription_en</key>
		<string>Earned 99999999P！</string>
		<key>ItemDescription_cn</key>
		<string>累计分数99999999！</string>
		<key>ItemDescription_cn_none</key>
		<string>累计分数99999999！</string>
		<key>ItemDescription_jp</key>
		<string>累計ポイント99999999！</string>
		<key>ItemDescription_jp_none</key>
		<string>累計ポイント99999999！</string>
		<key>ItemDescription_en_none</key>
		<string>Earned 99999999P！</string>
		<key>ItemDescription_tr</key>
		<string>累計分數99999999！</string>
		<key>ItemDescription_tr_none</key>
		<string>累計分數99999999！</string>
		<key>ItemTitle_en</key>
		<string>Jobs</string>
		<key>ItemTitle_cn</key>
		<string>Jobs</string>
		<key>ItemTitle_jp</key>
		<string>Jobs</string>
		<key>ItemTitle_tr</key>
		<string>Jobs</string>
		<key>Score</key>
		<string>40</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>icon_ach_013.png</string>
		<key>ImageNameGray</key>
		<string>icon_ach_013_gray.png</string>
		<key>ItemDescription_en</key>
		<string>Earned 2 title！ </string>
		<key>ItemDescription_cn</key>
		<string>称号获得2个！</string>
		<key>ItemDescription_cn_none</key>
		<string>称号获得2个！</string>
		<key>ItemDescription_jp</key>
		<string>タイトル2つ獲得！</string>
		<key>ItemDescription_jp_none</key>
		<string>タイトル2つ獲得！</string>
		<key>ItemDescription_en_none</key>
		<string>Earned 2 title！</string>
		<key>ItemDescription_tr</key>
		<string>稱號獲得2個！</string>
		<key>ItemDescription_tr_none</key>
		<string>稱號獲得2個！</string>
		<key>ItemTitle_en</key>
		<string>Explorer</string>
		<key>ItemTitle_cn</key>
		<string>Explorer</string>
		<key>ItemTitle_jp</key>
		<string>Explorer</string>
		<key>ItemTitle_tr</key>
		<string>Explorer</string>
		<key>Score</key>
		<string>20</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>icon_ach_014.png</string>
		<key>ImageNameGray</key>
		<string>icon_ach_014_gray.png</string>
		<key>ItemDescription_en</key>
		<string>Earned 5 titles！</string>
		<key>ItemDescription_cn</key>
		<string>称号获得5个！</string>
		<key>ItemDescription_cn_none</key>
		<string>称号获得5个！</string>
		<key>ItemDescription_jp</key>
		<string>タイトル5つ獲得！</string>
		<key>ItemDescription_jp_none</key>
		<string>タイトル5つ獲得！</string>
		<key>ItemDescription_en_none</key>
		<string>Earned 5 titles！</string>
		<key>ItemDescription_tr</key>
		<string>稱號獲得5個！</string>
		<key>ItemDescription_tr_none</key>
		<string>稱號獲得5個！</string>
		<key>ItemTitle_en</key>
		<string>Raider</string>
		<key>ItemTitle_cn</key>
		<string>Raider</string>
		<key>ItemTitle_jp</key>
		<string>Raider</string>
		<key>ItemTitle_tr</key>
		<string>Raider</string>
		<key>Score</key>
		<string>25</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>icon_ach_015.png</string>
		<key>ImageNameGray</key>
		<string>icon_ach_015_gray.png</string>
		<key>ItemDescription_en</key>
		<string>Earned 10 titles！</string>
		<key>ItemDescription_cn</key>
		<string>称号获得10个！</string>
		<key>ItemDescription_cn_none</key>
		<string>称号获得10个！</string>
		<key>ItemDescription_jp</key>
		<string>タイトル10個獲得！</string>
		<key>ItemDescription_jp_none</key>
		<string>タイトル10個獲得！</string>
		<key>ItemDescription_en_none</key>
		<string>Earned 10 titles！</string>
		<key>ItemDescription_tr</key>
		<string>稱號獲得10個！</string>
		<key>ItemDescription_tr_none</key>
		<string>稱號獲得10個！</string>
		<key>ItemTitle_en</key>
		<string>Lara</string>
		<key>ItemTitle_cn</key>
		<string>Lara</string>
		<key>ItemTitle_jp</key>
		<string>Lara</string>
		<key>ItemTitle_tr</key>
		<string>Lara</string>
		<key>Score</key>
		<string>30</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>icon_ach_016.png</string>
		<key>ImageNameGray</key>
		<string>icon_ach_016_gray.png</string>
		<key>ItemDescription_en</key>
		<string>Earned all the titles！</string>
		<key>ItemDescription_cn</key>
		<string>全称号获得！</string>
		<key>ItemDescription_cn_none</key>
		<string>全称号获得！</string>
		<key>ItemDescription_jp</key>
		<string>前タイトル獲得！</string>
		<key>ItemDescription_jp_none</key>
		<string>前タイトル獲得！</string>
		<key>ItemDescription_en_none</key>
		<string>Earned all the titles！</string>
		<key>ItemDescription_tr</key>
		<string>全稱號獲得！</string>
		<key>ItemDescription_tr_none</key>
		<string>全稱號獲得！</string>
		<key>ItemTitle_en</key>
		<string>Indiana</string>
		<key>ItemTitle_cn</key>
		<string>Indiana</string>
		<key>ItemTitle_jp</key>
		<string>Indiana</string>
		<key>ItemTitle_tr</key>
		<string>Indiana</string>
		<key>Score</key>
		<string>40</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>icon_ach_017.png</string>
		<key>ImageNameGray</key>
		<string>icon_ach_017_gray.png</string>
		<key>ItemDescription_en</key>
		<string>Spent 50000 coins！</string>
		<key>ItemDescription_cn</key>
		<string>金币消耗50000！</string>
		<key>ItemDescription_cn_none</key>
		<string>金币消耗50000！</string>
		<key>ItemDescription_jp</key>
    		<string>５００００コイン消費！</string>
		<key>ItemDescription_jp_none</key>
    		<string>５００００コイン消費！</string>
		<key>ItemDescription_en_none</key>
		<string>Spent 50000 coins！</string>
		<key>ItemDescription_tr</key>
		<string>金幣消耗50000！</string>
		<key>ItemDescription_tr_none</key>
		<string>金幣消耗50000！</string>
		<key>ItemTitle_en</key>
		<string>Fighter</string>
		<key>ItemTitle_cn</key>
		<string>Fighter</string>
		<key>ItemTitle_jp</key>
		<string>Fighter</string>
		<key>ItemTitle_tr</key>
		<string>Fighter</string>
		<key>Score</key>
		<string>20</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>icon_ach_018.png</string>
		<key>ImageNameGray</key>
		<string>icon_ach_018_gray.png</string>
		<key>ItemDescription_en</key>
		<string>Spent 500000 coins！</string>
		<key>ItemDescription_cn</key>
		<string>金币消耗500000！</string>
		<key>ItemDescription_cn_none</key>
		<string>金币消耗500000！</string>
		<key>ItemDescription_jp</key>
    		<string>５０００００コイン消費！</string>
		<key>ItemDescription_jp_none</key>
    		<string>５０００００コイン消費！</string>
		<key>ItemDescription_en_none</key>
		<string>Spent 500000 coins！</string>
		<key>ItemDescription_tr</key>
		<string>金幣消耗50000！</string>
		<key>ItemDescription_tr_none</key>
		<string>金幣消耗50000！</string>
		<key>ItemTitle_en</key>
		<string>Alien</string>
		<key>ItemTitle_cn</key>
		<string>Alien</string>
		<key>ItemTitle_jp</key>
		<string>Alien</string>
		<key>ItemTitle_tr</key>
		<string>Alien</string>
		<key>Score</key>
		<string>25</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>icon_ach_019.png</string>
		<key>ImageNameGray</key>
		<string>icon_ach_019_gray.png</string>
		<key>ItemDescription_en</key>
		<string>Spent 1000000 coins！</string>
		<key>ItemDescription_cn</key>
		<string>金币消耗1000000！</string>
		<key>ItemDescription_cn_none</key>
		<string>金币消耗1000000！</string>
		<key>ItemDescription_jp</key>
		<string>1000000コイン消費！</string>
		<key>ItemDescription_jp_none</key>
		<string>1000000コイン消費！</string>
		<key>ItemDescription_en_none</key>
		<string>Spent 1000000 coins！</string>
		<key>ItemDescription_tr</key>
		<string>金幣消耗1000000！</string>
		<key>ItemDescription_tr_none</key>
		<string>金幣消耗1000000！</string>
		<key>ItemTitle_en</key>
		<string>Predator</string>
		<key>ItemTitle_cn</key>
		<string>Predator</string>
		<key>ItemTitle_jp</key>
		<string>Predator</string>
		<key>ItemTitle_tr</key>
		<string>Predator</string>
		<key>Score</key>
		<string>30</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>icon_ach_020.png</string>
		<key>ImageNameGray</key>
		<string>icon_ach_020_gray.png</string>
		<key>ItemDescription_en</key>
		<string>Spent 99999999 coins！</string>
		<key>ItemDescription_cn</key>
		<string>金币消耗99999999！</string>
		<key>ItemDescription_cn_none</key>
		<string>金币消耗99999999！</string>
		<key>ItemDescription_jp</key>
		<string>99999999コイン消費！</string>
		<key>ItemDescription_jp_none</key>
		<string>99999999コイン消費！</string>
		<key>ItemDescription_en_none</key>
		<string>Spent 99999999 coins！</string>
		<key>ItemDescription_tr</key>
		<string>金幣消耗99999999！</string>
		<key>ItemDescription_tr_none</key>
		<string>金幣消耗99999999！</string>
		<key>ItemTitle_en</key>
		<string>Terminator</string>
		<key>ItemTitle_cn</key>
		<string>Terminator</string>
		<key>ItemTitle_jp</key>
		<string>Terminator</string>
		<key>ItemTitle_tr</key>
		<string>Terminator</string>
		<key>Score</key>
		<string>40</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>icon_ach_021.png</string>
		<key>ImageNameGray</key>
		<string>icon_ach_021_gray.png</string>
		<key>ItemDescription_en</key>
		<string>Played 10 games！</string>
		<key>ItemDescription_cn</key>
		<string>游戏局数10！</string>
		<key>ItemDescription_cn_none</key>
		<string>游戏局数10！</string>
		<key>ItemDescription_jp</key>
		<string>ゲームセット10！</string>
		<key>ItemDescription_jp_none</key>
		<string>ゲームセット10！</string>
		<key>ItemDescription_en_none</key>
		<string>Played 10 games！</string>
		<key>ItemDescription_tr</key>
		<string>遊戲局數10！</string>
		<key>ItemDescription_tr_none</key>
		<string>遊戲局數10！</string>
		<key>ItemTitle_en</key>
		<string>Apprentice</string>
		<key>ItemTitle_cn</key>
		<string>Apprentice</string>
		<key>ItemTitle_jp</key>
		<string>Apprentice</string>
		<key>ItemTitle_tr</key>
		<string>Apprentice</string>
		<key>Score</key>
		<string>20</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>icon_ach_022.png</string>
		<key>ImageNameGray</key>
		<string>icon_ach_022_gray.png</string>
		<key>ItemDescription_en</key>
		<string>Played 100 games！</string>
		<key>ItemDescription_cn</key>
		<string>游戏局数100！</string>
		<key>ItemDescription_cn_none</key>
		<string>游戏局数100！</string>
		<key>ItemDescription_jp</key>
		<string>ゲームセット100！</string>
		<key>ItemDescription_jp_none</key>
		<string>ゲームセット100！</string>
		<key>ItemDescription_en_none</key>
		<string>Played 100 games！</string>
		<key>ItemDescription_tr</key>
		<string>遊戲局數100！</string>
		<key>ItemDescription_tr_none</key>
		<string>遊戲局數100！</string>
		<key>ItemTitle_en</key>
		<string>Coach</string>
		<key>ItemTitle_cn</key>
		<string>Coach</string>
		<key>ItemTitle_jp</key>
		<string>Coach</string>
		<key>ItemTitle_tr</key>
		<string>Coach</string>
		<key>Score</key>
		<string>25</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>icon_ach_023.png</string>
		<key>ImageNameGray</key>
		<string>icon_ach_023_gray.png</string>
		<key>ItemDescription_en</key>
		<string>Played 1000 games！</string>
		<key>ItemDescription_cn</key>
		<string>游戏局数1000！</string>
		<key>ItemDescription_cn_none</key>
		<string>游戏局数1000！</string>
		<key>ItemDescription_jp</key>
		<string>ゲームセット1000！</string>
		<key>ItemDescription_jp_none</key>
		<string>ゲームセット1000！</string>
		<key>ItemDescription_en_none</key>
		<string>Played 1000 games！</string>
		<key>ItemDescription_tr</key>
		<string>遊戲局數1000！</string>
		<key>ItemDescription_tr_none</key>
		<string>遊戲局數1000！</string>
		<key>ItemTitle_en</key>
		<string>Master</string>
		<key>ItemTitle_cn</key>
		<string>Master</string>
		<key>ItemTitle_jp</key>
		<string>Master</string>
		<key>ItemTitle_tr</key>
		<string>Master</string>
		<key>Score</key>
		<string>30</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>icon_ach_024.png</string>
		<key>ImageNameGray</key>
		<string>icon_ach_024_gray.png</string>
		<key>ItemDescription_en</key>
		<string>Please accept respectful greetings from the staff of PB！</string>
		<key>ItemDescription_cn</key>
		<string>请接受来自PB全体人员的敬意！</string>
		<key>ItemDescription_cn_none</key>
		<string>全成就获得！</string>
		<key>ItemDescription_jp</key>
		<string>PunchBox全員から深い敬意を払われます。</string>
		<key>ItemDescription_jp_none</key>
		<string>PunchBox全員から深い敬意を払われます。</string>
		<key>ItemDescription_en_none</key>
		<string>Please accept respectful greetings from the staff of PB！</string>
		<key>ItemDescription_tr</key>
		<string>請接受來自PB全體人員的敬意.</string>
		<key>ItemDescription_tr_none</key>
		<string>請接受來自PB全體人員的敬意.</string>
		<key>ItemTitle_en</key>
		<string>Inscrutability</string>
		<key>ItemTitle_cn</key>
		<string>Inscrutability</string>
		<key>ItemTitle_jp</key>
		<string>Inscrutability</string>
		<key>ItemTitle_tr</key>
		<string>Inscrutability</string>
		<key>Score</key>
		<string>50</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>icon_ach_025.png</string>
		<key>ImageNameGray</key>
		<string>icon_ach_025_gray.png</string>
		<key>ItemDescription_en</key>
		<string>Earned 100 coins in one game！</string>
		<key>ItemDescription_cn</key>
		<string>同一局获取100个金币！</string>
		<key>ItemDescription_cn_none</key>
		<string>同一局获取100个金币！</string>
		<key>ItemDescription_jp</key>
		<string>同じセットでコイン100枚を獲得！</string>
		<key>ItemDescription_jp_none</key>
		<string>同じセットでコイン100枚を獲得！</string>
		<key>ItemDescription_en_none</key>
		<string>Earned 100 coins in one game！</string>
		<key>ItemDescription_tr</key>
		<string>同一局獲取100個金幣！</string>
		<key>ItemDescription_tr_none</key>
		<string>同一局獲取100個金幣！</string>
		<key>ItemTitle_en</key>
		<string>First Pot of Gold</string>
		<key>ItemTitle_cn</key>
		<string>第一桶金</string>
		<key>ItemTitle_jp</key>
		<string>ファーストバレル</string>
		<key>ItemTitle_tr</key>
		<string>第一桶金</string>
		<key>Score</key>
		<string>10</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>icon_ach_026.png</string>
		<key>ImageNameGray</key>
		<string>icon_ach_026_gray.png</string>
		<key>ItemDescription_en</key>
		<string>Earned 1000 coins in one game!</string>
		<key>ItemDescription_cn</key>
		<string>同一局获取1000个金币!</string>
		<key>ItemDescription_cn_none</key>
		<string>同一局获取1000个金币!</string>
		<key>ItemDescription_jp</key>
		<string>同じセットでコイン1000枚を獲得！</string>
		<key>ItemDescription_jp_none</key>
		<string>同じセットでコイン1000枚を獲得！</string>
		<key>ItemDescription_en_none</key>
		<string>Earned 1000 coins in one game!</string>
		<key>ItemDescription_tr</key>
		<string>同一局獲取1000個金幣！</string>
		<key>ItemDescription_tr_none</key>
		<string>同一局獲取1000個金幣！</string>
		<key>ItemTitle_en</key>
		<string>Second Pot of Gold</string>
		<key>ItemTitle_cn</key>
		<string>第二桶金</string>
		<key>ItemTitle_jp</key>
		<string>セカンドバレル</string>
		<key>ItemTitle_tr</key>
		<string>第二桶金</string>
		<key>Score</key>
		<string>20</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>icon_ach_027.png</string>
		<key>ImageNameGray</key>
		<string>icon_ach_027_gray.png</string>
		<key>ItemDescription_en</key>
		<string>Earned 2000 coins in one game!</string>
		<key>ItemDescription_cn</key>
		<string>同一局获取2000个金币！</string>
		<key>ItemDescription_cn_none</key>
		<string>同一局获取2000个金币！</string>
		<key>ItemDescription_jp</key>
		<string>同じセットでコイン2000枚を獲得！</string>
		<key>ItemDescription_jp_none</key>
		<string>同じセットでコイン2000枚を獲得！</string>
		<key>ItemDescription_en_none</key>
		<string>Earned 2000 coins in one game!</string>
		<key>ItemDescription_tr</key>
		<string>同一局獲取2000個金幣！</string>
		<key>ItemDescription_tr_none</key>
		<string>同一局獲取2000個金幣！</string>
		<key>ItemTitle_en</key>
		<string>Got a Fortune</string>
		<key>ItemTitle_cn</key>
		<string>小金库</string>
		<key>ItemTitle_jp</key>
		<string>小金持ち</string>
		<key>ItemTitle_tr</key>
		<string>小金庫</string>
		<key>Score</key>
		<string>30</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>icon_ach_028.png</string>
		<key>ImageNameGray</key>
		<string>icon_ach_028_gray.png</string>
		<key>ItemDescription_en</key>
		<string>Caught 100 fish in one game!</string>
		<key>ItemDescription_cn</key>
		<string>同一局捕捉到任意100只鱼!</string>
		<key>ItemDescription_cn_none</key>
		<string>同一局捕捉到任意100只鱼!</string>
		<key>ItemDescription_jp</key>
		<string>同じセットで魚100尾を捕獲！</string>
		<key>ItemDescription_jp_none</key>
		<string>同じセットで魚100尾を捕獲！</string>
		<key>ItemDescription_en_none</key>
		<string>Caught 100 fish in one game!</string>
		<key>ItemDescription_tr</key>
		<string>同一局捕捉到任意100只魚！</string>
		<key>ItemDescription_tr_none</key>
		<string>同一局捕捉到任意100只魚！</string>
		<key>ItemTitle_en</key>
		<string>100 Fish</string>
		<key>ItemTitle_cn</key>
		<string>100只鱼</string>
		<key>ItemTitle_jp</key>
		<string>魚100尾</string>
		<key>ItemTitle_tr</key>
		<string>100只魚</string>
		<key>Score</key>
		<string>10</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>icon_ach_029.png</string>
		<key>ImageNameGray</key>
		<string>icon_ach_029_gray.png</string>
		<key>ItemDescription_en</key>
		<string>Caught 400 fish in one game!</string>
		<key>ItemDescription_cn</key>
		<string>同一局捕捉到任意400只鱼!</string>
		<key>ItemDescription_cn_none</key>
		<string>同一局捕捉到任意400只鱼!</string>
		<key>ItemDescription_jp</key>
		<string>同じセットで魚400尾を捕獲！</string>
		<key>ItemDescription_jp_none</key>
		<string>同じセットで魚400尾を捕獲！</string>
		<key>ItemDescription_en_none</key>
		<string>Caught 400 fish in one game!</string>
		<key>ItemDescription_tr</key>
		<string>同一局捕捉到任意400只魚！</string>
		<key>ItemDescription_tr_none</key>
		<string>同一局捕捉到任意400只魚！</string>
		<key>ItemTitle_en</key>
		<string>400 Fish</string>
		<key>ItemTitle_cn</key>
		<string>400只鱼</string>
		<key>ItemTitle_jp</key>
		<string>魚400尾</string>
		<key>ItemTitle_tr</key>
		<string>400只魚</string>
		<key>Score</key>
		<string>20</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>icon_ach_030.png</string>
		<key>ImageNameGray</key>
		<string>icon_ach_030_gary.png</string>
		<key>ItemDescription_en</key>
		<string>5 successful catches in a row!</string>
		<key>ItemDescription_cn</key>
		<string>连续5次成功捕获到鱼!</string>
		<key>ItemDescription_cn_none</key>
		<string>连续5次成功捕获到鱼!</string>
		<key>ItemDescription_jp</key>
		<string>５回連続捕獲成功！</string>
		<key>ItemDescription_jp_none</key>
		<string>５回連続捕獲成功！</string>
		<key>ItemDescription_en_none</key>
		<string>5 successful catches in a row!</string>
		<key>ItemDescription_tr</key>
		<string>連續5次成功捕捉到魚！</string>
		<key>ItemDescription_tr_none</key>
		<string>連續5次成功捕捉到魚！</string>
		<key>ItemTitle_en</key>
		<string>5 Successes</string>
		<key>ItemTitle_cn</key>
		<string>连续成功5次</string>
		<key>ItemTitle_jp</key>
		<string>５回連続成功</string>
		<key>ItemTitle_tr</key>
		<string>連續成功5次</string>
		<key>Score</key>
		<string>10</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>icon_ach_031.png</string>
		<key>ImageNameGray</key>
		<string>icon_ach_031_gary.png</string>
		<key>ItemDescription_en</key>
		<string>10 successful catches in a row!</string>
		<key>ItemDescription_cn</key>
		<string>连续10次成功捕捉到鱼!</string>
		<key>ItemDescription_cn_none</key>
		<string>连续10次成功捕捉到鱼!</string>
		<key>ItemDescription_jp</key>
		<string>１０回連続捕獲成功！</string>
		<key>ItemDescription_jp_none</key>
		<string>１０回連続捕獲成功！</string>
		<key>ItemDescription_en_none</key>
		<string>10 successful catches in a row!</string>
		<key>ItemDescription_tr</key>
		<string>連續10次成功捕捉到魚！</string>
		<key>ItemDescription_tr_none</key>
		<string>連續10次成功捕捉到魚！</string>
		<key>ItemTitle_en</key>
		<string>10 Successes</string>
		<key>ItemTitle_cn</key>
		<string>连续成功10次</string>
		<key>ItemTitle_jp</key>
		<string>１０回連続成功</string>
		<key>ItemTitle_tr</key>
		<string>連續成功10次</string>
		<key>Score</key>
		<string>20</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>icon_ach_032.png</string>
		<key>ImageNameGray</key>
		<string>icon_ach_032_gary.png</string>
		<key>ItemDescription_en</key>
		<string>20 successful catches in a row!</string>
		<key>ItemDescription_cn</key>
		<string>连续成功20次捕捉到鱼!</string>
		<key>ItemDescription_cn_none</key>
		<string>连续成功20次捕捉到鱼!</string>
		<key>ItemDescription_jp</key>
		<string>２０回連続捕獲成功！</string>
		<key>ItemDescription_jp_none</key>
		<string>２０回連続捕獲成功！</string>
		<key>ItemDescription_en_none</key>
		<string>20 successful catches in a row!</string>
		<key>ItemDescription_tr</key>
		<string>連續20次成功捕捉到魚！</string>
		<key>ItemDescription_tr_none</key>
		<string>連續20次成功捕捉到魚！</string>
		<key>ItemTitle_en</key>
		<string>20 Successes</string>
		<key>ItemTitle_cn</key>
		<string>连续成功20次</string>
		<key>ItemTitle_jp</key>
		<string>２０回連続成功</string>
		<key>ItemTitle_tr</key>
		<string>連續成功20次</string>
		<key>Score</key>
		<string>30</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>icon_ach_033.png</string>
		<key>ImageNameGray</key>
		<string>icon_ach_033_gary.png</string>
		<key>ItemDescription_en</key>
		<string>Caught a shark by laser!</string>
		<key>ItemDescription_cn</key>
		<string>捕获一只鲨鱼!</string>
		<key>ItemDescription_cn_none</key>
		<string>捕获一只鲨鱼!</string>
		<key>ItemDescription_jp</key>
		<string>でサメ一尾を捕獲！</string>
		<key>ItemDescription_jp_none</key>
		<string>でサメ一尾を捕獲！</string>
		<key>ItemDescription_en_none</key>
		<string>Caught a shark by laser!</string>
		<key>ItemDescription_tr</key>
		<string>捕獲一隻鯊魚！</string>
		<key>ItemDescription_tr_none</key>
		<string>捕獲一隻鯊魚！</string>
		<key>ItemTitle_en</key>
		<string>Shark Kill</string>
		<key>ItemTitle_cn</key>
		<string>秒鲨</string>
		<key>ItemTitle_jp</key>
		<string>サメキラー</string>
		<key>ItemTitle_tr</key>
		<string>秒鯊</string>
		<key>Score</key>
		<string>10</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>icon_ach_034.png</string>
		<key>ImageNameGray</key>
		<string>icon_ach_034_gary.png</string>
		<key>ItemDescription_en</key>
		<string>Reached Lv.5 ！</string>
		<key>ItemDescription_cn</key>
		<string>等级达到5级</string>
		<key>ItemDescription_cn_none</key>
		<string>等级达到5级</string>
		<key>ItemDescription_jp</key>
		<string>レベル5！</string>
		<key>ItemDescription_jp_none</key>
		<string>レベル5！</string>
		<key>ItemDescription_en_none</key>
		<string>Reached Lv.5 ！</string>
		<key>ItemDescription_tr</key>
		<string>等級達到5！</string>
		<key>ItemDescription_tr_none</key>
		<string>等級達到5！</string>
		<key>ItemTitle_en</key>
		<string>Cruising to Hawaii</string>
		<key>ItemTitle_cn</key>
		<string>畅游夏威夷</string>
		<key>ItemTitle_jp</key>
		<string>ハワイ遊び放題</string>
		<key>ItemTitle_tr</key>
		<string>暢遊夏威夷</string>
		<key>Score</key>
		<string>20</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>icon_ach_035.png</string>
		<key>ImageNameGray</key>
		<string>icon_ach_035_gray.png</string>
		<key>ItemDescription_en</key>
		<string>Ready?!</string>
		<key>ItemDescription_cn</key>
		<string>初次进入游戏！</string>
		<key>ItemDescription_cn_none</key>
		<string>初次进入游戏！</string>
		<key>ItemDescription_jp</key>
		<string>始めて！</string>
		<key>ItemDescription_jp_none</key>
		<string>始めて！</string>
		<key>ItemDescription_en_none</key>
		<string>Ready?!</string>
		<key>ItemDescription_tr</key>
		<string>初次進入遊戲！</string>
		<key>ItemDescription_tr_none</key>
		<string>初次進入遊戲！</string>
		<key>ItemTitle_en</key>
		<string>Fisherman</string>
		<key>ItemTitle_cn</key>
		<string>渔夫</string>
		<key>ItemTitle_jp</key>
		<string>フィッシュマン</string>
		<key>ItemTitle_tr</key>
		<string>漁夫</string>
		<key>Score</key>
		<string>5</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>icon_ach_036.png</string>
		<key>ImageNameGray</key>
		<string>icon_ach_036_gray.png</string>
		<key>ItemDescription_en</key>
		<string>Played for 100 minutes ！</string>
		<key>ItemDescription_cn</key>
		<string>游戏时间达到100分钟！</string>
		<key>ItemDescription_cn_none</key>
		<string>游戏时间达到100分钟！</string>
		<key>ItemDescription_jp</key>
		<string>プレイ時間100分間！</string>
		<key>ItemDescription_jp_none</key>
		<string>プレイ時間100分間！</string>
		<key>ItemDescription_en_none</key>
		<string>Played for 100 minutes ！</string>
		<key>ItemDescription_tr</key>
		<string>遊戲時間達到100分鐘！</string>
		<key>ItemDescription_tr_none</key>
		<string>遊戲時間達到100分鐘！</string>
		<key>ItemTitle_en</key>
		<string>Seaman</string>
		<key>ItemTitle_cn</key>
		<string>水手</string>
		<key>ItemTitle_jp</key>
		<string>パイロット</string>
		<key>ItemTitle_tr</key>
		<string>水手</string>
		<key>Score</key>
		<string>5</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>icon_ach_037.png</string>
		<key>ImageNameGray</key>
		<string>icon_ach_037_gray.png</string>
		<key>ItemDescription_en</key>
		<string>Played for 325 minutes ！</string>
		<key>ItemDescription_cn</key>
		<string>游戏时间达到325分钟！</string>
		<key>ItemDescription_cn_none</key>
		<string>游戏时间达到325分钟！</string>
		<key>ItemDescription_jp</key>
		<string>プレイ時間325分間！</string>
		<key>ItemDescription_jp_none</key>
		<string>プレイ時間325分間！</string>
		<key>ItemDescription_en_none</key>
		<string>Played for 325 minutes ！</string>
		<key>ItemDescription_tr</key>
		<string>遊戲時間達到325分鐘！</string>
		<key>ItemDescription_tr_none</key>
		<string>遊戲時間達到325分鐘！</string>
		<key>ItemTitle_en</key>
		<string>Chief Mate</string>
		<key>ItemTitle_cn</key>
		<string>大副</string>
		<key>ItemTitle_jp</key>
		<string>チーフメイト</string>
		<key>ItemTitle_tr</key>
		<string>大副</string>
		<key>Score</key>
		<string>5</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>icon_ach_038.png</string>
		<key>ImageNameGray</key>
		<string>icon_ach_038_gray.png</string>
		<key>ItemDescription_en</key>
		<string>Played for 675 minutes ！</string>
		<key>ItemDescription_cn</key>
		<string>游戏时间达到675分钟！</string>
		<key>ItemDescription_cn_none</key>
		<string>游戏时间达到675分钟！</string>
		<key>ItemDescription_jp</key>
		<string>プレイ時間675分間！</string>
		<key>ItemDescription_jp_none</key>
		<string>プレイ時間675分間！</string>
		<key>ItemDescription_en_none</key>
		<string>Played for 675 minutes ！</string>
		<key>ItemDescription_tr</key>
		<string>遊戲時間達到675分鐘！</string>
		<key>ItemDescription_tr_none</key>
		<string>遊戲時間達到675分鐘！</string>
		<key>ItemTitle_en</key>
		<string>Captain</string>
		<key>ItemTitle_cn</key>
		<string>船长</string>
		<key>ItemTitle_jp</key>
		<string>キャプテン</string>
		<key>ItemTitle_tr</key>
		<string>船長</string>
		<key>Score</key>
		<string>5</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>icon_ach_039.png</string>
		<key>ImageNameGray</key>
		<string>icon_ach_039_gray.png</string>
		<key>ItemDescription_en</key>
		<string>Played for 1150 minutes ！</string>
		<key>ItemDescription_cn</key>
		<string>游戏时间达到1150分钟！</string>
		<key>ItemDescription_cn_none</key>
		<string>游戏时间达到1150分钟！</string>
		<key>ItemDescription_jp</key>
		<string>プレイ時間1150分間！</string>
		<key>ItemDescription_jp_none</key>
		<string>プレイ時間1150分間！</string>
		<key>ItemDescription_en_none</key>
		<string>Played for 1150 minutes ！</string>
		<key>ItemDescription_tr</key>
		<string>遊戲時間達到1150分鐘！</string>
		<key>ItemDescription_tr_none</key>
		<string>遊戲時間達到1150分鐘！</string>
		<key>ItemTitle_en</key>
		<string>Viking</string>
		<key>ItemTitle_cn</key>
		<string>维京人</string>
		<key>ItemTitle_jp</key>
		<string>ヴァイキング</string>
		<key>ItemTitle_tr</key>
		<string>維京人</string>
		<key>Score</key>
		<string>10</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>icon_ach_040.png</string>
		<key>ImageNameGray</key>
		<string>icon_ach_040_gray.png</string>
		<key>ItemDescription_en</key>
		<string>Played for 1750 minutes ！</string>
		<key>ItemDescription_cn</key>
		<string>游戏时间达到1750分钟！</string>
		<key>ItemDescription_cn_none</key>
		<string>游戏时间达到1750分钟！</string>
		<key>ItemDescription_jp</key>
		<string>プレイ時間1750分間！</string>
		<key>ItemDescription_jp_none</key>
		<string>プレイ時間1750分間！</string>
		<key>ItemDescription_en_none</key>
		<string>Played for 1750 minutes ！</string>
		<key>ItemDescription_tr</key>
		<string>遊戲時間達到1750分鐘！</string>
		<key>ItemDescription_tr_none</key>
		<string>遊戲時間達到1750分鐘！</string>
		<key>ItemTitle_en</key>
		<string>Murloc</string>
		<key>ItemTitle_cn</key>
		<string>两栖怪鱼</string>
		<key>ItemTitle_jp</key>
		<string>ヌマクロー</string>
		<key>ItemTitle_tr</key>
		<string>兩栖怪魚</string>
		<key>Score</key>
		<string>10</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>icon_ach_041.png</string>
		<key>ImageNameGray</key>
		<string>icon_ach_041_gray.png</string>
		<key>ItemDescription_en</key>
		<string>Played for 2475 minutes ！</string>
		<key>ItemDescription_cn</key>
		<string>游戏时间达到2475分钟！</string>
		<key>ItemDescription_cn_none</key>
		<string>游戏时间达到2475分钟！</string>
		<key>ItemDescription_jp</key>
		<string>プレイ時間2475分間！</string>
		<key>ItemDescription_jp_none</key>
		<string>プレイ時間2475分間！</string>
		<key>ItemDescription_en_none</key>
		<string>Played for 2475 minutes ！</string>
		<key>ItemDescription_tr</key>
		<string>遊戲時間達到2475分鐘！</string>
		<key>ItemDescription_tr_none</key>
		<string>遊戲時間達到2475分鐘！</string>
		<key>ItemTitle_en</key>
		<string>Kraken</string>
		<key>ItemTitle_cn</key>
		<string>北海巨妖</string>
		<key>ItemTitle_jp</key>
		<string>クラーケン</string>
		<key>ItemTitle_tr</key>
		<string>北海巨妖</string>
		<key>Score</key>
		<string>10</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>icon_ach_042.png</string>
		<key>ImageNameGray</key>
		<string>icon_ach_042_gray.png</string>
		<key>ItemDescription_en</key>
		<string>Played for 3325 minutes ！</string>
		<key>ItemDescription_cn</key>
		<string>游戏时间达到3325分钟！</string>
		<key>ItemDescription_cn_none</key>
		<string>游戏时间达到3325分钟！</string>
		<key>ItemDescription_jp</key>
		<string>プレイ時間3325分間！</string>
		<key>ItemDescription_jp_none</key>
		<string>プレイ時間3325分間！</string>
		<key>ItemDescription_en_none</key>
		<string>Played for 3325 minutes ！</string>
		<key>ItemDescription_tr</key>
		<string>遊戲時間達到3325分鐘！</string>
		<key>ItemDescription_tr_none</key>
		<string>遊戲時間達到3325分鐘！</string>
		<key>ItemTitle_en</key>
		<string>Siren</string>
		<key>ItemTitle_cn</key>
		<string>海妖塞壬</string>
		<key>ItemTitle_jp</key>
		<string>サイレン</string>
		<key>ItemTitle_tr</key>
		<string>海妖塞壬</string>
		<key>Score</key>
		<string>10</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>icon_ach_043.png</string>
		<key>ImageNameGray</key>
		<string>icon_ach_043_gray.png</string>
		<key>ItemDescription_en</key>
		<string>Played for 4300 minutes ！</string>
		<key>ItemDescription_cn</key>
		<string>游戏时间达到4300分钟！</string>
		<key>ItemDescription_cn_none</key>
		<string>游戏时间达到4300分钟！</string>
		<key>ItemDescription_jp</key>
		<string>プレイ時間4300分間！</string>
		<key>ItemDescription_jp_none</key>
		<string>プレイ時間4300分間！</string>
		<key>ItemDescription_en_none</key>
		<string>Played for 4300 minutes ！</string>
		<key>ItemDescription_tr</key>
		<string>遊戲時間達到4300分鐘！</string>
		<key>ItemDescription_tr_none</key>
		<string>遊戲時間達到4300分鐘！</string>
		<key>ItemTitle_en</key>
		<string>Nereus</string>
		<key>ItemTitle_cn</key>
		<string>涅柔斯</string>
		<key>ItemTitle_jp</key>
		<string>ネーレウス</string>
		<key>ItemTitle_tr</key>
		<string>涅柔斯</string>
		<key>Score</key>
		<string>10</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>icon_ach_044.png</string>
		<key>ImageNameGray</key>
		<string>icon_ach_044_gray.png</string>
		<key>ItemDescription_en</key>
		<string>Played for 5400 minutes ！</string>
		<key>ItemDescription_cn</key>
		<string>游戏时间达到5400分钟！</string>
		<key>ItemDescription_cn_none</key>
		<string>游戏时间达到5400分钟！</string>
		<key>ItemDescription_jp</key>
		<string>プレイ時間5400分間！</string>
		<key>ItemDescription_jp_none</key>
		<string>プレイ時間5400分間！</string>
		<key>ItemDescription_en_none</key>
		<string>Played for 5400 minutes ！</string>
		<key>ItemDescription_tr</key>
		<string>遊戲時間達到5400分鐘！</string>
		<key>ItemDescription_tr_none</key>
		<string>遊戲時間達到5400分鐘！</string>
		<key>ItemTitle_en</key>
		<string>Davy Jones</string>
		<key>ItemTitle_cn</key>
		<string>深海阎王</string>
		<key>ItemTitle_jp</key>
		<string>デイヴィ・ジョーンズ</string>
		<key>ItemTitle_tr</key>
		<string>深海閻王</string>
		<key>Score</key>
		<string>20</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>icon_ach_045.png</string>
		<key>ImageNameGray</key>
		<string>icon_ach_045_gray.png</string>
		<key>ItemDescription_en</key>
		<string>Played for 6370 minutes ！</string>
		<key>ItemDescription_cn</key>
		<string>游戏时间达到6370分钟！</string>
		<key>ItemDescription_cn_none</key>
		<string>游戏时间达到6370分钟！</string>
		<key>ItemDescription_jp</key>
		<string>プレイ時間6370分間！</string>
		<key>ItemDescription_jp_none</key>
		<string>プレイ時間6370分間！</string>
		<key>ItemDescription_en_none</key>
		<string>Played for 6370 minutes ！</string>
		<key>ItemDescription_tr</key>
		<string>遊戲時間達到6370分鐘！</string>
		<key>ItemDescription_tr_none</key>
		<string>遊戲時間達到6370分鐘！</string>
		<key>ItemTitle_en</key>
		<string>Poseidon</string>
		<key>ItemTitle_cn</key>
		<string>波塞冬</string>
		<key>ItemTitle_jp</key>
		<string>ポセイドン</string>
		<key>ItemTitle_tr</key>
		<string>波塞冬</string>
		<key>Score</key>
		<string>20</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>icon_ach_046.png</string>
		<key>ImageNameGray</key>
		<string>icon_ach_046_gray.png</string>
		<key>ItemDescription_en</key>
		<string>Thanks for playing KingFisher Chinese New Year Edition!</string>
		<key>ItemDescription_en_none</key>
		<string>LogintoKingFisher 2012 Chinese New Year Edition!</string>
		<key>ItemDescription_cn</key>
		<string>感谢您在新年登录捕鱼达人游戏,祝您龙年生龙活虎!</string>
		<key>ItemDescription_cn_none</key>
		<string>２０１２年登录春节版 “捕鱼达人”</string>
		<key>ItemDescription_jp</key>
		<string>新しい一年が竜の雲を得る如し!</string>
		<key>ItemDescription_jp_none</key>
		<string>２０１２年旧正月版フィ ッシング·ジョイに ログイン</string>
		<key>ItemDescription_tr</key>
		<string>感謝您在新春期間登錄「捕魚達人」,祝您龍馬精神發大財!</string>
		<key>ItemDescription_tr_none</key>
		<string>２０１２年登錄春節版 「捕魚達人」</string>
		<key>ItemTitle_en</key>
		<string>Happy Chinese New Year!</string>
		<key>ItemTitle_cn</key>
		<string>鱼跃龙门</string>
		<key>ItemTitle_jp</key>
		<string>龍が如く</string>
		<key>ItemTitle_tr</key>
		<string>喜慶新春魚化龍</string>
		<key>Score</key>
		<string>10</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>icon_ach_046.png</string>
		<key>ImageNameGray</key>
		<string>icon_ach_046_gray.png</string>
		<key>ItemDescription_en</key>
		<string>In this fishery you can try the new 10 min. bomb!</string>
		<key>ItemDescription_en_none</key>
		<string>In this fishery you can try the new 10 min. bomb!</string>
		<key>ItemDescription_cn</key>
		<string>在该渔场可以使用10分炮</string>
		<key>ItemDescription_cn_none</key>
		<string>在该渔场可以使用10分炮</string>
		<key>ItemDescription_jp</key>
		<string>Lv10キャノンが利用可能</string>
		<key>ItemDescription_jp_none</key>
		<string>Lv10キャノンが利用可能</string>
		<key>ItemDescription_tr</key>
		<string>在該漁場可以使用十分炮。</string>
		<key>ItemDescription_tr_none</key>
		<string>在該漁場可以使用十分炮。</string>
		<key>ItemTitle_en</key>
		<string>Reach Lv. 10 to unlock this fishery</string>
		<key>ItemTitle_cn</key>
		<string>到达10级方能解锁该渔场</string>
		<key>ItemTitle_jp</key>
		<string>Lv10にロック解除</string>
		<key>ItemTitle_tr</key>
		<string>到達10級方能解鎖該漁場</string>
		<key>Score</key>
		<string>10</string>
	</dict>
</array>
</plist>
