<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_teach_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,51},{148,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,50}}</string>
                <key>sourceSize</key>
                <string>{148,50}</string>
            </dict>
            <key>btn_teach_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,1},{148,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,50}}</string>
                <key>sourceSize</key>
                <string>{148,50}</string>
            </dict>
            <key>button_other_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,51},{45,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{45,49}}</string>
                <key>sourceSize</key>
                <string>{49,51}</string>
            </dict>
            <key>button_other_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,51},{45,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{45,49}}</string>
                <key>sourceSize</key>
                <string>{49,51}</string>
            </dict>
            <key>button_other_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,51},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>button_other_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,86},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{30,31}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>ui_button_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,51},{124,68}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{124,68}}</string>
                <key>sourceSize</key>
                <string>{148,76}</string>
            </dict>
            <key>ui_button_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,51},{124,68}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{124,68}}</string>
                <key>sourceSize</key>
                <string>{148,76}</string>
            </dict>
            <key>ui_button_box03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,51},{184,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,50}}</string>
                <key>sourceSize</key>
                <string>{184,50}</string>
            </dict>
            <key>ui_button_box03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,1},{184,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,50}}</string>
                <key>sourceSize</key>
                <string>{184,50}</string>
            </dict>
            <key>ui_button_box04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,1},{184,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,50}}</string>
                <key>sourceSize</key>
                <string>{184,50}</string>
            </dict>
            <key>ui_button_box04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{184,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,50}}</string>
                <key>sourceSize</key>
                <string>{184,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buttons.png</string>
            <key>size</key>
            <string>{706,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd45aa2420c7086b0ff197155fa9ca77$</string>
            <key>textureFileName</key>
            <string>buttons.png</string>
        </dict>
    </dict>
</plist>
