<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EXP.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,327},{128,140}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{128,140}}</string>
                <key>sourceSize</key>
                <string>{136,146}</string>
            </dict>
            <key>button_prop_Laser.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{172,171}}</string>
                <key>offset</key>
                <string>{-7,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,71},{172,171}}</string>
                <key>sourceSize</key>
                <string>{222,251}</string>
            </dict>
            <key>ui_box_go_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,421},{86,48}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{86,48}}</string>
                <key>sourceSize</key>
                <string>{102,92}</string>
            </dict>
            <key>ui_box_go_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{247,150}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{247,150}}</string>
                <key>sourceSize</key>
                <string>{265,162}</string>
            </dict>
            <key>ui_box_go_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,327},{101,92}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,32},{101,92}}</string>
                <key>sourceSize</key>
                <string>{265,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chestreward.png</string>
            <key>size</key>
            <string>{251,471}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2de57efb3237652766dfb1fee6c68676$</string>
            <key>textureFileName</key>
            <string>chestreward.png</string>
        </dict>
    </dict>
</plist>
