<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_other_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,298},{103,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,98}}</string>
                <key>sourceSize</key>
                <string>{103,98}</string>
            </dict>
            <key>button_other_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,298},{103,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,98}}</string>
                <key>sourceSize</key>
                <string>{103,98}</string>
            </dict>
            <key>button_prop_001_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,547},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>button_prop_001_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,488},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>ui_button_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,199},{103,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,98}}</string>
                <key>sourceSize</key>
                <string>{103,98}</string>
            </dict>
            <key>ui_button_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,199},{103,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,98}}</string>
                <key>sourceSize</key>
                <string>{103,98}</string>
            </dict>
            <key>ui_button_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,489},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>ui_button_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,397},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>ui_button_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,100},{103,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,98}}</string>
                <key>sourceSize</key>
                <string>{103,98}</string>
            </dict>
            <key>ui_button_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,100},{103,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,98}}</string>
                <key>sourceSize</key>
                <string>{103,98}</string>
            </dict>
            <key>ui_button_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,472},{70,74}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{70,74}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
            <key>ui_button_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,547},{74,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{74,80}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
            <key>ui_button_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,397},{70,74}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{70,74}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
            <key>ui_button_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,397},{84,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,90}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
            <key>ui_button_music_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1},{103,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,98}}</string>
                <key>sourceSize</key>
                <string>{103,98}</string>
            </dict>
            <key>ui_button_music_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{103,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,98}}</string>
                <key>sourceSize</key>
                <string>{103,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>icons.png</string>
            <key>size</key>
            <string>{249,628}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28c838814b0a1714b3ef17c3a46ed1c7$</string>
            <key>textureFileName</key>
            <string>icons.png</string>
        </dict>
    </dict>
</plist>
