<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_motion_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,426},{88,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,55}}</string>
                <key>sourceSize</key>
                <string>{88,55}</string>
            </dict>
            <key>fish_motion_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,365},{88,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,55}}</string>
                <key>sourceSize</key>
                <string>{88,55}</string>
            </dict>
            <key>fish_motion_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,415},{88,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,55}}</string>
                <key>sourceSize</key>
                <string>{88,55}</string>
            </dict>
            <key>fish_motion_a_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,354},{88,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,55}}</string>
                <key>sourceSize</key>
                <string>{88,55}</string>
            </dict>
            <key>fish_motion_a_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,304},{88,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,55}}</string>
                <key>sourceSize</key>
                <string>{88,55}</string>
            </dict>
            <key>fish_motion_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,284},{129,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,64}}</string>
                <key>sourceSize</key>
                <string>{129,64}</string>
            </dict>
            <key>fish_motion_b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,214},{129,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,64}}</string>
                <key>sourceSize</key>
                <string>{129,64}</string>
            </dict>
            <key>fish_motion_b_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,144},{129,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,64}}</string>
                <key>sourceSize</key>
                <string>{129,64}</string>
            </dict>
            <key>fish_motion_b_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,74},{129,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,64}}</string>
                <key>sourceSize</key>
                <string>{129,64}</string>
            </dict>
            <key>fish_motion_b_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{129,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,64}}</string>
                <key>sourceSize</key>
                <string>{129,64}</string>
            </dict>
            <key>fish_motion_c_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,244},{113,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,54}}</string>
                <key>sourceSize</key>
                <string>{113,54}</string>
            </dict>
            <key>fish_motion_c_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,184},{113,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,54}}</string>
                <key>sourceSize</key>
                <string>{113,54}</string>
            </dict>
            <key>fish_motion_c_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,124},{113,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,54}}</string>
                <key>sourceSize</key>
                <string>{113,54}</string>
            </dict>
            <key>fish_motion_c_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,64},{113,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,54}}</string>
                <key>sourceSize</key>
                <string>{113,54}</string>
            </dict>
            <key>fish_motion_c_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,4},{113,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,54}}</string>
                <key>sourceSize</key>
                <string>{113,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main_ui_box.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b3f096f900afd6a1f8ee63ec7ea23d5$</string>
            <key>textureFileName</key>
            <string>main_ui_box.png</string>
        </dict>
    </dict>
</plist>
