<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stage1</key>
	<array>
		<array>
			<string>SmallFishActor</string>
			<integer>15</integer>
		</array>
		<array>
			<string>CroakerActor</string>
			<integer>25</integer>
		</array>
		<array>
			<string>AngleFishActor</string>
			<integer>35</integer>
		</array>
		<array>
			<string>PufferActor</string>
			<integer>44</integer>
		</array>
		<array>
			<string>AmphiprionActor</string>
			<integer>51</integer>
		</array>
		<array>
			<string>ButterflyActor</string>
			<integer>57</integer>
		</array>
		<array>
			<string>BreamActor</string>
			<integer>64</integer>
		</array>
		<array>
			<string>PorgyActor</string>
			<integer>74</integer>
		</array>
		<array>
			<string>ChelonianActor</string>
			<integer>84</integer>
		</array>
		<array>
			<string>LanternActor</string>
			<integer>90</integer>
		</array>
		<array>
			<string>RayActor</string>
			<integer>95</integer>
		</array>
		<array>
			<string>SharkActor</string>
			<integer>100</integer>
		</array>
	</array>
	<key>stage2</key>
	<array>
		<array>
			<string>SmallFishActor</string>
			<integer>0</integer>
		</array>
		<array>
			<string>CroakerActor</string>
			<integer>13</integer>
		</array>
		<array>
			<string>AngleFishActor</string>
			<integer>20</integer>
		</array>
		<array>
			<string>PomfretActor</string>
			<integer>26</integer>
		</array>
		<array>
			<string>PufferActor</string>
			<integer>40</integer>
		</array>
		<array>
			<string>AmphiprionActor</string>
			<integer>55</integer>
		</array>
		<array>
			<string>BreamActor</string>
			<integer>70</integer>
		</array>
		<array>
			<string>GrouperFishActor</string>
			<integer>78</integer>
		</array>
		<array>
			<string>ChelonianActor</string>
			<integer>88</integer>
		</array>
		<array>
			<string>LanternActor</string>
			<integer>94</integer>
		</array>
		<array>
			<string>RayActor</string>
			<integer>98</integer>
		</array>
		<array>
			<string>MarlinsFishActor</string>
			<integer>100</integer>
		</array>
	</array>
	<key>stage3</key>
	<array>
		<array>
			<string>SmallFishActor</string>
			<integer>0</integer>
		</array>
		<array>
			<string>CroakerActor</string>
			<integer>13</integer>
		</array>
		<array>
			<string>AngleFishActor</string>
			<integer>20</integer>
		</array>
		<array>
			<string>PomfretActor</string>
			<integer>26</integer>
		</array>
		<array>
			<string>PufferActor</string>
			<integer>40</integer>
		</array>
		<array>
			<string>AmphiprionActor</string>
			<integer>55</integer>
		</array>
		<array>
			<string>BreamActor</string>
			<integer>70</integer>
		</array>
		<array>
			<string>GrouperFishActor</string>
			<integer>78</integer>
		</array>
		<array>
			<string>ChelonianActor</string>
			<integer>88</integer>
		</array>
		<array>
			<string>LanternActor</string>
			<integer>94</integer>
		</array>
		<array>
			<string>RayActor</string>
			<integer>98</integer>
		</array>
		<array>
			<string>MarlinsFishActor</string>
			<integer>100</integer>
		</array>
	</array>
</dict>
</plist>
