<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UI_selectStage_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1135,1},{566,432}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{566,432}}</string>
                <key>sourceSize</key>
                <string>{570,440}</string>
            </dict>
            <key>UI_selectStage_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,1},{566,432}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{566,432}}</string>
                <key>sourceSize</key>
                <string>{570,440}</string>
            </dict>
            <key>UI_selectStage_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{566,432}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{566,432}}</string>
                <key>sourceSize</key>
                <string>{570,440}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage.png</string>
            <key>size</key>
            <string>{1702,434}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70e679dc45e129af77a340959fba3eb7$</string>
            <key>textureFileName</key>
            <string>stage.png</string>
        </dict>
    </dict>
</plist>
