<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Path1</key>
		<dict>
			<key>Offset</key>
			<array>
				<dict>
					<key>actorname</key>
					<string>SmallFishActor</string>
					<key>offset</key>
					<string>{0, 0}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>SmallFishActor</string>
					<key>offset</key>
					<string>{-30, 0}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>SmallFishActor</string>
					<key>offset</key>
					<string>{-60, 0}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>SmallFishActor</string>
					<key>offset</key>
					<string>{-420, 0}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>SmallFishActor</string>
					<key>offset</key>
					<string>{-450, 0}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>SmallFishActor</string>
					<key>offset</key>
					<string>{-480, 0}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>SmallFishActor</string>
					<key>offset</key>
					<string>{-510, 0}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>SmallFishActor</string>
					<key>offset</key>
					<string>{-540, 0}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>SmallFishActor</string>
					<key>offset</key>
					<string>{-30, 12}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-30, 25}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>SmallFishActor</string>
					<key>offset</key>
					<string>{-60, 12}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-60, 25}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>SmallFishActor</string>
					<key>offset</key>
					<string>{-90, 12}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>SmallFishActor</string>
					<key>offset</key>
					<string>{-120, 12}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-90, 25}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-120, 25}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>SmallFishActor</string>
					<key>offset</key>
					<string>{-150, 12}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-150, 25}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>SmallFishActor</string>
					<key>offset</key>
					<string>{-390, 12}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>SmallFishActor</string>
					<key>offset</key>
					<string>{-420, 12}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-390, 25}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-420, 25}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>SmallFishActor</string>
					<key>offset</key>
					<string>{-450, 12}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>SmallFishActor</string>
					<key>offset</key>
					<string>{-480, 12}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-450, 25}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-480, 25}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>SmallFishActor</string>
					<key>offset</key>
					<string>{-510, 12}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-510, 25}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>SmallFishActor</string>
					<key>offset</key>
					<string>{-30, -12}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-30, -25}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>SmallFishActor</string>
					<key>offset</key>
					<string>{-60, -12}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-60, -25}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>SmallFishActor</string>
					<key>offset</key>
					<string>{-90, -12}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-90, -25}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>SmallFishActor</string>
					<key>offset</key>
					<string>{-120, -12}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-120, -25}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>SmallFishActor</string>
					<key>offset</key>
					<string>{-150, -12}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-150, -25}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>SmallFishActor</string>
					<key>offset</key>
					<string>{-390, -12}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-390, -25}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>SmallFishActor</string>
					<key>offset</key>
					<string>{-420, -12}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-420, -25}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>SmallFishActor</string>
					<key>offset</key>
					<string>{-450, -12}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-450, -25}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>SmallFishActor</string>
					<key>offset</key>
					<string>{-480, -12}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-480, -25}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>SmallFishActor</string>
					<key>offset</key>
					<string>{-510, -12}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-510, -25}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-60, -37}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-60, -50}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-90, -37}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-90, -50}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-120, -37}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-120, -50}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-150, -37}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-150, -50}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-180, -37}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-180, -50}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-210, -37}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-210, -50}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-240, -37}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-240, -50}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-270, -37}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-270, -50}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-300, -37}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-300, -50}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-330, -37}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-330, -50}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-360, -37}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-360, -50}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-60, 37}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-60, 50}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-90, 37}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-90, 50}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-120, 37}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-120, 50}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-150, 37}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-150, 50}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-180, 37}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-180, 50}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-210, 37}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-210, 50}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-240, 37}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-240, 50}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-270, 37}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-270, 50}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-300, 37}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-300, 50}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-330, 37}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-330, 50}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>CroakerActor</string>
					<key>offset</key>
					<string>{-360, 37}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-360, 50}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>SharkActor</string>
					<key>offset</key>
					<string>{-240, 0}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>SharkActor</string>
					<key>offset</key>
					<string>{-600, 0}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>SharkActor</string>
					<key>offset</key>
					<string>{-675, 100}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>SharkActor</string>
					<key>offset</key>
					<string>{-675, -100}</string>
				</dict>
			</array>
			<key>Radius</key>
			<array>
				<string>{300, 200}</string>
			</array>
			<key>speed</key>
			<integer>165</integer>
			<key>MoveDict</key>
			<integer>0</integer>
			<key>onTheRrc</key>
			<integer>1</integer>
		</dict>
	</dict>
	
</plist>
