<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Path1</key>
		<dict>
			<key>Offset</key>
			<array>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{0, 0}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-37, 0}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-74, 0}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AmphiprionActor</string>
					<key>offset</key>
					<string>{-111, 0}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-148, 0}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-185, 0}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-222, 0}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-259, 0}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{17, 35}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-20, 35}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-57, 35}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-95, 35}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-131, 35}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-167, 35}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-205, 35}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-242, 35}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-280, 35}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{1, 70}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-41, 70}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-84, 70}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-178, 70}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-221, 70}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-263, 70}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-25,105}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-55, 105}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-207, 105}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-237, 105}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-25, -35}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-67, -35}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AmphiprionActor</string>
					<key>offset</key>
					<string>{-110, -35}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-152, -35}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-195, -35}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-237, -35}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-62, -70}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-107, -70}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-152, -70}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-200, -70}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-105, -105}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-131, -105}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-157, -105}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AngleFishActor</string>
					<key>offset</key>
					<string>{-130, -140}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AmphiprionActor</string>
					<key>offset</key>
					<string>{-330, 15}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AmphiprionActor</string>
					<key>offset</key>
					<string>{-330, -15}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AmphiprionActor</string>
					<key>offset</key>
					<string>{-370, 15}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AmphiprionActor</string>
					<key>offset</key>
					<string>{-410, 15}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AmphiprionActor</string>
					<key>offset</key>
					<string>{-450, 15}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AmphiprionActor</string>
					<key>offset</key>
					<string>{-490, 15}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AmphiprionActor</string>
					<key>offset</key>
					<string>{-370, -15}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AmphiprionActor</string>
					<key>offset</key>
					<string>{-410, -15}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AmphiprionActor</string>
					<key>offset</key>
					<string>{-450, -15}</string>
				</dict>
				<dict>
					<key>actorname</key>
					<string>AmphiprionActor</string>
					<key>offset</key>
					<string>{-490, -15}</string>
				</dict>
			</array>
			<key>Radius</key>
			<array>
				<string>{150, 100}</string>
			</array>
			<key>speed</key>
			<integer>200</integer>
			<key>MoveDict</key>
			<integer>0</integer>
			<key>onTheRrc</key>
			<integer>1</integer>
		</dict>
	</dict>
	
</plist>
