<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>500_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{1,1},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>500_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{29,1},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>500_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{57,1},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>500_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{85,1},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>500_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{113,1},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>500_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{1,26},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>500_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{29,26},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>500_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{57,26},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>500_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{85,26},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>500_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{113,26},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>500_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{1,51},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>500_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{29,51},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>500_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{57,51},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>500_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{85,51},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>500_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{113,51},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>500_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{1,76},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>500_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{29,76},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>500_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{57,76},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>500_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{85,76},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>500_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{113,76},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>500_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{1,101},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>500_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{29,101},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>500_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{57,101},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>500_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{85,101},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>500_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{113,101},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>500_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{1,126},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>500_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{29,126},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>500_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{57,126},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>500_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{85,126},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>500_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{113,126},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>100_4.png</string>
            <key>size</key>
            <string>{150,150}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2c0487e6afe6defea1d0b42f689c2c6:9f6bbe1cf6bed06466b4323c2de2f266:e414752a34e366103344c88bd5380b53$</string>
            <key>textureFileName</key>
            <string>100_4.png</string>
        </dict>
    </dict>
</plist>
