<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>5_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{1,1},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{29,1},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{57,1},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{85,1},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{113,1},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{1,26},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{29,26},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{57,26},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{85,26},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{113,26},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{1,51},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{29,51},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{57,51},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{85,51},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{113,51},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{1,76},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{29,76},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{57,76},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{85,76},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{113,76},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{1,101},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{29,101},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{57,101},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{85,101},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{113,101},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{1,126},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{29,126},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{57,126},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{85,126},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{113,126},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>5.png</string>
            <key>size</key>
            <string>{150,150}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41061042edac3e51f01536f11a9baa2c:9eea9b2b95a181090e8f1665d8b601fd:c6dbde1693599f6671c0dc889ed7f1c3$</string>
            <key>textureFileName</key>
            <string>5.png</string>
        </dict>
    </dict>
</plist>
