<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bullet3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,44}</string>
                <key>spriteSourceSize</key>
                <string>{29,44}</string>
                <key>textureRect</key>
                <string>{{114,197},{29,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Cannon3_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,16}</string>
                <key>spriteSize</key>
                <string>{96,111}</string>
                <key>spriteSourceSize</key>
                <string>{96,147}</string>
                <key>textureRect</key>
                <string>{{1,116},{96,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Cannon3_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,16}</string>
                <key>spriteSize</key>
                <string>{96,111}</string>
                <key>spriteSourceSize</key>
                <string>{96,147}</string>
                <key>textureRect</key>
                <string>{{114,1},{96,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Cannon3_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,17}</string>
                <key>spriteSize</key>
                <string>{96,113}</string>
                <key>spriteSourceSize</key>
                <string>{96,147}</string>
                <key>textureRect</key>
                <string>{{1,1},{96,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon3_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,16}</string>
                <key>spriteSize</key>
                <string>{96,111}</string>
                <key>spriteSourceSize</key>
                <string>{96,147}</string>
                <key>textureRect</key>
                <string>{{114,99},{96,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Cannon3.png</string>
            <key>size</key>
            <string>{227,227}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39d0af6a273ead64067bec4b2ea91f10:c745ba741712f81dda67d378de863cd8:4650f8d430234cf44c6f91cc857a4f6a$</string>
            <key>textureFileName</key>
            <string>Cannon3.png</string>
        </dict>
    </dict>
</plist>
