<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Net1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{232,232}</string>
                <key>spriteSourceSize</key>
                <string>{242,242}</string>
                <key>textureRect</key>
                <string>{{1,1},{232,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Net.png</string>
            <key>size</key>
            <string>{234,234}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2fe3a0a06fa6643db59a9fe7a20628a5:a446346300887569c876b36d1fbdee39:50d1ca6341bfd358eb06069d3f6796f0$</string>
            <key>textureFileName</key>
            <string>Net.png</string>
        </dict>
    </dict>
</plist>
