<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BrownTransBGBox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1169,258}</string>
                <key>spriteSourceSize</key>
                <string>{1169,258}</string>
                <key>textureRect</key>
                <string>{{1,757},{1169,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{45,43}</string>
                <key>textureRect</key>
                <string>{{1350,523},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Coin Spend.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{1332,718},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Coins earn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,38}</string>
                <key>spriteSourceSize</key>
                <string>{45,38}</string>
                <key>textureRect</key>
                <string>{{1350,443},{45,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GoldenFish.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,38}</string>
                <key>spriteSourceSize</key>
                <string>{44,38}</string>
                <key>textureRect</key>
                <string>{{1350,483},{44,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GreenButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,87}</string>
                <key>spriteSourceSize</key>
                <string>{240,87}</string>
                <key>textureRect</key>
                <string>{{1172,757},{240,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Hit rate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,37}</string>
                <key>spriteSourceSize</key>
                <string>{38,37}</string>
                <key>textureRect</key>
                <string>{{1350,679},{38,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Multi Caught.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,50}</string>
                <key>spriteSourceSize</key>
                <string>{55,50}</string>
                <key>textureRect</key>
                <string>{{1332,391},{55,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RedButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,87}</string>
                <key>spriteSourceSize</key>
                <string>{240,87}</string>
                <key>textureRect</key>
                <string>{{1261,757},{240,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Skill uses.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,39}</string>
                <key>spriteSourceSize</key>
                <string>{40,39}</string>
                <key>textureRect</key>
                <string>{{1350,608},{40,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummaryBase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{1329,754}</string>
                <key>spriteSourceSize</key>
                <string>{1329,756}</string>
                <key>textureRect</key>
                <string>{{1,1},{1329,754}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Time play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,40}</string>
                <key>spriteSourceSize</key>
                <string>{28,40}</string>
                <key>textureRect</key>
                <string>{{1350,649},{28,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TotalFish.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,38}</string>
                <key>spriteSourceSize</key>
                <string>{43,38}</string>
                <key>textureRect</key>
                <string>{{1350,568},{43,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Yellow Bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,63}</string>
                <key>spriteSourceSize</key>
                <string>{388,63}</string>
                <key>textureRect</key>
                <string>{{1332,1},{388,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Scoreboard.png</string>
            <key>size</key>
            <string>{1396,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6062d6f90e88387f67e4ea87c69ee8c9:34cbf917235d2516ecfb87c28da8eded:6432703ca7d77ba0d9992f578609b6f4$</string>
            <key>textureFileName</key>
            <string>Scoreboard.png</string>
        </dict>
    </dict>
</plist>
