<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BrownTransBGBox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1169,258}</string>
                <key>spriteSourceSize</key>
                <string>{1169,258}</string>
                <key>textureRect</key>
                <string>{{1,757},{1169,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{45,43}</string>
                <key>textureRect</key>
                <string>{{1172,955},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Coin Spend.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{1256,955},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Coins earn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,38}</string>
                <key>spriteSourceSize</key>
                <string>{45,38}</string>
                <key>textureRect</key>
                <string>{{1372,875},{45,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fish Paceholder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,141}</string>
                <key>spriteSourceSize</key>
                <string>{141,141}</string>
                <key>textureRect</key>
                <string>{{1172,757},{141,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GoldenFish.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,38}</string>
                <key>spriteSourceSize</key>
                <string>{44,38}</string>
                <key>textureRect</key>
                <string>{{1372,915},{44,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GreenButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,87}</string>
                <key>spriteSourceSize</key>
                <string>{240,87}</string>
                <key>textureRect</key>
                <string>{{1332,1},{240,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Hit rate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,37}</string>
                <key>spriteSourceSize</key>
                <string>{38,37}</string>
                <key>textureRect</key>
                <string>{{1217,955},{38,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Multi Caught.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,50}</string>
                <key>spriteSourceSize</key>
                <string>{55,50}</string>
                <key>textureRect</key>
                <string>{{1315,875},{55,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RedButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,87}</string>
                <key>spriteSourceSize</key>
                <string>{240,87}</string>
                <key>textureRect</key>
                <string>{{1332,243},{240,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Skill uses.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,39}</string>
                <key>spriteSourceSize</key>
                <string>{40,39}</string>
                <key>textureRect</key>
                <string>{{1212,900},{40,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SummaryBase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{1329,754}</string>
                <key>spriteSourceSize</key>
                <string>{1329,756}</string>
                <key>textureRect</key>
                <string>{{1,1},{1329,754}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Time play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,40}</string>
                <key>spriteSourceSize</key>
                <string>{28,40}</string>
                <key>textureRect</key>
                <string>{{1253,900},{28,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TotalFish.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,38}</string>
                <key>spriteSourceSize</key>
                <string>{43,38}</string>
                <key>textureRect</key>
                <string>{{1172,900},{43,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Yellow Bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,63}</string>
                <key>spriteSourceSize</key>
                <string>{388,63}</string>
                <key>textureRect</key>
                <string>{{1332,485},{388,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>summary.png</string>
            <key>size</key>
            <string>{1420,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01f3aa9ac3f9d526e5be71e74c32effe:d54e5ecf6028e5ddb7125752ff5410d1:3724f344c05487a55239214f298e2460$</string>
            <key>textureFileName</key>
            <string>summary.png</string>
        </dict>
    </dict>
</plist>
