<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ButterflyfishIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{69,67}</string>
                <key>spriteSourceSize</key>
                <string>{99,75}</string>
                <key>textureRect</key>
                <string>{{1339,90},{69,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ButterflyfishIconGray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-10}</string>
                <key>spriteSize</key>
                <string>{90,87}</string>
                <key>spriteSourceSize</key>
                <string>{138,113}</string>
                <key>textureRect</key>
                <string>{{974,1267},{90,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ChestGlow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,108}</string>
                <key>spriteSourceSize</key>
                <string>{120,110}</string>
                <key>textureRect</key>
                <string>{{429,1299},{118,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JPBase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1215,658}</string>
                <key>spriteSourceSize</key>
                <string>{1215,658}</string>
                <key>textureRect</key>
                <string>{{1,1},{1215,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JPButterflyFishMedalGlow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-2}</string>
                <key>spriteSize</key>
                <string>{112,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,150}</string>
                <key>textureRect</key>
                <string>{{1,1299},{112,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JPButterflyFishMedal_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-10}</string>
                <key>spriteSize</key>
                <string>{90,87}</string>
                <key>spriteSourceSize</key>
                <string>{138,113}</string>
                <key>textureRect</key>
                <string>{{1063,1277},{90,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JPMermaidMedalGlow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,2}</string>
                <key>spriteSize</key>
                <string>{132,126}</string>
                <key>spriteSourceSize</key>
                <string>{200,150}</string>
                <key>textureRect</key>
                <string>{{543,793},{132,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JPMermaidMedal_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-2}</string>
                <key>spriteSize</key>
                <string>{112,105}</string>
                <key>spriteSourceSize</key>
                <string>{138,113}</string>
                <key>textureRect</key>
                <string>{{671,1297},{112,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>JPSharkMedalGlow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-6}</string>
                <key>spriteSize</key>
                <string>{150,112}</string>
                <key>spriteSourceSize</key>
                <string>{200,150}</string>
                <key>textureRect</key>
                <string>{{1,1063},{150,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JPSharkMedal_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-10}</string>
                <key>spriteSize</key>
                <string>{126,87}</string>
                <key>spriteSourceSize</key>
                <string>{138,113}</string>
                <key>textureRect</key>
                <string>{{1117,1149},{126,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>JPTitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{508,119}</string>
                <key>spriteSourceSize</key>
                <string>{510,125}</string>
                <key>textureRect</key>
                <string>{{1218,1},{508,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>JPTurtleMedalGlow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,3}</string>
                <key>spriteSize</key>
                <string>{144,130}</string>
                <key>spriteSourceSize</key>
                <string>{200,150}</string>
                <key>textureRect</key>
                <string>{{543,661},{144,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JPTurtleMedal_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{120,107}</string>
                <key>spriteSourceSize</key>
                <string>{138,113}</string>
                <key>textureRect</key>
                <string>{{549,1299},{120,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JPWinBase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,292}</string>
                <key>spriteSourceSize</key>
                <string>{540,292}</string>
                <key>textureRect</key>
                <string>{{1,661},{540,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MermaidIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{91,84}</string>
                <key>spriteSourceSize</key>
                <string>{99,88}</string>
                <key>textureRect</key>
                <string>{{1312,1153},{91,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MermaidIconGray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-2}</string>
                <key>spriteSize</key>
                <string>{112,105}</string>
                <key>spriteSourceSize</key>
                <string>{138,113}</string>
                <key>textureRect</key>
                <string>{{778,1297},{112,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PrizeListFrame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,106}</string>
                <key>spriteSourceSize</key>
                <string>{277,106}</string>
                <key>textureRect</key>
                <string>{{1,955},{277,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SharkIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-2}</string>
                <key>spriteSize</key>
                <string>{87,59}</string>
                <key>spriteSourceSize</key>
                <string>{99,77}</string>
                <key>textureRect</key>
                <string>{{1339,1},{87,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SharkIconGray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-10}</string>
                <key>spriteSize</key>
                <string>{126,87}</string>
                <key>spriteSourceSize</key>
                <string>{138,113}</string>
                <key>textureRect</key>
                <string>{{885,1267},{126,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TimerIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,34}</string>
                <key>spriteSourceSize</key>
                <string>{30,34}</string>
                <key>textureRect</key>
                <string>{{795,1149},{30,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureBoxOpen_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-13}</string>
                <key>spriteSize</key>
                <string>{106,94}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{277,1199},{106,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TreasureBoxOpen_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-9}</string>
                <key>spriteSize</key>
                <string>{108,102}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{115,1307},{108,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureBoxOpen_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-9}</string>
                <key>spriteSize</key>
                <string>{100,102}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{225,1307},{100,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureBoxOpen_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-9}</string>
                <key>spriteSize</key>
                <string>{100,102}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{327,1307},{100,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureBoxOpen_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-4}</string>
                <key>spriteSize</key>
                <string>{104,112}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{1206,1153},{104,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureBoxOpen_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{1103,661},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureBoxOpen_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{122,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{153,1063},{122,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureBoxOpen_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{130,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{418,955},{130,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureBoxOpen_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{134,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{415,1077},{134,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureBoxOpen_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{136,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{689,661},{136,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureBoxOpen_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{136,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{1,1177},{136,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureBoxOpen_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{136,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{827,661},{136,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureBoxOpen_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{1103,783},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureBoxOpen_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{136,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{965,661},{136,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureBoxOpen_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{136,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{1218,511},{136,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TreasureBoxOpen_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{136,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{280,955},{136,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureBoxOpen_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{136,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{277,1077},{136,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureBoxOpen_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{136,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{139,1185},{136,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureBoxOpen_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{136,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{1225,649},{136,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TreasureBoxOpen_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{136,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{550,921},{136,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TreasureBoxOpen_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{136,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{551,1059},{136,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TreasureBoxOpen_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{136,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{689,783},{136,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureBoxOpen_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{136,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{827,783},{136,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureBoxOpen_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{136,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{965,783},{136,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureBoxOpen_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{136,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{1225,787},{136,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureBoxOpen_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{136,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{672,921},{136,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TreasureBoxOpen_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{136,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{673,1059},{136,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TreasureBoxOpen_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{136,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{794,905},{136,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureBoxOpen_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{136,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{932,905},{136,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureBoxOpen_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{136,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{1070,905},{136,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureBoxOpen_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{136,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{1208,909},{136,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureBoxOpen_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{136,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{795,1027},{136,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureBoxOpen_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{136,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{933,1027},{136,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureBoxOpen_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{136,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{1207,1031},{136,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureBoxOpen_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{134,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{1071,1027},{134,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureBoxOpen_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{132,116}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{861,1149},{132,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureBoxOpen_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-11}</string>
                <key>spriteSize</key>
                <string>{120,98}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{373,1199},{120,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureBoxOpen_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-11}</string>
                <key>spriteSize</key>
                <string>{120,98}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{495,1199},{120,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureBoxOpen_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-11}</string>
                <key>spriteSize</key>
                <string>{120,98}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{617,1197},{120,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureBoxOpen_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-11}</string>
                <key>spriteSize</key>
                <string>{120,98}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{739,1197},{120,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TurtleIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{85,76}</string>
                <key>spriteSourceSize</key>
                <string>{99,84}</string>
                <key>textureRect</key>
                <string>{{1155,1277},{85,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TurtleIconGray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{120,107}</string>
                <key>spriteSourceSize</key>
                <string>{138,113}</string>
                <key>textureRect</key>
                <string>{{995,1149},{120,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>JPminigame.png</string>
            <key>size</key>
            <string>{1410,1410}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0feb56b4867de6935db77807e51df4e3:e023285224d60dacf9e2a51910f697e1:0a85bd5f4af13766f78642409eed76d8$</string>
            <key>textureFileName</key>
            <string>JPminigame.png</string>
        </dict>
    </dict>
</plist>
