<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UI_select_button_3_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{134,18}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{134,18}}</string>
                <key>sourceSize</key>
                <string>{134,20}</string>
            </dict>
            <key>UI_select_button_4_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{134,18}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{134,18}}</string>
                <key>sourceSize</key>
                <string>{134,20}</string>
            </dict>
            <key>UI_select_title_3_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{72,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,48}}</string>
                <key>sourceSize</key>
                <string>{72,48}</string>
            </dict>
            <key>UI_select_topdes_3_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{334,80}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{334,80}}</string>
                <key>sourceSize</key>
                <string>{388,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>StageSelectLayer3_en.png</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53952164ad8a2e346637173a152c03c3$</string>
            <key>textureFileName</key>
            <string>StageSelectLayer3_en.png</string>
        </dict>
    </dict>
</plist>
