<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tutorial_ui_text_30_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,27},{313,51}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{313,51}}</string>
                <key>sourceSize</key>
                <string>{315,53}</string>
            </dict>
            <key>tutorial_ui_text_31_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{440,51}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{440,51}}</string>
                <key>sourceSize</key>
                <string>{484,73}</string>
            </dict>
            <key>tutorial_ui_text_32_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{432,140}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{432,140}}</string>
                <key>sourceSize</key>
                <string>{436,142}</string>
            </dict>
            <key>tutorial_ui_text_33_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{489,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{489,68}}</string>
                <key>sourceSize</key>
                <string>{491,70}</string>
            </dict>
            <key>tutorial_ui_text_34_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,273},{488,91}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{488,91}}</string>
                <key>sourceSize</key>
                <string>{496,93}</string>
            </dict>
            <key>tutorial_ui_text_35_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,203},{414,68}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{414,68}}</string>
                <key>sourceSize</key>
                <string>{420,68}</string>
            </dict>
            <key>tutorial_ui_text_36_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{278,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{278,23}}</string>
                <key>sourceSize</key>
                <string>{280,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tutorial_uibox_en.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>tutorial_uibox_en.png</string>
        </dict>
    </dict>
</plist>
