<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Explosion1_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,5}</string>
                <key>spriteSize</key>
                <string>{262,260}</string>
                <key>spriteSourceSize</key>
                <string>{1500,1000}</string>
                <key>textureRect</key>
                <string>{{1003,1003},{262,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion1_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,0}</string>
                <key>spriteSize</key>
                <string>{1188,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1500,1000}</string>
                <key>textureRect</key>
                <string>{{2505,3005},{1188,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion1_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1500,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1500,1000}</string>
                <key>textureRect</key>
                <string>{{1,1},{1500,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion1_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1500,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1500,1000}</string>
                <key>textureRect</key>
                <string>{{1503,1},{1500,1000}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Explosion1_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1500,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1500,1000}</string>
                <key>textureRect</key>
                <string>{{1,1003},{1500,1000}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Explosion1_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1500,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1500,1000}</string>
                <key>textureRect</key>
                <string>{{1003,1503},{1500,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion1_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1500,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1500,1000}</string>
                <key>textureRect</key>
                <string>{{2505,1},{1500,1000}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Explosion1_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1500,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1500,1000}</string>
                <key>textureRect</key>
                <string>{{2505,1503},{1500,1000}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Explosion1_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1500,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1500,1000}</string>
                <key>textureRect</key>
                <string>{{1,2505},{1500,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion1_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1500,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1500,1000}</string>
                <key>textureRect</key>
                <string>{{1503,2505},{1500,1000}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Explosion1.png</string>
            <key>size</key>
            <string>{4006,4006}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9956b6fa2af4bc756a462b0a20e9f9fc:116cb3b51f21d008720233e9e2833a4c:54f2784c94f34de84f11740d77074526$</string>
            <key>textureFileName</key>
            <string>Explosion1.png</string>
        </dict>
    </dict>
</plist>
