<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Explosion_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-10}</string>
                <key>spriteSize</key>
                <string>{106,72}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{695,3443},{106,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-9}</string>
                <key>spriteSize</key>
                <string>{364,244}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{1331,2895},{364,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Explosion_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-9}</string>
                <key>spriteSize</key>
                <string>{546,364}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{695,2895},{546,364}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Explosion_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{660,656}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{1577,2873},{660,656}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Explosion_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{692,680}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{2235,2855},{692,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{708,706}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{2157,1},{708,706}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Explosion_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{714,712}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{725,1443},{714,712}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Explosion_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{712,710}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{2153,1433},{712,710}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Explosion_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{714,712}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{1439,1443},{714,712}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Explosion_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{718,718}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{1,2175},{718,718}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{722,722}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{1,727},{722,722}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{722,722}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{1,1451},{722,722}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{724,724}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{1,1},{724,724}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{714,714}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{725,727},{714,714}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{714,712}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{1441,717},{714,712}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Explosion_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{714,714}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{727,1},{714,714}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{714,712}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{1443,1},{714,712}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Explosion_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{708,708}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{2155,717},{708,708}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{712,712}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{1441,2159},{712,712}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{718,718}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{721,2175},{718,718}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{706,706}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{2155,2147},{706,706}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{692,640}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{1,2895},{692,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-9}</string>
                <key>spriteSize</key>
                <string>{400,268}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{1061,2895},{400,268}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Explosion_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-10}</string>
                <key>spriteSize</key>
                <string>{106,72}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{695,3443},{106,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Explosion.png</string>
            <key>size</key>
            <string>{3536,3536}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:198a9a3798787b5dbd1639858c82652a:d02149d3c1fb3aa62ed77f3507a4f68b:fe049886709682b4c74f6865e9893d85$</string>
            <key>textureFileName</key>
            <string>Explosion.png</string>
        </dict>
    </dict>
</plist>
