<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FREffect_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{644,1},{683,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{1329,1},{683,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{2014,1},{683,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{2699,1},{683,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{1,387},{683,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{686,387},{683,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{1371,387},{683,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{2056,387},{683,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{2741,387},{683,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{1,773},{683,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{686,773},{683,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{1371,773},{683,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{2056,773},{683,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{2741,773},{683,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{1,1159},{683,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{686,1159},{683,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{1371,1159},{683,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{2056,1159},{683,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{2741,1159},{683,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{1,1545},{683,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{686,1545},{683,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{1371,1545},{683,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{2056,1545},{683,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{2741,1545},{683,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{1,1931},{683,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{686,1931},{683,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{1371,1931},{683,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{2056,1931},{683,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{2741,1931},{683,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-6}</string>
                <key>spriteSize</key>
                <string>{641,366}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{1,1},{641,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>FREffect.png</string>
            <key>size</key>
            <string>{3425,2316}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f4ec3a5687488482b62b91da7b79080:d2aebb50a2b1dca9794d8d7d46c616ad:018af7f32b259349554a58e6ad5bbd7e$</string>
            <key>textureFileName</key>
            <string>FREffect.png</string>
        </dict>
    </dict>
</plist>
