<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FREffect_00628.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{3250,1},{401,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00629.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{443,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{3653,1},{443,384}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>FREffect_00630.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{485,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{1,367},{485,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00631.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{507,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{488,379},{507,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00632.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{533,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{997,381},{533,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00633.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{543,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{1532,381},{543,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00634.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{529,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{2077,383},{529,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00635.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{543,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{2608,383},{543,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00636.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{551,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{3153,446},{551,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00637.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{561,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{1,765},{561,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00638.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{564,767},{559,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00639.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{549,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{1125,767},{549,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00640.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{549,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{1676,769},{549,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00641.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{553,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{2227,769},{553,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00642.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{543,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{2782,832},{543,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00643.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{553,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{3327,963},{553,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00644.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,0}</string>
                <key>spriteSize</key>
                <string>{571,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{560,1153},{571,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00645.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,0}</string>
                <key>spriteSize</key>
                <string>{591,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{1133,1155},{591,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00646.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{625,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{1726,1155},{625,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00647.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{661,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{2353,1218},{661,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00648.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,0}</string>
                <key>spriteSize</key>
                <string>{649,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{3016,1349},{649,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00649.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,0}</string>
                <key>spriteSize</key>
                <string>{631,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{1125,1541},{631,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00650.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,0}</string>
                <key>spriteSize</key>
                <string>{629,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{2343,1604},{629,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00651.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,0}</string>
                <key>spriteSize</key>
                <string>{625,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{2974,1735},{625,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00652.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,0}</string>
                <key>spriteSize</key>
                <string>{611,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{1,1925},{611,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00653.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,0}</string>
                <key>spriteSize</key>
                <string>{599,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{614,1927},{599,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00654.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,0}</string>
                <key>spriteSize</key>
                <string>{599,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{1215,1927},{599,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00655.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-50,0}</string>
                <key>spriteSize</key>
                <string>{583,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{1758,1541},{583,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00656.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,0}</string>
                <key>spriteSize</key>
                <string>{587,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{1816,1990},{587,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00657.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-55,0}</string>
                <key>spriteSize</key>
                <string>{557,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{1,1151},{557,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00658.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-59,0}</string>
                <key>spriteSize</key>
                <string>{565,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{558,1539},{565,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00659.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-56,0}</string>
                <key>spriteSize</key>
                <string>{571,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{3601,1894},{571,384}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>FREffect_00660.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,0}</string>
                <key>spriteSize</key>
                <string>{515,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{3706,446},{515,384}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>FREffect_00661.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,0}</string>
                <key>spriteSize</key>
                <string>{543,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{3667,1349},{543,384}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>FREffect_00662.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,0}</string>
                <key>spriteSize</key>
                <string>{555,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{1,1537},{555,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00663.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,0}</string>
                <key>spriteSize</key>
                <string>{579,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{2405,2121},{579,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00664.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,0}</string>
                <key>spriteSize</key>
                <string>{603,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{2986,2121},{603,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00665.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,3}</string>
                <key>spriteSize</key>
                <string>{627,378}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{1321,1},{627,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00666.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-2}</string>
                <key>spriteSize</key>
                <string>{629,378}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{1950,1},{629,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00667.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{653,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{1,2313},{653,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00668.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-2}</string>
                <key>spriteSize</key>
                <string>{667,380}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{2581,1},{667,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00669.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{677,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{656,2313},{677,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00670.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{663,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{1335,2376},{663,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00671.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,4}</string>
                <key>spriteSize</key>
                <string>{679,376}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{640,1},{679,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00672.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-6}</string>
                <key>spriteSize</key>
                <string>{637,364}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{1,1},{637,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>FREffect.png</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da0c9eb1ea1aafef5631107672fd5307:d91600b1acd00b510f2b51f028b50c52:b847fd71fe39b91c073d3d285bc25305$</string>
            <key>textureFileName</key>
            <string>FREffect.png</string>
        </dict>
    </dict>
</plist>
