<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{97,54}</string>
                <key>spriteSourceSize</key>
                <string>{101,56}</string>
                <key>textureRect</key>
                <string>{{656,218},{97,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BackChinese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{43,24}</string>
                <key>spriteSourceSize</key>
                <string>{45,24}</string>
                <key>textureRect</key>
                <string>{{579,336},{43,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BackDW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{98,53}</string>
                <key>spriteSourceSize</key>
                <string>{100,55}</string>
                <key>textureRect</key>
                <string>{{656,163},{98,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,69}</string>
                <key>spriteSourceSize</key>
                <string>{513,69}</string>
                <key>textureRect</key>
                <string>{{451,62},{513,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ChangeSitDW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,30}</string>
                <key>spriteSourceSize</key>
                <string>{111,30}</string>
                <key>textureRect</key>
                <string>{{656,99},{111,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ChangeSitUP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,30}</string>
                <key>spriteSourceSize</key>
                <string>{111,30}</string>
                <key>textureRect</key>
                <string>{{656,131},{111,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CoinIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,17}</string>
                <key>spriteSourceSize</key>
                <string>{25,17}</string>
                <key>textureRect</key>
                <string>{{558,355},{25,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DeckCoins.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,13}</string>
                <key>spriteSourceSize</key>
                <string>{25,13}</string>
                <key>textureRect</key>
                <string>{{756,163},{25,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LockOnBtm_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{130,45}</string>
                <key>spriteSourceSize</key>
                <string>{134,45}</string>
                <key>textureRect</key>
                <string>{{511,577},{130,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LockOnBtm_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{130,45}</string>
                <key>spriteSourceSize</key>
                <string>{134,45}</string>
                <key>textureRect</key>
                <string>{{511,577},{130,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LockOnBtm_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{130,45}</string>
                <key>spriteSourceSize</key>
                <string>{134,45}</string>
                <key>textureRect</key>
                <string>{{511,577},{130,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LockOnBtm_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{130,45}</string>
                <key>spriteSourceSize</key>
                <string>{134,45}</string>
                <key>textureRect</key>
                <string>{{511,577},{130,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LockOnBtm_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{130,45}</string>
                <key>spriteSourceSize</key>
                <string>{134,45}</string>
                <key>textureRect</key>
                <string>{{511,577},{130,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LockOnBtm_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{130,45}</string>
                <key>spriteSourceSize</key>
                <string>{134,45}</string>
                <key>textureRect</key>
                <string>{{511,577},{130,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LockOnBtm_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{130,45}</string>
                <key>spriteSourceSize</key>
                <string>{134,45}</string>
                <key>textureRect</key>
                <string>{{579,289},{130,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LockOnBtm_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,45}</string>
                <key>spriteSourceSize</key>
                <string>{134,45}</string>
                <key>textureRect</key>
                <string>{{526,1},{134,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LockOnBtm_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,45}</string>
                <key>spriteSourceSize</key>
                <string>{134,45}</string>
                <key>textureRect</key>
                <string>{{526,48},{134,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LockOnBtm_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,45}</string>
                <key>spriteSourceSize</key>
                <string>{134,45}</string>
                <key>textureRect</key>
                <string>{{315,62},{134,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LockOnBtm_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,45}</string>
                <key>spriteSourceSize</key>
                <string>{134,45}</string>
                <key>textureRect</key>
                <string>{{315,109},{134,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LockOnBtm_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,45}</string>
                <key>spriteSourceSize</key>
                <string>{134,45}</string>
                <key>textureRect</key>
                <string>{{315,156},{134,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LockOnBtm_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,45}</string>
                <key>spriteSourceSize</key>
                <string>{134,45}</string>
                <key>textureRect</key>
                <string>{{315,203},{134,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LockOnBtm_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,45}</string>
                <key>spriteSourceSize</key>
                <string>{134,45}</string>
                <key>textureRect</key>
                <string>{{315,250},{134,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LockOnBtm_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,45}</string>
                <key>spriteSourceSize</key>
                <string>{134,45}</string>
                <key>textureRect</key>
                <string>{{315,297},{134,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LockOnIcon_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,96}</string>
                <key>spriteSourceSize</key>
                <string>{104,96}</string>
                <key>textureRect</key>
                <string>{{662,1},{104,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LockOnSide_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{47,130}</string>
                <key>spriteSourceSize</key>
                <string>{47,132}</string>
                <key>textureRect</key>
                <string>{{522,240},{47,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LockOnSide_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{47,130}</string>
                <key>spriteSourceSize</key>
                <string>{47,132}</string>
                <key>textureRect</key>
                <string>{{315,589},{47,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LockOnSide_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{47,130}</string>
                <key>spriteSourceSize</key>
                <string>{47,132}</string>
                <key>textureRect</key>
                <string>{{315,721},{47,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LockOnSide_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{47,130}</string>
                <key>spriteSourceSize</key>
                <string>{47,132}</string>
                <key>textureRect</key>
                <string>{{364,589},{47,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LockOnSide_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{47,130}</string>
                <key>spriteSourceSize</key>
                <string>{47,132}</string>
                <key>textureRect</key>
                <string>{{413,589},{47,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LockOnSide_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{47,130}</string>
                <key>spriteSourceSize</key>
                <string>{47,132}</string>
                <key>textureRect</key>
                <string>{{447,721},{47,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LockOnSide_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{47,130}</string>
                <key>spriteSourceSize</key>
                <string>{47,132}</string>
                <key>textureRect</key>
                <string>{{462,577},{47,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LockOnSide_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,132}</string>
                <key>spriteSourceSize</key>
                <string>{47,132}</string>
                <key>textureRect</key>
                <string>{{522,193},{45,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LockOnSide_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,132}</string>
                <key>spriteSourceSize</key>
                <string>{47,132}</string>
                <key>textureRect</key>
                <string>{{315,344},{47,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LockOnSide_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,132}</string>
                <key>spriteSourceSize</key>
                <string>{47,132}</string>
                <key>textureRect</key>
                <string>{{315,393},{47,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LockOnSide_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,132}</string>
                <key>spriteSourceSize</key>
                <string>{47,132}</string>
                <key>textureRect</key>
                <string>{{315,442},{47,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LockOnSide_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,132}</string>
                <key>spriteSourceSize</key>
                <string>{47,132}</string>
                <key>textureRect</key>
                <string>{{315,491},{47,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LockOnSide_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,132}</string>
                <key>spriteSourceSize</key>
                <string>{47,132}</string>
                <key>textureRect</key>
                <string>{{315,540},{47,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LockOnSide_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,132}</string>
                <key>spriteSourceSize</key>
                <string>{47,132}</string>
                <key>textureRect</key>
                <string>{{522,95},{47,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LockOnSide_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,132}</string>
                <key>spriteSourceSize</key>
                <string>{47,132}</string>
                <key>textureRect</key>
                <string>{{522,144},{47,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,31}</string>
                <key>spriteSourceSize</key>
                <string>{54,31}</string>
                <key>textureRect</key>
                <string>{{522,289},{54,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MinusDw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,31}</string>
                <key>spriteSourceSize</key>
                <string>{54,31}</string>
                <key>textureRect</key>
                <string>{{522,322},{54,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PlayerIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,26}</string>
                <key>spriteSourceSize</key>
                <string>{33,26}</string>
                <key>textureRect</key>
                <string>{{522,355},{33,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PlayerIcon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,26}</string>
                <key>spriteSourceSize</key>
                <string>{33,26}</string>
                <key>textureRect</key>
                <string>{{624,336},{33,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PlusDw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,31}</string>
                <key>spriteSourceSize</key>
                <string>{54,31}</string>
                <key>textureRect</key>
                <string>{{711,274},{54,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YouAreHere.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,59}</string>
                <key>spriteSourceSize</key>
                <string>{209,59}</string>
                <key>textureRect</key>
                <string>{{315,1},{209,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,31}</string>
                <key>spriteSourceSize</key>
                <string>{54,31}</string>
                <key>textureRect</key>
                <string>{{711,307},{54,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{312,768}</string>
                <key>spriteSourceSize</key>
                <string>{314,768}</string>
                <key>textureRect</key>
                <string>{{1,1},{312,768}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GameUI.png</string>
            <key>size</key>
            <string>{770,770}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:814e5c70e3bb3e25a688e96f419c491d:033e27274c2ec3a6e7bf6dcd7bfa3287:2531ce2a050ca5e2ac51e04161e77adb$</string>
            <key>textureFileName</key>
            <string>GameUI.png</string>
        </dict>
    </dict>
</plist>
