<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GJellyFishNameChinese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{58,27}</string>
                <key>spriteSourceSize</key>
                <string>{90,27}</string>
                <key>textureRect</key>
                <string>{{365,1208},{58,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GLantern2NameChinese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,27}</string>
                <key>spriteSourceSize</key>
                <string>{90,27}</string>
                <key>textureRect</key>
                <string>{{333,1013},{84,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GLionFish2NameChinese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,27}</string>
                <key>spriteSourceSize</key>
                <string>{90,27}</string>
                <key>textureRect</key>
                <string>{{515,243},{86,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GMarlins2NameChinese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{56,27}</string>
                <key>spriteSourceSize</key>
                <string>{90,27}</string>
                <key>textureRect</key>
                <string>{{515,1003},{56,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMermaidNameChinese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{84,27}</string>
                <key>spriteSourceSize</key>
                <string>{90,27}</string>
                <key>textureRect</key>
                <string>{{365,1122},{84,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GOctopusNameChinese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{56,27}</string>
                <key>spriteSourceSize</key>
                <string>{90,27}</string>
                <key>textureRect</key>
                <string>{{573,1003},{56,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GPaddleFish2NameChinese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{84,27}</string>
                <key>spriteSourceSize</key>
                <string>{90,27}</string>
                <key>textureRect</key>
                <string>{{394,1122},{84,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GRay2NameChinese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,27}</string>
                <key>spriteSourceSize</key>
                <string>{90,27}</string>
                <key>textureRect</key>
                <string>{{423,1122},{84,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GShark2NameChinese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{56,27}</string>
                <key>spriteSourceSize</key>
                <string>{90,27}</string>
                <key>textureRect</key>
                <string>{{631,1003},{56,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GTurtle2NameChinese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{56,27}</string>
                <key>spriteSourceSize</key>
                <string>{90,27}</string>
                <key>textureRect</key>
                <string>{{443,1017},{56,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JellyFishNameChinese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{58,27}</string>
                <key>spriteSourceSize</key>
                <string>{90,27}</string>
                <key>textureRect</key>
                <string>{{365,1208},{58,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lantern2NameChinese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,27}</string>
                <key>spriteSourceSize</key>
                <string>{90,27}</string>
                <key>textureRect</key>
                <string>{{333,1013},{84,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LionFish2NameChinese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,27}</string>
                <key>spriteSourceSize</key>
                <string>{90,27}</string>
                <key>textureRect</key>
                <string>{{515,243},{86,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Marlins2NameChinese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{56,27}</string>
                <key>spriteSourceSize</key>
                <string>{90,27}</string>
                <key>textureRect</key>
                <string>{{515,1003},{56,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MermaidNameChinese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{84,27}</string>
                <key>spriteSourceSize</key>
                <string>{90,27}</string>
                <key>textureRect</key>
                <string>{{365,1122},{84,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OctopusNameChinese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{56,27}</string>
                <key>spriteSourceSize</key>
                <string>{90,27}</string>
                <key>textureRect</key>
                <string>{{573,1003},{56,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PaddleFish2NameChinese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{84,27}</string>
                <key>spriteSourceSize</key>
                <string>{90,27}</string>
                <key>textureRect</key>
                <string>{{394,1122},{84,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ray2NameChinese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,27}</string>
                <key>spriteSourceSize</key>
                <string>{90,27}</string>
                <key>textureRect</key>
                <string>{{423,1122},{84,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>RewardmedalBase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{202,202}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{149,1},{202,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RewardmedalShine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,341}</string>
                <key>spriteSourceSize</key>
                <string>{146,341}</string>
                <key>textureRect</key>
                <string>{{1,1},{146,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RewardmedalTop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{216,72}</string>
                <key>spriteSourceSize</key>
                <string>{222,76}</string>
                <key>textureRect</key>
                <string>{{353,169},{216,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-28}</string>
                <key>spriteSize</key>
                <string>{100,84}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{429,915},{100,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Rewardmedal_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-14}</string>
                <key>spriteSize</key>
                <string>{152,128}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{935,169},{152,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Rewardmedal_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{178,156}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1081,1},{178,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Rewardmedal_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{180,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,344},{180,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Rewardmedal_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{180,166}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{353,1},{180,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{180,166}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{535,1},{180,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{180,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,526},{180,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Rewardmedal_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{180,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,708},{180,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Rewardmedal_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{180,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,890},{180,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Rewardmedal_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{180,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,1072},{180,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{180,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{167,333},{180,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Rewardmedal_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{180,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{167,515},{180,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Rewardmedal_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{180,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{167,697},{180,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Rewardmedal_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{180,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{167,879},{180,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Rewardmedal_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{180,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{571,169},{180,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{180,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{753,169},{180,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{180,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{515,671},{180,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{180,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{697,503},{180,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{180,166}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{717,1},{180,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{180,166}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{899,1},{180,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{180,166}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{183,1061},{180,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{180,166}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1065,181},{180,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Rewardmedal_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{180,166}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{333,243},{180,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{180,166}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{333,411},{180,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{180,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{697,669},{180,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{180,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{515,837},{180,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{180,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{697,835},{180,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{180,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{879,335},{180,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Rewardmedal_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{180,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{879,517},{180,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Rewardmedal_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{180,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{879,699},{180,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Rewardmedal_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{180,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1045,363},{180,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{180,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1045,529},{180,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{180,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1045,695},{180,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{180,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{879,881},{180,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{180,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1061,861},{180,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Rewardmedal_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{180,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{697,1001},{180,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{180,166}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{333,579},{180,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{180,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{879,1047},{180,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{180,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1061,1043},{180,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Rewardmedal_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{180,166}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{333,747},{180,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{180,166}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{515,335},{180,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{180,166}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{515,503},{180,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{180,166}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{697,335},{180,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{180,166}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{333,243},{180,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{180,126}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{149,205},{180,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-22}</string>
                <key>spriteSize</key>
                <string>{94,96}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{333,915},{94,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-30}</string>
                <key>spriteSize</key>
                <string>{76,78}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{365,1042},{76,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shark2NameChinese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{56,27}</string>
                <key>spriteSourceSize</key>
                <string>{90,27}</string>
                <key>textureRect</key>
                <string>{{631,1003},{56,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Turtle2NameChinese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{56,27}</string>
                <key>spriteSourceSize</key>
                <string>{90,27}</string>
                <key>textureRect</key>
                <string>{{443,1017},{56,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Rewardmedal.png</string>
            <key>size</key>
            <string>{1238,1238}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d790d14924124d151945b26dcacdd368:6b7e55cb3196acab7c948eff8ebf0f0f:d78ffb308dcc167eeb3381fa1a88437d$</string>
            <key>textureFileName</key>
            <string>Rewardmedal.png</string>
        </dict>
    </dict>
</plist>
