<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Chelonian_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,0}</string>
                <key>spriteSize</key>
                <string>{200,138}</string>
                <key>spriteSourceSize</key>
                <string>{250,252}</string>
                <key>textureRect</key>
                <string>{{1,605},{200,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chelonian_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,0}</string>
                <key>spriteSize</key>
                <string>{202,154}</string>
                <key>spriteSourceSize</key>
                <string>{250,252}</string>
                <key>textureRect</key>
                <string>{{209,577},{202,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chelonian_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,0}</string>
                <key>spriteSize</key>
                <string>{206,192}</string>
                <key>spriteSourceSize</key>
                <string>{250,252}</string>
                <key>textureRect</key>
                <string>{{1,411},{206,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chelonian_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,0}</string>
                <key>spriteSize</key>
                <string>{206,232}</string>
                <key>spriteSourceSize</key>
                <string>{250,252}</string>
                <key>textureRect</key>
                <string>{{233,1},{206,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Chelonian_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,0}</string>
                <key>spriteSize</key>
                <string>{208,230}</string>
                <key>spriteSourceSize</key>
                <string>{250,252}</string>
                <key>textureRect</key>
                <string>{{1,1},{208,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Chelonian_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{238,158}</string>
                <key>spriteSourceSize</key>
                <string>{250,252}</string>
                <key>textureRect</key>
                <string>{{209,417},{238,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chelonian_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,0}</string>
                <key>spriteSize</key>
                <string>{206,232}</string>
                <key>spriteSourceSize</key>
                <string>{250,252}</string>
                <key>textureRect</key>
                <string>{{233,209},{206,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Chelonian_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,0}</string>
                <key>spriteSize</key>
                <string>{202,198}</string>
                <key>spriteSourceSize</key>
                <string>{250,252}</string>
                <key>textureRect</key>
                <string>{{1,211},{202,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Chelonian.png</string>
            <key>size</key>
            <string>{466,744}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:989f6507e0cd20e9bdaae70f1d070b14:6baaf946058194be6f8d84baa331d4d5:4842b6f25db40e218a1c56ca79b94ca8$</string>
            <key>textureFileName</key>
            <string>Chelonian.png</string>
        </dict>
    </dict>
</plist>
