<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ray_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,188}</string>
                <key>spriteSourceSize</key>
                <string>{398,188}</string>
                <key>textureRect</key>
                <string>{{463,1},{398,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ray_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{412,210}</string>
                <key>spriteSourceSize</key>
                <string>{412,210}</string>
                <key>textureRect</key>
                <string>{{443,375},{412,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ray_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{426,224}</string>
                <key>spriteSourceSize</key>
                <string>{426,224}</string>
                <key>textureRect</key>
                <string>{{437,791},{426,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ray_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,238}</string>
                <key>spriteSourceSize</key>
                <string>{432,238}</string>
                <key>textureRect</key>
                <string>{{1,1027},{432,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ray_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,250}</string>
                <key>spriteSourceSize</key>
                <string>{440,250}</string>
                <key>textureRect</key>
                <string>{{1,283},{440,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ray_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,280}</string>
                <key>spriteSourceSize</key>
                <string>{460,280}</string>
                <key>textureRect</key>
                <string>{{1,1},{460,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ray_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,250}</string>
                <key>spriteSourceSize</key>
                <string>{440,250}</string>
                <key>textureRect</key>
                <string>{{1,535},{440,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ray_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{434,238}</string>
                <key>spriteSourceSize</key>
                <string>{434,238}</string>
                <key>textureRect</key>
                <string>{{1,787},{434,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ray_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{426,222}</string>
                <key>spriteSourceSize</key>
                <string>{426,222}</string>
                <key>textureRect</key>
                <string>{{437,1017},{426,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ray_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,202}</string>
                <key>spriteSourceSize</key>
                <string>{410,202}</string>
                <key>textureRect</key>
                <string>{{443,587},{410,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ray_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,182}</string>
                <key>spriteSourceSize</key>
                <string>{398,182}</string>
                <key>textureRect</key>
                <string>{{463,191},{398,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Ray.png</string>
            <key>size</key>
            <string>{864,1266}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e491559c6c8eb6463a328f61bd0921e:d54c959e560b8a57e4f59133cd53453e:bcd7ac130a47077cee34e08333822b40$</string>
            <key>textureFileName</key>
            <string>Ray.png</string>
        </dict>
    </dict>
</plist>
