<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Squid_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,119}</string>
                <key>spriteSourceSize</key>
                <string>{255,125}</string>
                <key>textureRect</key>
                <string>{{324,1},{255,119}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3 5 6 7 4 5 7 21 22 23 15 23 24 17 23 15 17 20 21 18 19 20 17 18 20 17 21 23 15 16 17 26 27 24 15 24 27 12 29 30 13 28 29 8 9 10 30 10 11 25 8 32 31 32 8 30 8 10 30 31 8 12 30 11 29 12 13 27 28 13 27 13 14 15 27 14 26 24 25 25 32 26 34 35 36 33 34 36 38 39 40 37 38 40</string>
                <key>vertices</key>
                <string>62 122 59 122 59 119 62 119 42 109 39 109 39 106 42 106 210 31 248 33 248 51 255 79 246 88 173 99 122 102 106 92 14 106 20 94 0 71 0 59 5 48 22 35 15 20 79 29 108 30 123 17 151 43 150 78 173 81 207 75 219 66 201 50 172 43 42 19 39 19 39 16 42 16 62 6 59 6 59 3 62 3</string>
                <key>verticesUV</key>
                <string>386 120 383 120 383 117 386 117 366 107 363 107 363 104 366 104 534 29 572 31 572 49 579 77 570 86 497 97 446 100 430 90 338 104 344 92 324 69 324 57 329 46 346 33 339 18 403 27 432 28 447 15 475 41 474 76 497 79 531 73 543 64 525 48 496 41 366 17 363 17 363 14 366 14 386 4 383 4 383 1 386 1</string>
            </dict>
            <key>Squid_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,0}</string>
                <key>spriteSize</key>
                <string>{227,91}</string>
                <key>spriteSourceSize</key>
                <string>{255,125}</string>
                <key>textureRect</key>
                <string>{{769,1},{227,91}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>17 18 19 16 17 19 0 15 19 15 16 19 9 13 14 10 11 12 10 12 13 9 10 13 9 14 15 8 9 15 0 8 15 8 0 1 6 3 4 6 4 5 3 6 7 2 3 7 8 2 7 8 1 2 0 19 20</string>
                <key>vertices</key>
                <string>109 33 121 21 143 21 183 31 213 21 226 52 202 53 180 48 143 51 146 74 186 72 227 67 214 101 188 94 117 108 105 93 26 103 0 68 0 57 17 39 28 17</string>
                <key>verticesUV</key>
                <string>878 17 890 5 912 5 952 15 982 5 995 36 971 37 949 32 912 35 915 58 955 56 996 51 983 85 957 78 886 92 874 77 795 87 769 52 769 41 786 23 797 1</string>
            </dict>
            <key>Squid_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34.5,-4.5}</string>
                <key>spriteSize</key>
                <string>{186,116}</string>
                <key>spriteSourceSize</key>
                <string>{255,125}</string>
                <key>textureRect</key>
                <string>{{581,1},{186,116}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>13 14 15 10 11 12 9 10 12 12 6 7 6 13 15 8 9 12 8 12 7 12 13 6 4 6 15 4 2 3 4 5 6 4 15 2 1 2 15 0 1 15 0 15 16</string>
                <key>vertices</key>
                <string>171 10 186 20 186 107 162 125 141 104 130 117 99 94 25 101 0 68 0 58 29 20 48 21 49 24 101 30 125 14 147 28 153 9</string>
                <key>verticesUV</key>
                <string>752 2 767 12 767 99 743 117 722 96 711 109 680 86 606 93 581 60 581 50 610 12 629 13 630 16 682 22 706 6 728 20 734 1</string>
            </dict>
            <key>Squid_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,0.5}</string>
                <key>spriteSize</key>
                <string>{161,124}</string>
                <key>spriteSourceSize</key>
                <string>{255,125}</string>
                <key>textureRect</key>
                <string>{{1,1},{161,124}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 13 14 1 12 13 6 10 11 9 7 8 9 10 7 5 1 3 6 7 10 6 11 1 6 1 5 5 3 4 1 2 3 1 11 12 0 1 14</string>
                <key>vertices</key>
                <string>161 32 146 61 160 82 147 108 125 124 113 122 76 95 27 95 0 68 0 58 30 28 79 28 92 12 113 0 134 0</string>
                <key>verticesUV</key>
                <string>162 33 147 62 161 83 148 109 126 125 114 123 77 96 28 96 1 69 1 59 31 29 80 29 93 13 114 1 135 1</string>
            </dict>
            <key>Squid_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48.5,1}</string>
                <key>spriteSize</key>
                <string>{158,123}</string>
                <key>spriteSourceSize</key>
                <string>{255,125}</string>
                <key>textureRect</key>
                <string>{{164,1},{158,123}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>13 16 17 14 15 16 13 14 16 2 17 18 13 7 10 12 10 11 12 13 10 13 17 7 9 10 7 9 7 8 2 7 17 3 4 5 2 5 6 2 3 5 2 6 7 0 1 2 0 2 18</string>
                <key>vertices</key>
                <string>145 16 158 45 144 60 152 76 152 99 139 112 102 123 66 111 57 121 39 123 23 91 0 68 0 57 32 30 31 15 40 2 48 1 71 9 114 0</string>
                <key>verticesUV</key>
                <string>309 17 322 46 308 61 316 77 316 100 303 113 266 124 230 112 221 122 203 124 187 92 164 69 164 58 196 31 195 16 204 3 212 2 235 10 278 1</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Squid.png</string>
            <key>size</key>
            <string>{997,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e594d5471113250aac36132bc02ac88:4655d689b614f89b35f2825d4d58503e:c3868ea6e23cb52161dc9d1dcd27aae5$</string>
            <key>textureFileName</key>
            <string>Squid.png</string>
        </dict>
    </dict>
</plist>
