<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Turtle_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,138}</string>
                <key>spriteSourceSize</key>
                <string>{200,138}</string>
                <key>textureRect</key>
                <string>{{1,623},{200,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Turtle_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,154}</string>
                <key>spriteSourceSize</key>
                <string>{202,154}</string>
                <key>textureRect</key>
                <string>{{1,467},{202,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Turtle_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,192}</string>
                <key>spriteSourceSize</key>
                <string>{206,192}</string>
                <key>textureRect</key>
                <string>{{209,435},{206,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Turtle_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,232}</string>
                <key>spriteSourceSize</key>
                <string>{206,232}</string>
                <key>textureRect</key>
                <string>{{211,1},{206,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Turtle_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,230}</string>
                <key>spriteSourceSize</key>
                <string>{208,230}</string>
                <key>textureRect</key>
                <string>{{1,1},{208,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Turtle_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,158}</string>
                <key>spriteSourceSize</key>
                <string>{238,158}</string>
                <key>textureRect</key>
                <string>{{203,629},{238,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Turtle_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,232}</string>
                <key>spriteSourceSize</key>
                <string>{206,232}</string>
                <key>textureRect</key>
                <string>{{1,233},{206,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Turtle_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,198}</string>
                <key>spriteSourceSize</key>
                <string>{202,198}</string>
                <key>textureRect</key>
                <string>{{209,235},{202,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Turtle.png</string>
            <key>size</key>
            <string>{442,788}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca9b07075b722a37bc8c0598b70d5dae:6baaf946058194be6f8d84baa331d4d5:4301d10ea4bd16d85b15966841a7ebce$</string>
            <key>textureFileName</key>
            <string>Turtle.png</string>
        </dict>
    </dict>
</plist>
