<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Exit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,56}</string>
                <key>spriteSourceSize</key>
                <string>{57,56}</string>
                <key>textureRect</key>
                <string>{{287,1},{57,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fishes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,56}</string>
                <key>spriteSourceSize</key>
                <string>{57,56}</string>
                <key>textureRect</key>
                <string>{{287,59},{57,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,56}</string>
                <key>spriteSourceSize</key>
                <string>{57,56}</string>
                <key>textureRect</key>
                <string>{{345,59},{57,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SideMenu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{137,284}</string>
                <key>spriteSourceSize</key>
                <string>{137,286}</string>
                <key>textureRect</key>
                <string>{{1,1},{137,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Options Menu.png</string>
            <key>size</key>
            <string>{402,139}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb6b76f880a5d8db291c95166e9544fb:516ee417917d9f2e7a015fcdfbefefd3:4209396712f88d0635f3f3ee20ca3042$</string>
            <key>textureFileName</key>
            <string>Options Menu.png</string>
        </dict>
    </dict>
</plist>
