<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Setting BG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{668,395}</string>
                <key>spriteSourceSize</key>
                <string>{670,395}</string>
                <key>textureRect</key>
                <string>{{1,87},{668,395}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Setting Bar Empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,41}</string>
                <key>spriteSourceSize</key>
                <string>{315,41}</string>
                <key>textureRect</key>
                <string>{{1,1},{315,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Setting Bar Full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,41}</string>
                <key>spriteSourceSize</key>
                <string>{315,41}</string>
                <key>textureRect</key>
                <string>{{1,44},{315,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Setting Slider Button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,55}</string>
                <key>spriteSourceSize</key>
                <string>{65,55}</string>
                <key>textureRect</key>
                <string>{{318,1},{65,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Setting.png</string>
            <key>size</key>
            <string>{397,756}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6734d554b569405df13d393fefb3c3da:cfe8bca73ebd24d489bbeca98a22ccb7:5a08a6c663804ce26081699a96476fa2$</string>
            <key>textureFileName</key>
            <string>Setting.png</string>
        </dict>
    </dict>
</plist>
