<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Setting BG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,395}</string>
                <key>spriteSourceSize</key>
                <string>{670,395}</string>
                <key>textureRect</key>
                <string>{{1,87},{670,395}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Setting Bar Empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,41}</string>
                <key>spriteSourceSize</key>
                <string>{315,41}</string>
                <key>textureRect</key>
                <string>{{1,1},{315,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Setting Bar Full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,41}</string>
                <key>spriteSourceSize</key>
                <string>{315,41}</string>
                <key>textureRect</key>
                <string>{{1,44},{315,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Setting Slider Button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,55}</string>
                <key>spriteSourceSize</key>
                <string>{65,55}</string>
                <key>textureRect</key>
                <string>{{318,1},{65,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SettingUI.png</string>
            <key>size</key>
            <string>{397,758}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9300a707c0da0e433ae4d9ad780a10cb:5e843af625ddcb0d2c27ad1ceafcfef3:8d0797fbfa748d92714a13569548099a$</string>
            <key>textureFileName</key>
            <string>SettingUI.png</string>
        </dict>
    </dict>
</plist>
