<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Setting-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,395}</string>
                <key>spriteSourceSize</key>
                <string>{670,395}</string>
                <key>textureRect</key>
                <string>{{1,1},{670,395}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Setting-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{356,44}</string>
                <key>spriteSourceSize</key>
                <string>{358,48}</string>
                <key>textureRect</key>
                <string>{{673,1},{356,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Setting-23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{356,44}</string>
                <key>spriteSourceSize</key>
                <string>{356,44}</string>
                <key>textureRect</key>
                <string>{{719,1},{356,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Setting-24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,55}</string>
                <key>spriteSourceSize</key>
                <string>{65,55}</string>
                <key>textureRect</key>
                <string>{{673,359},{65,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>settings.png</string>
            <key>size</key>
            <string>{764,415}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f21c167091ad3128a29e860e87ee2f0:d4a2b5f34c8c78cec3ff6df9e7e03952:b272f908d41fd8e3cdf1bdfb80736dbb$</string>
            <key>textureFileName</key>
            <string>settings.png</string>
        </dict>
    </dict>
</plist>
