<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100XChinese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,27}</string>
                <key>spriteSourceSize</key>
                <string>{89,27}</string>
                <key>textureRect</key>
                <string>{{1685,593},{89,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>100XTop_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{345,294}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1,1},{345,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100XTop_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{345,294}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{348,1},{345,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100XTop_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{345,294}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{695,1},{345,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100XTop_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{345,294}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1042,1},{345,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100XTop_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{345,294}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1389,1},{345,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100XTop_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{345,294}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1736,1},{345,294}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>100XTop_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{345,294}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1,297},{345,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100XTop_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{345,294}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{348,297},{345,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100XTop_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{345,294}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{695,297},{345,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100XTop_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{345,294}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1042,297},{345,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100XTop_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{345,294}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1389,297},{345,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100XTop_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{345,294}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1736,348},{345,294}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>100XTop_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{345,294}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1,593},{345,294}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>100XTop_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{345,294}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{297,593},{345,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100XTop_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{345,294}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{644,593},{345,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100XTop_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{345,294}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{991,593},{345,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100XTop_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{345,294}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1338,593},{345,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100XTop_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{345,294}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1685,695},{345,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100XTop_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{345,294}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{297,889},{345,294}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>100XTop_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{345,294}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1,940},{345,294}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>100XTop_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{345,294}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{593,889},{345,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100XTop_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{345,294}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{940,889},{345,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100XTop_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{345,294}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1287,889},{345,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100XTop_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{345,294}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1634,991},{345,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100XTop_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{345,294}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{593,1185},{345,294}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>100XTop_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{345,294}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{297,1236},{345,294}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>100XTop_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{345,294}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1,1287},{345,294}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>100XTop_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{345,294}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{889,1185},{345,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100XTop_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{345,294}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1236,1185},{345,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100XTop_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{345,294}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1583,1287},{345,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>100X.png</string>
            <key>size</key>
            <string>{2031,1633}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa698bef4afefa7c8db1ad9ce73ea575:f2efb7da513ced78aa543a4cbef2259b:a446080816e2ddcd95591f6471673d6a$</string>
            <key>textureFileName</key>
            <string>100X.png</string>
        </dict>
    </dict>
</plist>
