<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100XBase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{646,579}</string>
                <key>spriteSourceSize</key>
                <string>{646,579}</string>
                <key>textureRect</key>
                <string>{{1,1},{646,579}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100XChinese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{92,29}</string>
                <key>spriteSourceSize</key>
                <string>{96,31}</string>
                <key>textureRect</key>
                <string>{{1120,296},{92,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100XMid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,118}</string>
                <key>spriteSourceSize</key>
                <string>{293,118}</string>
                <key>textureRect</key>
                <string>{{1120,1},{293,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>100XTop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,26}</string>
                <key>spriteSize</key>
                <string>{489,469}</string>
                <key>spriteSourceSize</key>
                <string>{621,665}</string>
                <key>textureRect</key>
                <string>{{649,1},{489,469}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>100X.png</string>
            <key>size</key>
            <string>{1239,581}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb8c4c2871b0bf5ecf2fa7c2c39d6616:4f13b0516b45a007b4e889fc6a29b42e:a446080816e2ddcd95591f6471673d6a$</string>
            <key>textureFileName</key>
            <string>100X.png</string>
        </dict>
    </dict>
</plist>
