<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100XChinese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,27}</string>
                <key>spriteSourceSize</key>
                <string>{89,27}</string>
                <key>textureRect</key>
                <string>{{1689,601},{89,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>100XTop_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1,1},{345,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100XTop_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{348,1},{345,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100XTop_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{695,1},{345,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100XTop_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1042,1},{345,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100XTop_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1389,1},{345,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100XTop_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1736,1},{345,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>100XTop_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1,301},{345,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100XTop_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{348,301},{345,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100XTop_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{695,301},{345,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100XTop_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1042,301},{345,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100XTop_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1389,301},{345,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100XTop_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1736,348},{345,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>100XTop_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1,601},{345,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>100XTop_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{301,601},{345,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100XTop_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{648,601},{345,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100XTop_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{995,601},{345,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100XTop_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1342,601},{345,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100XTop_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1689,695},{345,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100XTop_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{301,901},{345,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>100XTop_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1,948},{345,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>100XTop_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{601,901},{345,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100XTop_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{948,901},{345,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100XTop_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1295,901},{345,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100XTop_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1642,995},{345,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100XTop_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{601,1201},{345,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>100XTop_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{301,1248},{345,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>100XTop_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1,1295},{345,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>100XTop_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{901,1201},{345,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100XTop_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1248,1201},{345,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100XTop_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{345,298}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1595,1295},{345,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>100X.png</string>
            <key>size</key>
            <string>{2035,1641}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:248a4b8026ae076278faf375cbccfa64:93f666c97c2b5dfd7d8db5df27a5a540:a446080816e2ddcd95591f6471673d6a$</string>
            <key>textureFileName</key>
            <string>100X.png</string>
        </dict>
    </dict>
</plist>
