<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10XChinese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,27}</string>
                <key>spriteSourceSize</key>
                <string>{75,27}</string>
                <key>textureRect</key>
                <string>{{2430,1},{75,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1,1},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{348,1},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{695,1},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1042,1},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1389,1},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1736,1},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{2083,1},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1,299},{345,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10XTop_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1,646},{345,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10XTop_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1,993},{345,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10XTop_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1,1340},{345,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10XTop_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1,1687},{345,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10XTop_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1,2034},{345,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10XTop_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{299,299},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{646,299},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{993,299},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1340,299},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1687,299},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{2034,299},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{299,597},{345,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10XTop_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{299,944},{345,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10XTop_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{299,1291},{345,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10XTop_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{299,1638},{345,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10XTop_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{299,1985},{345,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10XTop_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{299,2332},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{597,597},{345,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10XTop_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{597,944},{345,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10XTop_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{597,1291},{345,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10XTop_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{597,1638},{345,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10XTop_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{597,1985},{345,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10XTop_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{646,2332},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{993,597},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1340,597},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1687,597},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{2034,597},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{895,895},{345,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10XTop_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{895,1242},{345,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10XTop_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{895,1589},{345,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10XTop_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{895,1936},{345,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10XTop_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{993,2283},{345,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10XTop_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1291,895},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1638,895},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1985,895},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop_00043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{2332,895},{345,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10XTop_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1193,1242},{345,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10XTop_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1193,1589},{345,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10XTop_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1193,1936},{345,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10XTop_00047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1291,2283},{345,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10XTop_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1589,1193},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop_00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1936,1193},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop_00050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{2283,1242},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop_00051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1589,1491},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1936,1491},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop_00053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{2283,1540},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop_00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1491,1838},{345,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10XTop_00055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1589,2185},{345,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10XTop_00056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1789,1838},{345,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10XTop_00057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{1887,2185},{345,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10XTop_00058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{2087,1838},{345,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10XTop_00059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{345,296}</string>
                <key>spriteSourceSize</key>
                <string>{345,316}</string>
                <key>textureRect</key>
                <string>{{2185,2185},{345,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>10X.png</string>
            <key>size</key>
            <string>{2629,2629}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:988e90943c36b373d8f13ef833085e7d:d5a57fdcf59b7bb32248d529de9f8c82:bfe81efc994fa928f8a8842517ef7429$</string>
            <key>textureFileName</key>
            <string>10X.png</string>
        </dict>
    </dict>
</plist>
