<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10XBase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{646,579}</string>
                <key>spriteSourceSize</key>
                <string>{646,579}</string>
                <key>textureRect</key>
                <string>{{1,1},{646,579}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XChinese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{78,29}</string>
                <key>spriteSourceSize</key>
                <string>{96,31}</string>
                <key>textureRect</key>
                <string>{{944,472},{78,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10XMid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,107}</string>
                <key>spriteSourceSize</key>
                <string>{293,107}</string>
                <key>textureRect</key>
                <string>{{649,472},{293,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10XTop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,26}</string>
                <key>spriteSize</key>
                <string>{489,469}</string>
                <key>spriteSourceSize</key>
                <string>{621,665}</string>
                <key>textureRect</key>
                <string>{{649,1},{489,469}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>10X.png</string>
            <key>size</key>
            <string>{1139,581}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1de4a9483c69d1e162d7a60bbf2eb4cb:570d7895d133b3db1c7347586852a0ce:bfe81efc994fa928f8a8842517ef7429$</string>
            <key>textureFileName</key>
            <string>10X.png</string>
        </dict>
    </dict>
</plist>
