<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>JackpotBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,48}</string>
                <key>spriteSourceSize</key>
                <string>{238,48}</string>
                <key>textureRect</key>
                <string>{{1,193},{238,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JackpotBarFrame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,52}</string>
                <key>spriteSourceSize</key>
                <string>{255,52}</string>
                <key>textureRect</key>
                <string>{{281,185},{255,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JackpotChineseTitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,45}</string>
                <key>spriteSourceSize</key>
                <string>{166,45}</string>
                <key>textureRect</key>
                <string>{{551,177},{166,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JackpotDropShadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,190}</string>
                <key>spriteSourceSize</key>
                <string>{278,190}</string>
                <key>textureRect</key>
                <string>{{1,1},{278,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JackpotIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,182}</string>
                <key>spriteSourceSize</key>
                <string>{268,182}</string>
                <key>textureRect</key>
                <string>{{281,1},{268,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JackpotLigthray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,174}</string>
                <key>spriteSourceSize</key>
                <string>{208,174}</string>
                <key>textureRect</key>
                <string>{{551,1},{208,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Jackpot.png</string>
            <key>size</key>
            <string>{760,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ccbb3f7efe86d89f84433598e815569a:9a82700b5309d8aa0b753b8e39cadcee:8cec78be4de0ab7598c4003c942b161d$</string>
            <key>textureFileName</key>
            <string>Jackpot.png</string>
        </dict>
    </dict>
</plist>
