<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>JackpotBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,38}</string>
                <key>spriteSourceSize</key>
                <string>{190,38}</string>
                <key>textureRect</key>
                <string>{{217,155},{190,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>JackpotBarFrame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,42}</string>
                <key>spriteSourceSize</key>
                <string>{204,42}</string>
                <key>textureRect</key>
                <string>{{1,303},{204,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JackpotChineseTitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,36}</string>
                <key>spriteSourceSize</key>
                <string>{133,36}</string>
                <key>textureRect</key>
                <string>{{169,347},{133,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>JackpotDropShadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,152}</string>
                <key>spriteSourceSize</key>
                <string>{222,152}</string>
                <key>textureRect</key>
                <string>{{1,1},{222,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JackpotIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,146}</string>
                <key>spriteSourceSize</key>
                <string>{214,146}</string>
                <key>textureRect</key>
                <string>{{1,155},{214,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JackpotLigthray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,139}</string>
                <key>spriteSourceSize</key>
                <string>{166,139}</string>
                <key>textureRect</key>
                <string>{{1,347},{166,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Jackpot.png</string>
            <key>size</key>
            <string>{256,487}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a351e7f6eb11fa6ebf016bdfd74b57a5:d002a206d11cbb562ab0f509ecd77964:8cec78be4de0ab7598c4003c942b161d$</string>
            <key>textureFileName</key>
            <string>Jackpot.png</string>
        </dict>
    </dict>
</plist>
