<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>JPLobbylight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,0}</string>
                <key>spriteSize</key>
                <string>{720,450}</string>
                <key>spriteSourceSize</key>
                <string>{1366,450}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JPPOPBase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,133}</string>
                <key>spriteSourceSize</key>
                <string>{148,133}</string>
                <key>textureRect</key>
                <string>{{643,601},{148,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>JPPOPBlue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,36}</string>
                <key>spriteSourceSize</key>
                <string>{138,36}</string>
                <key>textureRect</key>
                <string>{{441,743},{138,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JPPOPFrame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,66}</string>
                <key>spriteSourceSize</key>
                <string>{126,66}</string>
                <key>textureRect</key>
                <string>{{643,453},{126,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>JPPOPGold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,47}</string>
                <key>spriteSourceSize</key>
                <string>{208,47}</string>
                <key>textureRect</key>
                <string>{{723,1},{208,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>JPPOPGreen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,36}</string>
                <key>spriteSourceSize</key>
                <string>{138,36}</string>
                <key>textureRect</key>
                <string>{{169,532},{138,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JPPOPSilver.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,44}</string>
                <key>spriteSourceSize</key>
                <string>{182,44}</string>
                <key>textureRect</key>
                <string>{{723,417},{182,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>JackpotBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,38}</string>
                <key>spriteSourceSize</key>
                <string>{190,38}</string>
                <key>textureRect</key>
                <string>{{169,453},{190,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JackpotBarFrame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,42}</string>
                <key>spriteSourceSize</key>
                <string>{204,42}</string>
                <key>textureRect</key>
                <string>{{723,211},{204,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>JackpotChineseTitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,36}</string>
                <key>spriteSourceSize</key>
                <string>{133,36}</string>
                <key>textureRect</key>
                <string>{{169,493},{133,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JackpotDropShadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,152}</string>
                <key>spriteSourceSize</key>
                <string>{222,152}</string>
                <key>textureRect</key>
                <string>{{1,601},{222,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JackpotIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,146}</string>
                <key>spriteSourceSize</key>
                <string>{214,146}</string>
                <key>textureRect</key>
                <string>{{225,601},{214,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JackpotLightray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,139}</string>
                <key>spriteSourceSize</key>
                <string>{166,139}</string>
                <key>textureRect</key>
                <string>{{1,453},{166,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lensflare1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,0}</string>
                <key>spriteSize</key>
                <string>{288,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{441,453},{288,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Lensflare2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{77,77}</string>
                <key>textureRect</key>
                <string>{{361,453},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lensflare3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{61,53}</string>
                <key>spriteSourceSize</key>
                <string>{65,75}</string>
                <key>textureRect</key>
                <string>{{309,532},{61,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Jackpot.png</string>
            <key>size</key>
            <string>{780,780}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da75770d73c98ee73220c6c44adab27e:3498f1d8dd6a2d0ebfa7a82f026daebd:8cec78be4de0ab7598c4003c942b161d$</string>
            <key>textureFileName</key>
            <string>Jackpot.png</string>
        </dict>
    </dict>
</plist>
