<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LeftGrass_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{114,200}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{203,1},{114,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{114,200}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{405,1},{114,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{114,200}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{607,1},{114,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{114,200}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{809,1},{114,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{114,200}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{1011,1},{114,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{114,200}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{1213,1},{114,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LeftGrass_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{114,200}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{1,115},{114,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{114,200}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{203,117},{114,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{116,200}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{203,233},{116,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{116,200}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{405,233},{116,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{116,200}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{607,233},{116,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{116,200}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{809,233},{116,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{118,200}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{405,351},{118,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{118,200}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{607,351},{118,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{118,200}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{809,351},{118,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{118,200}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{1011,351},{118,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{118,200}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{1,465},{118,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{118,200}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{203,469},{118,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,200}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{1005,831},{120,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,200}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{401,951},{120,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,200}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{603,951},{120,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,200}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{1005,953},{120,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,200}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{401,1073},{120,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,200}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{603,1073},{120,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,200}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{405,471},{118,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,200}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{1005,1075},{120,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,200}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{401,1195},{120,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,200}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{607,471},{118,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,200}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{603,1195},{120,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,200}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{1005,1197},{120,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,200}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{809,471},{118,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,200}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{1011,471},{118,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,200}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{1,585},{118,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,200}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{203,589},{118,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,200}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{405,591},{118,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,200}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{607,591},{118,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{118,198}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{809,591},{118,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{118,198}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{1009,591},{118,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{118,198}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{1209,591},{118,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LeftGrass_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{118,198}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{1,705},{118,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{118,198}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{201,709},{118,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{118,198}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{401,711},{118,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{118,198}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{601,711},{118,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{118,198}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{801,711},{118,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{120,198}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{1207,791},{120,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LeftGrass_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{120,198}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{1,945},{120,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{120,198}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{201,949},{120,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{120,198}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{805,951},{120,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{120,198}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{1,1067},{120,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{120,198}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{1207,991},{120,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LeftGrass_00051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{120,198}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{201,1071},{120,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{120,198}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{805,1073},{120,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{120,198}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{1,1189},{120,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{120,198}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{201,1193},{120,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{120,198}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{805,1195},{120,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{118,198}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{1001,711},{118,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{118,198}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{1,825},{118,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{118,198}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{201,829},{118,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{118,198}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{401,831},{118,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{118,200}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{601,831},{118,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{118,200}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{803,831},{118,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{116,200}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{1011,233},{116,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00063.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{116,200}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{1213,203},{116,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LeftGrass_00064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{116,200}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{1,347},{116,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00065.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{116,200}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{203,351},{116,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{114,200}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{405,117},{114,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00067.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{114,200}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{607,117},{114,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{114,200}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{809,117},{114,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00069.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{114,200}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{1011,117},{114,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftGrass_00070.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{114,200}</string>
                <key>spriteSourceSize</key>
                <string>{120,200}</string>
                <key>textureRect</key>
                <string>{{1,231},{114,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LeftGrass.png</string>
            <key>size</key>
            <string>{1330,1330}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5962618578a733c5dda452395ec4199f:0a6f36eeb27af373609904a7fc73978b:1120462ec511ddf5948bd524c6119a49$</string>
            <key>textureFileName</key>
            <string>LeftGrass.png</string>
        </dict>
    </dict>
</plist>
