<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bubble.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,67}</string>
                <key>spriteSourceSize</key>
                <string>{125,67}</string>
                <key>textureRect</key>
                <string>{{1,1233},{125,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CoinBase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,48}</string>
                <key>spriteSourceSize</key>
                <string>{237,48}</string>
                <key>textureRect</key>
                <string>{{235,1233},{237,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Crown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,42}</string>
                <key>spriteSourceSize</key>
                <string>{45,42}</string>
                <key>textureRect</key>
                <string>{{427,1283},{45,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>FishIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,114}</string>
                <key>spriteSourceSize</key>
                <string>{163,114}</string>
                <key>textureRect</key>
                <string>{{70,1233},{163,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameSelectionBase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,600}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{1,631},{750,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LobbyBG1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1366,628}</string>
                <key>spriteSourceSize</key>
                <string>{1366,628}</string>
                <key>textureRect</key>
                <string>{{1,1},{1366,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PlayerNameBase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,48}</string>
                <key>spriteSourceSize</key>
                <string>{190,48}</string>
                <key>textureRect</key>
                <string>{{235,1283},{190,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LobbyUI.png</string>
            <key>size</key>
            <string>{1368,1368}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f37465a8216afdcbd08c46fc526c6b3d:ed30ee384f0149cce55e41b267eb04f3:f5da007c8eb38d8c8fca0a4e0e07b9e9$</string>
            <key>textureFileName</key>
            <string>LobbyUI.png</string>
        </dict>
    </dict>
</plist>
