<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AnnouncementBox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{984,50}</string>
                <key>spriteSourceSize</key>
                <string>{984,50}</string>
                <key>textureRect</key>
                <string>{{1,376},{984,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>NotificationBackground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{618,49}</string>
                <key>spriteSourceSize</key>
                <string>{618,49}</string>
                <key>textureRect</key>
                <string>{{108,1213},{618,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SSArrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,61}</string>
                <key>spriteSourceSize</key>
                <string>{56,61}</string>
                <key>textureRect</key>
                <string>{{53,1287},{56,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SSBTMBG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1366,373}</string>
                <key>spriteSourceSize</key>
                <string>{1366,373}</string>
                <key>textureRect</key>
                <string>{{1,1},{1366,373}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SSBack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{74,55}</string>
                <key>spriteSourceSize</key>
                <string>{74,59}</string>
                <key>textureRect</key>
                <string>{{53,1137},{74,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SSBackRO.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,53}</string>
                <key>spriteSourceSize</key>
                <string>{72,53}</string>
                <key>textureRect</key>
                <string>{{53,1213},{72,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SSTable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-8}</string>
                <key>spriteSize</key>
                <string>{607,412}</string>
                <key>spriteSourceSize</key>
                <string>{613,474}</string>
                <key>textureRect</key>
                <string>{{728,376},{607,412}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SSnotificationBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{759,86}</string>
                <key>spriteSourceSize</key>
                <string>{759,86}</string>
                <key>textureRect</key>
                <string>{{53,376},{759,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TimerBackground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{385,48}</string>
                <key>spriteSourceSize</key>
                <string>{385,48}</string>
                <key>textureRect</key>
                <string>{{110,1137},{385,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LobbyUI2.png</string>
            <key>size</key>
            <string>{1368,1368}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae1ff2c6fa6ca51881d8c3375c7c9f75:a0e7a5b5a85c88c5ea7ab54b43752ca8:94163f642743ebc20a54c1c8cbe99d40$</string>
            <key>textureFileName</key>
            <string>LobbyUI2.png</string>
        </dict>
    </dict>
</plist>
