<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AnnouncementBox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{984,50}</string>
                <key>spriteSourceSize</key>
                <string>{984,50}</string>
                <key>textureRect</key>
                <string>{{1,1},{984,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LobbyUI2.png</string>
            <key>size</key>
            <string>{986,52}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f604066ef96ad299bc5d649c9a146418:1df60ee5f8dd0e8359c8ffab81c4dcd2:94163f642743ebc20a54c1c8cbe99d40$</string>
            <key>textureFileName</key>
            <string>LobbyUI2.png</string>
        </dict>
    </dict>
</plist>
