<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bubble.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,67}</string>
                <key>spriteSourceSize</key>
                <string>{125,67}</string>
                <key>textureRect</key>
                <string>{{1369,190},{125,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Crown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,42}</string>
                <key>spriteSourceSize</key>
                <string>{45,42}</string>
                <key>textureRect</key>
                <string>{{1438,190},{45,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FishIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,114}</string>
                <key>spriteSourceSize</key>
                <string>{163,114}</string>
                <key>textureRect</key>
                <string>{{1369,1},{163,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>FishText1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,22}</string>
                <key>spriteSourceSize</key>
                <string>{113,22}</string>
                <key>textureRect</key>
                <string>{{1369,166},{113,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GoldBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,48}</string>
                <key>spriteSourceSize</key>
                <string>{237,48}</string>
                <key>textureRect</key>
                <string>{{1369,317},{237,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LobbyBG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1366,628}</string>
                <key>spriteSourceSize</key>
                <string>{1366,628}</string>
                <key>textureRect</key>
                <string>{{1,1},{1366,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PlayerNameBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,48}</string>
                <key>spriteSourceSize</key>
                <string>{190,48}</string>
                <key>textureRect</key>
                <string>{{1419,317},{190,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Lobby.png</string>
            <key>size</key>
            <string>{1484,630}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:472d8920b9738a66508eea292faae4a9:4b38fc77e89479c5a2727814fbe9f8b5:5604b31835c31f3132979f59e1ad1570$</string>
            <key>textureFileName</key>
            <string>Lobby.png</string>
        </dict>
    </dict>
</plist>
