<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AnnouncementBox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{984,50}</string>
                <key>spriteSourceSize</key>
                <string>{984,50}</string>
                <key>textureRect</key>
                <string>{{1,52},{984,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LR_NotificationBase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1196,318}</string>
                <key>spriteSourceSize</key>
                <string>{1196,318}</string>
                <key>textureRect</key>
                <string>{{1,104},{1196,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NotificationBackground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{618,49}</string>
                <key>spriteSourceSize</key>
                <string>{618,49}</string>
                <key>textureRect</key>
                <string>{{522,1},{618,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SSBTMBG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1366,373}</string>
                <key>spriteSourceSize</key>
                <string>{1366,373}</string>
                <key>textureRect</key>
                <string>{{1,424},{1366,373}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SSBack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{74,55}</string>
                <key>spriteSourceSize</key>
                <string>{74,59}</string>
                <key>textureRect</key>
                <string>{{1216,1},{74,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SSBackRO.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,53}</string>
                <key>spriteSourceSize</key>
                <string>{72,53}</string>
                <key>textureRect</key>
                <string>{{1142,1},{72,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS_NameBase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,30}</string>
                <key>spriteSourceSize</key>
                <string>{132,30}</string>
                <key>textureRect</key>
                <string>{{1,1},{132,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TimerBackground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{385,48}</string>
                <key>spriteSourceSize</key>
                <string>{385,48}</string>
                <key>textureRect</key>
                <string>{{135,1},{385,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LobbyUI2.png</string>
            <key>size</key>
            <string>{1368,1368}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc6d8836890b4208c0ad81f62e9796d3:ac28f707c179d24f6c7d2cfcdc580074:94163f642743ebc20a54c1c8cbe99d40$</string>
            <key>textureFileName</key>
            <string>LobbyUI2.png</string>
        </dict>
    </dict>
</plist>
