<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AssetsChinese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,32}</string>
                <key>spriteSourceSize</key>
                <string>{64,32}</string>
                <key>textureRect</key>
                <string>{{1,1},{64,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AssetsIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,88}</string>
                <key>spriteSourceSize</key>
                <string>{94,88}</string>
                <key>textureRect</key>
                <string>{{1,342},{94,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameFAQChinese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,32}</string>
                <key>spriteSourceSize</key>
                <string>{64,32}</string>
                <key>textureRect</key>
                <string>{{67,1},{64,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GameFAQIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{89,92}</string>
                <key>spriteSourceSize</key>
                <string>{93,92}</string>
                <key>textureRect</key>
                <string>{{1,432},{89,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InfoChinese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,32}</string>
                <key>spriteSourceSize</key>
                <string>{64,32}</string>
                <key>textureRect</key>
                <string>{{1,35},{64,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MenuButtonIdle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,97}</string>
                <key>spriteSourceSize</key>
                <string>{93,97}</string>
                <key>textureRect</key>
                <string>{{1,523},{93,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MenuButtonOnPress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,97}</string>
                <key>spriteSourceSize</key>
                <string>{93,97}</string>
                <key>textureRect</key>
                <string>{{1,618},{93,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>RankingChinese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,32}</string>
                <key>spriteSourceSize</key>
                <string>{64,32}</string>
                <key>textureRect</key>
                <string>{{1,69},{64,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RankingIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{68,86}</string>
                <key>spriteSourceSize</key>
                <string>{94,88}</string>
                <key>textureRect</key>
                <string>{{1,202},{68,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SettingChinese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,32}</string>
                <key>spriteSourceSize</key>
                <string>{64,32}</string>
                <key>textureRect</key>
                <string>{{67,67},{64,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SettingIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,67}</string>
                <key>spriteSourceSize</key>
                <string>{74,67}</string>
                <key>textureRect</key>
                <string>{{1,133},{74,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InfoIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{92,68}</string>
                <key>spriteSourceSize</key>
                <string>{94,88}</string>
                <key>textureRect</key>
                <string>{{1,272},{92,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Menu.png</string>
            <key>size</key>
            <string>{100,712}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72c9b7a63f3107d25a8fcf3ecfb7e21c:54d305acbf39a957ae8caee54ae25fa4:474a9a58f742d06d2866a4a6eac25590$</string>
            <key>textureFileName</key>
            <string>Menu.png</string>
        </dict>
    </dict>
</plist>
