<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Button3Idle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,88}</string>
                <key>spriteSourceSize</key>
                <string>{305,88}</string>
                <key>textureRect</key>
                <string>{{1,578},{305,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Button3OnPress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,88}</string>
                <key>spriteSourceSize</key>
                <string>{305,88}</string>
                <key>textureRect</key>
                <string>{{308,578},{305,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon-screenshot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{605,375}</string>
                <key>spriteSourceSize</key>
                <string>{621,401}</string>
                <key>textureRect</key>
                <string>{{637,796},{605,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CannonInfoChinese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,38}</string>
                <key>spriteSourceSize</key>
                <string>{152,38}</string>
                <key>textureRect</key>
                <string>{{1192,488},{152,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>FishInfoChinese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,38}</string>
                <key>spriteSourceSize</key>
                <string>{153,38}</string>
                <key>textureRect</key>
                <string>{{1192,178},{153,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GameFAQChineseTitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,44}</string>
                <key>spriteSourceSize</key>
                <string>{175,44}</string>
                <key>textureRect</key>
                <string>{{1192,1},{175,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GamerulesChinese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,38}</string>
                <key>spriteSourceSize</key>
                <string>{151,38}</string>
                <key>textureRect</key>
                <string>{{661,1173},{151,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JackpotInfoChinese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,38}</string>
                <key>spriteSourceSize</key>
                <string>{152,38}</string>
                <key>textureRect</key>
                <string>{{1192,642},{152,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TextBG3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{666,499}</string>
                <key>spriteSourceSize</key>
                <string>{674,505}</string>
                <key>textureRect</key>
                <string>{{691,1},{666,499}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>UIControlChinese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,38}</string>
                <key>spriteSourceSize</key>
                <string>{153,38}</string>
                <key>textureRect</key>
                <string>{{1192,333},{153,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>background-bonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{414,186}</string>
                <key>spriteSourceSize</key>
                <string>{414,186}</string>
                <key>textureRect</key>
                <string>{{449,796},{414,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>background-fish.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{646,121}</string>
                <key>spriteSourceSize</key>
                <string>{646,121}</string>
                <key>textureRect</key>
                <string>{{449,669},{646,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus-screenshot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,186}</string>
                <key>spriteSourceSize</key>
                <string>{331,186}</string>
                <key>textureRect</key>
                <string>{{1,390},{331,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus-subtitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,30}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{449,1212},{104,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,4}</string>
                <key>spriteSize</key>
                <string>{576,446}</string>
                <key>spriteSourceSize</key>
                <string>{640,528}</string>
                <key>textureRect</key>
                <string>{{1,669},{576,446}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>interface-screenshot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{688,387}</string>
                <key>spriteSourceSize</key>
                <string>{688,387}</string>
                <key>textureRect</key>
                <string>{{1,1},{688,387}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jackpot-screenshot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,186}</string>
                <key>spriteSourceSize</key>
                <string>{331,186}</string>
                <key>textureRect</key>
                <string>{{334,390},{331,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jackpot-subtitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,30}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{555,1212},{104,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MenuFAQ.png</string>
            <key>size</key>
            <string>{1246,1246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4292bb8b33c3b7d9f79b4567b11e5e4:7b6046aeca1af7780f05ff8b58b4b138:fbc90d928ff50afae38bef5c50bb294f$</string>
            <key>textureFileName</key>
            <string>MenuFAQ.png</string>
        </dict>
    </dict>
</plist>
