<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Button3Idle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,88}</string>
                <key>spriteSourceSize</key>
                <string>{305,88}</string>
                <key>textureRect</key>
                <string>{{1,1080},{305,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Button3OnPress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,88}</string>
                <key>spriteSourceSize</key>
                <string>{305,88}</string>
                <key>textureRect</key>
                <string>{{1,1170},{305,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon-screenshot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{605,375}</string>
                <key>spriteSourceSize</key>
                <string>{621,401}</string>
                <key>textureRect</key>
                <string>{{572,691},{605,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TextBG3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{666,499}</string>
                <key>spriteSourceSize</key>
                <string>{674,505}</string>
                <key>textureRect</key>
                <string>{{1,1},{666,499}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>background-bonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{414,186}</string>
                <key>spriteSourceSize</key>
                <string>{414,186}</string>
                <key>textureRect</key>
                <string>{{1058,1},{414,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>background-fish.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{646,121}</string>
                <key>spriteSourceSize</key>
                <string>{646,121}</string>
                <key>textureRect</key>
                <string>{{449,502},{646,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bonus-screenshot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,186}</string>
                <key>spriteSourceSize</key>
                <string>{331,186}</string>
                <key>textureRect</key>
                <string>{{572,1068},{331,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,4}</string>
                <key>spriteSize</key>
                <string>{576,446}</string>
                <key>spriteSourceSize</key>
                <string>{640,528}</string>
                <key>textureRect</key>
                <string>{{1,502},{576,446}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>interface-screenshot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{688,387}</string>
                <key>spriteSourceSize</key>
                <string>{688,387}</string>
                <key>textureRect</key>
                <string>{{669,1},{688,387}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jackpot-screenshot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,186}</string>
                <key>spriteSourceSize</key>
                <string>{331,186}</string>
                <key>textureRect</key>
                <string>{{905,1068},{331,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MenuFAQ.png</string>
            <key>size</key>
            <string>{1259,1259}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56b69790b4a6ab791c8a124f547e0fa4:c98b02017da307607deb359da3517b6c:fbc90d928ff50afae38bef5c50bb294f$</string>
            <key>textureFileName</key>
            <string>MenuFAQ.png</string>
        </dict>
    </dict>
</plist>
