<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Button3Idle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,88}</string>
                <key>spriteSourceSize</key>
                <string>{305,88}</string>
                <key>textureRect</key>
                <string>{{1,950},{305,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Button3OnPress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,88}</string>
                <key>spriteSourceSize</key>
                <string>{305,88}</string>
                <key>textureRect</key>
                <string>{{308,950},{305,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cannon-Info-Cannon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,5}</string>
                <key>spriteSize</key>
                <string>{453,139}</string>
                <key>spriteSourceSize</key>
                <string>{501,201}</string>
                <key>textureRect</key>
                <string>{{767,458},{453,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Cannon-Info-DMG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-3}</string>
                <key>spriteSize</key>
                <string>{455,140}</string>
                <key>spriteSourceSize</key>
                <string>{501,150}</string>
                <key>textureRect</key>
                <string>{{669,1},{455,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TextBG3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{666,499}</string>
                <key>spriteSourceSize</key>
                <string>{674,505}</string>
                <key>textureRect</key>
                <string>{{1,1},{666,499}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>background-bonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{414,186}</string>
                <key>spriteSourceSize</key>
                <string>{414,186}</string>
                <key>textureRect</key>
                <string>{{579,502},{414,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>background-fish.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{646,121}</string>
                <key>spriteSourceSize</key>
                <string>{646,121}</string>
                <key>textureRect</key>
                <string>{{908,334},{646,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bonus-screenshot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,186}</string>
                <key>spriteSourceSize</key>
                <string>{331,186}</string>
                <key>textureRect</key>
                <string>{{811,1},{331,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,4}</string>
                <key>spriteSize</key>
                <string>{576,446}</string>
                <key>spriteSourceSize</key>
                <string>{640,528}</string>
                <key>textureRect</key>
                <string>{{1,502},{576,446}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MenuFAQ.png</string>
            <key>size</key>
            <string>{1039,1039}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ea0e2779794bd0a47cb29d732479213:405470d4e33ab838c2e533db9a0411cc:fbc90d928ff50afae38bef5c50bb294f$</string>
            <key>textureFileName</key>
            <string>MenuFAQ.png</string>
        </dict>
    </dict>
</plist>
