<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>For cropping R_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{1,1},{130,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>For cropping R_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{1,163},{130,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>For cropping R_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{1,325},{130,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>For cropping R_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{1,487},{130,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>For cropping R_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{1,649},{130,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>For cropping R_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{1,811},{130,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>For cropping R_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{1,973},{130,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>For cropping R_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{1,1135},{130,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>For cropping R_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{133,1},{130,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>For cropping R_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{295,1},{130,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>For cropping R_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{457,1},{130,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>For cropping R_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{619,1},{130,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>For cropping R_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{781,1},{130,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>For cropping R_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{943,1},{130,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>For cropping R_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{1105,1},{130,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>For cropping R_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{133,133},{130,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>For cropping R_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{133,295},{130,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>For cropping R_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{133,457},{130,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>For cropping R_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{133,619},{130,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>For cropping R_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{133,781},{130,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>For cropping R_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{133,943},{130,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>For cropping R_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{133,1105},{130,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>For cropping R_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{265,133},{130,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>For cropping R_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{427,133},{130,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>For cropping R_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{589,133},{130,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>For cropping R_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{751,133},{130,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>For cropping R_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{913,133},{130,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>For cropping R_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{1075,133},{130,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>For cropping R_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{265,265},{130,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>For cropping R_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{265,427},{130,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>For cropping R_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{265,589},{130,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>For cropping R_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{265,751},{130,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>For cropping R_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{265,913},{130,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>For cropping R_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{265,1075},{130,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>For cropping R_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{397,265},{130,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>For cropping R_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{559,265},{130,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>For cropping R_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{721,265},{130,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>For cropping R_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{883,265},{130,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>For cropping R_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{1045,265},{130,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>For cropping R_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{397,397},{130,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>For cropping R_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{397,559},{130,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>For cropping R_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{397,721},{130,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>For cropping R_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{397,883},{130,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>For cropping R_00043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{397,1045},{130,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>For cropping R_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{529,397},{130,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>For cropping R_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{691,397},{130,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>For cropping R_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{853,397},{130,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>For cropping R_00047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{1015,397},{130,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>For cropping R_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{529,529},{130,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>For cropping R_00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{529,691},{130,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>For cropping R_00050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{529,853},{130,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>For cropping R_00051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{529,1015},{130,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>For cropping R_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{661,529},{130,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>For cropping R_00053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{823,529},{130,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>For cropping R_00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{985,529},{130,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>For cropping R_00055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{1147,529},{130,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>For cropping R_00056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{661,661},{130,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>For cropping R_00057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{823,661},{130,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>For cropping R_00058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{985,661},{130,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>For cropping R_00059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{1147,691},{130,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>For cropping R_00060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{661,853},{130,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>For cropping R_00061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{661,1015},{130,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>For cropping R_00062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{793,793},{130,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>For cropping R_00063.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{955,793},{130,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>For cropping R_00064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{1117,853},{130,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>For cropping R_00065.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{793,985},{130,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>For cropping R_00066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{793,1147},{130,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>For cropping R_00067.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{925,985},{130,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>For cropping R_00068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{955,1147},{130,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>For cropping R_00069.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{1057,985},{130,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>For cropping R_00070.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{1117,1147},{130,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RightGrass.plist.png</string>
            <key>size</key>
            <string>{1296,1296}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ec8e7661f375435a19bf5a581ca2b7d:6213b3b963c905e5a24c26d2507b36bb:65e2c27852e54f2ab3b848f9eb15b3de$</string>
            <key>textureFileName</key>
            <string>RightGrass.plist.png</string>
        </dict>
    </dict>
</plist>
