<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LR_No.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,54}</string>
                <key>spriteSourceSize</key>
                <string>{55,54}</string>
                <key>textureRect</key>
                <string>{{284,297},{55,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LR_Yes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,56}</string>
                <key>spriteSourceSize</key>
                <string>{55,56}</string>
                <key>textureRect</key>
                <string>{{409,412},{55,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS_BlueButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,42}</string>
                <key>spriteSourceSize</key>
                <string>{129,42}</string>
                <key>textureRect</key>
                <string>{{1,432},{129,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS_BlueHover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,42}</string>
                <key>spriteSourceSize</key>
                <string>{129,42}</string>
                <key>textureRect</key>
                <string>{{132,432},{129,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS_BlueSit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,50}</string>
                <key>spriteSourceSize</key>
                <string>{51,50}</string>
                <key>textureRect</key>
                <string>{{348,1},{51,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS_ComfirmBase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,58}</string>
                <key>spriteSourceSize</key>
                <string>{145,58}</string>
                <key>textureRect</key>
                <string>{{409,1},{145,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SS_ErrorMsgBase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{284,195},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS_NotificationIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,30}</string>
                <key>spriteSourceSize</key>
                <string>{33,30}</string>
                <key>textureRect</key>
                <string>{{357,432},{33,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SS_PageIndicatorBlue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{48,44}</string>
                <key>textureRect</key>
                <string>{{348,105},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS_PageIndicatorYellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,53}</string>
                <key>spriteSourceSize</key>
                <string>{51,53}</string>
                <key>textureRect</key>
                <string>{{340,297},{51,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SS_PinkButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,43}</string>
                <key>spriteSourceSize</key>
                <string>{202,43}</string>
                <key>textureRect</key>
                <string>{{1,387},{202,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS_PinkHover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,43}</string>
                <key>spriteSourceSize</key>
                <string>{202,43}</string>
                <key>textureRect</key>
                <string>{{205,387},{202,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS_RoundConerBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,60}</string>
                <key>spriteSourceSize</key>
                <string>{192,60}</string>
                <key>textureRect</key>
                <string>{{286,1},{192,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SS_SpectateBackIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,30}</string>
                <key>spriteSourceSize</key>
                <string>{45,30}</string>
                <key>textureRect</key>
                <string>{{263,432},{45,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS_SpectateIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{45,28}</string>
                <key>spriteSourceSize</key>
                <string>{45,30}</string>
                <key>textureRect</key>
                <string>{{310,432},{45,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS_Table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,191}</string>
                <key>spriteSourceSize</key>
                <string>{287,197}</string>
                <key>textureRect</key>
                <string>{{1,1},{283,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS_TableHL.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,191}</string>
                <key>spriteSourceSize</key>
                <string>{287,197}</string>
                <key>textureRect</key>
                <string>{{1,194},{281,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS_YellowButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,43}</string>
                <key>spriteSourceSize</key>
                <string>{130,43}</string>
                <key>textureRect</key>
                <string>{{409,148},{130,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SS_YellowHover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,43}</string>
                <key>spriteSourceSize</key>
                <string>{130,43}</string>
                <key>textureRect</key>
                <string>{{409,280},{130,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SS_YellowSit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,50}</string>
                <key>spriteSourceSize</key>
                <string>{51,50}</string>
                <key>textureRect</key>
                <string>{{348,53},{51,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SitSelection.png</string>
            <key>size</key>
            <string>{475,475}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ecc3c2374efe223b61b56f63ceb75e0a:9d1b97f6bb8a9dbe539758aa4053951c:283645ae989233c72b434e215a2ef83c$</string>
            <key>textureFileName</key>
            <string>SitSelection.png</string>
        </dict>
    </dict>
</plist>
