<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LR_No.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,54}</string>
                <key>spriteSourceSize</key>
                <string>{55,54}</string>
                <key>textureRect</key>
                <string>{{531,1232},{55,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LR_Yes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,56}</string>
                <key>spriteSourceSize</key>
                <string>{55,56}</string>
                <key>textureRect</key>
                <string>{{531,1174},{55,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS_BG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1337,471}</string>
                <key>spriteSourceSize</key>
                <string>{1337,471}</string>
                <key>textureRect</key>
                <string>{{1,1},{1337,471}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS_BlueButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,42}</string>
                <key>spriteSourceSize</key>
                <string>{129,42}</string>
                <key>textureRect</key>
                <string>{{443,1174},{129,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SS_BlueHover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,42}</string>
                <key>spriteSourceSize</key>
                <string>{129,42}</string>
                <key>textureRect</key>
                <string>{{487,1174},{129,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SS_BlueSit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,185}</string>
                <key>spriteSourceSize</key>
                <string>{183,185}</string>
                <key>textureRect</key>
                <string>{{387,987},{183,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS_ComfirmBase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,58}</string>
                <key>spriteSourceSize</key>
                <string>{145,58}</string>
                <key>textureRect</key>
                <string>{{227,882},{145,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS_ErrorMsgBase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{514,224}</string>
                <key>spriteSourceSize</key>
                <string>{514,224}</string>
                <key>textureRect</key>
                <string>{{1,474},{514,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SS_NotificationIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,30}</string>
                <key>spriteSourceSize</key>
                <string>{33,30}</string>
                <key>textureRect</key>
                <string>{{398,1306},{33,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS_PageIndicatorBlue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{48,44}</string>
                <key>textureRect</key>
                <string>{{289,942},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS_PageIndicatorYellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,53}</string>
                <key>spriteSourceSize</key>
                <string>{51,53}</string>
                <key>textureRect</key>
                <string>{{587,1232},{51,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS_PinkButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,43}</string>
                <key>spriteSourceSize</key>
                <string>{202,43}</string>
                <key>textureRect</key>
                <string>{{227,474},{202,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SS_PinkHover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,43}</string>
                <key>spriteSourceSize</key>
                <string>{202,43}</string>
                <key>textureRect</key>
                <string>{{227,678},{202,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SS_RoundConerBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,60}</string>
                <key>spriteSourceSize</key>
                <string>{192,60}</string>
                <key>textureRect</key>
                <string>{{204,1273},{192,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS_SpectateBackIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,30}</string>
                <key>spriteSourceSize</key>
                <string>{45,30}</string>
                <key>textureRect</key>
                <string>{{227,942},{45,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SS_SpectateIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{45,28}</string>
                <key>spriteSourceSize</key>
                <string>{45,30}</string>
                <key>textureRect</key>
                <string>{{259,942},{45,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SS_TabBG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,62}</string>
                <key>spriteSourceSize</key>
                <string>{201,62}</string>
                <key>textureRect</key>
                <string>{{1,1275},{201,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS_Table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,191}</string>
                <key>spriteSourceSize</key>
                <string>{287,197}</string>
                <key>textureRect</key>
                <string>{{1,990},{283,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SS_TableHL.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,191}</string>
                <key>spriteSourceSize</key>
                <string>{287,197}</string>
                <key>textureRect</key>
                <string>{{194,990},{281,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SS_YellowButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,43}</string>
                <key>spriteSourceSize</key>
                <string>{130,43}</string>
                <key>textureRect</key>
                <string>{{335,942},{130,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS_YellowHover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,43}</string>
                <key>spriteSourceSize</key>
                <string>{130,43}</string>
                <key>textureRect</key>
                <string>{{398,1174},{130,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SS_YellowSit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,185}</string>
                <key>spriteSourceSize</key>
                <string>{183,185}</string>
                <key>textureRect</key>
                <string>{{272,474},{183,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SitSelection.png</string>
            <key>size</key>
            <string>{1339,1339}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc52194d97b9f641dc258dffd4f9ad3a:c3766680d3e2ac56aa66f2cbae53133b:283645ae989233c72b434e215a2ef83c$</string>
            <key>textureFileName</key>
            <string>SitSelection.png</string>
        </dict>
    </dict>
</plist>
