<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CoinExplosion1_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{45,9}</string>
                <key>spriteSize</key>
                <string>{72,70}</string>
                <key>spriteSourceSize</key>
                <string>{1500,1000}</string>
                <key>textureRect</key>
                <string>{{1,3529},{72,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CoinExplosion1_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,33}</string>
                <key>spriteSize</key>
                <string>{208,150}</string>
                <key>spriteSourceSize</key>
                <string>{1500,1000}</string>
                <key>textureRect</key>
                <string>{{525,3415},{208,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CoinExplosion1_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,30}</string>
                <key>spriteSize</key>
                <string>{320,278}</string>
                <key>spriteSourceSize</key>
                <string>{1500,1000}</string>
                <key>textureRect</key>
                <string>{{929,3005},{320,278}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CoinExplosion1_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{46,27}</string>
                <key>spriteSize</key>
                <string>{408,402}</string>
                <key>spriteSourceSize</key>
                <string>{1500,1000}</string>
                <key>textureRect</key>
                <string>{{525,3005},{408,402}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CoinExplosion1_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,25}</string>
                <key>spriteSize</key>
                <string>{522,522}</string>
                <key>spriteSourceSize</key>
                <string>{1500,1000}</string>
                <key>textureRect</key>
                <string>{{1,3005},{522,522}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CoinExplosion1_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,22}</string>
                <key>spriteSize</key>
                <string>{652,636}</string>
                <key>spriteSourceSize</key>
                <string>{1500,1000}</string>
                <key>textureRect</key>
                <string>{{1209,2987},{652,636}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CoinExplosion1_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,19}</string>
                <key>spriteSize</key>
                <string>{784,746}</string>
                <key>spriteSourceSize</key>
                <string>{1500,1000}</string>
                <key>textureRect</key>
                <string>{{2959,2859},{784,746}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CoinExplosion1_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,17}</string>
                <key>spriteSize</key>
                <string>{918,852}</string>
                <key>spriteSourceSize</key>
                <string>{1500,1000}</string>
                <key>textureRect</key>
                <string>{{2959,2005},{918,852}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CoinExplosion1_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,14}</string>
                <key>spriteSize</key>
                <string>{1054,952}</string>
                <key>spriteSourceSize</key>
                <string>{1500,1000}</string>
                <key>textureRect</key>
                <string>{{1003,1931},{1054,952}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CoinExplosion1_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{1190,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1500,1000}</string>
                <key>textureRect</key>
                <string>{{2701,1},{1190,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CoinExplosion1_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,0}</string>
                <key>spriteSize</key>
                <string>{1294,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1500,1000}</string>
                <key>textureRect</key>
                <string>{{2699,1003},{1294,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CoinExplosion1_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,0}</string>
                <key>spriteSize</key>
                <string>{1420,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1500,1000}</string>
                <key>textureRect</key>
                <string>{{1957,2005},{1420,1000}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CoinExplosion1_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1500,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1500,1000}</string>
                <key>textureRect</key>
                <string>{{1,1},{1500,1000}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CoinExplosion1_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1500,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1500,1000}</string>
                <key>textureRect</key>
                <string>{{1,1503},{1500,1000}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CoinExplosion1_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,27}</string>
                <key>spriteSize</key>
                <string>{1490,946}</string>
                <key>spriteSourceSize</key>
                <string>{1500,1000}</string>
                <key>textureRect</key>
                <string>{{1209,1},{1490,946}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CoinExplosion1_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,10}</string>
                <key>spriteSize</key>
                <string>{1488,980}</string>
                <key>spriteSourceSize</key>
                <string>{1500,1000}</string>
                <key>textureRect</key>
                <string>{{1209,949},{1488,980}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CoinExplosion1.png</string>
            <key>size</key>
            <string>{3994,3624}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b8c8f8f92cd9466bba80e9e269503de:461c1e1b8eca3a58b7415af361ee0765:afe42a6f91ec3b9581f6b306e0ef9c1b$</string>
            <key>textureFileName</key>
            <string>CoinExplosion1.png</string>
        </dict>
    </dict>
</plist>
