<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CoinExplosion1_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{45,9}</string>
                <key>spriteSize</key>
                <string>{72,70}</string>
                <key>spriteSourceSize</key>
                <string>{1500,1000}</string>
                <key>textureRect</key>
                <string>{{3791,921},{72,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CoinExplosion1_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,33}</string>
                <key>spriteSize</key>
                <string>{208,150}</string>
                <key>spriteSourceSize</key>
                <string>{1500,1000}</string>
                <key>textureRect</key>
                <string>{{691,3495},{208,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CoinExplosion1_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,30}</string>
                <key>spriteSize</key>
                <string>{320,278}</string>
                <key>spriteSourceSize</key>
                <string>{1500,1000}</string>
                <key>textureRect</key>
                <string>{{411,3495},{320,278}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CoinExplosion1_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{46,27}</string>
                <key>spriteSize</key>
                <string>{408,402}</string>
                <key>spriteSourceSize</key>
                <string>{1500,1000}</string>
                <key>textureRect</key>
                <string>{{1,3495},{408,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CoinExplosion1_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,25}</string>
                <key>spriteSize</key>
                <string>{522,522}</string>
                <key>spriteSourceSize</key>
                <string>{1500,1000}</string>
                <key>textureRect</key>
                <string>{{2475,1003},{522,522}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CoinExplosion1_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,22}</string>
                <key>spriteSize</key>
                <string>{652,636}</string>
                <key>spriteSourceSize</key>
                <string>{1500,1000}</string>
                <key>textureRect</key>
                <string>{{1423,3143},{652,636}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CoinExplosion1_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,19}</string>
                <key>spriteSize</key>
                <string>{784,746}</string>
                <key>spriteSourceSize</key>
                <string>{1500,1000}</string>
                <key>textureRect</key>
                <string>{{3005,921},{784,746}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CoinExplosion1_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,17}</string>
                <key>spriteSize</key>
                <string>{918,852}</string>
                <key>spriteSourceSize</key>
                <string>{1500,1000}</string>
                <key>textureRect</key>
                <string>{{3005,1},{918,852}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CoinExplosion1_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,14}</string>
                <key>spriteSize</key>
                <string>{1054,952}</string>
                <key>spriteSourceSize</key>
                <string>{1500,1000}</string>
                <key>textureRect</key>
                <string>{{2425,2671},{1054,952}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CoinExplosion1_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{1190,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1500,1000}</string>
                <key>textureRect</key>
                <string>{{1423,1951},{1190,1000}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CoinExplosion1_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,0}</string>
                <key>spriteSize</key>
                <string>{1294,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1500,1000}</string>
                <key>textureRect</key>
                <string>{{2475,1669},{1294,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CoinExplosion1_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,0}</string>
                <key>spriteSize</key>
                <string>{1420,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1500,1000}</string>
                <key>textureRect</key>
                <string>{{1,2493},{1420,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CoinExplosion1_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1500,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1500,1000}</string>
                <key>textureRect</key>
                <string>{{1,1},{1500,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CoinExplosion1_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1500,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1500,1000}</string>
                <key>textureRect</key>
                <string>{{1503,1},{1500,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CoinExplosion1_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,27}</string>
                <key>spriteSize</key>
                <string>{1490,946}</string>
                <key>spriteSourceSize</key>
                <string>{1500,1000}</string>
                <key>textureRect</key>
                <string>{{983,1003},{1490,946}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CoinExplosion1_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,10}</string>
                <key>spriteSize</key>
                <string>{1488,980}</string>
                <key>spriteSourceSize</key>
                <string>{1500,1000}</string>
                <key>textureRect</key>
                <string>{{1,1003},{1488,980}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CoinExplosion1.png</string>
            <key>size</key>
            <string>{3898,3898}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02c64a179a3204f90e6184c9d1839e75:461c1e1b8eca3a58b7415af361ee0765:afe42a6f91ec3b9581f6b306e0ef9c1b$</string>
            <key>textureFileName</key>
            <string>CoinExplosion1.png</string>
        </dict>
    </dict>
</plist>
