<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FreeRoundChinese_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{350,84}</string>
                <key>spriteSourceSize</key>
                <string>{352,90}</string>
                <key>textureRect</key>
                <string>{{1,1},{350,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FreeRoundChinese_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{350,84}</string>
                <key>spriteSourceSize</key>
                <string>{352,90}</string>
                <key>textureRect</key>
                <string>{{353,1},{350,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FreeRoundChinese_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{350,84}</string>
                <key>spriteSourceSize</key>
                <string>{352,90}</string>
                <key>textureRect</key>
                <string>{{705,1},{350,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>FreeRoundChinese_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{350,84}</string>
                <key>spriteSourceSize</key>
                <string>{352,90}</string>
                <key>textureRect</key>
                <string>{{791,1},{350,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>FreeRoundChinese_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{350,84}</string>
                <key>spriteSourceSize</key>
                <string>{352,90}</string>
                <key>textureRect</key>
                <string>{{1,353},{350,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>FreeRoundChinese_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{350,84}</string>
                <key>spriteSourceSize</key>
                <string>{352,90}</string>
                <key>textureRect</key>
                <string>{{1,705},{350,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FreeRoundChinese_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{350,84}</string>
                <key>spriteSourceSize</key>
                <string>{352,90}</string>
                <key>textureRect</key>
                <string>{{87,353},{350,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>FreeRoundChinese_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{350,84}</string>
                <key>spriteSourceSize</key>
                <string>{352,90}</string>
                <key>textureRect</key>
                <string>{{173,353},{350,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>FreeRoundChinese_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{350,84}</string>
                <key>spriteSourceSize</key>
                <string>{352,90}</string>
                <key>textureRect</key>
                <string>{{259,353},{350,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>FreeRoundChinese_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{350,84}</string>
                <key>spriteSourceSize</key>
                <string>{352,90}</string>
                <key>textureRect</key>
                <string>{{345,353},{350,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>FreeRoundChinese_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{350,84}</string>
                <key>spriteSourceSize</key>
                <string>{352,90}</string>
                <key>textureRect</key>
                <string>{{1,791},{350,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FreeRoundChinese_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{350,84}</string>
                <key>spriteSourceSize</key>
                <string>{352,90}</string>
                <key>textureRect</key>
                <string>{{353,705},{350,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FreeRoundChinese_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{350,84}</string>
                <key>spriteSourceSize</key>
                <string>{352,90}</string>
                <key>textureRect</key>
                <string>{{431,353},{350,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>FreeRoundChinese_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{350,84}</string>
                <key>spriteSourceSize</key>
                <string>{352,90}</string>
                <key>textureRect</key>
                <string>{{517,353},{350,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>FreeRoundChinese_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{350,84}</string>
                <key>spriteSourceSize</key>
                <string>{352,90}</string>
                <key>textureRect</key>
                <string>{{603,353},{350,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>FreeRoundChinese_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{350,84}</string>
                <key>spriteSourceSize</key>
                <string>{352,90}</string>
                <key>textureRect</key>
                <string>{{689,353},{350,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>FreeRoundChinese_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{350,84}</string>
                <key>spriteSourceSize</key>
                <string>{352,90}</string>
                <key>textureRect</key>
                <string>{{353,791},{350,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FreeRoundChinese_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{350,84}</string>
                <key>spriteSourceSize</key>
                <string>{352,90}</string>
                <key>textureRect</key>
                <string>{{775,353},{350,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>FreeRoundChinese_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{350,84}</string>
                <key>spriteSourceSize</key>
                <string>{352,90}</string>
                <key>textureRect</key>
                <string>{{861,353},{350,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>FreeRoundChinese_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{350,84}</string>
                <key>spriteSourceSize</key>
                <string>{352,90}</string>
                <key>textureRect</key>
                <string>{{1,87},{350,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FreeRoundChinese_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{350,84}</string>
                <key>spriteSourceSize</key>
                <string>{352,90}</string>
                <key>textureRect</key>
                <string>{{353,87},{350,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FreeRoundChinese_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{350,84}</string>
                <key>spriteSourceSize</key>
                <string>{352,90}</string>
                <key>textureRect</key>
                <string>{{1,173},{350,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FreeRoundChinese_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{350,84}</string>
                <key>spriteSourceSize</key>
                <string>{352,90}</string>
                <key>textureRect</key>
                <string>{{353,173},{350,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FreeRoundChinese_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{350,84}</string>
                <key>spriteSourceSize</key>
                <string>{352,90}</string>
                <key>textureRect</key>
                <string>{{1,259},{350,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FreeRoundChinese_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{350,84}</string>
                <key>spriteSourceSize</key>
                <string>{352,90}</string>
                <key>textureRect</key>
                <string>{{353,259},{350,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FreeRoundChinese_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{350,84}</string>
                <key>spriteSourceSize</key>
                <string>{352,90}</string>
                <key>textureRect</key>
                <string>{{1,1},{350,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>FreeRoundChinese.png</string>
            <key>size</key>
            <string>{946,946}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bbf7c94d071c078538f0167860595ce9:9f33a8a8a62f8bfd3dd5b3503c8ed3da:29426129f707cfbfb11e37e3595e050a$</string>
            <key>textureFileName</key>
            <string>FreeRoundChinese.png</string>
        </dict>
    </dict>
</plist>
