<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FREffect_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{1,367},{401,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{485,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{404,379},{485,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{443,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{891,379},{443,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{507,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{1336,379},{507,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{533,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{1845,381},{533,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{543,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{2380,381},{543,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{529,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{2925,383},{529,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{543,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{3456,383},{543,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{551,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{1,765},{551,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{561,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{554,765},{561,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{1117,765},{559,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{549,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{1678,767},{549,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{549,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{2229,767},{549,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{553,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{2780,769},{553,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{543,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{3335,769},{543,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{553,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{1,1151},{553,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,0}</string>
                <key>spriteSize</key>
                <string>{571,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{556,1151},{571,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,0}</string>
                <key>spriteSize</key>
                <string>{591,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{1646,1153},{591,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{625,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{2239,1155},{625,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{661,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{2866,1155},{661,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,0}</string>
                <key>spriteSize</key>
                <string>{649,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{1,1537},{649,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,0}</string>
                <key>spriteSize</key>
                <string>{631,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{652,1537},{631,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,0}</string>
                <key>spriteSize</key>
                <string>{629,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{1285,1539},{629,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,0}</string>
                <key>spriteSize</key>
                <string>{625,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{1916,1541},{625,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,0}</string>
                <key>spriteSize</key>
                <string>{611,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{2543,1541},{611,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,0}</string>
                <key>spriteSize</key>
                <string>{599,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{3156,1541},{599,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,0}</string>
                <key>spriteSize</key>
                <string>{599,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{1,1923},{599,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-50,0}</string>
                <key>spriteSize</key>
                <string>{583,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{602,1923},{583,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,0}</string>
                <key>spriteSize</key>
                <string>{587,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{1187,1925},{587,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-55,0}</string>
                <key>spriteSize</key>
                <string>{557,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{3529,1155},{557,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-59,0}</string>
                <key>spriteSize</key>
                <string>{565,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{1776,1927},{565,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-56,0}</string>
                <key>spriteSize</key>
                <string>{571,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{2343,1927},{571,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,0}</string>
                <key>spriteSize</key>
                <string>{515,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{1129,1151},{515,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,0}</string>
                <key>spriteSize</key>
                <string>{543,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{2916,1927},{543,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,0}</string>
                <key>spriteSize</key>
                <string>{555,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{3461,1927},{555,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,0}</string>
                <key>spriteSize</key>
                <string>{579,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{1,2309},{579,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,0}</string>
                <key>spriteSize</key>
                <string>{603,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{582,2309},{603,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,3}</string>
                <key>spriteSize</key>
                <string>{627,378}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{1972,1},{627,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-2}</string>
                <key>spriteSize</key>
                <string>{629,378}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{2601,1},{629,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{653,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{1187,2313},{653,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-2}</string>
                <key>spriteSize</key>
                <string>{667,380}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{3232,1},{667,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{677,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{1842,2313},{677,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{663,384}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{2521,2313},{663,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,4}</string>
                <key>spriteSize</key>
                <string>{679,376}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{640,1},{679,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-6}</string>
                <key>spriteSize</key>
                <string>{637,364}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{1,1},{637,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FREffect_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-4}</string>
                <key>spriteSize</key>
                <string>{649,376}</string>
                <key>spriteSourceSize</key>
                <string>{683,384}</string>
                <key>textureRect</key>
                <string>{{1321,1},{649,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>FREffect.png</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cab7a4d261f859bd50f51e419469da12:ec028ad61d40a761e10f383918a2b268:b847fd71fe39b91c073d3d285bc25305$</string>
            <key>textureFileName</key>
            <string>FREffect.png</string>
        </dict>
    </dict>
</plist>
