<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{97,54}</string>
                <key>spriteSourceSize</key>
                <string>{101,56}</string>
                <key>textureRect</key>
                <string>{{224,137},{97,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BackChinese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{43,24}</string>
                <key>spriteSourceSize</key>
                <string>{45,24}</string>
                <key>textureRect</key>
                <string>{{764,208},{43,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BackDW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{98,53}</string>
                <key>spriteSourceSize</key>
                <string>{100,55}</string>
                <key>textureRect</key>
                <string>{{169,137},{98,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,69}</string>
                <key>spriteSourceSize</key>
                <string>{513,69}</string>
                <key>textureRect</key>
                <string>{{280,137},{513,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ChangeSitDW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,30}</string>
                <key>spriteSourceSize</key>
                <string>{111,30}</string>
                <key>textureRect</key>
                <string>{{504,208},{111,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ChangeSitUP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,30}</string>
                <key>spriteSourceSize</key>
                <string>{111,30}</string>
                <key>textureRect</key>
                <string>{{617,208},{111,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CoinIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,17}</string>
                <key>spriteSourceSize</key>
                <string>{25,17}</string>
                <key>textureRect</key>
                <string>{{730,208},{25,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DeckCoins.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,13}</string>
                <key>spriteSourceSize</key>
                <string>{25,13}</string>
                <key>textureRect</key>
                <string>{{749,208},{25,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LockOnBtm_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{130,45}</string>
                <key>spriteSourceSize</key>
                <string>{134,45}</string>
                <key>textureRect</key>
                <string>{{1024,1},{130,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LockOnBtm_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{130,45}</string>
                <key>spriteSourceSize</key>
                <string>{134,45}</string>
                <key>textureRect</key>
                <string>{{1024,1},{130,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LockOnBtm_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{130,45}</string>
                <key>spriteSourceSize</key>
                <string>{134,45}</string>
                <key>textureRect</key>
                <string>{{1024,1},{130,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LockOnBtm_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{130,45}</string>
                <key>spriteSourceSize</key>
                <string>{134,45}</string>
                <key>textureRect</key>
                <string>{{1024,1},{130,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LockOnBtm_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{130,45}</string>
                <key>spriteSourceSize</key>
                <string>{134,45}</string>
                <key>textureRect</key>
                <string>{{1024,1},{130,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LockOnBtm_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{130,45}</string>
                <key>spriteSourceSize</key>
                <string>{134,45}</string>
                <key>textureRect</key>
                <string>{{1024,1},{130,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LockOnBtm_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{130,45}</string>
                <key>spriteSourceSize</key>
                <string>{134,45}</string>
                <key>textureRect</key>
                <string>{{941,182},{130,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LockOnBtm_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,45}</string>
                <key>spriteSourceSize</key>
                <string>{134,45}</string>
                <key>textureRect</key>
                <string>{{62,1},{134,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LockOnBtm_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,45}</string>
                <key>spriteSourceSize</key>
                <string>{134,45}</string>
                <key>textureRect</key>
                <string>{{109,1},{134,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LockOnBtm_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,45}</string>
                <key>spriteSourceSize</key>
                <string>{134,45}</string>
                <key>textureRect</key>
                <string>{{156,1},{134,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LockOnBtm_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,45}</string>
                <key>spriteSourceSize</key>
                <string>{134,45}</string>
                <key>textureRect</key>
                <string>{{203,1},{134,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LockOnBtm_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,45}</string>
                <key>spriteSourceSize</key>
                <string>{134,45}</string>
                <key>textureRect</key>
                <string>{{250,1},{134,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LockOnBtm_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,45}</string>
                <key>spriteSourceSize</key>
                <string>{134,45}</string>
                <key>textureRect</key>
                <string>{{297,1},{134,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LockOnBtm_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,45}</string>
                <key>spriteSourceSize</key>
                <string>{134,45}</string>
                <key>textureRect</key>
                <string>{{344,1},{134,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LockOnBtm_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,45}</string>
                <key>spriteSourceSize</key>
                <string>{134,45}</string>
                <key>textureRect</key>
                <string>{{391,1},{134,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LockOnIcon_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,96}</string>
                <key>spriteSourceSize</key>
                <string>{104,96}</string>
                <key>textureRect</key>
                <string>{{71,137},{104,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LockOnSide_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{47,130}</string>
                <key>spriteSourceSize</key>
                <string>{47,132}</string>
                <key>textureRect</key>
                <string>{{795,135},{47,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LockOnSide_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{47,130}</string>
                <key>spriteSourceSize</key>
                <string>{47,132}</string>
                <key>textureRect</key>
                <string>{{828,1},{47,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LockOnSide_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{47,130}</string>
                <key>spriteSourceSize</key>
                <string>{47,132}</string>
                <key>textureRect</key>
                <string>{{877,1},{47,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LockOnSide_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{47,130}</string>
                <key>spriteSourceSize</key>
                <string>{47,132}</string>
                <key>textureRect</key>
                <string>{{926,1},{47,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LockOnSide_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{47,130}</string>
                <key>spriteSourceSize</key>
                <string>{47,132}</string>
                <key>textureRect</key>
                <string>{{809,184},{47,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LockOnSide_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{47,130}</string>
                <key>spriteSourceSize</key>
                <string>{47,132}</string>
                <key>textureRect</key>
                <string>{{927,133},{47,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LockOnSide_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{47,130}</string>
                <key>spriteSourceSize</key>
                <string>{47,132}</string>
                <key>textureRect</key>
                <string>{{975,1},{47,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LockOnSide_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,132}</string>
                <key>spriteSourceSize</key>
                <string>{47,132}</string>
                <key>textureRect</key>
                <string>{{781,1},{45,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LockOnSide_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,132}</string>
                <key>spriteSourceSize</key>
                <string>{47,132}</string>
                <key>textureRect</key>
                <string>{{438,1},{47,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LockOnSide_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,132}</string>
                <key>spriteSourceSize</key>
                <string>{47,132}</string>
                <key>textureRect</key>
                <string>{{487,1},{47,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LockOnSide_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,132}</string>
                <key>spriteSourceSize</key>
                <string>{47,132}</string>
                <key>textureRect</key>
                <string>{{536,1},{47,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LockOnSide_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,132}</string>
                <key>spriteSourceSize</key>
                <string>{47,132}</string>
                <key>textureRect</key>
                <string>{{585,1},{47,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LockOnSide_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,132}</string>
                <key>spriteSourceSize</key>
                <string>{47,132}</string>
                <key>textureRect</key>
                <string>{{634,1},{47,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LockOnSide_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,132}</string>
                <key>spriteSourceSize</key>
                <string>{47,132}</string>
                <key>textureRect</key>
                <string>{{683,1},{47,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LockOnSide_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,132}</string>
                <key>spriteSourceSize</key>
                <string>{47,132}</string>
                <key>textureRect</key>
                <string>{{732,1},{47,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,31}</string>
                <key>spriteSourceSize</key>
                <string>{54,31}</string>
                <key>textureRect</key>
                <string>{{280,208},{54,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MinusDw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,31}</string>
                <key>spriteSourceSize</key>
                <string>{54,31}</string>
                <key>textureRect</key>
                <string>{{336,208},{54,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PlayerIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,26}</string>
                <key>spriteSourceSize</key>
                <string>{33,26}</string>
                <key>textureRect</key>
                <string>{{1,212},{33,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PlayerIcon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,26}</string>
                <key>spriteSourceSize</key>
                <string>{33,26}</string>
                <key>textureRect</key>
                <string>{{36,212},{33,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PlusDw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,31}</string>
                <key>spriteSourceSize</key>
                <string>{54,31}</string>
                <key>textureRect</key>
                <string>{{392,208},{54,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YouAreHere.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,59}</string>
                <key>spriteSourceSize</key>
                <string>{209,59}</string>
                <key>textureRect</key>
                <string>{{1,1},{209,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,31}</string>
                <key>spriteSourceSize</key>
                <string>{54,31}</string>
                <key>textureRect</key>
                <string>{{448,208},{54,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GameUI.png</string>
            <key>size</key>
            <string>{1072,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1d9e44d97703f88c67bb66c7093c573:33c2665dd9bb2116b17b9d62429137c6:2531ce2a050ca5e2ac51e04161e77adb$</string>
            <key>textureFileName</key>
            <string>GameUI.png</string>
        </dict>
    </dict>
</plist>
