<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{97,54}</string>
                <key>spriteSourceSize</key>
                <string>{101,56}</string>
                <key>textureRect</key>
                <string>{{784,301},{97,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BackChinese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{43,24}</string>
                <key>spriteSourceSize</key>
                <string>{45,24}</string>
                <key>textureRect</key>
                <string>{{1,484},{43,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BackDW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{98,53}</string>
                <key>spriteSourceSize</key>
                <string>{100,55}</string>
                <key>textureRect</key>
                <string>{{914,362},{98,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,69}</string>
                <key>spriteSourceSize</key>
                <string>{513,69}</string>
                <key>textureRect</key>
                <string>{{1,315},{513,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ChangeSitDW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,30}</string>
                <key>spriteSourceSize</key>
                <string>{111,30}</string>
                <key>textureRect</key>
                <string>{{883,330},{111,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ChangeSitUP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,30}</string>
                <key>spriteSourceSize</key>
                <string>{111,30}</string>
                <key>textureRect</key>
                <string>{{775,460},{111,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CoinIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,17}</string>
                <key>spriteSourceSize</key>
                <string>{25,17}</string>
                <key>textureRect</key>
                <string>{{982,1},{25,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DeckCoins.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,13}</string>
                <key>spriteSourceSize</key>
                <string>{25,13}</string>
                <key>textureRect</key>
                <string>{{46,484},{25,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LockOnBtm_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{130,45}</string>
                <key>spriteSourceSize</key>
                <string>{134,45}</string>
                <key>textureRect</key>
                <string>{{907,198},{130,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LockOnBtm_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{130,45}</string>
                <key>spriteSourceSize</key>
                <string>{134,45}</string>
                <key>textureRect</key>
                <string>{{907,198},{130,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LockOnBtm_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{130,45}</string>
                <key>spriteSourceSize</key>
                <string>{134,45}</string>
                <key>textureRect</key>
                <string>{{907,198},{130,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LockOnBtm_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{130,45}</string>
                <key>spriteSourceSize</key>
                <string>{134,45}</string>
                <key>textureRect</key>
                <string>{{907,198},{130,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LockOnBtm_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{130,45}</string>
                <key>spriteSourceSize</key>
                <string>{134,45}</string>
                <key>textureRect</key>
                <string>{{907,198},{130,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LockOnBtm_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{130,45}</string>
                <key>spriteSourceSize</key>
                <string>{134,45}</string>
                <key>textureRect</key>
                <string>{{907,198},{130,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LockOnBtm_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{130,45}</string>
                <key>spriteSourceSize</key>
                <string>{134,45}</string>
                <key>textureRect</key>
                <string>{{652,315},{130,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LockOnBtm_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,45}</string>
                <key>spriteSourceSize</key>
                <string>{134,45}</string>
                <key>textureRect</key>
                <string>{{516,315},{134,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LockOnBtm_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,45}</string>
                <key>spriteSourceSize</key>
                <string>{134,45}</string>
                <key>textureRect</key>
                <string>{{771,62},{134,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LockOnBtm_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,45}</string>
                <key>spriteSourceSize</key>
                <string>{134,45}</string>
                <key>textureRect</key>
                <string>{{107,386},{134,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LockOnBtm_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,45}</string>
                <key>spriteSourceSize</key>
                <string>{134,45}</string>
                <key>textureRect</key>
                <string>{{771,109},{134,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LockOnBtm_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,45}</string>
                <key>spriteSourceSize</key>
                <string>{134,45}</string>
                <key>textureRect</key>
                <string>{{107,433},{134,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LockOnBtm_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,45}</string>
                <key>spriteSourceSize</key>
                <string>{134,45}</string>
                <key>textureRect</key>
                <string>{{243,386},{134,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LockOnBtm_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,45}</string>
                <key>spriteSourceSize</key>
                <string>{134,45}</string>
                <key>textureRect</key>
                <string>{{771,156},{134,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LockOnBtm_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,45}</string>
                <key>spriteSourceSize</key>
                <string>{134,45}</string>
                <key>textureRect</key>
                <string>{{907,62},{134,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LockOnIcon_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,96}</string>
                <key>spriteSourceSize</key>
                <string>{104,96}</string>
                <key>textureRect</key>
                <string>{{1,386},{104,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LockOnSide_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{47,130}</string>
                <key>spriteSourceSize</key>
                <string>{47,132}</string>
                <key>textureRect</key>
                <string>{{650,362},{47,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LockOnSide_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{47,130}</string>
                <key>spriteSourceSize</key>
                <string>{47,132}</string>
                <key>textureRect</key>
                <string>{{513,411},{47,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LockOnSide_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{47,130}</string>
                <key>spriteSourceSize</key>
                <string>{47,132}</string>
                <key>textureRect</key>
                <string>{{645,411},{47,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LockOnSide_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{47,130}</string>
                <key>spriteSourceSize</key>
                <string>{47,132}</string>
                <key>textureRect</key>
                <string>{{511,460},{47,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LockOnSide_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{47,130}</string>
                <key>spriteSourceSize</key>
                <string>{47,132}</string>
                <key>textureRect</key>
                <string>{{643,460},{47,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LockOnSide_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{47,130}</string>
                <key>spriteSourceSize</key>
                <string>{47,132}</string>
                <key>textureRect</key>
                <string>{{782,362},{47,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LockOnSide_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{47,130}</string>
                <key>spriteSourceSize</key>
                <string>{47,132}</string>
                <key>textureRect</key>
                <string>{{777,411},{47,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LockOnSide_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,132}</string>
                <key>spriteSourceSize</key>
                <string>{47,132}</string>
                <key>textureRect</key>
                <string>{{243,433},{45,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LockOnSide_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,132}</string>
                <key>spriteSourceSize</key>
                <string>{47,132}</string>
                <key>textureRect</key>
                <string>{{954,62},{47,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LockOnSide_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,132}</string>
                <key>spriteSourceSize</key>
                <string>{47,132}</string>
                <key>textureRect</key>
                <string>{{954,196},{47,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LockOnSide_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,132}</string>
                <key>spriteSourceSize</key>
                <string>{47,132}</string>
                <key>textureRect</key>
                <string>{{771,203},{47,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LockOnSide_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,132}</string>
                <key>spriteSourceSize</key>
                <string>{47,132}</string>
                <key>textureRect</key>
                <string>{{771,252},{47,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LockOnSide_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,132}</string>
                <key>spriteSourceSize</key>
                <string>{47,132}</string>
                <key>textureRect</key>
                <string>{{379,386},{47,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LockOnSide_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,132}</string>
                <key>spriteSourceSize</key>
                <string>{47,132}</string>
                <key>textureRect</key>
                <string>{{377,435},{47,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LockOnSide_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,132}</string>
                <key>spriteSourceSize</key>
                <string>{47,132}</string>
                <key>textureRect</key>
                <string>{{516,362},{47,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,31}</string>
                <key>spriteSourceSize</key>
                <string>{54,31}</string>
                <key>textureRect</key>
                <string>{{969,362},{54,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MinusDw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,31}</string>
                <key>spriteSourceSize</key>
                <string>{54,31}</string>
                <key>textureRect</key>
                <string>{{969,418},{54,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PlayerIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,26}</string>
                <key>spriteSourceSize</key>
                <string>{33,26}</string>
                <key>textureRect</key>
                <string>{{107,480},{33,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PlayerIcon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,26}</string>
                <key>spriteSourceSize</key>
                <string>{33,26}</string>
                <key>textureRect</key>
                <string>{{142,480},{33,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PlusDw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,31}</string>
                <key>spriteSourceSize</key>
                <string>{54,31}</string>
                <key>textureRect</key>
                <string>{{888,462},{54,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YouAreHere.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,59}</string>
                <key>spriteSourceSize</key>
                <string>{209,59}</string>
                <key>textureRect</key>
                <string>{{771,1},{209,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,31}</string>
                <key>spriteSourceSize</key>
                <string>{54,31}</string>
                <key>textureRect</key>
                <string>{{944,474},{54,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{312,768}</string>
                <key>spriteSourceSize</key>
                <string>{314,768}</string>
                <key>textureRect</key>
                <string>{{1,1},{312,768}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GameUI.png</string>
            <key>size</key>
            <string>{1002,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c70371890112a94b041db997d38642a0:033e27274c2ec3a6e7bf6dcd7bfa3287:2531ce2a050ca5e2ac51e04161e77adb$</string>
            <key>textureFileName</key>
            <string>GameUI.png</string>
        </dict>
    </dict>
</plist>
