<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Rewardmedal_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-28}</string>
                <key>spriteSize</key>
                <string>{100,84}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{155,1339},{100,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Rewardmedal_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-14}</string>
                <key>spriteSize</key>
                <string>{152,128}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,1339},{152,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{178,156}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{729,1329},{178,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{180,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{547,169},{180,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{180,166}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,1},{180,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{180,166}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,169},{180,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{180,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{729,1},{180,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{180,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,841},{180,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{180,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{183,673},{180,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{180,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{365,505},{180,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{180,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{547,335},{180,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{180,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{729,167},{180,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{180,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,1007},{180,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{180,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{183,839},{180,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{180,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{365,671},{180,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{180,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{547,501},{180,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{180,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{729,333},{180,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{180,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,1173},{180,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{180,166}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{183,1},{180,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{180,166}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,337},{180,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{180,166}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{183,169},{180,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{180,166}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{365,1},{180,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{180,166}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,505},{180,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{180,166}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{183,337},{180,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{180,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{183,1005},{180,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{180,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{365,837},{180,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{180,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{547,667},{180,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{180,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{729,499},{180,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{180,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{183,1171},{180,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{180,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{365,1003},{180,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{180,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{547,833},{180,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{180,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{729,665},{180,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{180,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{365,1169},{180,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{180,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{547,999},{180,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{180,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{729,831},{180,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{180,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{547,1165},{180,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{180,166}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{365,169},{180,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{180,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{729,997},{180,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{180,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{729,1163},{180,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{180,166}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{547,1},{180,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{180,166}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,673},{180,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{180,166}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{183,505},{180,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{180,166}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{365,337},{180,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{180,166}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,505},{180,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{180,126}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{547,1331},{180,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-22}</string>
                <key>spriteSize</key>
                <string>{94,96}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{241,1337},{94,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rewardmedal_00061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-30}</string>
                <key>spriteSize</key>
                <string>{76,78}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{337,1337},{76,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Rewardmedal.png</string>
            <key>size</key>
            <string>{910,1486}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf8b9823f165a3a53299a89399955a56:fbf1e04bb49467189d539d5dc7e412ba:d78ffb308dcc167eeb3381fa1a88437d$</string>
            <key>textureFileName</key>
            <string>Rewardmedal.png</string>
        </dict>
    </dict>
</plist>
